<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
        <title>Place banner ads</title>

        

        <meta name="Description" content="how to place banner ads 2019,Admob policy for banner ads 2019,What is Admob policy for banner ads 2019,How to place banner ads 2019?" />
        <meta name="Keywords" content="how to place banner ads 2019,Admob policy for banner ads 2019,What is Admob policy for banner ads 2019,How to place banner ads 2019?" />
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="fb:pages" content="340075726591504" />
        <meta property="fb:pages" content="1524841087795043" />
        
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                      google_ad_client: "ca-pub-9136564254270725",
                      enable_page_level_ads: true
                });
            </script>

             <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145820365-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-145820365-1');
        </script>
        

        <style>
            
            
            /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
            .row.content {
              height: auto;
              width: fit-content;
            
            }
            
            /* Set gray background color and 100% height */
            .sidenav {
              padding-top: 20px;
              background-color: #f1f1f1;
              height: cover;
            }
            
            /* Set black background color, white text and some padding */
            footer {
              background-color: #555;
              color: white;
              padding: 15px;
            }
            
            /* On small screens, set height to 'auto' for sidenav and grid */
            @media screen and (max-width: 767px) {
              .sidenav {
                height: auto;
                padding: 15px;
              }
              .row.content {height:auto;} 
            }
          </style>
        
    </head>


    
    
<body>
    <%- include('../../includes/navigation.ejs') %>
    
    <main id="main col-sm-12 col-lg-12 col-md-12">
        
        <div >
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- v-2 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9136564254270725"
                 data-ad-slot="2204047893"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        
            
            
            <div class="d-flex" id="wrapper">

                <!-- Sidebar -->
                <div class="bg-light border-right" id="sidebar-wrapper">
                  <div class="sidebar-heading">Topics</div>
                  <div class="list-group list-group-flush">
                      <a href="/place-banner-ads" class="list-group-item list-group-item-action bg-light">Place Banner Ads</a>
                    <a href="/place-Interstitial-ads" class="list-group-item list-group-item-action bg-light">Place Interestitial Ads</a>
                    <a href="/place-reward-video-ads" class="list-group-item list-group-item-action bg-light">Place Rewarded Video Ads</a>
                    <a href="" class="list-group-item list-group-item-action bg-light">Add your app with Facebook</a>
                    
                    <a href="" class="list-group-item list-group-item-action bg-light">Convert Website Into Androind App</a>
                    
                  </div>
                </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 

                            <h2>What is Admob policy for banner ads 2019 ? </h3><br>
                                <p class="text-justify">
                    
    
                                <b>Banner Ads:</b>In privious days Banner ads was not fixed in a place so that we could placed
                                any where in the display .But Now It holds a fixed possition in the phone screen .So you can not placed it 
                                here and there . It can be placed only top of the screen or bottom of the screen . 
                                </p><br><br> 
    
                            <h2>How to place banner ads 2019?</h2>
                            <p class="text-justify"> 
                               <b>Step=>1</b>Openr your project and go to the xml file that want to place ad an AdView 
                              on your layout .In the AdView tag paste the code.<br>
                              

                                <br>

                                <code>

                                        
                                        android:id="@+id/adView"<br>
                                        android:layout_width="wrap_content"<br>
                                        android:layout_height="wrap_content"<br>
                                        android:layout_centerHorizontal="true"<br>
                                        android:layout_alignParentBottom="true"<br>
                                        ads:adSize="BANNER"<br>
                                        ads:adUnitId="ca-app-pub-3940256099942544/6300978111">
                                    
                                       

                                </code>
                                <br>Always remember<br>
                              <code>xmlns:ads="http://schemas.android.com/apk/res-auto"</code><br>
                              If this line of code is not present in Layout then add this in the layout. <br>

                                <br><br><b>Step=>2</b> Go to Mainfest.xml file and add  between the aplication tag -- <br>
                                <code>
                                        meta-data <br>  
                                        android:name="com.google.android.gms.ads.APPLICATION_ID"<br>  
                                        android:value="ca-app-pub-9136564254270725~1130103949" /><br>  
                                </code>
    
                              
                                

                                <br><br><b>Step=>3</b>Go to Main Activity.java  <br>
                                <code>
                                        public class MainActivity extends AppCompatActivity {<br>

                                            private AdView mAdView;<br>
                                        
                                            protected void onCreate(Bundle savedInstanceState) {<br>
                                                super.onCreate(savedInstanceState);<br>
                                                setContentView(R.layout.activity_main);<br><br>
                                    
                                                mAdView = findViewById(R.id.adView);<br>
                                                AdRequest adRequest = new AdRequest.Builder().build();<br>
                                                mAdView.loadAd(adRequest);<br>
                                            }<br>
                                        }<br>
                                </code>
    
                              
                                <br><br>
                                        
                                        
                            Then all codes are provided by @google .If want to me clear about this 
                            see the video given bellow<br>    
                                        
                                        
                                        
                                        
                                        
                                </p>

                              <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bEQ1zW9d7wk" allowfullscreen></iframe>
                              </div>
                              

                              
                        </p><hr>
                          </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">

                              <div class="well">

                                  <div class="embed-responsive embed-responsive-16by9">
                                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/znOFDZEAKqc?rel=0&amp;autoplay=1&mute=1" allowfullscreen></iframe>
                                    </div>
                                  
                              </div>
                            <div class="well">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- h-5 -->
                                        <ins class="adsbygoogle"
                                            style="display:block"
                                            data-ad-client="ca-pub-9136564254270725"
                                            data-ad-slot="9756342078"
                                            data-ad-format="auto"
                                            data-full-width-responsive="true"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                            </div>
                            <div class="well">
                                <h3>Requrements</h3>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bEQ1zW9d7wk?rel=0&amp;autoplay=1&mute=1" allowfullscreen></iframe>
                                  </div>
                            </div>
                            <div class="well my-4">
                              <h4 class="my-2">Start Freelancing</h4>
                              <a href="/start-freelancing"><img src="images/ad.jpg" alt="ad"></a>
                          </div>
                            <div class="well">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- h1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1203597464"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>