<!DOCTYPE html>
    <html>
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Grammar Of IELTS</title>

        <meta name="Description" content="" />
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/grammar-of-ielts"/>


        
        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:auto}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
        </style>

          
              <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                        <!-- Global site tag (gtag.js) - Google Analytics -->
              <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
              <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-148831263-1');
              </script>

        

       
    </head>


    

  <body>
    <%- include('../../includes/navigation.ejs') %>
    
    <main id="main">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ictads-1 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="9985180353"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
           
            
        <div class="d-flex" id="wrapper">

          <%- include('../../sitebars/ielts-grammar.ejs') %> 
          </div>
       </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary btn-lg" id="menu-toggle"><b>MENU</b></button>
            
                  </nav>
            
                  <div class="container-fluid" >
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 

                            <h1 class="bd-dark text-center text-white">HSC ICT Tutorial</h1>
                            
                            <p class="text-justify">To HSC ICT Tutorial  (সবাইকে স্বাগতম ) । তোমরা সবাই স্কুলের গন্ডি পেরিয়ে আজ কলেজে
                              ভর্তি হয়েছ । হয়ত কেঊ পছন্দের কলেজে ভর্তি হতে পেরেছ আবার কেউ পারোনি রেজাল্ট খারাপ করার জন্য । যারা রেজাল্ট ভাল করেছ
                              তাদের Congratulation । আর যারা হতে পার নাই মন খারাপের কিছুই নাই । বাস্তবিক থেকে দেখতে গেলে জীবন গড়ার সুযোগ
                              এখান থেকেই শুরু । যারা এই ২ বছর + ইউনির্ভাসিটির ৪ বছর রেজাল্টের পেছনে না ছুটে নিজেকে তৈরি করবে দেখবে 
                              তারাই ভাল করবে জীবনে । চেষ্টা কর নিজেকে আবিষ্কারের । তুমি কি পার , তোমার কি ভাল লাগে এবং সেই দিকেই
                              নিজেকে নিয়ে যাও । সেই সাথে কঠর পরিশ্রম করো । তুমি সাফল্যের চুড়ায় পৌছাবেই ইনশাল্লা । 
                               

                            </p>
                            <hr>
                            <h2>Why student failing in HSC ICT ?</h2>
                            <p class="text-justify">
                             Now days HSC ICT means very difficult subjcet , although hsc ict a very easy subjcet . Question is 
                             why a large number of students failing in hsc ict ? I personaly don't want to say this is only fault of 
                             students rather then i want to talk about the quality education of hsc ict . The most of the teacher who are 
                             teaching hsc ict , they aren't come from Computer Science or related subjcets . But If we see the hsc ict deeply
                             then well will see all the topic in hsc ict is a Computer Science related . So a good number of teachers wgo are teaching
                             hsc ict they do not know even about hsc ict properly . So that the lack of quality education is responsible for failing in hsc ict .
                            
                          </p>

                            <p class="text-justify">
                                আমাদের একটা ভ্রান্ত ধারনা থাকে যে SSC তে অনেক সহজ ছিল খুব A+ পেয়েছি । আর তাই মনেকরি HSC তেও
                                খুব সহজেই পেয়ে যাব এই ভেবেই আমরা আর সেটাতে হাত দেই না । ভাবি exam আগের রাতে পড়ব । কিন্তু সেটা 
                                আর আমরা হয়ে ওঠে না । আর তাই HSC ICT তে  Fail সংখ্যা বেশি । 
                              আমাদের কলেজ গুলোতে Teacher গুলো ICT বা Computer Science background(সব Teacher নয় ) এর না হওয়র কারনে তারা নিজেও বিষয় গুলো ভাল বুঝে না ।
                              আর তাই তারা কিছু বুঝাইতে পারুক না পারুক মুখস্ত করতে বলে আর সেটাই কারনেই ছাত্র ছাত্রীদের আগ্রহ হারিয়ে যায়
                              ICT পড়া থেকে । আর ফলশুতিতে ছাত্র ছাত্রীরা fail কিংবা রেজাল্ট খারাপ করে বসে ।
                              
                            </p>
                            <hr>
                            <h3>Good News for you all</h3>
                            <p class="text-justify">
                              মুলত HSC তে যতগুলো বিষয় আছে তার মধ্য ICT সব থেকে সহজ । মুখস্ত করার কোনই প্রয়োজন নেই ।
                              সুধু প্রত্যকটি বিষয় মনযোগ দিয়ে বুঝতে হবে এবং practice চালিয়ে যেতে হবে । তাহলে খুব সহজেই ভালো করতে
                              পারবে । তোমাদের  HSC ICT ভয় দূর করে আগামী দিনের জন্য তৈরি করাই আমাদের লহ্ম্য । 
                              
                            </p>
                            <hr>
                            <h3>যেসব জিনিস লাগবে HSC ICT course </h3>
                            <p class="text-justify">
                             তোমাদের সবার SmartPhone আছে বলে আমরা আশা করছি ।  তোমাদের শিখার 
                            সুবিধার জন্য নিম্ন লিখিত  Android / ios app download  করো । এই app গুলো সম্পূর্ন ফ্রি । 
                            
                              
                            </p>
                           
                            
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- ictads-1 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="9985180353"
                                 data-ad-format="auto"
                                 data-full-width-responsive="true"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>

                          
                            
                          

                                              

                            
                          </div>
                          <div class="col-sm-12 col-lg-3  col-md-4 sidenav">
                                
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>