<!DOCTYPE html>
    <html>
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Past Tense | Ielts grammar</title>

        <meta name="Description" content="This page specially designed for ielts grammar and in this page you will get all about past tense 
        . what is present tense? what is the structure of past tense?, How to use past tense?" />
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/past-tense"/>


        
        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:auto}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
        </style>

          
              <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                        <!-- Global site tag (gtag.js) - Google Analytics -->
              <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
              <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-148831263-1');
              </script>

        

       
    </head>


    

  <body > 
    <%- include('../../includes/navigation.ejs') %>
    
    <main id="main">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ictads-1 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="9985180353"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
           
            
        <div class="d-flex" id="wrapper">

          <%- include('../../sitebars/ielts-grammar.ejs') %> 
          </div>
       </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary btn-lg" id="menu-toggle"><b>MENU</b></button>
            
                  </nav>
            
                  <div class="container-fluid" >
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 

                            <h1 class="bg-dark text-center text-white">Past Tense</h1><br><hr>
                            <h3>What is past tense?</h3>
                            <p class="text-justify">
                              <b>
                                The present tense is a verb tense used to illustrate past activity or action or state of being. For an example:
                              </b>
                              <ul>
                                <li>I <b>was</b> unhappy. ( past state of being)</li>
                                <li>He <b>called</b> me. (past activity)</li>
                              </ul>
                            
                            </p>
                            <h5>There are four types of past tense :-</h5>
                            <b> 
                              <ol>
                                <li>Past Simple Tense.</li>
                                <li>Past Continuous / Progressive Tense.</li>
                                <li>Past Perfect Tense.</li>
                                <li>Past Perfect Continuous / Progressive Tense.</li>
                              </ol>
                            </b><hr>


                            <h3 class="bg-success text-center text-white">Past Simple Tense</h3><br>
                            <h4>Structure of Past Simple Tense:</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered text-white bg-dark">
                                    <tr>
                                        <th>+</th>
                                        <td> verb + d / ed</td>
                                        <td>
                                           <ul>
                                               <li>He <b>worked</b> for NGO.</li>
                                               <li>I <b>wanted</b> a book.</li>
                                           </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>-</th>
                                        <td>did not + verb (present form) </td>
                                        <td>
                                          <ul>
                                            <li>He <b>did not</b> work for NGO.</li>
                                            <li>I <b>did not</b> want a book.</li>
                                        </ul>
                                           
                                      </td>
                                    </tr>
                                    <tr>
                                        <th>?</th>
                                        <td>did .... + verb (present form)? </td>
                                        <td>
                                          <ul>
                                            <li><b>Did</b> he <b>work</b> for NGO ?</li>
                                            <li><b>Did</b> I <b>want</b> a book?</li>
                                        </ul>
                                              
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <br>
                            
                          <h4>Where we use past simple tense?</h4>
                        <p class="text-justify">
                            <ul style="list-style-type: square;">
                                    <li><b>We use past simple tense to talk about a single past completed activity. See the example below: </b>
                                      <ul>
                                            <li>Afew days ago a man <b>called</b> to report a robbery at his house.</li>
                                            <li>I <b>played</b> football <b>yesterday</b> evening.</li>
                                       
                                      
                                        </ul><br>
                                    </li>
                                

                                <li><b>We use past simple tense to talk about a series of past action or situation. See the example below: </b>
                                
                                    <ul>
                                      <li>The thief <b>came</b> in through the front door, <b>picked up</b> women's handbag, <b>emptied</b> it out and <b>stole</b> her phone.</li>
                                  </ul><br>
                                  <b>We often use words such as "next or then" to indicate the sequence of events. Example given below: </b>
                                  <ul><li>
                                      <b>Then,</b> the thief <b>went</b> into the left room, <b>oppened</b> all the cupboards and <b>took</b> my diamond ring.
                                  </li></ul>
                                </li><br>


                                <li><b>We use past simple tense to talk about past repeated activities. See the example below: </b>
                                
                                    <ul>
                                      <li>When her daughter <b>got</b> older, she often <b>went out</b> to visit her friend after school.</li>
                                       </ul>
                                </li><br>


                                <li><b>We use past simple tense to talk about long-term situation in the that are no longer true. See the example below: </b>
                                
                                  <ul>
                                    <li>Steve Jobs <b>worked</b> for the apple company for last 30 years.</li>
                                    <li>All the scientist at that time <b>believed</b> that, the world <b>was</b> flat.</li>  
                                  </ul>
                              </li><br>
                              

                            </ul>
                        </p><hr><br>


                        <h3 class="bg-success text-center text-white">Past Continuous Tense</h3><br>
                       <h4>Structure of Past Continuous Tense:</h4>
                        <div class="table-responsive">
                          <table class="table table-bordered text-white bg-dark">
                              <tr>
                                  <th>+</th>
                                  <td>was / were + (verb + ing)</td>
                                  <td>
                                     <ul>
                                         <li>He <b>was living</b> Canada.</li>
                                         <li>They <b>were playing</b> football</li>
                                     </ul>
                                  </td>
                              </tr>
                              <tr>
                                  <th>-</th>
                                  <td>was / were not + (verb + ing)</td>
                                  <td>
                                      <ul>
                                        <li>He <b>was not living</b> Canada.</li>
                                        <li>They <b>were not playing</b> football</li>
                                      </ul>
                                     
                                  </td>
                              </tr>
                              <tr>
                                  <th>?</th>
                                  <td>was / are ..... + (verb + ing) ?</td>
                                  <td>
                                      <ul>
                                          <li><b>Was</b> he living Canada?</li>
                                          <li><b>Were</b> they playing football?</li>
                                      </ul>  
                                  </td>
                              </tr>
                          </table>
                      </div>

                      <h4>Where we use past continuous tense?</h4>

                      <p class="text-justify">
                        <ul style="list-style-type: square;">
                                <li><b>We use past continuous tense to provide the past sence to an action or event and we often used words such as "While, When and As" in past continuous tense. See the example below: </b>
                                  <ul>
                                    <li>As I <b>was studying</b> really hard, I came first in the class.</li>
                                    <li>While he<b>was doing</b> his homework on the table, the thief entered into the room slowly.</li>
                                    
                                </ul><br>
                                <b>It is possible to have more than one past sence happenig at the same time:</b>
                                <ul>
                                    <li>He <b>was listining</b> music and <b>working</b> in the desktop.</li>
                                </ul><br>
                            </li>
                            

                            <li><b>We use past continuous tense when we want to emphasize the activity or action without focusing its completion . See the example below: </b>
                            
                                <ul>
                                  <li>For a <b>while </b> last year I <b>was working</b> at restuarent, <b>studying</b> for my degree and <b>writing</b> a column for a local newspaper.</li>
                                  
                              </ul>
                            </li><br>

                        </ul>
                    </p><hr><br>

                    

                            
                            
                          <h3 class="bg-success text-center text-white">Past Perfect Tense</h3><br>
                          <h4>Structure of Past Perfect Tense:</h4>
                          <div class="table-responsive">
                              <table class="table table-bordered text-white bg-dark">
                                  <tr>
                                      <th>+</th>
                                      <td>had + verb (past participle form of verb)</td>
                                      <td>
                                         <ul>
                                             <li>He <b>had</b> worked.</li>
                                             <li>I <b>had</b> worked.</li>
                                         </ul>
                                      </td>
                                  </tr>
                                  <tr>
                                      <th>-</th>
                                      <td>had not + verb (past participle form of verb)</td>
                                      <td>
                                        <ul>
                                          <li>He <b>had not</b> worked.</li>
                                          <li>I <b>had not</b> worked.</li>
                                      </ul>
                                         
                                    </td>
                                  </tr>
                                  <tr>
                                      <th>?</th>
                                      <td>had .... + verb (past participle form of verb)? </td>
                                      <td>
                                        <ul>
                                          <li><b>Had</b> he <b>worked</b>?</li>
                                          <li><b>Had</b> I <b>worked</b>?</li>
                                      </ul>
                                            
                                      </td>
                                  </tr>
                              </table>
                          </div>

                          <br>
                          
                        <h4>Where we use Past perfect tense?</h4>
                      <p class="text-justify">
                          <ul style="list-style-type: square;">
                                  <li><b>We use past perfect tense when we are talking about the past and want to mention something that happened earlier. See the example below: </b>
                                    <ul>
                                      <li>Her father was a singer and her gradfather <b>had</b> also been a composer. (Meaning: Her gradfather was a composer and then later her father became singer.)</li>
                                     
                              
                                    </ul><br>
                                    <b>***Sometimes we use the adverbs like "Just or Already", these adverbs go between auxiliary and main verb. </b>
                                   
                                  <ul>
                                     
                                    <li>By the time he was 12, Justin Biber's name <b>had already begun</b> to spread through out the world.</li>
                                </ul>
                              </li><br>
                              

                              <li><b>We use the words such as "When, As soon as, By the time , after" to show the order of events: </b>
                              
                                  <ul>
                                    <li>When I <b>was born</b>, my gradfather <b>had already died</b>. (Meaning: My gradfather died first, then i was born)</li>
                                </ul>
                                <b>*** Try to understand the difference between two sentence are given below:-</b>
                                <ol><li>When I <b>got</b> home, my mother <b>cooked</b> dinner. (Meaning: I got home, then my mother cooked dinner.)</li>
                                <li>
                                    When I <b>got</b> home, my mother <b>had cooked</b> dinner. (Meaning: My mother cooked dinner, before i got home.)
                                </li></ol>
                              </li><br>


                              <li><b>We use past perfect tense to talk about an indefinite time before a particular time in the past with the words like "always, before, sometimes, never, by + fixed time":  </b>
                              
                                  <ul>
                                    <li>Her family <b>were</b> richer than they <b>had ever</b> been before. (Meaning: They were not as rich at anytime before at this time in the past.)</li>
                                    <li>By the time he was six, he <b>had written</b> a song for his father.</li> 
                                </ul>
                                  
                              </li><br>


                              <li><b>We use present perfect tense to talk about something that happened at untold time in the past but connected to the present. See the example below: </b>
                              
                               
                            </li>
                           

                          </ul>
                      </p><hr><br>

                      <h3 class="bg-success text-center text-white">Past Perfect Continuous Tense</h3><br>
                          <h4>Structure of Past Perfect Continuous Tense:</h4>
                          <div class="table-responsive">
                              <table class="table table-bordered text-white bg-dark">
                                  <tr>
                                      <th>+</th>
                                      <td>had been + (verb+ing) </td>
                                      <td>
                                         <ul>
                                             <li>He <b>had been working</b> for a long.</li>
                                            
                                         </ul>
                                      </td>
                                  </tr>
                                  <tr>
                                      <th>-</th>
                                      <td>had not + been +(verb+ing)</td>
                                      <td>
                                        <ul>
                                            <li>He <b>had not been working</b> for a long.</li>
                                      </ul>
                                         
                                    </td>
                                  </tr>
                                  <tr>
                                      <th>?</th>
                                      <td>had .... + been + (verb+ing)? </td>
                                      <td>
                                        <ul>
                                          <li><b>Had</b> he been <b>studying</b> for a long?</li>
                                         
                                      </ul>
                                            
                                      </td>
                                  </tr>
                              </table>
                          </div>

                          <br>
                          
                        <h4>Where we use past perfect continuous tense?</h4>
                      <p class="text-justify">
                          <ul style="list-style-type: square;">
                                  <li><b>We use past perfect continuous tense to say how long a situation or an activity is going on. See the example below: </b>
                                    <ul>
                                      <li>I <b>have been working</b> a shpb for three years.</li>
                                      <li>He <b>has been playing</b> football since morning.</li>
                              
                                  </ul><br>
                              </li>
                              

                             


                          


                              
                          </li><br>

                          </ul>
                      </p><hr><br>
                            
                           
                            
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- ictads-1 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="9985180353"
                                 data-ad-format="auto"
                                 data-full-width-responsive="true"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>

                          
                            
                          

                                              

                            
                          </div>
                          <div class="col-sm-12 col-lg-3  col-md-4 sidenav">
                                
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>