<!DOCTYPE html>
    <html>
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Present Tense | Ielts grammar</title>

        <meta name="Description" content="This page specially designed for ielts grammar and in this page you will get all about present tense 
        . what is present tense? what is the structure of present tense?, How to use present tense?" />
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/present-tense"/>


        
        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:auto}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
        </style>

          
              <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                        <!-- Global site tag (gtag.js) - Google Analytics -->
              <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
              <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-148831263-1');
              </script>

        

       
    </head>


    

  <body > 
    <%- include('../../includes/navigation.ejs') %>
    
    <main id="main">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ictads-1 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="9985180353"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
           
            
        <div class="d-flex" id="wrapper">

          <%- include('../../sitebars/ielts-grammar.ejs') %> 
          </div>
       </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary btn-lg" id="menu-toggle"><b>MENU</b></button>
            
                  </nav>
            
                  <div class="container-fluid" >
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 

                            <h1 class="bg-dark text-center text-white">Present Tense</h1><br><hr>
                            <h3>What is present tense?</h3>
                            <p class="text-justify">
                              <b>
                                The present tense is a verb tense used to describe recent activity or action or state of being. However, sometimes the present tense also 
                                used to describe the past and future activities. For an example:
                              </b>
                              <ul>
                                <li>I <b>am</b> unhappy. (state of being)</li>
                                <li>The conversation <b>ends</b> at 6 o'clock. (Future activity)</li>
                              </ul>
                            
                            </p>
                            <h5>There are four types of present tense :-</h5>
                            <b> 
                              <ol>
                                <li>Present Simple Tense.</li>
                                <li>Present Continuous / Progressive Tense.</li>
                                <li>Present Perfect Tense.</li>
                                <li>Present Perfect Continuous / Progressive Tense.</li>
                              </ol>
                            </b><hr>


                            <h3 class="bg-success text-center text-white">Present Simple Tense</h3><br>
                            <h4>Structure of Present Simple Tense:</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered text-white bg-dark">
                                    <tr>
                                        <th>+</th>
                                        <td>verb / verb + (s/es)</td>
                                        <td>
                                           <ul>
                                               <li>He <b>likes</b> banana.</li>
                                               <li>I <b>want</b> a book.</li>
                                           </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>-</th>
                                        <td>Do not / Does not + verb </td>
                                        <td>
                                          <ul>
                                            <li>He <b>does not</b> like banana.</li>
                                            <li>I <b>do not</b> want a book.</li>
                                        </ul>
                                           
                                      </td>
                                    </tr>
                                    <tr>
                                        <th>?</th>
                                        <td>do/does .... + verb? </td>
                                        <td>
                                          <ul>
                                            <li><b>Does</b> he <b>like</b> banana ?</li>
                                            <li><b>Don't</b> I <b>want</b> a book?</li>
                                        </ul>
                                              
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <br>
                            
                          <h4>Where we use present simple tense?</h4>
                        <p class="text-justify">
                            <ul style="list-style-type: square;">
                                    <li><b>We use present simple tense to talk about regular habits or a repeated actions. See the example below: </b>
                                      <ul>
                                        <li><b>Everyday</b> I <b>get</b> up early in the morning.</li>
                                        <li>I <b>play</b> football <b>everyday</b> evening.</li>
                                        <li>
                                          The words are given below describe how often or when often present simple are often used: (e.g: Everyday (Any word added with every), always, generally, normally, usually, often, sometimes, rarely, never, etc...
                                            )
                                        </li>
                                      
                                    </ul><br>
                                </li>
                                

                                <li><b>We use present simple tense to talk about a permanent situation. See the example below: </b>
                                
                                    <ul>
                                      <li> My parents <b>own</b> a restaurent.</li>
                                      <li> I <b>have</b> big car.</li>
                                  </ul>
                                </li><br>


                                <li><b>We use present simple tense to talk about a universal truth or generally accepted truth or facts. See the example below: </b>
                                
                                    <ul>
                                      <li>The sun <b>rises</b> in the east.</li>
                                      <li>If we <b>heat</b> water to 100 degree, it boils.</li>
                                      <li> <b>Generally</b>, students don't have much money.</li>
                                      <li>The following words are often use in present simple tense: generally, usually, traditionally, mainly, normally.</li>
                                  </ul>
                                </li><br>


                                <li><b>We use present simple tense to give instructions or directions. See the example below: </b>
                                
                                  <ul>
                                    <li>You <b>go</b> down to the traffic light, then you turn right.</li>  
                                  </ul>
                              </li><br>
                              <li><b>To tell stories and talk about flims, books and plays we use present simple tense. See the example below: </b>
                                
                                <ul>
                                  <li>In the flim, the tea leady <b>falls</b> in love with lead actor.</li>  
                                </ul>
                            </li><br>

                            </ul>
                        </p><hr><br>


                        <h3 class="bg-success text-center text-white">Present Continuous Tense</h3><br>
                       <h4>Structure of Present Continuous Tense:</h4>
                        <div class="table-responsive">
                          <table class="table table-bordered text-white bg-dark">
                              <tr>
                                  <th>+</th>
                                  <td>am / is / are + (verb + ing)</td>
                                  <td>
                                     <ul>
                                         <li>He <b>is living</b> Canada.</li>
                                         <li>I <b>am using</b> an iPhone.</li>
                                         <li>They <b>are playing</b> football</li>
                                     </ul>
                                  </td>
                              </tr>
                              <tr>
                                  <th>-</th>
                                  <td>am / is / are not + (verb + ing)</td>
                                  <td>
                                      <ul>
                                        <li>He <b>is not living</b> Canada.</li>
                                        <li>I <b>am not using</b> an iPhone.</li>
                                      </ul>
                                     
                                  </td>
                              </tr>
                              <tr>
                                  <th>?</th>
                                  <td>am / is / are ..... + (verb + ing) ?</td>
                                  <td>
                                      <ul>
                                          <li><b>Is</b> he living Canada?</li>
                                          <li><b>Am</b> I using an iPhone?</li>
                                          <li><b>Are</b> they playing football?</li>
                                      </ul>  
                                  </td>
                              </tr>
                          </table>
                      </div>

                      <h4>Where we use present continuous tense?</h4>

                      <p class="text-justify">
                        <ul style="list-style-type: square;">
                                <li><b>We use present continuous tense to talk about tempurary situations. See the example below: </b>
                                  <ul>
                                    <li> I <b>am studying</b> really hard for my exam .</li>
                                    <li> My brother <b>is living</b> Canada at the moment.</li>
                                    <li>
                                      The words are given below are often use in present continuous : (e.g : at the moment, currently, now, this week / month /year  )
                                    </li>
                                  
                                </ul><br>
                            </li>
                            

                            <li><b>We use present continuous tense to talk about actions that are happenig at the moment of speaking time . See the example below: </b>
                            
                                <ul>
                                  <li> My friend <b>is waiting </b>for me.</li>
                                  
                              </ul>
                            </li><br>


                            <li><b>We use present continuous tense to talk about things that are happen more often than expected, often to show envy or criticise with words like
                              forever, always, constantly, continually. See the example below:</b>
                          
                            <ul>
                              <li>My brother <b>is always saying</b>, i do not help enough! (complaint).</li> 
                              <li>He <b>is always visiting</b> an exciting places (envy).</li>  
                            </ul>
                        </li><br>
                        

                        </ul>
                    </p>

                    <h4><b>State Verbs:</b></h4>
                            
                            <p class="text-justify">
                             The present continuous tense is not normally used with the <b>state verb</b>, because the meaning of the verb itself 
                             is a <b>general truth</b> rather than something tempurary. This verbs describe thoughts, feelings, possession, sense and description. 
                             Some example of state verbs given below: <br>
                             
                             <ul>

                              <li>
                               <b>Thoughts: </b>assume, agree, disagree, believe, forget, regret, know, hope, remember, suppose, think, understand etc . See the example below:

                               <ul>
                                 <li>I <b>assume</b> you are so busy to play video games.</li>
                               </ul>
                              </li>

                             </ul>
                             <ul>

                              <li>
                               <b>Feelings: </b>feel, adore, despise, like, dislike, enjoy, love, mind, prefer, want etc . See the example below:

                               <ul>
                                 <li>I <b>love</b> music.</li>
                               </ul>
                              </li>

                             </ul>

                             <ul>

                              <li>
                               <b>Senses: </b>feel, smell, hair, see, taste etc . See the example below:

                               <ul>
                                 <li>This food <b>smells</b> delicious</li>
                               </ul>
                              </li>

                             </ul>

                             <ul>

                              <li>
                               <b>Possessions :</b> have, own, belong etc . See the example below:

                               <ul>
                                 <li>I <b>have</b> a nice car.</li>
                               </ul>
                              </li>

                             </ul>
                             <ul>

                              <li>
                               <b>Description: </b> look, look like, appear, contain, resemble, seem, mean, sounds, weigh, smell etc . See the example below:

                               <ul>
                                 <li>You <b>look like</b> your father.</li>
                               </ul>
                              </li>

                             </ul><br>
                             <b>*** Some state verbs can be used in continuous form when the meaning is temporary . See the example below:</b>
                             <ul>
                               <li>What <b>are</b> you <b>thinking</b> now?</li>
                               <li>She <b>is having</b> a great time .</li>
                             </ul>
                          </p><hr><br>
                          

                            
                            
                          <h3 class="bg-success text-center text-white">Present Perfect Tense</h3><br>
                          <h4>Structure of Present Perfect Tense:</h4>
                          <div class="table-responsive">
                              <table class="table table-bordered text-white bg-dark">
                                  <tr>
                                      <th>+</th>
                                      <td>have / has + verb (past participle form of verb)</td>
                                      <td>
                                         <ul>
                                             <li>He <b>has</b> worked.</li>
                                             <li>I <b>have</b> worked.</li>
                                         </ul>
                                      </td>
                                  </tr>
                                  <tr>
                                      <th>-</th>
                                      <td>have not / has not + verb (past participle form of verb)</td>
                                      <td>
                                        <ul>
                                          <li>He <b>has not</b> worked.</li>
                                          <li>I <b>have not</b> worked.</li>
                                      </ul>
                                         
                                    </td>
                                  </tr>
                                  <tr>
                                      <th>?</th>
                                      <td>have / has .... + verb (past participle form of verb)? </td>
                                      <td>
                                        <ul>
                                          <li><b>Has</b> he <b>worked</b>?</li>
                                          <li><b>Have</b> I <b>worked</b>?</li>
                                      </ul>
                                            
                                      </td>
                                  </tr>
                              </table>
                          </div>

                          <br>
                          
                        <h4>Where we use present perfect tense?</h4>
                      <p class="text-justify">
                          <ul style="list-style-type: square;">
                                  <li><b>We use present perfect tense to talk about a time period thait is not finished (e.g today, this morning, this week, this month ...). See the example below: </b>
                                    <ul>
                                      <li>I <b>have written</b> a poem this morning.</li>
                                      <li>He <b>has played</b> football this evening.</li>
                              
                                  </ul><br>
                              </li>
                              

                              <li><b>We use present perfect tense to show that something happened in the past before now and we do not state when it happened. See the example below: </b>
                              
                                  <ul>
                                    <li> I <b>have collected</b> a lots of information about you.</li>
                                </ul>
                                <b>The following time expressions are often used: ever, never, befor, up to now, stil, so far</b>
                                <ul><li>It is the longest I <b>have ever had</b> to write.</li></ul>
                              </li><br>


                              <li><b>We use present perfect tense to talk about present situation which is started in the past, usually with since / for. See the example below: </b>
                              
                                  <ul>
                                    <li>He <b>has</b> really <b>worked</b> hard for last three weeks.</li>
                                  </ul>
                                  <b>*** We use for with a length of time: (e.g for two weeks, for three months , for four years.)</b><br>
                                  <b>*** We use since with a point in time: (e.g since friday, since 2020)</b>
                              </li><br>


                              <li><b>We use present perfect tense to talk about something that happened at untold time in the past but connected to the present. See the example below: </b>
                              
                                <ul>
                                  <li>I <b>have read</b> all the books on the reading list.</li>  
                                </ul>
                                <b>The following time expressions are often used: recently, just, already, ever, yet. Yet and Ever with negative or question.</b>
                                <ul>
                                  <li>I <b>have just got</b> up.</li>
                                  <li><b>Have</b> you <b>written</b> your assignment yet?</li>
                                  <li><b>Have</b> you <b>ever</b> been to canada?</li>
                                </ul>
                                
                            </li><br>
                           

                          </ul>
                      </p><hr><br>

                      <h3 class="bg-success text-center text-white">Present Perfect Continuous Tense</h3><br>
                          <h4>Structure of Present Perfect Continuous Tense:</h4>
                          <div class="table-responsive">
                              <table class="table table-bordered text-white bg-dark">
                                  <tr>
                                      <th>+</th>
                                      <td>have / has been + (verb+ing) </td>
                                      <td>
                                         <ul>
                                             <li>He <b>has been working</b> really hard.</li>
                                             <li>I <b>have been studying</b> really hard.</li>
                                         </ul>
                                      </td>
                                  </tr>
                                  <tr>
                                      <th>-</th>
                                      <td>have / has not + been +(verb+ing)</td>
                                      <td>
                                        <ul>
                                          <li>He <b>has not been working</b> really hard.</li>
                                          <li>I <b>have not been studying</b> really hard.</li>
                                      </ul>
                                         
                                    </td>
                                  </tr>
                                  <tr>
                                      <th>?</th>
                                      <td>have / has .... + been + (verb+ing)? </td>
                                      <td>
                                        <ul>
                                          <li><b>Has</b> he been <b>studying</b> really hard?</li>
                                          <li><b>Have</b> you been <b>studying</b> really hard?</li>
                                      </ul>
                                            
                                      </td>
                                  </tr>
                              </table>
                          </div>

                          <br>
                          
                        <h4>Where we use present perfect continuous tense?</h4>
                      <p class="text-justify">
                          <ul style="list-style-type: square;">
                                  <li><b>We use present perfect continuous tense to say how long a situation or an activity is going on. See the example below: </b>
                                    <ul>
                                      <li>I <b>have been working</b> a shpb for three years.</li>
                                      <li>He <b>has been playing</b> football since morning.</li>
                              
                                  </ul><br>
                              </li>
        
                              
                          </li><br>

                          </ul>
                      </p><hr><br>

                      
                            
                           
     </div>
                          <div class="col-sm-12 col-lg-3  col-md-4 sidenav">
                                
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>