<!DOCTYPE html>
    <html>
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Present Tense Exercises | Ielts grammar</title>

        <meta name="Description" content="In this page you will get the best present tense exercises such as present simple tense exercise, present continuous tense exercise, present perfect tense excercise and present perfect continuous tense excercise  " />
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/present-tense-exercises"/>


        
        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:auto}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
        </style>

          
              <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                        <!-- Global site tag (gtag.js) - Google Analytics -->
              <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
              <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-148831263-1');
              </script>

        

       
    </head>


    

  <body > 
    <%- include('../../includes/navigation.ejs') %>
    
    <main id="main">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ictads-1 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="9985180353"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
           
            
        <div class="d-flex" id="wrapper">

          <%- include('../../sitebars/ielts-grammar.ejs') %> 
          </div>
       </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary btn-lg" id="menu-toggle"><b>MENU</b></button>
            
                  </nav>
            
                  <div class="container-fluid" >
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 

                            <h1 class="bg-dark text-center text-white">Present Tense Exercises</h1><br><hr>
                            
                            <h2 class="bg-success text-center text-white py-2">Grammar Practice</h2>

                      <h4>1. Choose the best ending sentence :- </h4>

                      <ol>
                        <li><b>Mark is watching tv</b></li>
                        <ul style="list-style: lower-alpha;">
                          <li>because his favorite film star is on.</li>
                          <li>when he has time.</li>
                        </ul>
                        <li><b>I am having my lunch</b></li>
                        <ul style="list-style: lower-alpha;">
                          <li>at 2 o'clock everyday.</li>
                          <li>early today because I have an appointment.</li>
                        </ul>
                        <li><b>I do the shopping</b></li>
                        <ul style="list-style: lower-alpha;">
                          <li>at the same time every month.</li>
                          <li>for his cousin who is ill.</li>
                        </ul>
                        <li><b>What are you doing</b></li>
                        <ul style="list-style: lower-alpha;">
                          <li>to your brother when he behaves badly?</li>
                          <li>to your brother? Leave him alone!</li>
                        </ul>
                        <li><b>They wear casual clothes</b></li>
                        <ul style="list-style: lower-alpha;">
                          <li>at the weekend.</li>
                          <li>because they are having a party at lunch time.</li>
                        </ul>
                        <li><b>Workers work hard</b></li>
                        <ul style="list-style: lower-alpha;">
                          <li>to get the concert ready for the next week.</li>
                          <li>but they get long holiday.</li>
                        </ul>
                        <li><b>The organization's financial situation is improving</b></li>
                        <ul style="list-style: lower-alpha;">
                          <li>now that it has new CEO.</li>
                          <li>when there is greater demand for its product.</li>
                        </ul>
                        <li><b>Queen is thinking of retiring early</b></li>
                        <ul style="list-style: lower-alpha;">
                          <li>every time something bad happens at work.</li>
                          <li>because she is not happy at work any more.</li>
                        </ul>


                      </ol><br>
                
                        <details class="text-center">
                            <summary >See Answer</summary>
                            <p class="text-tustify">
                              1. a, 2. b, 3. a, 4. b, 5. a, 6. b, 7. a, 8. b
                            </p>
                        </details><br><hr> 
                      
                              
                        <h4 class="mt-5"><b>2. Fill in the gaps with the correct forms of the verbs in the brackets. </b></h4>
                        <ol>
                            <li>I am busy right now. I ........... <b>(fill in)</b> an application form for new job.</li><br>
                            <li>My tutor ........ <b>(see)</b> me for a tutorial every Saturday at 2 o'clock.</li>
                        </ol>
                            

                            
                          </div>
                          <div class="col-sm-12 col-lg-3  col-md-4 sidenav">
                                
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>