
	
	<nav class="navbar navbar-expand-md navbar-dark bg-dark text-uppercase" >
        <a href="/accountant/accountant-home"><img src="../../images/logo.svg" alt="site logo" style="height: 60px;"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ">
                <a href="/accountant/accountant-home" class="nav-item nav-link ">Home</a>
                <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Payment</a>
                        <div class="dropdown-menu">
                            <a href="/accountant/contest-payment" class="dropdown-item">Contest Payment</a>
                            <a href="/accountant/affiliate-payment" class="dropdown-item">Affiliate Payment</a>
                            
                        </div>
                </div>

                <a href="/accountant/view-accountant" class="nav-item nav-link ">View Account</a>
                
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Start Programing</a>
                    <div class="dropdown-menu">
                        <a href="/how-to-become-a-good-programmer" class="dropdown-item">Beginners Guidline</a>
                        <a href="/online_judges_solved_problems" class="dropdown-item">OnlineJudge Solutions</a>
                        <a href="/projects" class="dropdown-item">Projects</a>
                        
                    </div>
                </div>
              
                
               
                
                
            
            
            
        </div>
     <% if(isAccountantAuthenticated) { %>

            <form  action="/accountant/accountant-logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-outline-danger nav-item nav-link my-2 my-sm-0 w-100" >Logout</button>
            </form>
        <% }%>
            
        
        
    </div>
</nav>










