<footer id="footer" style="background-color:#212529;">
	<div class="container" > 
		<div class="row">
			<div class="col-md-3 widget" style="font-size: medium;">
				<h3 class="widget-title">Follow Us </h3>
				<div class="widget-body">
						<div class="socialbtns">
							<ul >
								<li class="my-2"><a href="https://www.facebook.com/tutorialforBeginners/" target="blank">Facebook Page</a></li>
							
								<li class="my-4"><a href="https://www.youtube.com/channel/UCBjM8mf-cRfuYic6lASyaPQ" target="blank" >Youtube Channel</a></li>
							</ul>
						</div>		
								
				</div>
			</div>
			<div class="col-md-3 widget" style="font-size: medium;">
				<h3 class="widget-title">More...</h3>
				<div class="widget-body">
						<div class="socialbtns">
							<ul>
								<li class="my-2"><a href="/terms-of-use" target="blank">Terms of use</a></li>
								<li class="my-2"><a href="/faq" target="blank">FAQ</a></li>
								<li class="my-2"><a href="/privacy" target="blank">Privacy Policy</a></li>
							</ul>
						</div>		
								
				</div>
			</div>

			<div class="col-md-3 widget" style="font-size: medium;">
				<h3 class="widget-title"><a  href="/about" target="blank">About</a>
				</h3>
				<div class="widget-body">
					<p class="text-justify">This is a free learning site .It is designed Specially for the student who are looking for a free but highly valuable content........  </p>
					
				</div>
			</div>
			
			<div class="col-md-3 widget" style="font-size: medium;">
				<h3 class="widget-title">Usefull Links</h3>
				<div class="widget-body">
						<div class="socialbtns">
							<ul>
								<li class="my-2"><a href="/contact" target="blank" >Contact Us</a></li>
							</ul>
						</div>		
								
				</div>
			</div>
			

		</div> 
	</div>
</footer>
<footer id="underfooter">
	<div class="container">
		<div class="row">
			
			<div class="col-md-6 widget">
				<div class="widget-body">
					<span>112 110 st Unit 12, SK S7N 1R9<br> Saskatoon, Canada</span>
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2019, <span><a href="/">www.tutorialforbeginner.com</a></span><br>
				</div>
			</div>

		</div> 
	</div>
</footer>


<%- include('boostrap-footer.ejs')%>
</body>

</html>