<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> Tutorialforbeginner | www.tutorialforbeginner.com</title>

        <meta name="Description" content="Tutorialforbeginner is a free learning site . Here you will get the best tutorial for beginners,
        best tutorial for different programming languages, best Interview tips, questions and answer, best programming guidline .
        "/>
       
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />       
        <meta property="og:type" content="website" />
        <%- include('includes/boostrap-head.ejs') %>

        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        
        <link rel="canonical" href="https://tutorialforbeginner.com"/>

            <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-148831263-1');
      </script>



        <style>
         .home{background-color:#191919}.navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}
        </style>
        
        

      
    </head>


<body class="home "  style="background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">

    
    <%- include('includes/navigation.ejs') %>
        
    <div class="container">
      
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- home-ads-1 -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-9136564254270725"
               data-ad-slot="2619903643"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        

      
       
      
       
    <div class="card " >
      <div class="card-header text-center" >
       <h1>Welcome to tutorialforbeginner.com</h1> 
      </div>
      <div class="card-body">
        <blockquote class="blockquote text-right">
          <p class="mb-0 text-justify"> <a href="/home">www.tutorialforbeginner.com</a> is free learning site, where we are
             offering you the best video and written tutorials for beginners such as hsc education, job preparation, different subjective, programing & development, freelancing and so on .   
             We are giving you the best guideline for beginner programmer and best free freelancing guideline tutorial
            for beginners . Stay with us and make your career even faster way .</p>
          <footer class="blockquote-footer">" <cite title="Source Title">www.tutorialforbeginner.com "</cite></footer>
        </blockquote>
       
      </div>
    </div>
    
  

    
    <div class="row mt-3">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header text-center">Online Judge Solution</h4>
          <div class="card-body">
            <p class="card-text text-justify">
              Are you looking for a online judge problem solution . Our experts solved more than 15,000 problem in different
              Online Judge like UVA, URI, Hackerrank, Geekforgeeks, Codeforces, Litoj etc . Find your problem solution today .
            </p>
          </div>
          <div class="card-footer">
            <a href="" class="btn btn-primary">Find Solution</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header text-center">Earn Money Online</h4>
          <div class="card-body">
            <p class="card-text text-justify">Are you want to learn how learn online for free? Are you a beginner?
                then you are in the right place.This website will give you the step by step guidline
                for online earning with video tutorial so stay tune with us
            </p>
          </div>
          <div class="card-footer">
            <a href="" class="btn btn-primary">Start Learning</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header text-center">Online Quize</h4>
          <div class="card-body">
            <p class="card-text text-justify"> Do you want to give a online test? Are you wana test you ability?
              Yes! you are in right place . Our experts are waiting for the brilliant people like you . Are you ready to
              take chanllange? Show your excellence today...
            </p>
          </div>
          <div class="card-footer">
            <a href="/online-quiz-contest" class="btn btn-primary">Start Quiz</a>
          </div>
        </div>
      </div>
    </div>
   

    
    <h2 class="text-center my-4 text-white">Our Services</h2>

    <div class="row ">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/hsc-ict-tutorial"><img class="card-img-top" src="images/ict-home.JPG" alt="ict-home"></a>
          <div class="card-body">
            <h4 class="card-title text-center">
              <a href="/hsc-ict-tutorial">HSC ICT </a>
            </h4>
            <p class="card-text text-justify">
                 We are providing the best ICT tutorial for Bangladeshi H.S.C students . We are giving you the written and 
                 video tutorial . So that they can learn ICT more easyer way . We are giving chance to percipate online quiz contest ,
                  codding contest and there will be big reward for the winner . Are you ready to take the chanllange? We wish you all the best.
                </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/how-to-become-a-good-programmer"><img class="card-img-top" src="images/learn_p.jpg" alt="learn programming"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="/how-to-become-a-good-programmer">Be the best Programmer</a>
            </h4>
            <p class="card-text text-justify">Are you want to be master mind programmer? Are you looking for a proper guidline to 
              start programming to be the best ? Yes you are in right place we here to make you the best and we will provide the 
              best tutorials for free . Stay with us and start learning today . 
                </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="images/job.jpg" alt="got job"></a>
          <div class="card-body">
            <h4 class="card-title text-center">
              <a href="/interview-questions-and-answer">Interview Questions & Answer</a>
            </h4>
            <p class="card-text text-justify"> Are you looking for the Interview Questions and Answers?
              Here we will provide you the premium questions and best answers for you . We are here to help you out .
              Our experts are providing all these things for free . Start learing today ....
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item mt-3">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="images/error.jpg" alt="error"></a>
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="#">Error Message</a>
            </h4>
            <p class="card-text text-justify">Are you getting error message from programming language like python, php,
                 c/c++, java, javaScript, react.js, vue.js, node.js etc ?Don't worry we are here to
                to solve that problem.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item mt-3">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="images/adsense.JPG" alt="adsense"></a>
          <div class="card-body">
            <h4 class="card-title text-center">
              <a href="#">Google Adsense</a>
            </h4>
            <p class="card-text text-justify">Lots of people working with goole adsense but they do not know how it works 
                ? are you one of them?Don't worry you are right place.Learn it for free</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item mt-3">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="images/downloads.jpg" alt="download"></a>
          <div class="card-body">
            <h4 class="card-title text-center">
              <a href="#">Project</a>
            </h4>
            <p class="card-text text-justify">Are you looking for different free projects so that you can use it for 
                your own.Here lots of free project that you can download, edit then you can use for your own.
            </p>
          </div>
        </div>
      </div>
    </div>

    
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- home-last -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="7126124861"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  
    
    
    
    
  </div>
  



    

<%- include('includes/end.ejs') %>