 <!-- Sidebar -->
 <div class="bg-light border-right  " id="sidebar-wrapper">
    <div class="sidebar-heading">Topics</div>
    <div class="list-group list-group-flush ">
        <a href="/hsc-final-suggestion" class="list-group-item list-group-item-action bg-light">ALL Suggetion</a>
     
      <a href="/hsc-ict-final-suggestion" class="list-group-item list-group-item-action bg-light">ICT Final Suggetion</a>
     
  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">Bangla Suggestion</a>
  <ul class="collapse list-unstyled " id="homeSubmenu">
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-bangla-suggestion-first-paper">First Paper</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-bangla-suggestion-second-paper">Second Paper</a> </li>
      
  </ul>

  <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">English Suggestion</a>
  <ul class="collapse list-unstyled " id="homeSubmenu1">
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-english-suggestion-first-paper">First Paper</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-english-suggestion-second-paper">Second Paper</a> </li>
   </ul>

   <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">Physics Suggestion</a>
  <ul class="collapse list-unstyled " id="homeSubmenu2">
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-physics-suggestion-first-paper">First Paper</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-physics-suggestion-second-paper">Second Paper</a> </li>
      
  </ul>
  <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">Chemistry Suggestion</a>
  <ul class="collapse list-unstyled " id="homeSubmenu3">
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-chemistry-suggestion-first-paper">First Paper</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-chemistry-suggestion-second-paper">Second Paper</a> </li>
      
  </ul>
  <a href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">Math Suggestion</a>
  <ul class="collapse list-unstyled " id="homeSubmenu4">
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-math-suggestion-first-paper">First Paper</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-math-suggestion-second-paper">Second Paper</a> </li>
      
  </ul>
  <a href="#homeSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">Biology Suggestion</a>
  <ul class="collapse list-unstyled " id="homeSubmenu5">
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-biology-suggestion-first-paper">First Paper</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-biology-suggestion-second-paper">Second Paper</a> </li>
      
  </ul>
  
  
            