 <!-- Sidebar -->
 <div class="bg-light border-right font-weight-bold" id="sidebar-wrapper">
    <div class="sidebar-heading bg-success text-white text-uppercase text-center"><b>contents</b></div>
    <div class="list-group list-group-flush ">
      <a href="/hsc-ict-tutorial" class="list-group-item list-group-item-action bg-light">HSC ICT Tutorial</a>
     
     
  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">Chaper-1</a>
  <ul class="collapse list-unstyled " id="homeSubmenu">
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-chapter-1?part=1">Part-1</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-chapter-1?part=2">Part-2</a> </li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-chapter-1?part=3">Part-3</a> </li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-vip-question-and-answer?query=1-0">VIP Questions</a> </li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-vip-model-question-and-answer">Model Question</a> </li>
  </ul>

  <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">Chaper-2</a>
  <ul class="collapse list-unstyled text" id="homeSubmenu1">
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-communication-system-and-networking-part-1">Part-1</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-communication-system-and-networking-part-2">Part-2</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-communication-system-and-networking-part-3">Part-3</a> </li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-communication-system-and-networking-part-4">Part-4</a> </li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-communication-system-and-networking-part-5">Part-5</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-communication-system-and-networking-part-6">Part-6</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-vip-question-and-answer?query=2-0">VIP Questions</a> </li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-model-question-for-chapter-2">Model Question</a> </li>
  </ul>

  <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">Chaper-3</a>
  <ul class="collapse list-unstyled " id="homeSubmenu2">
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-number-system-and-digital-device-part-1">Part-1</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-number-system-and-digital-device-part-2">Part-2</a> </li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-number-system-and-digital-device-part-3">Part-3</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-number-system-and-digital-device-part-4">Part-4</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-number-system-and-digital-device-part-5">Part-5</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-number-system-and-digital-device-part-6">Part-6</a></li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-vip-question-and-answer?query=3-0">VIP Questions</a> </li>
      <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-model-question-for-chapter-3">Model Question</a> </li>
  </ul>

  <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">Chaper-4</a>
  <ul class="collapse list-unstyled " id="homeSubmenu3">
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-web-design-and-html-part-1">Part-1</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-web-design-and-html-part-2">Part-2</a> </li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-web-design-and-html-part-3">Part-3</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-web-design-and-html-part-4">Part-4</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-web-design-and-html-part-5">Part-5</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-web-design-and-html-part-6">Part-6</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-web-design-and-html-part-7">Part-7</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-vip-question-and-answer?query=4-0">VIP Questions</a> </li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-model-question-for-chapter-4">Model Question</a> </li>
      
  </ul>
  <a href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">Chaper-5</a>
  <ul class="collapse list-unstyled " id="homeSubmenu4">
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-programming-language-part-1">Part-1</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-programming-language-part-2">Part-2</a> </li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-programming-language-part-3">Part-3</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-programming-language-part-4">Part-4</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-programming-language-part-5">Part-5</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-programming-language-part-6">Part-6</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-vip-question-and-answer?query=5-0">VIP Questions</a> </li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-model-question-for-chapter-5">Model Question</a> </li>
  </ul>
  <a href="#homeSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">Chaper-6</a>
  <ul class="collapse list-unstyled " id="homeSubmenu5">
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-database-management-system-part-1">Part-1</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-database-management-system-part-2">Part-2</a> </li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-database-management-system-part-3">Part-3</a></li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-vip-question-and-answer?query=6-0">VIP Questions</a> </li>
    <li><a class="list-group-item  bg-dark text-white" href="/hsc-ict-model-question-for-chapter-6">Model Question</a> </li>
   </ul>
   <a href="#homeSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-light">Model Questions</a>

   <a href="/freelancing-and-online-earning" class="list-group-item list-group-item-action bg-light">Freelancing & Online Earn</a>
  
            