<a class="btn btn-outline-success mt-2 mb-1" href="/java-programming-tutorial"><b>Java Programming</b></a>
<a class="btn btn-outline-success my-1" href="/jdk-jre-jvm-in-java"><b>Jdk Jre Jvm</b></a>
<a class="btn btn-outline-success my-1" href="/java-installation"><b>Java Installation</b></a>
<a class="btn btn-outline-success my-1" href="/simple-java-programs"><b>Java Programs</b></a>
<a class="btn btn-outline-success my-1" href="/java-variables"><b>Java Variables</b></a>
<a class="btn btn-outline-success my-1" href="/data-types-in-java"><b>Java Data Types</b></a>
<a class="btn btn-outline-success my-1" href="/keywords-in-java"><b>Java Keywords</b></a>
<a class="btn btn-outline-success my-1" href="/operators-in-java"><b>Java Operators</b></a>
<a class="btn btn-outline-success my-1" href="/if-else-in-java"><b>Java If Else</b></a>
<a class="btn btn-outline-success my-1" href="/switch-case-in-java"><b>Java Switch Case</b></a>
<a class="btn btn-outline-success my-1" href="/loops-in-java"><b>Java Loops</b></a>
<a class="btn btn-outline-success my-1" href="/for-loop-in-java"><b>Java For Loop</b></a>
<a class="btn btn-outline-success my-1" href="/while-loop-in-java"><b>Java While Loop</b></a>
<a class="btn btn-outline-success my-1" href="/do-while-loop-in-java"><b>Java Do While Loop</b></a>