<a class="btn btn-outline-success my-2" href="/profile"><b>Profile</b></a>
<a class="btn btn-outline-success my-2" href="/message"><b>Message</b></a>
<a class="btn btn-outline-success my-2" href="/contest-history"><b>Contest History</b></a>
<a class="btn btn-outline-success my-2" href="/edit-profile" ><b>Update Profile</b></a>
<a class="btn btn-outline-success my-2" href="/affiliate" ><b>Affiliate</b></a>
