<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Learn About Data Types In C Programming language</title>

        
        <meta name="Description" content="
        In here we will learn about Data types in C Programming . What is Data Type? What is Primary and Derived Data Types in C Programming ?
        How to use sizeof operator?" />
        <meta name="Keywords" content="Data Types,Primary data types,Derived data types" />
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="fb:pages" content="340075726591504" />
        <meta property="fb:pages" content="1524841087795043" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/data-types-in-c" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>
        
        <script async type="text/javascript" src="js/print/run_prettify.js??autoload=true&amp;skin=sunburst&amp;"></script>
        <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>

        

        
    </head>


    

<body >
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- c-ads-2 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="7105943560"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
            
            
            <div class="d-flex" id="wrapper">

                <!-- Sidebar -->
                <div class="bg-light border-right" id="sidebar-wrapper">
                  <div class="sidebar-heading">Topics</div>
                  <div class="list-group list-group-flush">
                    <%- include('../../sitebars/c-sitebar.ejs') %>
                  </div>
                </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom ">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                              <h1 class="bg-dark text-center text-white mb-2">Data Types in C Programming</h1>
                              <p class=" text-justify text-secondary"><b>
                                In here we will learn about Data types in C Programming . What is Data Type?
                                What is Primary and Derived Data Types in C Programming ? How to use sizeof operator?
                              
                        </b></p>


                              <p class=" text-justify">
                                  <b>C-Data Types:</b>
                                  Data types specify how people enter data into our programs and what type of data is entering.
                                   In C it has some predefined set of data types to handle 
                                   different data that we can use in our program. 
                                   Each datatype has different storage capacities and ranges.It support
                                   2 data types- <br> <br>
                                   <b>1.Primary data types:</b> This is a fundamental data types in 
                                   c  like integer(<code>int</code>), Float(<code>float</code>), Double(<code>double</code>),
                                   character(<code>char</code>) and (<code>void</code>) types. <br><br>

                                   <b>2.Derived data types:</b> This data type is nothing but it is combinations of fundamental 
                                   data types. <b>Array</b>, <b>union</b>, <b>structure</b> and <b>pointer</b> are  Derived data types.

                                   .
                               
                              </p><br>
                              <hr><div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MzFopJf10H0" allowfullscreen></iframe>
                              </div>
                              
                            
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- c-ads-1 -->
                              <ins class="adsbygoogle"
                                   style="display:block"
                                   data-ad-client="ca-pub-9136564254270725"
                                   data-ad-slot="8711842734"
                                   data-ad-format="auto"
                                   data-full-width-responsive="true"></ins>
                              <script>
                                   (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>
                      



                              <h4 class="text-center bg-dark text-white">Primary Data Types</h4>
                              
                                <table class="table table-striped table-dark">
                                    <thead>
                                      <tr>
                                        
                                        <th scope="col">DATA TYPE</th>
                                        <th scope="col">MEMORY (BYTES)</th>
                                        <th scope="col">FORMAT SPECIFIER</th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        
                                          <th scope="row">short int</th>
                                        <td>2</td>
                                        <td>%hd</td>
                                        
                                      </tr>
                                      <tr>
                                        <th scope="row">unsigned short int</th>
                                        <td>2</td>
                                        <td>%hu</td>
                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">int</th>
                                        <td>4</td>
                                        <td>%d</td>
                                        
                                      </tr>
                                      <tr>
                                          <th scope="row">long int</th>
                                          <td>4</td>
                                          <td>%ld</td>
                                          
                                        </tr>
                                        <tr>
                                            <th scope="row">long long int</th>
                                            <td>8</td>
                                            <td>%lld</td>
                                            
                                          </tr>
                                          <tr>
                                              <th scope="row">unsigned long long int</th>
                                              <td>8</td>
                                              <td>%llu</td>
                                              
                                            </tr>
                                            <tr>
                                                <th scope="row">char</th>
                                                <td>1</td>
                                                <td>%c</td>
                                                
                                              </tr>
                                             
                                                  <tr>
                                                      <th scope="row">float</th>
                                                      <td>4</td>
                                                      <td>%f</td>
                                                      
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">double</th>
                                                        <td>8</td>
                                                        <td>%lf</td>
                                                        
                                                      </tr>
                                                      <tr>
                                                          <th scope="row">long double</th>
                                                          <td>12</td>
                                                          <td>%Lf</td>
                                                          
                                                        </tr>
                                    </tbody>
                                  </table>

                                  <p class=" text-justify">
                                      <p class=" text-justify">
                                          Different data types have different ranges,format specifiers and how much memory it takes to store.This ranges may be different
                                           from compiler to compiler. We can use the <code>sizeof()</code> operator to check the size of a variable. See the following C program to check out which data types take how much memory:
                                          </p><hr>
 <pre class="prettyprint">
<code>#include&lt;stdio.h&gt;
int main()
{
  printf("int takes: %lu bytes.\n",sizeof(int)); // '\n' is for goto new line 
  printf("float takes: %lu bytes.\n",sizeof(float));
  printf("double takes: %lu bytes.\n",sizeof(double));
  printf("char take: %lu byte.\n",sizeof(char));
  return 0;
}</code></pre>
<h5>Output:</h5>
<pre class="prettyprint">
<code>  int takes: 4 bytes.
  float takes: 4 bytes.
  double takes: 8 bytes.
  char take: 1 byte.
</code></pre>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="9525057491"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                   
                                                                                 



    



 
                               

                                



                            


                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                          
                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                            
                            <div class="well sticky-top">

                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- c-h-ads-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1418023682"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>