<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC Bangla Second Paper Suggestion 2020 ( ১০০% কমন )</title>

        
        <meta name="Description" content="HSC Bangla Second Paper Suggestion for HSC student . This is the best HSC Bangla Second Paper Suggestion in recent years
        . student got 100% common by following our hsc Bangla Second Paper Suggestion . " />
      
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-bangla-suggestion-second-paper"/>

        
        <%- include('../../includes/boostrap-head.ejs') %>
      
      <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main ">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/hsc-final-suggestion-bar.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                            <marquee behavior="alternate"  bgcolor = "green" scrolldelay="100"><h1 class="text-white">HSC Bangla Second Paper Suggestion</h1></marquee>
                            
                   
                              <h2 class="mt-4 text-center">Warning About this HSC Bangla Second Paper Suggestion 2020</h2>
                              <p class="text-justify text-secondary"><b>
                                This hsc Bangla Second Paper Suggestion 2020 is Designed by top class Bangla Second Paper teschers around our country who are making hsc Bangla Second Paper questions for 
                                Education Board . So do not go to the star rating read all the questions properly . We have given the hsc Bangla Second Paper Suggestion section by section . 
                                So that student can easily find the questions .ull for you . Best of luck for HSC exam . 
                              </b></p><hr>
                              <img src="images/bangla_sug2.JPG" style="width: 100%;" alt="Bangla Second Paper Suggestion"><br>

                             
                              <br><br><h2 class="text-center text-white" style="background-color: green;">বাংলা ব্যাকরণ</h2><hr>
                  
                              
                              
                              <b><p>
                                <ul>
                                    <li> বাংলা একাডেমির প্রমিত বাংলা বানানের ছয়টি নিয়ম সহ লেখ। *****</li>
                                    <li>অ- এর বিবত বা স্বাভাবিক উচচারণের ৫টি নিয়ম লেখ *****</li>
                                    <li> উদাহরণসহ এ স্বরধ্বনি উচ্চারণের ৫টি নিয়ম লেখ।*****</li>
                                    <li> উদাহরণসহ 'ব’ ফলা/ ‘ম’-ফলা উচ্চারণের ৫টি নিয়ম লেখ****</li>
                                    <li>ণ-ত্ব বিধান বলতে কী বােঝ? ণ-ত্ব বিধানের পাঁচটি নিয়ম লেখ*****</li>
                                    <li>সর্বনাম শব্দ কাকে বলে? উদাহরণসহ সর্বনাম শব্দের শ্রেণিবিভাগ আলােচনা কর।*****</li>
                                    <li>অর্থগতভাবে বাংলা ভাষার শব্দ সমূহকে কয় ভাগে ভাগ করা যায়? উদাহরণসহ লেখ ***</li>
                                    <li>অর্থ অনুসারে বাক্যের শ্রেণি বিভাগ বিস্তারিত আলােচনা করাে? *****</li>
                                    <li>উৎপত্তিগত দিক থেকে বাংলা শব্দ কয় প্রকার ও কী কী? উদাহরণসহ লেখ ****</li>
                                    <li> “উপসর্গের অর্থবাচকতা নেই, কিন্তু অর্থদ্যোতকতা আছে”উদাহরণসহ আলােচনা কর ? *****</li>
                                    <li>সন্ধি ও সমাসের মধ্যে প্রধান ছয়টি পার্থক্য উদাহরণসহ লেখ ?****</li>
                                    <li>গঠন অনুসারে বাংলা বাক্য কত প্রকার ও কী কী? উদাহরণসহ এ আলােচনা কর ?****</li>
                                    <li>বাক্য কাকে বলে? একটি সার্থক বাক্যের কী কী গুণ বা বৈশিষ্ট্য। থাকা আবশ্যক উদাহরণসহ লেখ।*****</li>
                                    <li>একটি সার্থক বাক্যের কী কী বৈশিষ্ট্য থাকা দরকার? উদাহরণসহ আলােচনা কর? *****</li>
                                    <li>পারিভাষিক শব্দ বলতে কী বােঝ? কয়েকটি পারিভাষিক শব্দের উদাহরণ দাও? *****</li>
                                    

                              </ul></p>
                              </b><hr><br>
                              <br><h2 class="text-center text-white" style="background-color: green;"> দিনিলিপি</h2><hr>
                




                            <b><p>
                            <ul>
                                <li> বাংলা নববর্ষ উদযাপনের উপর একটি দিনলিপি লেখ ?*** </li>
                                <li>তােমার কলেজে মহান বিজয় দিবস উদযাপনের একটি দিনলিপি প্রস্তুত করাে?*****</li>
                                <li> বই মেলা সম্পর্কে দিনলিপি লেখ? ***** v.i.p</li>
                            </ul></p>
                        </b>
                        <br><h2 class="text-center text-white" style="background-color: green;"> ভাষণ</h2><hr>
                        <b><p>
                            <ul>
                                <li>মাদকাসক্তির কারণ ও প্রতিকার’ শীর্ষক সেমিনারে উপস্থাপন করার জন্য একটি ভাষণ তৈরি কর ?*** </li>
                                <li>মাদকদ্রব্যের ভয়াবহ পরিণতি সম্পর্কে সচেতনতা সৃষ্টির লক্ষ্যে যুবসমাজের উদ্দেশ্যে একটি ভাষণ রচনা কর ?*****</li>
                                <li> জাতিগঠনে নারীসমাজের ভূমিকা সম্পর্কে একটি মঞ্চ ভাষণ তৈরি কর? ***** v.i.p</li>
                                <li>ইভটিজিং প্রতিরােধ ছাত্রসমাজের ভূমিকা” শীর্ষক সেমিনারে উপস্থাপনের জন্য প্রধান বক্তা হিসেবে একটি ভাষণ বক্তা হিসেবে একটি ভাষণ রচনা কর</li>
                                <li> আন্তর্জাতিক মাতৃভাষা দিবসের তাৎপর্য বর্ণনা বচনা করে একটি ভাষণ রচনা কর ? ****</li>
                                <li>‘দনীতির কারণ ও প্রতিকার' শীর্ষক আলােচনা বক্তা হিসাবে একটি ভাষণ তৈরি করাে ?****</li>
                                <li>জাতিগঠনে ছাত্রসমাজের ভূমিকা সম্পর্কিত আলােচনা প্রধান অথিতির উপস্থাপনের জন্য সুধীবৃন্দের উদ্দেশ্যে এক ভাষণ প্রস্তুত কর ? *****</li>
                                <li>“খাদ্যে ভেজাল তার কারণ ও প্রতিকার” শীর্ষক আলােচনা সভার প্রধান বক্তা হিসেবে একটি ভাষণ তৈরি কর ?*****</li>
                                
                            </ul></p>
                        </b>
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-ads-4 -->
                                <ins class="adsbygoogle"
                                    style="display:block"
                                    data-ad-client="ca-pub-9136564254270725"
                                    data-ad-slot="9659561509"
                                    data-ad-format="auto"
                                    data-full-width-responsive="true"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script><hr><br>
                                    <h2 class="text-center text-white" style="background-color: green;">  প্রতিবেদন</h2><hr>



<b><p><ul>
  <li> সম্প্রতি দেশে সড়ক দুর্ঘটনা বেড়ে যাওয়ার কারণ ও প্রতিকারসম্পর্কে একটি প্রতিবেদন রচনা করাে?** </li>
  <li>  যানজট একটি ভয়াবহ সমস্যা এই শিরােনামে একটি প্রতিবেদন রচনা কর?***</li>
  <li> বর্তমানে নিত্যপ্রয়ােজনীয় জিনিস পত্রের দাম বৃদ্ধি সম্পর্কে একটি প্রতিবেদন রচনা কর? ***** v.i.p</li>
  <li>দ্রব্যমূল্যের ঊর্ধ্বগতির কারণ এবং এর প্রতিকারের উপায় সম্পর্কে একটি প্রতিবেদন লেখ ***** v.i.p</li>
  <li>তােমার কলেজ গ্রন্থাগার সম্পর্কে একটি প্রতিবেদন লেখ ? *****</li>
</ul></p></b><hr><br>

<h2 class="text-center text-white" style="background-color: green;">ই-মেইল/খুদে বার্তা</h2><hr>

<b>
  <p><ul>
    <li>ইনটারনেট ব্যবহারের ব্যবহারের সুফল ও কফল/ মােবাইল ফো অপব্যবহারের ক্ষতিগুলাে উল্লেখ করে বন্ধুদের প্রেরণের জন্য একটি ই-মেইল প্রেরণ করাে ? ***** Din[Must]</li>
    <li> স্বাধীনতা দিবসের অনুষ্ঠানে আমন্ত্রণ জানিয়ে তােমার বন্ধুকে ইমেইল প্রেরণ কর ? ***** All[Must]</li>
    <li> সড়ক দুর্ঘটনায় মারাত্মকভাবে আহত কোনাে মেধাবা বন্ধুর জন্য জরুরিভাবে রক্ত ও আর্থিক সাহায্য চেয়ে একটি ই-মেইল তৈরি কর ? ***** v.i.p</li>
    <li>তােমাদের কলেজে অনুষ্ঠিতব্য সাহিত্য ও সাংস্কৃতিক প্রতিযােগিতার উদ্বোধনী অনুষ্ঠানে প্রধান অতিথি হিসেবে উপস্থিত থাকার আমন্ত্রণ জানিয়ে একজন দেশবরেণ্য ব্যক্তিত্ব বরাবর একটি ই-মেইল পাঠাও?</li>
    <li>বাংলা নববর্ষের শুভেচ্ছা জানিয়ে বন্ধুর নিকট প্রেরণের জন্য পাচটি বাক্যের একটি খুদে বার্তা তৈরি কর ? ****</li>
    
    
  </ul></p>
</b> <br>
        <h2 class="text-center text-white" style="background-color: green;">পত্র</h2><hr>



                                   <b><p><ul>
                                    <li> মাদকাসক্তির কুফল জানিয়ে তােমার ছােট ভাইকে একটি উপদেশমূলক পত্র লেখ? **** Dha v.i.p </li>
                                    <li>তােমার সদ্য পড়া একটি বই সম্পর্কে মতামত জানিয়ে বন্ধুর নিকট পত্র লেখ? ALL: ***** </li>
                                    <li>তােমাদের কলেজের বার্ষিক সাহিত্য ও সাংস্কৃতিক অনুষ্ঠানের বিবরণ দিয়ে প্রবাসী বন্ধুর নিকট পত্র লেখ ? *****</li>
                                    <li>বাংলা নববর্ষ উদ্যাপনের বর্ণনা দিয়ে প্রবাসী বন্ধুর নিকট একটা পত্র লেখ ?*****</li>
                                </ul></p></b><hr><br>

                                <h2 class="text-center text-white" style="background-color: green;">আবেদনপত্র</h2><hr>

                                <b><p><ul>
                                 <li>  বাণিজ্যিক প্রতিষ্ঠানের হিসাবরক্ষক/ অফিস সহকারী জন্য তােমার যােগ্যতার বিবরণ দিয়ে একটি আবেদনপত্র লেখ? **** Dha v.i.p </li>
                                 <li>সফরে যাওয়ার অনুমতি চেয়ে অধ্যক্ষের নিকট একটি আবেদনপত্র রচনা কর? ALL: ***** </li>
                                 <li>কোনাে শিক্ষাপ্রতিষ্ঠানে সহকারী শিক্ষক পদে নিযুক্ত লাভের জন্য একটি আবেদনপত্র লেখ ? *****</li>
                                 <li>কোনাে মাধ্যমিক বিদ্যালয়ের সহকারী শিক্ষক পদে নিয়ােগের জন্য একটি আবেদনপত্র রচনা কর?*****</li>
                                 <li>তােমার কলেজের নজরুল জয়ন্তী উদযাপন উপলক্ষে একখানি নিমন্ত্রণ পত্র রচনা কর *****</li>
                                 <li>তােমার এলাকার রাস্তা সংস্কারের জন্য কর্তৃপক্ষের দৃষ্টি আকর্ষণ করে সংবাদপত্রে প্রকাশের জন্য একটি চিঠি লেখ ****</li>
                                 <li>তােমার এলাকার আইন-শৃঙ্খলা পরিস্থিতির অবনতির কথা জানিয়ে সংশ্লিষ্ট কর্তৃপক্ষের দৃষ্টি আকর্ষণ করে পত্রিকায় প্রকাশের জন্যে সম্পাদককে একটি পত্র লেখ*****</li>
                             </ul></p></b><hr><br>
                             <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- suggestion-1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="3879509765"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script><hr>

                             <h2 class="text-center text-white" style="background-color: green;"> সারাংশ</h2><hr>
                             
                                <b><p><ul>
                                 <li>মানুষের মূল্য কোথায়?.... মানুষের ন্যায় স্বাধীনতাপ্রিয় চরিত্র মানে এই ।**** Dha v.i.p </li>
                                 <li>মাতসেহের তুলনা নাই....হইতে ভীরুকে রক্ষা করিতে ব্যাপ্ত হয়। ALL: ***** </li>
                                 <li> ছাত্রজীবন আমাদের ভবিষ্যৎ জীবনের...... উন্মুক্ত হয় মহত্তর সম্ভাবনার পথ। *****</li>
                                 <li>আজকের দুনিয়াটা...সিড়িটা না খুজলেই নয়।*****</li>
                                 <li> স্বাধীন হওয়ার জন্য যেমন সাধনার ...... সে কষ্ট সহ্য না করে উপায় নেই। *****</li>
                                 <li>অনেকে বলেন, স্ত্রীলােকদের ....রান্নাঘরেই ঘুরিতে থাকে। ****</li>
                                 <li>নীরব ভাসায় বৃক্ষ আমাদের...অন্তরের যে পরিপক্কতা, তাই তাে ।*****</li>
                                 <li> সাহিত্যের উদ্দেশ্যে সকলকে আনন্দ দেওয়া... লেখকের মন তুষ্ট হতে পারে না।*****</li>
                             </ul></p></b><hr><br>
                             <h2 class="text-center text-white" style="background-color: green;">সারমর্ম</h2><hr>
                             
                                <b><p><ul>
                                 <li>মারতে চাহি না আমি …….সংগীতের কসম ফটাই****  </li>
                                 <li>বহু দিন ধরে বহু ক্রোশ দূরে......একটি শিশুর বিন্দু। ***** </li>
                                 <li>দৈন্য যদি আসে আসুক.....ঊর্ধ্বে দুহাত বাড়াস*****</li>
                                 <li>একদা ছিল না জুতা চরণ যুগলে------আপন মনের দুঃখ থাকে কতক্ষণ?*****</li>
                                 <li> হে মহাজীবন..... যেন ঝলসানাে রুটি।  *****</li>
                                 <li>অদ্ভুদ আঁধার এক এসেছে এ ..... শেয়ারের খাদ্য আজ তাদের হৃদয়। ****</li>
                                 <li>আঠারাে বছর বয়সে আঘাত...... নতুন কিছু তাে করে।*****</li>
                                 <li>আমার একূল ভাঙ্গিয়াছে যেবা ...... কাঁদিয়া বেড়াই যে মােরে করেছে পর*****</li>
                             </ul></p></b><hr><br>

                             <h2 class="text-center text-white" style="background-color: green;">ভাবসম্প্রসারণ </h2><hr>
                             
                             <b><p><ul>
                              <li>স্বাধীনতা অর্জনের চেয়ে স্বাধীনতা রক্ষা করা কঠিন।****  </li>
                              <li>দণ্ডিতের সাথে দণ্ডদাতা কাদে যবে সমান আঘাতে সর্বশ্রেষ্ঠ সে এ বিচার। ***** </li>
                              <li>মানুষ বাঁচে তার কর্মের মধ্যে, বয়সের মধ্যে নহে।*****</li>
                              <li>অন্যায় যে করে আর অন্যায় যে সহে, তব ঘৃণা যেন তারে  তৃণসম দহে*****</li>
                              <li>স্বদেশের উপকারে নাই যান মন, কে বলে মানুষ তারেপশু সেইজন  *****</li>
                              <li>সুশিক্ষিত লােক মাত্রই স্বশিক্ষিত। ****</li>
                              <li>সাহিত্য জাতির দর্পণ স্বরূপ*****</li>
                              <li> মঙ্গল করিবার শক্তিই ধন বিলাস ধন নহে*****</li>
                              <li>পথ পথিকের সষ্টি করে না, পথিকই পথের সৃষ্টি করে ****</li>
                              <li>দুর্জন বিদ্বান হলেও পরিত্যাজ্য****</li>
                              <li> তুমি অধম, তাই বলিয়া আমি উত্তম না হইব কেন?</li>
                              <li>জীবে প্রেম করে যেই জন, সেই জন সেবিছে ঈশ্বর</li>
                          </ul></p></b><hr><br>
                        









                                <h2 class="text-center text-white" style="background-color: green;">বাংলা অনুবাদ</h2><hr>
                                <b><p><ul>
                                    <li>We should bear the courage to ---- life and search its goal *****</li>
                                    <li>Walking is the best suited to all----- are best united to young people play**** Cu:[Must]</li>
                                    
                                    <li> Books are man's best companions in life----- give you much pleasure ***</li>
                                    <li>  Trees are our friend --- --- --- programme successful *****</li>
                                    <li>Health is wealth. The sound condition---------man is a liability to all.***</li>
                                    <li>Man is the architect of his own life----------It is called seed time of life*****</li>
                                   
                                    <li>Punctuality is to be cultivated -------------- should be our motto.****</li>
                                    <li> A good teacher is one of the most----discovers the treasure hidden inside each student.****</li>
                                    <li>The great advantages of early rising is --- --- --- done at that time is generally well done***</li>
                                   
                                    <li>Man cann'tlive alone. So he likes to --- ---- --- act according to his sweet will in society.****</li>
                                    <li> Illiteracy is a great problem of our---------efforts to remove illiteracy from the country.*****</li>
                                   <li>The aim of education is to make a man --- offers spiritual beauty, it has no value. *****</li>
                                </ul></p></b>
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- Suggestion 2 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1333237471"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script><hr><br>
                              
                              <h2 class="text-center text-white" style="background-color: green;">খুদে গল্প লিখন </h2><hr>
                            
                              
                              <b><p><ul>
                               <li> একজন মুক্তিযােদ্ধা সম্পর্কে একটি সংলাপ রচনা কর।****  </li>
                               <li>বাংলাদেশ ক্রিকেট দলের সম্প্রতি অর্জিত কোনাে সাফল্য সম্পর্কে দুই বন্ধুর সংলাপ রচনা কর ***** </li>
                               <li>বৃক্ষের প্রয়ােজনীয়তা বিসয়ে দুই বন্দুর মধ্যে সংলাপ রচনা কর*****</li>
                               <li>সম্প্রতি পড়া একটি বই সম্পর্কে দুই বন্ধুর কথােপকথন রচনা কর*****</li>
                               <li>বইমেলার অভিজ্ঞতা বিষয়ে দুই বন্ধুর সংলাপ রচনা কর। রক্তদানের পুণ্য*****</li>
                               <li> প্রতিবন্ধী শিশুদের নিয়ে একটি খুদে গল্প রচনা কর****</li>
                               <li>মােবাইল ফোনে বন্ধুত্বের পরিণাম-বিষয়ে নিচের ইঙ্গিত অবলম্বনে একটি খুদে গল্প রচনা কর ***</li>
                               <li>মানুষ মানুষের জন্য' শিরােনামে একটি খুদে গল্প লেখ ****</li>
                               <li>‘পানি-দুষণ’ বিষয়ে একটি খুদে গল্প*****</li>
                              
                           </ul></p></b><hr><br>
                           <h2 class="text-center text-white" style="background-color: green;">প্রবন্ধ রচনা</h2><hr>
                            
                              
                           <b><p><ul>
                            <li>আধুনিক তথ্যপ্রযুক্তি ও বাংলাদেশ****  </li>
                            <li>বাংলাদেশের প্রাকৃতিক সৌন্দর্য বাংলাদেশের পর্যটন শিল্প ***** </li>
                            <li>বস্বদেশপ্রেম*****</li>
                            <li>ইন্টারনেট ও আজকের বিশ্ব*****</li>
                            <li>মানবকল্যাণে বিজ্ঞান ও প্রযুক্তি/ বিদ্যুৎ ও আধুনিক জীবন***</li>
                            <li> বাংলাদেশের কৃষিতে বিজ্ঞান ও প্রযুক্তি**</li>
                            <li>জলবায়ুর পরিবর্তন ও বৈশ্বিক উষ্ণায়ন***</li>
                            <li> পরিবেশ সংরক্ষণে বনায়ন*****v.i.p</li>
                            <li>বাংলাদেশের পােশাক শিল্প***</li>
                            <li>বাংলাদেশের স্বাধীনতা যুদ্ধ ও অর্থনৈতিক মুক্তি মুক্তিযুদ্ধে চেতনা***</li>
                            <li>মাদকাসক্তি ও তার প্রতিকার***</li>
                            <li>জাতিগঠনে নারীসমাজের ভূমিকা**</li>
                            <li>দ্রব্যমূল্য বৃদ্ধি ও এর প্রতিকার***</li>
                           
                        </ul></p></b><hr><br>
                              
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                             
         

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>