<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC Chemistry Second Paper Suggestion For Final 2020 ( ১০০% কমন ) </title>

        
        <meta name="Description" content="HSC Chemistry Second Paper Suggestion for HSC student . This is the best HSC Chemistry Second Paper Suggestion in recent years
        . student got 100% common by following our hsc Chemistry Second Paper Suggestion  " />
       
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-chemistry-suggestion-second-paper"/>

        <%- include('../../includes/boostrap-head.ejs') %>
       
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>
        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/hsc-final-suggestion-bar.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                            <marquee behavior="alternate"  bgcolor = "green" scrolldelay="100"><h1 class="text-white">HSC Chemistry Second Paper Suggestion</h1></marquee>
                            <h2 class="mt-4 text-center">Warning About HSC Chemistry Second Paper Suggestion 2020</h2>
                            <p class="text-justify text-secondary"><b>
                              This hsc Chemistry Second Paper Suggestion 2020 is Designed by top class Chemistry teschers around our country who are making hsc Chemistry Second paper questiones for 
                              you . So do not go to the star rating read all the questiones properly . We have given the Chemistry Second Paper Suggestion Chapter by Chapter . 
                              So that student can easily find the questions . 
                            </b></p><hr>
                            <img src="images/che_2nd.JPG" style="width: 100%;" alt="Chemistry Second Paper Suggestion"><br><br>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১</h2><br>

                            <b>
                                <p >
                                    <ul>
                                    <li>গ্যাস সিলিন্ডারের নিরাপত্তা বিধানে বয়েলের সত্রের ভূমিকা বিশ্লেষণ কর। ****</li>
                                    <li>বিভিন্ন তাপমাত্রা, চাপ ও আয়তনে কোন গ্যাসের অণুর সংখ্যা নির্ণয় করাে।*****</li>
                                    <li>কোনাে নির্দিষ্ট তাপমাত্রা ও চাপে নির্দিষ্ট আয়তনে একটি গ্যাসের ভর নির্ণয় করাে।**** </li>
                                    <li>ভিন্ন ভিন্ন তাপমাত্রায় ভিন্ন ভিন্ন চাপ সহ্য করতে পারে এমন দুটি গ্যাস সিলিন্ডারের মধ্যে কোনটি গাণিতিক যুক্তিসহ বিশ্লেষণ করাে। *** </li>
                                    <li>একাধিক গ্যাস মিশ্রণের মােট চাপ নির্ণয় করাে।**** </li>
                                    <li>আণবিক ভর বা ঘনত্ব নির্ণয় করে একাধিক গ্যাসের ব্যাপন হারের তুলনা করাে। ***** </li>
                                    <li>ব্যাপন হার নির্ণয়ের মাধ্যমে একাধিক গ্যাসের অতিক্রান্ত দূরত্বের তুলনা করাে। *****</li>
                                    <li>STP- তে কোনাে একটি গ্যাসের RMS বেগ নির্ণয় করাে। *****</li>
                                    <li>বাস্তব গ্যাসের ক্ষেত্রে PV এর রেখাচিত্র অনুভূমিক না হয়ে বক্র হয় কেন? ব্যাখ্যা কর।  *****</li>
                                    <li>বাস্তব গ্যাসের আচরণ আদর্শ গ্যাসের মতাে না হওয়ার কারণ সমীকরণসহ ব্যাখ্যা করাে।</li>
                                    <li>ভ্যান্ডার ওয়ালস সমীকরণ বাস্তব গ্যাসের জন্য যথার্থ- ব্যাখ্যা করাে।</li>

                                </ul>
                                </p>
                            </b>


                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- ict-ads-4 -->
                              <ins class="adsbygoogle"
                                  style="display:block"
                                  data-ad-client="ca-pub-9136564254270725"
                                  data-ad-slot="9659561509"
                                  data-ad-format="auto"
                                  data-full-width-responsive="true"></ins>
                              <script>
                                  (adsbygoogle = window.adsbygoogle || []).push({});
                              </script><br>
                             <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-2</h2><br>

                             <b><p><ul>

                                <li>বেনজিন ও টলুইনের মধ্যে কোনটি ইলেকট্রনাকর্ষী প্রতিস্থাপন বিক্রিয়া/ফ্রডেল ক্রাফট অ্যালকাইলেশন বিক্রিয়ায় বেশি সক্রিয় *****</li>
                                <li>বিউটিন-2 আলােক সমাণুতা ও জ্যামিতিক সমাণুতা উভয়ই প্রদর্শন করতে পারে বিশ্লেষণ করাে। ****</li>
                                <li>বিউটিন-1 ও বিউটিন-2 যৌগদ্বয়ের কোনটি জ্যামিতিক সমাণুতা প্রদর্শন করে বিশ্লেষণ করাে।****</li>
                                <li>ইথাইন হতে কীভাবে বেনজিন উৎপন্ন করা যায়? ***</li>
                                <li>অ্যালকিন এর সাথে HBr এর বিক্রিয়া সমীকরণসহ বর্ণনা করাে।***</li>
                                <li>অ্যালকিন এর সাথে HBr এর বিক্রিয়া মার্কনিকভ নীতি অনুসারে বর্ণনা করাে।*****</li>
                                <li>প্রােপানােন ও অ্যালডিহাইডের মধ্যে কোনটি কেন্দ্রাকর্ষী সংযােজন বিক্রিয়ায় অধিক সক্রিয় ব্যাখ্যা করাে ****</li>
                                <li>দ্বি আণবিক নিউক্লিওফিলিক প্রতিস্থাপন বিক্রিয়ার (S<sub>N</sub>2) কৌশল উদাহরণ সহ দেখাও ।**** </li>
                                <li>(পােপানােন ও অ্যালডিহাইডের/ইথিনের মধ্যে কোনটি কেন্দ্ৰাকী সংযােজন বিক্রিয়ায় অধিক সক্রিয় ব্যাখ্যা কর *****</li>
                                <li>টলুইন যৌগটির প্রতিস্থাপন বিক্রিয়া অর্থো-প্যারা অবস্থানে ঘটে-বিশ্লেষণ করাে। </li>
                                <li>সাইট্রোবেনজিন ও টলুইন এর মধ্যে কোনটি ইলেকট্রনাকর্ষী প্রতিস্থাপন বিক্রিয়ায় অধিক সক্রিয় ব্যাখ্যা করে ****</li>
                                <li>অ্যালকাইল হ্যালাইড থেকে অ্যালকিন বা অ্যালকেন, প্রস্তুত করাে। *****</li>
                                <li>অ্যালকেন, অ্যালকাইন ও অ্যালকিন- এর পার্থক্যসূচক বিক্রিয়া সমীকরণসহ লেখাে ***</li>
                                <li>অ্যালকি ও অ্যালকাইনের অসম্পৃক্ততার পরীক্ষা দাও। ****</li>
                                <li>3° ও 1° অ্যালকাইল হ্যালাইডের সাথে যথাক্রমে দুর্বল ক্ষার ও তীব্র ক্ষারের বিক্রিয়া কৌশল আলােচনা করাে। *****</li>
                                <li> 1° অ্যালকোহল 2° অ্যালকোহলের মধ্যে লুকাস বিকারক যােগ করলে উভয় ক্ষেত্রে বিক্রিয়ার হার সমান হয় না কেন ব্যাখ্যা কর*****</li>
                                <li>অ্যালডিহাইড ও কিটোনের মধ্যে কীভাবে পার্থক্য করা যায় সমীকরণসহ ব্যাখ্যা কর*****</li>
                                <li> অ্যালকাইন থেকে কীভাবে কার্বোক্সিরিক এসিড তৈরি করা যায়-সমীকরণ সহ লেখাে? ****</li>
                                <li> কেন্দ্ৰাকষি যুত বিক্রিয়ায় অ্যালডিহাইড অপেক্ষা কিটোন কম সক্রিয় ব্যাখ্যা করাে। ****</li>
                                <li>ইথান্যাল হ্যালােফরম বিক্রিয়া দেয় কিন্তু মিথান্যাল হ্যালােফরম বিক্রিয়া দেয় না- সমীকরণসহ ব্যাখ্যা করাে।****</li>
                                <li>কার্বক্সিলিকমূলক কীরূপে সনাক্ত করবে-সমীকরণসহ লেখাে।****</li>
                                <li>বািভন্ন ঘনমাত্রার এসিড/ ক্ষার দ্রবণের ঘনমাত্রাকে ppm এককে প্রকাশ করাে।****</li>
                                <li>নিদিষ্ট ঘনমাত্রা ও আয়তনের এসিড/ক্ষার/জারক/বিজারক দ্রবণের আয়তন/ঘনমাত্রা পিরবর্তন করলে দ্রবণের ঘনমাত্রা / আয়তন কত হবে?****</li>
                                <li>বিভিন্ন এসিড ও ক্ষার দ্রবণের টাইট্রেশন কোন নির্দেশক ব্যবহার করা যাবে তা প্রশমন রেখাচিত্রের আলােকে ব্যাখ্যা ।****</li>
                                <li>নিদিষ্ট ঘনমাত্রা ও আয়তনের এসিড ক্ষার দ্রবণের পরিমাণ গণনা করাে।***</li>
                                

                            </ul></p></b> <br>
 


                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৩ </h2><br>
           
                             <b><p><ul>

                                <li>নির্দিষ্ট পরিমাণ এসিড ও ক্ষারের বিক্রিয়া সম্পূর্ণ প্রশমিত হবে কিনা-ব্যাখ্যা করাে এবং অবশিষ্ট দ্রবণের ঘনমাত্রা ও প্রকৃতি নির্নয় কর ?***** </li> 
                                <li>H<sub>2</sub>,SO<sub>4</sub>, দ্রবণে K<sub>2</sub>MnO<sub>4</sub>/ K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>, এর সাথে লােহার জারণ-বিজারণ বিক্রিয়ার সমতাবিধান করাে।**** </li> 
                                <li>লােহার অম্লীয় দ্রবণে K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>/K<sub>2</sub>MnO<sub>4</sub>, যােগ করে কীভাবে লােহার পরিমাণ নির্ণয় করা যায়-বিশ্লেষণ কর****</li> 
                                <li>H<sub>2</sub>C<sub>2</sub>O<sub>4</sub>, ও K<sub>2</sub>MnO<sub>4</sub> দ্রবণকে মিশ্রিত করলে সংগঠিত বিক্রিয়াকে আয়ন-ইলেকট্রন পদ্ধতিতে সমতা করে*****</li> 
                                <li>আয়ােডােমিতিক পদ্ধতি ব্যবহার করে অবিশুদ্ধ কপারে ভেজালের শতকরা পরিমাণ হিসেব করাে।**** </li> 
                                
                            </ul></p></b><br>


                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৪ </h2><br>
           
                             <b><p><ul>

                                <li>নষ্ট পরিমাণ তড়িৎ নির্দিষ্ট সময় ধরে চালনা করলে ক্যাথােড কত গ্রাম ধাতু জমা হবে?</li>
                                <li>তড়িৎ রাসায়নিক কোষে জারণ ও বিজারণ অর্ধবিক্রিয়া সম্পন্ন করে কোষটি উপস্থাপন কর। </li>
                                <li>তড়িৎ বিশ্লেষণ কোষ ও তড়িৎ রাসায়নিক কোষে শক্তির রূপান্তর ভিন্ন-বিশ্লেষণ করাে।</li>
                                <li>তড়িৎ বিশ্লেষণ কোষের অ্যানােড ও ক্যাথােড স্পন্দিত বিক্রিয়াগুলাে দেখাও। </li>
                                <li>বিভিন্ন জারণ বিভবের মান থেকে কোন ধাতুর পাত্রে কোন দ্রবণ রাখা যাবে তা নির্ণয় করাে। </li>
                                <li>তড়িৎদ্বার বিভব থেকে কোষের তড়িচ্চালক বলের মান নির্ণয় করাে। </li>
                                <li>লিথিয়াম আয়ন ব্যাটারির চার্জিং ও ডিসচার্জিং দেখিয়ে কোষ বিক্রিয়া বর্ণনা করাে।</li>
                                <li>লেড স্টোরেজ ব্যাটারির চার্জিং ও ডিসচার্জিং দেখিয়ে কোষটি সচল রাখার কৌশল বর্ণনা করাে। </li>
                               
                                
                            </ul></p></b>


                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- suggestion-1 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="3879509765"
                                 data-ad-format="auto"
                                 data-full-width-responsive="true"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                              
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৫  </h2><br>
           
                            <b><p><ul>

                               <li>কয়লা হতে L.P.G উৎপাদন ব্যাখ্যা কর। </li>
                               <li>ইউরিয়া উৎপাদনের মূলনীতি বর্ণনা করাে। </li>
                               <li>কাগজ প্রস্তুতির পদ্ধতি বর্ণনা করাে। </li>
                               <li>সিমেন্ট উৎপাদনের মূলনীতি প্রয়ােজনায় বিিক্রয়াসহ লেখাে। </li>
                               <li>সিমেন্ট প্রস্তুতকালে সষ্ট দৃষকসমূহ দ্বারা পরিবেশের উপর/মানব জীবনে সম্ভাব্য প্রভাব ব্যাখ্যা কর। </li>
                               <li>	ইউবিয়া অধিকমাত্রায় ব্যবহার পরিবেশের উপর কোনাে প্রভাব পড়বে কি? উত্তরের সপক্ষে যুক্তি দাও। </li>
                               <li>	ইউরিয়া সার উৎপাদনকালে সৃষ্ট ক্ষতিকর প্রভাব বিশ্লেষণ করাে।</li>
                               <li>জর্জ দষণমুক্ত করার জন্য ETP সিস্টেম অপরিহার্য- বিশ্লেষণ করাে।</li>
                               <li>চামড়া ট্যানিং শিল্পে সৃষ্ট তরল বর্জ্য দূষণমুক্ত করার জন্য ETP সিস্টেম অপরিহার্য- বিশ্লেষণ কর ।</li>
                               <li>টেক্সটাইল শিল্প কীভাবে পরিবেশ দূষিত করে?</li>
                               <li>টেক্সটাইল শিল্প দষণ কিভাবে রােধ করা যায়? আলােচনা করা</li> 
                               <li>ব্যবহৃত কাগজ থেকে নতুন কাগজ পুনরুদ্ধারকরার পদ্ধতি বর্ণনা কর </li>
                               <li>কাগজ প্রস্তুতিতে রিসাইক্লিং এর প্রয়োজনিয়তা আছে কিনা- বিশ্লেষণ করাে। </li>
                               <li>	টেক্সাটাইল শিল্প কর্তৃক পরিবেশ দূষণ কিভাবে রােধ করা যায়? আলােচনা কর </li>
                               <li>বাংলাদেশের প্রেক্ষাপটে লােহার বা পাস্টিক রিসাইক্লিং পদ্ধতি জরুরী মূল্যায়ন করাে।</li>
                              
                           
                            </ul></p></b>
 
                         
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">  

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>