<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC English Second Paper Suggestion For Final 2020 ( ১০০% কমন )</title>

        
        <meta name="Description" content="HSC English Second Paper Suggestion for Final 2020 for HSC student . This is the best HSC English Second Paper Final Suggestion  in recent years
        . Student got 100% common by following our hsc English Second Paper Suggestion for Final. " />
      
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-english-suggestion-second-paper"/>

        <%- include('../../includes/boostrap-head.ejs') %>

      <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/hsc-final-suggestion-bar.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                            <h1 style="background-color:  green;" class="text-white text-center">HSC English Second Paper Suggestion 2020</h1>
                            
                   
                              <h2 class="mt-4 text-center">Warning About this HSC English Second Paper  Suggestion 2020</h2>
                              <p class="text-justify text-secondary"><b>
                                This hsc English Second Paper Suggestion 2020 is Designed by top class English teschers around our country who are making hsc English Second paper questiones for 
                                you . So do not go to the star rating read all the questiones properly . We have given the English Second Paper Suggestion number by number . 
                                So that student can easily find the questions . 
                              </b></p><hr>
                              <img width="100%"src="images/eng_sug_2nd.JPG" alt="HSC ICT Suggestion">

                              <h1 class=" p-3 text-center bg-success" >HSC English Second Paper Final Suggestion </h1><br>

                            
<h3 class="text-center">Ques no-13. Writing formal letters
</h3><hr>
  <b><p>
    <ul>

        <li>To the Principal for setting up an English
          Debating Club  English language Club/ Computer Lab. *****v.i.p All[Must], Din,Bor[No]</li>
        <li> To the  Principal for increasing common room facilities. Multimedia facilities/Library facilities.</li>
        <li>To the Principal seeking permission to go on a study tour and financial help. FRB-197
          Seat in the college hostel ** Transfer Certificate.*****</li>
        
  </ul></p></b>
  <h3 class="text-center">Or, E-mail:
  </h3><hr>
  <b><p>
    <ul>

        <li>About the importance of attending multi-media class regularly. ***  
          </li>
          <li>Asking admission procedure for overseas students. **</li>
          <li>Providing internet facilities.****</li>
        
  </ul></p></b><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- ict-ads-4 -->
                              <ins class="adsbygoogle"
                                  style="display:block"
                                  data-ad-client="ca-pub-9136564254270725"
                                  data-ad-slot="9659561509"
                                  data-ad-format="auto"
                                  data-full-width-responsive="true"></ins>
                              <script>
                                  (adsbygoogle = window.adsbygoogle || []).push({});
                              </script><hr>
                              
                                

                              <h3 class="text-center">Ques no-14. Report Writting:
                              </h3><hr>
                              <b><p>
                                <ul>
                            
                                    <li>A Report on Road accident ***** all[Must], CB[No]</li>
                                    <li>Report on a trade fair ****</li>
                                    <li>Report on the impact of Facebook *****</li>
                                    <li>Report on a trafic Jam ****</li>
                                    <li>A Report on Tree plantation / deforestation*****</li>
                                    <li>A report on a massive fire on a garment factory/life of Slum Dwellers** </li>
                                    <li>A report on the results of HSC exam/Prize giving ceremony.**** JB[No]</li>
                                
                                    
                              </ul></p>
                            
                              </b>
                              <h3 class="text-center">Question no-15. Writing Paragraph</h3><hr>
                              <b><p><ul>
                              <li> Computer/Internet/Uses and  Positive and negative impact of Facebook ****  All[Must] </li>
                              <li> The Historic 7 March Speech ***</li>
                              <li>Bangabandhu Satellite -1</li>
                              <li>Higher Education in Bangladesh ***** v.i.p</li>
                              <li> Climate Change ***** v.i.p All[Must]</li>
                              <li>The uses and abuses of Mobile Phone*****</li>
                              <li>Treeplantation*****</li>
                              <li> Diaspora ChaB[No] *****v.i.p</li>
                              <li> Folk Music *** Bb[No]</li>
                              <li>Internet*****V.i.p</li>
                              <li>Drug Addiction **</li>
                              <li>Gender Discrimination***</li>
                              
                              </ul></p></b><hr><br>
                                    
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- suggestion-1 -->
                              <ins class="adsbygoogle"
                                   style="display:block"
                                   data-ad-client="ca-pub-9136564254270725"
                                   data-ad-slot="3879509765"
                                   data-ad-format="auto"
                                   data-full-width-responsive="true"></ins>
                              <script>
                                   (adsbygoogle = window.adsbygoogle || []).push({});
                              </script><hr>
                      
                            <h3 class="text-center">Question no. 16. Writing Composition</h3><hr>

                            <b><p>
                            <ul>
                            <li>The necessity of Compulsory ICT Education in Bangladesh. ***** Din[Must] Dha[Must] </li>
                            <li> Your Childhood Memories ***** JB,CB[No]</li>
                            <li>Importance of reading Newspaper***** v.i.p</li>
                            <li> Modern Technology and Globalization*****</li>
                            <li>Wonders of Modern Science Uses and abuses of Internet**** Dha[No]</li>
                            <li>Duties and responsibilities of students***** v.i.p cha[No]</li>
                            <li>Your aim in life**** Dha[Must],CB[No]</li>
                            <li> Your hobby****RB[No]</li>
                            
                            
                            </ul></p>
                            </b><br>
                          
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>