<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC ICT Final Suggestion 2020 ( ১০০% কমন )</title>

        
        <meta name="Description" content="HSC ICT Suggestion for HSC student . This is the best HSC ICT Suggestion in recent years
        . student got 100% common by following our hsc ict Suggestion . " />
      
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-ict-final-suggestion"/>

        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/hsc-final-suggestion-bar.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                            <marquee behavior="alternate"  bgcolor = "green" scrolldelay="100"><h1 class="text-white">HSC ICT Final Suggestion 2020</h1></marquee>
                            
                   
                              <h2 class="mt-4 text-center">Some Warning About this HSC ICT Suggestion 2020</h2>
                              <p class="text-justify text-secondary"><b>
                                This hsc ict Suggestion 2020 is Designed by top class ICT teschers around our country who are making hsc ict questiones for 
                                you . So do not go to the star rating read all the questiones properly . We have given the ict suggestion chapter by chapter . 
                                So that student can easily find the questiones . After every chapter we have given link for the questiones Solution whis is very helpfull for you . Best of luck 
                                for HSC exam . 
                              </b></p><hr>
                              <img width="100%"src="images/ict_suggestion.JPG" alt="HSC ICT Suggestion">

                              <h1 class=" p-3 text-center bg-success" >HSC ICT Suggetion Chaper 1 </h1><br>

                              <h3 class="text-center">জ্ঞানমূলকঃ</h3><hr>
                             

                              <b>
                                <ul>
                                    <li>রােবট কি ? ***</li>
                                    <li>রােবটিক্স কি? *****</li>
                                    <li> ব্লগকি ? ব্লগার কাকে বলে? *****</li>
                                    <li>GPS কি? ****</li>
                                    <li>বিশ্বগ্রাম কি? *****</li>
                                    <li>Virtual Reality কি?*****</li>
                                    <li>বায়ােইনফরমেট্রিক কি? ***</li>
                                    <li>অ্যাকচুয়েটর কি? *****</li>
                                    <li>ই-কমার্সকি? **</li>
                                    <li>টেলিমেডিসিন কি? *****</li>
                                    <li>ন্যানােটেকনােলজি কি?****</li>
                                    <li>বায়ােমেট্রিক কি?****</li>
                                    <li>ক্রায়ােসার্জারি কি?*****</li>
                                    <li>টেলিকনফারেন্সিং কি? *****</li>
                                    <li> স্যাটেলাইট কী ? *****</li>
                                    <li>কৃত্রিম বুদ্ধিমত্তা কী?***</li>
                                    <li>ক্রায়ােপ্রব ( Cryoprobe ) কী? *****</li>

                              </ul>
                              </b><hr><br>
                              <h3 class="text-center">অনুধাবন প্রয়ােগ ও উচ্চতর দক্ষতাঃ</h3><hr>
                            <b>
                            <ul>
                                <li> ড্রাইভিং বা বিমান চালনা প্রশিক্ষণে Vitual Reality এর ব্যবহার ?*** </li>
                                <li>চিকিৎসাক্ষেত্রে অগ্রগতির জন্য VR এর ভূমিকা ব্যাখা কর ?*****</li>
                                <li>E-learning শিক্ষা ব্যাবস্থার প্রক্রিয়া বর্ণনা কর? ***** v.i.p</li>
                                <li>শুধুমাত্র আক্রান্ত কোষ নির্মূলে অস্ত্রোপাচার ছাড়া ক্রায়ােসার্জারির ব্যবহার ব্যাখ্যা কর? *****</li>
                                <li>আঙ্গুলের ছাপ এবং রেটিনার মাধ্যমে কিভাবে নিরাপত্তা প্রদান করা হয় ?</li>
                                <li>ন্যানােটেকনােলজি প্রযুক্তির বর্ণনা এবং খাদ্য, পােষাক শিল্পে তার ভূমিকা ব্যাখা কর ?***** V.V.i.P </li>
                                <li>তথ্য প্রযুক্তিতে নৈতিকতার দিকসমূহ ব্যাখ্যা কর ?*****V.V.P</li>
                                <li> বিদেশের আত্মীয়ের সাথে Video Call এর মাধ্যমে কথা বলার প্রযুক্তি বর্ণনা কর? DHA *** ALL *****</li>
                                <li>অনলাইনে পণ্য ক্রয় করা এবং বিকাশ পেমেন্ট টাকা পরিশােধ করা কোন প্রযুক্তির সেবা ব্যাখ্যা কর? ALL *****</li>
                                <li>আউটসাের্সিং এর মাধ্যমে অভাব দূরীভূত হয় আলােচনা কর? *****V.i.P</li>
                                <li>মাছে বা কৃষিতে বায়ােইনফরমেট্রিক এর ব্যবহার আলােচনা কর?*** Borishal ****v.i.p</li>
                                <li> জেনেটিক ইঞ্জিনীয়ারিং কিভাবে উন্নত জাতের মাছ ও জাত উদ্ভাবন করে ব্যাখ্যা কর? *****</li>
                               
                            </ul>
                        </b>
                        <h3 style="background-color: greenyellow">Go To Chapter 1 For Solution :  <a href="/hsc-ict-information-communition-techonology-part-1">HSC ICT Chapter 1</a></h3>   
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-ads-4 -->
                                <ins class="adsbygoogle"
                                    style="display:block"
                                    data-ad-client="ca-pub-9136564254270725"
                                    data-ad-slot="9659561509"
                                    data-ad-format="auto"
                                    data-full-width-responsive="true"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script><hr>
                                    <h1 class=" p-3 text-center bg-success" >HSC ICT Suggetion Chaper 2 </h1><br><br>
                                    <h3 class="text-center">জ্ঞানমূলক (Knowledge Based Questions):</h3><hr>

<b><ul>
  <li> ডেটা কমিউনিকেশন কাকে বলে?** </li>
  <li> ওয়াই-ফাই কী?***</li>
  <li>ব্যান্ডউইডথ কী? ***** v.i.p</li>
  <li>ওয়াইম্যাক্স কী? ***** v.i.p</li>
  <li>ডেটা ট্রান্সমিশন মেথড কাকে বলে? *****</li>
  <li>অ্যাসিনক্রোনাস ট্রান্সমিশন কী? *****</li>
  <li> সিনক্রোনাস ট্রান্সমিশন কী? *****v.i.p</li>
  <li> LAN কী? GSM কী? v.i.p</li>
  <li>সেল সিগন্যাল এনকোডিং কী? ***</li>
  <li>সিমপ্লেক্স মােড কাকে বলে?**</li>
  <li>নেটওয়ার্ক ডিভাইস কী?****</li>
  <li>ফুল ডুপ্লেক্স মােড কাকে বলে?***</li>

  <li> রিপিটার কী?Dhaka[Must]  ব্লু-টুথ কী?***** Dha[not] All [Must]</li>
  <li>ব্রডকাস্ট মােড কী?*****[Must]</li>
  <li>রাউটার কী?***</li>
  <li>নেটওয়ার্ক টপােলজি কাকে বলে?*****v.i.p</li>
  <li>ক্লাউড কম্পিউটিং কী?****</li>
  <li>হটস্পট কী?**** </li>


</ul></b><hr><br>

<h3 class="text-center">অনুধাবন প্রয়ােগ ও উচ্চতর দক্ষতাঃ</h3><hr>

<b>
  <ul>
    <li>অ্যাসিনক্রোনাস ট্রান্সমিশনে সময় বেশি লাগার কারণ ব্যাখ্যা কর ? ***** Din[Must]</li>
    <li> রাউটার ও গেটওয়ের ব্যবহারিক প্রয়ােগ ভিন্ন ব্যাখ্যা কর ? ***** All[Must]</li>
    <li>আলাের গতিতে ডেটা স্থানান্তরিত হয়- ব্যাখ্যা কর ? ***** v.i.p</li>
    <li>অপটিক্যাল ফাইবারকে ব্যাকবােন ক্যাবল হিসেবে ব্যবহার করা হয় কেন?</li>
    <li>অপটিক্যাল ফাইবারকে U-আকৃতিতে বাঁকানাে যায় না কেন? ****</li>
    <li>হাব ও সুইচের মধ্যে পার্থক্য লেখ ? ***** v.i.p</li>
    <li>পূর্ণ অভ্যন্তরীণ প্রতিফলনের মধ্য দিয়ে ডেটা উৎস থেকে গন্তব্যে পৌঁছায়- ব্যাখ্যা কর ?**** Dha[Must]</li>
    <li>মেশ টপােলজি ব্যয়বহুল হওয়ার কারণ ব্যাখ্যা কর ?***</li>
    <li>মডেমকে ডেটা কমিউনিকেশনের উপাদান বলা হয় কেন? ব্যাখ্যা কর ?***** </li>
    <li>মােবাইল ফোনের ট্রান্সমিশন মােড ব্যাখ্যা কর ?**</li>
    <li>ক্লাউড কম্পিউটিং কোনাে টেকনােলজি নয়, ব্যবসায়িক মডেল  ব্যাখ্যা কর ?*****</li>
    <li>শ্রেণিকক্ষে পাঠদানকে কোন ট্রান্সমিশন মােডের সাথে তুলনা করা যায়? ব্যাখ্যা কর?***</li>
    <li>Wi-Fi ব্যবহারে পাসওয়ার্ডের প্রয়ােজনীয়তা ব্যাখ্যা কর ?*</li>
    <li>কোন টপােলজিতে ডেটা এক কম্পিউটার থেকে পর্যায়ক ত হয়? ব্যাখ্যা কর? ****</li>
    <li> স্বল্প দূরত্বে বিনা খরচে ডেটা ট্রান্সফার করা যায়- ব্যাখ্যা কর ?****</li>
    <li>ফুল ডুপ্লেক্স মােডে একই সঙ্গে ডেটা আদান প্রদান করা যায়- ব্যাখ্যা কর ?** </li>
    <li>ব্যান্ডউইডথ 512 Kbps বলতে কী বুঝায়? ব্যাখ্যা কর ?** </li>
    
  </ul>
</b>
<h3 style="background-color: greenyellow">Go To Chapter 2 For Solution : <a href="/hsc-ict-communication-system-and-networking-part-1">HSC ICT Chapter 2</a></h3>
                                    
                                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                style="display:block; text-align:center;"
                                data-ad-layout="in-article"
                                data-ad-format="fluid"
                                data-ad-client="ca-pub-9136564254270725"
                                data-ad-slot="2687298352"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                            
                            
                                <h1 class=" p-3 text-center bg-success" >HSC ICT Suggetion Chaper 3 </h1><br>
                                <h3 class="text-center">জ্ঞানমূলকঃ</h3><hr>
                                   <b><ul>
                                    <li> ASCII কি? **** Dha v.i.p </li>
                                    <li>কোড কি? Din v.i.p ALL: ** </li>
                                    <li>Radix point কি? ***</li>
                                    <li>MSB কি? ISB কি?*****</li>
                                    <li>সংখ্যাপদ্ধতি কি?**</li>
                                    <li>ভিত্তি কি? **</li>
                                    <li>পজিশনাল সংখ্যাপদ্ধতি কি? **</li>
                                    <li>নন-পজিশনাল সংখ্যাপদ্ধতি কি?**</li>
                                    <li>1's compliment কি?*****</li>
                                    <li>2's compliment কি? ***** </li>
                                    <li>চিহ্ন বিট কি?****</li>
                                    <li>BCD কি?****</li>
                                    <li>বুলিয়ান অ্যালজেবরাকি? বুলিয়ান স্বতঃসিদ্ধ কি? ALL : ***** v.i.p</li>
                                 
                                    <li>চলক কি?***</li>
                                    <li>পূরক কি ? দৈত্বনীতি কি? ALL : ***** v.i.p</li>
                                    <li>লজিক গেইট কি? ***</li>
                                    <li>মৌলিক গেইট কি? যৌগিক গেইট কি? সার্বজনীন গেইট কি? **** </li>
                                    <li>অ্যাডার কি?***** </li>
                                    <li>রেজিস্টার কি?*****</li>
                                    <li> এনকোডার কি? ডিকোডার কি?***** v.i.p</li>
                                </ul></b><hr><br>
                                <h3 class="text-center">অনুধাবন প্রয়ােগ ও উচ্চতর দক্ষতাঃ</h3><hr>

                                

                                <b><ul>
                                    <li>রুপান্তর কর? ***** Must<ul>
                                        <li>Hex to Decimal ****</li>
                                        <li>Octal-Decimal ***</li>
                                        <li>BCD to OCT ***** v.i.p</li>
                                        <li>Hex to Octal ***</li>
                                    </ul></li>
                                    <li>2's com/ (যােগের মাধ্যমে বিয়ােগ) কর ? [must]</li>
                                    <li>BCD কোড 4 বিটের কোড ব্যাখ্যা কর ? **** Cu:[Must]</li>
                                    <li>৩ or 4 ভিত্তিক সংখ্যাপদ্ধতি ব্যাখ্যা কর ?***** Dha:[must]</li>
                                    <li>ডি মরগানের সুত্রের প্রমান ?***</li>
                                    <li> লজিক সার্কিট থেকে সমীকরণ or সমীকরণ সার্কিট থেকে *****</li>
                                    <li> সমীকরণ সরলীকরণ ?***</li>
                                    <li>সরলীকৃত মান শুধুমাত্র NAND/NOR গেইটের মাধ্যমে বাস্তবায়ন ?*****</li>
                                    <li>NAND & NOR গেইটকে কেন সার্বজনীন গেইট বলা হয়?****</li>
                                    <li>সত্যক সারণি থেকে সার্কিট or সার্কিট থেকে সত্যক সারণি ?****</li>
                                    <li>হাফ অ্যাডারের বর্ণনা এবং শুধু NAND গেইট দিয়ে বাস্তবায়ন ?****</li>
                                    <li>ফুল অ্যাডারের বর্ণনা?***</li>
                                    <li>H/A দিয়ে F/A বাস্তবায়ন ? ***** Dha:[must]</li>
                                    <li>1+1=1 ব্যাখ্যা কর?****</li>
                                    <li> Flip flop বর্ণনা? *****</li>
                                   
                                </ul></b>
                                <h3 style="background-color: greenyellow">Go To Chapter 3 For Solution : <a href="/hsc-ict-number-system-and-digital-device-part-1">HSC ICT Chapter 3</a></h3>
 
                            
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <ins class="adsbygoogle"
                                   style="display:block; text-align:center;"
                                   data-ad-layout="in-article"
                                   data-ad-format="fluid"
                                   data-ad-client="ca-pub-9136564254270725"
                                   data-ad-slot="2458044125"></ins>
                              <script>
                                   (adsbygoogle = window.adsbygoogle || []).push({});
                              </script><hr>
                               <h1 class=" p-3 text-center bg-success" >HSC ICT Suggetion Chaper 4 </h1><br>
                               <h3 class="text-center">জ্ঞানমূলকঃ</h3><hr>
     
<b>
<ul>
  <li> IP অ্যাড্রেস কী ?***  </li>
  <li>হােস্টিং কী ? ওয়েব হােস্টিং কী ? ***** All[Must]</li>
  <li>ওয়েব সার্ভার কী ?****</li>
  <li> ওয়েবসাইট কী ? ***</li>
  <li>ওয়েব ব্রাউজার কাকে বলে ?***</li>
  <li> DNS কী ?***</li>
  <li>স্ট্যাটিক ওয়েবসাইট কী ?**** </li>
  <li>ডায়নামিক ওয়েবসাইট কী? *****</li>
  <li>HTML ট্যাগ কী?****</li>
  <li>হােম পেজ কী?**</li>
  <li> HTTP কী? ***</li>
  <li>URL কী?*****</li>
  <li>ফরম্যাটিং ট্যাগ কী?****</li>
  <li>সার্চ ইঞ্জিন কী?****</li>
  <li>হাইপারলিংক কী?*****v.i.p</li>
  <li> ওয়েব অ্যাড্রেস কী? ****</li>
  <li> HTML এলিমেন্ট কী?***</li>
  <li>ওয়েব পাের্টাল কী?**</li>
  <li>ডােমেইন নেম কী? ***</li>
  
</ul></b><br><h3 class="text-center">অনুধাবন প্রয়ােগ ও উচ্চতর দক্ষতাঃ</h3><hr>

<b><ul>
  <li> প্রতিনিয়ত পরিবর্তনশীল তথ্যের ওয়েবসাইট ব্যাখ্যা কর ?***** Ku[Must]</li>
  <li>তথ্যের সহজ প্রাপ্তি নিশ্চিতকরণে ওয়েবসাইটের ভূমিকা ব্যাখ্যা কর ? ***</li>
  <li>ডােমেইন নেম রেজিস্ট্রেশন করতে হয় কেন? ব্যাখ্যা কর ? ****</li>
  <li>ই-মেইল অ্যাড্রেসকে লিংক করার HTML কোড লেখ ?**8</li>
  <li>ওয়েবপেজ ডিজাইন বলতে কী বােঝায়? ব্যাখ্যা কর ?**</li>
  <li>ডােমেইন নেমে WWW থাকে কেন? ব্যাখ্যা কর ?***** [Must]</li>
  <li>স্ট্যাটিক ওয়েবপেজ ও ডায়নামিক ওয়েবপেজের পার্থক্য লেখ ? ***** [Must]</li>
  <li>HTML একটি Case insensitive ভাষা- ব্যাখ্যা কর ? ****</li>
  <li>ট্যাগ ও অ্যাট্রিবিউট উদাহরণসহ ব্যাখ্যা কর ?***</li>
  <li>ওয়েবপেজ তৈরিতে HTML ভাষা বেশি জনপ্রিয় ব্যাখ্যা কর ? ***</li>
  <li>DNS বলতে কী বােঝায়? ব্যাখ্যা কর ?*****</li>
  <li>আইপি অ্যাড্রেস কী? ব্যাখ্যা কর ?*****v.i.p</li>
  <li>HTML ভাষায় বাংলা লেখার পদ্ধতি ব্যাখ্যা কর ?***</li>
  <li>স্ট্যাটিক ওয়েবসাইটের তুলনায় ডায়নামিক ওয়েবসাইটের জনপ্রিয়তা বেশি- ব্যাখ্যা কর ?****</li>
  <li>ওয়েবপেজের সাথে ব্রাউজারের সম্পর্ক ব্যাখ্যা কর ?****</li>
  <li> সার্চ ইঞ্জিন অপটিমাইজেশন বলতে কী বােঝায়? ব্যাখ্যা কর ?****</li>
  <li>ওয়েব হােস্টিং-এর ক্ষেত্রে কী কী বিষয় লক্ষ রাখতে হয় ?***</li>
  <li>ওয়েবপেজ তৈরিতে &lt;div&gt; ট্যাগের প্রয়ােজনীয়তা ব্যাখ্যা কর ?*****</li>
  <li>কোনাে লেখাকে বাম থেকে ডান দিকে চলমান রাখতে &lt;marquee&gt; ট্যাগের ব্যবস্থা ব্যাখ্যা কর ?****</li>
  <li>ডক টাইপ ডিক্লারেশন বলতে কী বােঝায়? ব্যাখ্যা কর ?****</li>
</ul> </b>
<h3 style="background-color: greenyellow">Go To Chapter 4 For Solution : <a href="/hsc-ict-web-design-and-html-part-1">HSC ICT Chapter 4</a></h3>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- suggestion-1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="3879509765"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script><hr>


<h1 class=" p-3 text-center bg-success" >HSC ICT Suggetion Chaper 5 </h1><br>
                               <h3 class="text-center">জ্ঞানমূলকঃ</h3><hr>

                               <b><ul>
                                 <li>স্ট্রাকচার্ড প্রােগ্রামিং কী? ***** v.i.p</li>
                                 <li> ফাংশন কী? ***** v.i.p Raj[Must]</li>
                                 <li>মেশিন ভাষা কী?*** Din[Must] </li>
                                 <li>প্রােগ্রামের ভাষা কী ? ***</li>
                                 <li>অ্যাসেম্বলি ভাষা কী? ***</li>
                                 <li>ইন্টারপ্রেটার কী? ***</li>
                                 <li>প্রবাহচিত্র কী? **</li>
                                 <li>অ্যালগরিদম কী? *****</li>
                                 <li>কি-ওয়ার্ড কী? ****</li>
                                 <li>সুডাে কোড কী?  ***** v.i.p</li>
                                 <li>প্রােগ্রামের গঠন কী? ***</li>
                                 <li>প্রােগ্রাম ডিবাগিং কী?  ***** v.i.p</li>
                                 <li>কম্পাইলার কী? ***</li>
                                 <li> প্রােগ্রাম ডকুমেন্টেশন কী? **</li>
                                 <li>ভেরিয়েবল কী?**</li>
                                 <li>ধ্রুবক কী? **</li>
                                 <li>অনুবাদক প্রােগ্রাম কী? ***</li>
                                 <li>অ্যারে কী?  ***** v.i.p</li>
                                 <li>4GL কী? **</li>
                                 <li>মডুলার প্রােগ্রামিং কী?  ***** v.i.p</li>
                                 <li>প্রােগ্রাম কী? ***</li>
                                 <li>Syntax Error কী?  ***** v.i.p Dha[Must]</li>
                               </ul></b><hr>
                               <h3 class="text-center">অনুধাবন প্রয়ােগ ও উচ্চতর দক্ষতাঃ</h3><hr>
                               
                               <b><ul>
                                <li>scanf ("%f",&b); স্টেটমেন্টটি- ব্যাখ্যা কর? ***** v.i.p Dha[Must]</li>
                                <li>অনুবাদক প্রােগ্রাম হিসেবে কম্পাইলার বেশি উপযোগী ব্যাখ্যা কর ? ****</li>
                                <li>‘সি’ মধ্যস্তরের ভাষা- ব্যাখ্যা কর ? *****</li>
                                <li>ভেরিয়েবল ডিক্লারেশনে কীভাবে একাধিক ভেরিয়েবলকে কমা (,) দ্বারা পৃথক করা যায়? ব্যাখ্যা কর ? *** </li>
                                <li> মেশিন ভাষায় প্রােগ্রাম দ্রুতগতিতে নির্বাহ হয় ব্যাখ্যা কর ? ****</li>
                                <li>কম্পিউটার 0 এবং 1 ছাড়া কিছুই বুঝতে পারে না ব্যাখ্যা কর ? ***** v.i.p Dha[Must]</li>
                                <li> প্রােগ্রাম রচনায় অ্যালগরিদমের তুলনায় ফ্লোচার্ট ব্যবহার বেশি সুবিধাজনক- ব্যাখ্যা কর ?***** v.i.p ALL[Must]</li>
                                <li>সি প্রােগ্রামে হেডার ফাইল কেন ব্যবহার করা হয়? ব্যাখ্যা কর ?****</li>
                                <li>সি একটি case sensitive ভাষা-ব্যাখ্যা কর? *** Ku[Must]</li>
                                <li>" Datatype Array_name [rowsize][columnsize] " - সিনটেক্সটি ব্যাখ্যা কর ? ***** v.i.p Raj,Dha[Must]</li>
                                <li>কি-ওয়ার্ডকে ভেরিয়েবল হিসেবে ব্যবহার করা না কেন? ব্যাখ্যা কর ? ***** v.i.p Bor[Must]</li>
                                <li>আউটপুট স্টেটমেন্ট বলতে কী বােঝায়? ব্যাখ্যা কর ?****</li>
                                <li>float এর পরিবর্তে কখন double ডেটা টাইপ ব্যবহার করা হয়? ব্যাখ্যা কর ?***** v.i.p</li>
                                <li>Do...while loop এর গঠন ব্যাখ্যা কর ? ***** v.i.p All[Must]</li>
                                <li> ডিরাইভড ডেটা টাইপ কী? লেখ ?*****</li>
                                <li>++k এবং k ++ ব্যাখ্যা কর ?**</li>
                                <li>লােকাল এবং গ্লোবাল ভেরিয়েবল এক নয়- ব্যাখ্যা কর ?****</li>
                                <li> প্রােগ্রামে লুপ স্টেটমেন্ট ব্যবহার করা হয় কেন ব্যাখ্যা কর ?***** v.i.p </li>
                                <li>অ্যারে প্রােগ্রামের জটিলতা কমায়- ব্যাখ্যা কর ?***** v.i.p All[Must]</li>
                                <li>কম্পাইলার সুবিধাজনক-ব্যাখ্যা কর ?***</li>
                              </ul></b>
                              
                              <h3 style="background-color: greenyellow">Go To Chapter 5 For Solution : <a href="/hsc-ict-programming-language-part-1">HSC ICT Chapter 5</a></h3><hr>
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Suggestion 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="1333237471"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                              <hr>
                             
                              <h1 class=" p-3 text-center bg-success" >HSC ICT Suggetion Chaper 6 </h1><br>
                              <h3 class="text-center">জ্ঞানমূলকঃ</h3><hr>

                              <b><ul>
                                <li>ডেটাবেস কী?</li>
                                <li>DBMS কাকে বলে?***** v.i. All[Must]</li>
                                <li>RDBMS কাকে বলে?***** v.i.p All[Must]</li>
                                <li>ডেটাবেস রিলেশন কী?***</li>
                                <li>SQL কী?***</li>
                                <li>ক্রসট্যাব কুয়েরি কী?  ****</li>
                                <li>DES কী? ****</li>
                                <li>IDEA কী? ***** v.i.p Dha[Must]</li>
                                <li>করপােরেট ডেটাবেস কী? ***</li>
                                <li>সিজার কোড কী?***** v.i.p All[Must]</li>
                                <li>ডেটা সিকিউরিটি কী? ****</li>
                                <li>ডেটাবেস ফাইল কী?**</li>
                                <li>ডেটাবেস অ্যাকসেস বলতে কী বােঝ?****</li>
                                <li>অ্যাট্রিবিউট কী?**</li>
                                <li>এনটিটি কী?**</li>
                                <li>কি ফিল্ড কী?**</li>
                                <li>কুয়েরি এক্সপ্রেশন কী?***** v.i.p Dha[Must]</li>
                                <li>ফরেন কি কাকে বলে?****</li>
                                <li>প্যারামিটার কুয়েরি কী?***** v.i.p All[Must]</li>
                                <li>কম্পােজিট কি ফিল্ড কী?***** v.i.p All[Must]</li>
                              </ul></b><hr>
                              <h3 class="text-center">অনুধাবন প্রয়ােগ ও উচ্চতর দক্ষতাঃ</h3><hr>
    

                              <b><ul>
                               <li>ডেটাবেসের টেবিলসমূহে রিলেশন তৈরিতে প্রাইমারি কি অত্যন্ত গুরুত্বপূর্ণ ব্যাখ্যা কর ? ***** v.i.p All[Must]</li>
                               <li>ইনডেক্সিং ও সর্টিং-এর মধ্যে পার্থক্য লেখ ?***** v.i.p All[Must]</li>
                               <li>দুটি ডেটাবেসের মধ্যে রিলেশন তৈরির শর্তসমূহ লেখ ?***</li>
                               <li>ডেটাবেস রিলেশনের ক্ষেত্রে প্রাইমারি কি ও ফরেন কি এর ডেটা টাইপ একই হওয়া প্রয়ােজন কেন?***</li>
                               <li>ডেটা সিকিউরিটির জন্য ডেটা এনক্রিপশন জরুরি ব্যাখ্যা কর ?****</li>
                               <li>সর্টিং-এর তুলনায় ইনডেক্সিং-এ মেমােরি বেশি প্রয়ােজন হয় কেন? ***</li>
                               <li>ডেটাবেসে ইনডেক্সিং-এর গুরুত্ব ব্যাখ্যা কর ? ****</li>
                               <li>লজিক্যাল ডেটা বলতে কী বােঝায় ?  ব্যাখ্যা কর?*****</li>
                               <li>ডেটা ব্যবস্থাপনায় DBMS এর গুরুত্ব অপরিসীম ব্যাখ্যা কর ?***** v.i.p All[Must]</li>
                               <li>দুটি টেবিলের মধ্যে রিলেশন তৈরিতে কিছু শর্তের প্রয়ােজন’- ব্যাখ্যা কর ***** v.i.p All[Must] </li>
                               <li>কুয়েরির গুরুত্ব ব্যাখ্যা কর ?*****</li>
                               <li>Look up wizard এর সর্টিং করা যায় না কেন? ব্যাখ্যা কর ?***** v.i.p All[Must]</li>
                               <li>জাংশন টেবিল ব্যবহার করা হয় কেন ? ***** v.i.p All[Must]</li>
                               <li>ডেটাবেস ডিজাইন করার সময় ডেটা টাইপ নির্বাচন আবশ্যক-ব্যাখ্যা কর ?****</li>
                               <li>“ইনডেক্সিং ফাইল স্বয়ংক্রিয়ভাবে আপডেট হয়’- ব্যাখ্যা কর ?***** v.i.p All[Must]</li>
                               <li>জাতীয় পরিচয়পত্রের তথ্যসংবলিত ডেটাবেসের ধরন ব্যাখ্যা কর ?***</li>
                               <li>প্রাইমারি কি ও ফরেন কি এক নয়’– ব্যাখ্যা কর ***</li>
                               <li>ডেটাবেস হলাে ডেটা ও প্রােগ্রামের সমষ্টি- ব্যাখ্যা কর? ***** v.i.p All[Must]</li>
                               <li>ডেটাবেস টেবিলে ছবি সংযােজনের জন্য ফিল্ডে কোন ধরনের ডেটা টাইপ নির্বাচন করতে হয়? ব্যাখ্যা কর?***</li>
                               <li>ডেটা এনক্রিপশন ব্যবহার হয় কেন? ব্যাখ্যা কর ?****</li>
                             </ul></b>
                             <h3 style="background-color: greenyellow">Go To Chapter 6 For Solution : <a href="/hsc-ict-database-management-system-part-1">HSC ICT Chapter 6</a></h3><hr>
 

                           
                            
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                             
         

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>