<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC Biology First Paper Suggestion For Final 2020 ( ১০০% কমন ) </title>

        
        <meta name="Description" content="HSC Biology First Paper Suggestion for HSC student . This is the best HSC Biology First Paper Suggestion in recent years
        . student got 100% common by following our hsc Biology First Paper Suggestion  " />
       
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-biology-suggestion-first-paper"/>

       <%- include('../../includes/boostrap-head.ejs') %> 
       
       
       <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/hsc-final-suggestion-bar.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                            <marquee behavior="alternate"  bgcolor = "green" scrolldelay="100"><h1 class="text-white">HSC Biology First Paper Suggestion</h1></marquee>
                            <h2 class="mt-4 text-center">Warning About HSC Biology First Paper Suggestion 2020</h2>
                            <p class="text-justify text-secondary"><b>
                              This hsc Biology First Paper Suggestion 2020 is Designed by top class Biology teschers around our country who are making hsc Biology First paper questiones for 
                              you . So do not go to the star rating read all the questiones properly . We have given the Biology First Paper Suggestion Chapter by Chapter . 
                              So that student can easily find the questions . 
                            </b></p><hr>
                            <img src="images/bio_1st.JPG" style="width: 100%;" alt="Biology first Paper Suggestion"><br><br>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১</h2><br>

                            <b>
                                <p>
                                    <ul>
                                   <li>	ক্লোরােপ্লাস্টের চিহ্নিত চিত্র অঙ্কন কর ***** </li>
                                   <li>কোষপ্রাচির ও কোষঝিল্লির মধ্যে তুলনা করাে।**** </li>
                                   <li>DNA-এর গঠন বর্ণনা করাে।***** </li>
                                   <li> DNA-এর রাসায়নিক গঠন বর্ণনা**** </li>
                                   <li>DNA-এর সহযােগীতায় RNA তৈরি হয় - বিশ্লেষন কর*****</li>
                                   <li>ক্লোরােপ্লাস্টের গঠন বর্ণনা করাে****RB,BB[No]</li> 
                                   <li>প্লাজমামেমব্রেনকে মােজাইক সদৃশ বলে কেন- ব্যাখ্যা করাে।*** SB,JB[No]</li>
                                   <li>DNA ও RNA এর মধ্যে তুলনা করাে।*****[Must] </li>
                                 
                                </ul>
                                </p>
                            </b>


                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- ict-ads-4 -->
                              <ins class="adsbygoogle"
                                  style="display:block"
                                  data-ad-client="ca-pub-9136564254270725"
                                  data-ad-slot="9659561509"
                                  data-ad-format="auto"
                                  data-full-width-responsive="true"></ins>
                              <script>
                                  (adsbygoogle = window.adsbygoogle || []).push({});
                              </script><br>
                             <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-2</h2><br>

                             <b><p><ul>

                               <li>প্রাে-মেটাফেজ ধাপের সচিত্র বর্ণনা দাও****v.i.p</li>
                               <li>কোষচক্রের সংশ্লেষণ পর্যায়ের কার্যাবলি আলােচনা করাে*****[Must]</li>
                               <li>মাইটোসিস কোষ বিভাজনের অ্যানাফেজ ধাপের সচিত্র বর্ণনা করাে****CB,CtB[No]</li>
                               <li>জিনগত বৈচিত্র্য সৃষ্টিতে ক্রসিংওভারের ভূমিকা বিশ্লেষণ করাে।*****</li>
                              

                            </ul></p></b> <br>
                    
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৩ </h2><br>
                           
                            
                            <b><p><ul>
                            <li>সুক্রোজের রাসায়নিক গঠন লেখাে।****v.i.p</li>
                            <li>স্টার্চের গঠনচিত্র বর্ণনা করাে।****v.i.p</li>
                            <li>প্রাটিন ও এনজাইম গঠনগতভাবে অভিন্ন হলেও কার্যগতভাবে ভিন্ন- বিশ্লেষণ করাে****v.i.p</li>
                            <li>ব্যাবহারিক জীবনে এনজাইমের প্রয়ােগ লেখাে****v.i.p</li>
                           
                           
                            </ul></p></b><br>


                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৪ </h2><br>
                       

                             <b><p><ul>

                               <li>কৃষিক্ষেত্রে ব্যাকটেরিয়ার ভমিকা বিশ্লেষণ করাে***DiB[Must],DB,CtB[No]</li>
                               <li>ব্যাকটেরিয়া,T2 -ফাজ দ্বারা আক্রান্ত হলে ধ্বংস হতে পারে আবার নাও হতে পারে-বিশ্লেষণ করাে।****v.i.p  </li>
                               <li>ব্যাকটেরিয়ার গঠন বর্ণনা করা ****v.i.p</li>
                               <li>লেবিয়া পরজীবীর সংখ্যাবৃদ্ধির প্রক্রিয়া বর্ণনা করাে। ****</li>
                               <li>মালেরিয়া পরজীবী থেকে পরিত্রাণের উপায় বিশ্লেষণ করাে।***</li>
                              
                                
                            </ul></p></b>
                              
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৫  </h2><br>
                           
                           
                             
                            
                           
                            <b><p><ul>

                               <li> Ulothrix-এর অযৌন জনন চিত্রের সাহায্যে দেখাও।****</li>
                               <li> Ulothrix ও Agaricus -এর মধ্যে পার্থক্য লেখাে। *****</li>
                               <li> শৈবাল ও ছত্রাকের মধ্যে ইকোসিস্টেমে কোনটি অধিক গুরুত্বপূর্ণ - ব্যাখ্যা করাে।*****Sb[No],All[Must]</li>
                               <li> আলুর বিলম্বিত ধ্বসা রােগের কারণসহ প্রতিকারের উপায়গুলাে লেখাে।*****</li>
                               
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৬ </h2><br>
                    
                            <b><p><ul>

                               <li>Riccia-র অন্তর্গঠনের চিহ্নিত চিত্র দাও।*****[Must]</li>
                               <li> Riccia-র শ্রেণিবিন্যাসগত অবস্থান এবং পরিবেশীয় সূচক হিসেবে এর ভূমিকা বিশ্লেষণ করাে****</li>
                               <li>টেরিডােফাইটা ও ব্রায়ােফাইটার মধ্যে কোন গ্রুপটি উন্নত-ব্যাখ্যা করাে।****</li>
                               <li>Pteris-এর গ্যামিটোফাইটিক গঠনের বর্ণনা দাও***</li>
                               <li> Pteris- উদ্ভিদটি জনুক্রম সম্পন্ন করে বিশ্লেষণ করাে।***DB[no]</li>
                               <li>Pteris-এর হেটারােমরফিক জীবনচক্র রয়েছে-বিশ্লেষণ করাে।***</li>
                               
                            </ul></p></b>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- suggestion-1 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="3879509765"
                                 data-ad-format="auto"
                                 data-full-width-responsive="true"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৭ </h2><br>
                          
                           
                            <b><p><ul>

                               <li>Malvaceae গােত্রের শনাক্তকারী বৈশিষ্ট্য লেখাে*****v.i.p</li>
                               <li>Poaceae গােত্রের উদ্ভিদের পুস্পপ্রতীক অঙ্কন করাে।*****SB[Must],DB[No]</li>
                               <li>Poaceae ও Malvaceae গোত্রদ্বয়ের গুরুত্ব আলােচনা করাে।*****</li>
                               
                               
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৮  </h2><br>
                        
                            <b><p><ul>

                               <li>ভাস্কুলার টিস্যগুচ্ছের মিল ও অমিল লেখাে।*****JB[No],All[Must]</li>
                               <li>কাজের উপর ভিত্তি করে ভাজক টিস্যর শ্রেণিবিভাগ করাে।****</li>
                               <li>জাইলেম ও ফ্লোয়েম এর অবস্থান ও গঠন উদ্ভিদের অংশ ভেদে ভিন্ন-বিশ্লেষণ করাে****</li>
                               <li>পরিবহন টিস্যতন্ত্রের জৈবিকগুরুত্ব বিশ্লেষণ করাে।*****v.i.p</li>
                               <li>একবীজপত্রী উদ্ভিদের মলের অন্তর্গঠনের চিহ্নিত চিত্র অঙ্কন করাে।*****v.i.p</li>
                               
                            </ul></p></b>
                            
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৯   </h2><br>
                      
                      
                            <b><p><ul>

                               <li>পত্ররন্ধ্রের গঠন বর্ণনা কর।*****v.i.p DB,CB[No]</li>
                               <li>উদ্ভিদের বিভিন্ন জৈব রাসায়নিক প্রক্রিয়ায় পত্ররন্ধ্রের ভূমিকা রয়েছে-বিশ্লেষণ করাে। *****</li>
                               <li>	সালােকসংশ্লেষণ প্রক্রিয়ার গুরুত্ব বিশ্লেষণ করাে।*****v.i.p </li>
                               <li>হ্যাচ ও স্ন্যাক গতিপথটি রেখা চিত্রের মাধ্যমে দেখাও। *****v.i.p</li>
                               <li>O<sub>2</sub>,-এর উপস্থিতি ছাড়া কোজের সম্পূর্ণ জারণ সম্ভব নয়। বিশ্লেষণ করাে।*****v.i.p</li>
                               <li>	গ্লাইকোলাইসিস পর্যায়টি ছকাকারে দেখাও। ***</li>
                               <li>	জীবের জীবনে গ্লাইকোলাইসিস প্রক্রিয়ার তাৎপর্য বিশ্লেষণ করাে। *****v.i.p</li>
                               <li>বাত শ্বসন প্রক্রিয়ায় উৎপন্ন ATP এর হিসাব ছকে লেখাে।***</li>
                               <li>পত্ররত্বের মাধ্যমে উদ্ভিদে গুরুত্বপূর্ণ জৈবনিক কার্যসমূহ সম্পাদিত হয়।****</li>
                               <li>সবাত ও অবাত শ্বসনভেদে শর্করা হতে উৎপন্ন শক্তির পরিমাণ ভিন্ন হতে পারে-বিশ্লেষণ করাে। *****v.i.p</li>
                               <li>শ্বসন ও সালােকসংশ্লেষণ প্রক্রিয়া দুটির তুলনামূলক বিশ্লেষণ করাে।***</li>
                             
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১০  </h2><br>
                           
                            <b><p><ul>

                               <li> ডিম্বাণু সৃষ্টির বিভিন্ন ধাপ চিত্রসহ বর্ণনা করাে।***DB,JB,CB[No]</li>
                               <li>যৌন প্রজননে সংগঠিত নিষেকের তাৎপর্য লেখাে।***</li>
                               <li>ফল ও বীজ সৃষ্টিতে স্ত্রীগ্যামিটোফাইট ও পুংগ্যামিটোফাইটের গুরুত্ব বিশ্লেষণ করাে।CB,JB,BB[No]</li>
                               <li>স্ত্রীগ্যামিটোফাইটের গঠন ও বিকাশ বর্ণনা করাে।****</li>
                               <li>কৃতিম সংকরায়নের মাধ্যমে নতুন জাত উদ্ভাবন প্রক্রিয়া সংক্ষেপে বর্ণনা করাে।*****v.i.p</li>
                      
                            </ul></p></b>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Suggestion 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="1333237471"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১১  </h2><br>
                      
                            
                            
                            <b><p><ul>

                               <li>টিস্যু কালচার প্রযুক্তির ধাপগুলাে সচিত্র বর্ণনা করাে।SB,JB,CB[No]</li>
                               <li>টিস্যু কালচার প্রযুক্তির নিয়ন্ত্রিত ব্যবহারের মাধ্যমে উন্নতজাত উদ্ভাবন করা যায়। ব্যাখ্যা করাে*****v.i.p</li>
                               <li>দ্বিনিষেক ও টিস্যু কালচার প্রক্রিয়া দুটির মধ্যে কোনটির মাধ্যমে অধিকতর বৈচিত্র্যপূর্ণ উদ্ভিদ পাওয়া ।*****v.i.p</li>
                               <li>কৃষিক্ষেত্রে টিস্যু কালচার প্রযুক্তির গুরুত্ব বিশ্লেষণ করে।*****v.i.p</li>
                               <li>রিকম্বিনেন্ট DNA প্রযুক্তির ধাপসমূহের চিহ্নিত চিত্র দাও। ***</li>
                               <li>রিকম্বিনেন্ট DNA প্রযুক্তির ধাপসমূহ সম্পর্কে সংক্ষেপে লেখাে। ***</li>
                               <li>চিকিৎসা ক্ষেত্রে জীবপ্রযুক্তির গুরুত্ব উল্লেখ করাে।*****v.i.p</li>
                               <li>কৃষিক্ষেত্রে জীবপ্রযুক্তির গুরুত্ব বিশ্লেষণ করাে। *****v.i.p</li>
     
                            </ul></p></b>
 
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১২  </h2><br>
                          
                            <b><p><ul>

                               <li>জলজ ও লবণাক্ত অঞ্চলের উদ্ভিদের অভিযোজন প্রক্রিয়া বিশ্লেষণ করাে।****</li>
                               <li> ম্যানগ্রোভ বনাঞ্চলের উদ্ভিদের অভিযোজনিক বৈশিষ্ট্য লেখাে। *****v.i.P </li>
                               <li>উপকূলীয় বনাঞ্চল সংশ্লিষ্ট প্রাণিভৌগলিক অঞ্চলের অন্তর্ভুক্ত এলাকার নামসমূহ লেখ। ****</li>
                               <li>ম্যানগ্রোভ বনাঞ্চলের তিনটি উদ্ভিদের বৈজ্ঞানিক নাম লেখাে। ****</li>
                               <li>লবণাক্ত উদ্ভিদের বিশেষ প্রজনন শৈলীর বিচিত্রতা বন সৃজনে ভূমিকা পালন করে-বিশ্লেষণ করাে।*****</li>
                               <li>সুন্দরবনের জীববৈচিত্র্য সংরক্ষণে Ex-situ-র চেয়ে In-situ সংরক্ষণই উত্তম যুক্তি দাও।***RB,SB[No] </li>
                               <li>সুন্দরবনের উদ্ভিদসমূহ সংরক্ষণে ইন-সিটু সংরক্ষণই উত্তম-বিশ্লেষণ করাে।****</li>
                              

                               
                            </ul></p></b>
 
 
                         
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">  

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>