<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC Bangla First Paper Suggestion For Final 2020 ( ১০০% কমন ) </title>

        
        <meta name="Description" content="HSC Bangla First Paper Suggestion for HSC student . This is the best HSC Bangla First Paper Suggestion in recent years
        . student got 100% common by following our hsc Bangla First Paper Suggestion  " />
       
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-bangla-suggestion-first-paper"/>


        <%- include('../../includes/boostrap-head.ejs') %> 
        
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
          <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/hsc-final-suggestion-bar.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                            <marquee behavior="alternate"  bgcolor = "green" scrolldelay="100"><h1 class="text-white">HSC Bangla First Paper Suggestion 2020</h1></marquee>
                            <h2 class="mt-4 text-center">Warning About this HSC Bangla First Paper Suggestion 2020</h2>
                            <p class="text-justify text-secondary"><b>
                              This hsc Bangla First Paper Suggestion 2020 is Designed by top class Bangla teschers around our country who are making hsc Bangla first paper questiones for 
                              you . So do not go to the star rating read all the questiones properly . We have given the Bangla First Paper Suggestion number by number . 
                              So that student can easily find the questions . 
                            </b></p><hr>
                            <img src="images/bangla_sug1.JPG" style="width: 100%;" alt="Bangla First Paper Suggestion"><br><br>
                            <h2 class="text-center text-white" style="background-color: green;">গদ্যাংশ</h2><br>
                            <h3 class="text-center">*** বায়ান্নর দিনগুলাে -- শেখ মুজিবুর রহমান _বিষয়বস্তু </h3>

                              <table class="table table-bordered">
                                <tr>
                                  <th class="text-center">বিষয়বস্তু</th> <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                                
                                </tr>
                                <tr>
                                  <td>১৯১৯ সালের ১৩ এপ্রিল জালিযানওয়ালাবাগের বদ্ধ উদ্দানে জেনারেল ডায়ারের নির্দেশে নিরস্ত্র জনগনের উপর গুলি করে ব্রিটিশ পুলিস </td>
                                  <td>
                                    <ul>
                                      <li>  বিটিশ শাসকের নির্যাতন এবং বায়ান্নর দিনগুলাে রচনার পাকিস্তানি শাসকদের নির্যাতনের তুলনা কর?</li><li> বায়ান্নর দিনগুলাে” রচনার মূল বক্তব্য আলােচনা করাে ? </li><li> বায়ান্নর দিনগুলাে' রচনার বঙ্গবন্ধু শেখ মুজিবুর রহমানের আত্মত্যাগের ছবিই প্রমূর্ত হয়ে উঠেছে আলােচনা করাে ?</li>
                                    </ul>
                                  </td></tr>
                              </table><br>
                              <h3 class="text-center">*** ফেব্রুয়ারি ১৯৬৯ – শামসুর রাহমান</h3>

                              <table class="table table-bordered ">
                                <tr>
                                  <th class="text-center">বিষয়বস্তু</th>
                                  <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                                </tr >
                               
                                
                                <tr>
                                  <td>সাবাস বাংলাদেশ । এই পৃথিবী অবাক তাকিয়ে রয় । জ্বলে
                                    পুরে মরে ছারখার তবুও মাথা নোয়াবার নয় । 
                                   </td>
                                  <td>
                                    <ul>
                                      <li>   উদ্দীপকের সাথে “ফেব্রুয়ারি ১৯৬৯' কবিতার কোন অংশের সাদৃশ্য রয়েছে? আলােচনা করাে। </li>
                                      <li>উদ্দীপকটি 'ফেব্রুয়ারি ১৯৬৯' কবিতার মর্মবাণীকে পুরােপুরি ধারণ করে না।" মন্তব্যটি নিজের ভাষায় ব্যাখ্যা করাে। </li>
                                       </ul>
                                  </td>
                                  
                                </tr>
                              </table><br>
                              <h3 class="text-center">*** বিড়াল - বঙ্কিমচন্দ্র চট্রোপাধ্যায়</h3>

                              <table class="table table-bordered ">
                                <tr>
                                  <th class="text-center">বিষয়বস্তু</th>
                                  <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                                </tr >
                                
                                
                                <tr>
                                  <td>সমাজের পােষক শ্রেণি ও বঞ্চিতের মর্মবেদনার স্বরূপ
                                    
                                   </td>
                                  <td>
                                    <ul> 
                                      <li>'বিড়াল' রচনার বিড়াল চরিত্রের সাদৃশ্য ও বৈসাদৃশ্য তুলে ধর। </li>
                                      <li> ‘বিড়াল' প্রবন্ধে বর্ণিত সকল শ্রেণি কর্তৃক দুর্বল শ্রেণির বঞ্চনার রূপটি ব্যাখ্যা করাে।</li>
                                      <li>  ‘বিড়াল' প্রবন্ধে বর্ণিত ক্ষমতাশীলদের নির্দয়তা ও বঞ্চিতদের মর্মবেদনার রূপটি বিশ্লেষণ করাে। </li>

                                       </ul>
                                  </td>
                                  
                                </tr>
                              </table><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- ict-ads-4 -->
                              <ins class="adsbygoogle"
                                  style="display:block"
                                  data-ad-client="ca-pub-9136564254270725"
                                  data-ad-slot="9659561509"
                                  data-ad-format="auto"
                                  data-full-width-responsive="true"></ins>
                              <script>
                                  (adsbygoogle = window.adsbygoogle || []).push({});
                              </script><br>
                              <h3 class="text-center">*** অপরিচিতা - রবীন্দ্রনাথ ঠাকুর</h3>

                              <table class="table table-bordered ">
                                <tr>
                                  <th class="text-center">বিষয়বস্তু</th>
                                  <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                                </tr >
                                <tr>
                                  <td>
                                    যৌতুকের কাছে মানবিকবােধের পরাজয় ও যৌতুকের বিরুদ্ধে অবস্থান।
                                   </td>
                                  <td>
                                    <ul> 
                                      <li>‘অপরিচিতা' গল্পে ৰণিত বরের পরিবারের হীন মানসিকতার বর্ণনা দাও</li>
                                      <li> ‘অপরিচিতা' গল্পের অনুপমের যৌতুকের বিরুদ্ধে নির্লিপ্ত অবস্থানটি ব্যাখ্যা করাে।</li>
                                      <li>'অপরিচিতা' গল্পটি যৌতুক বিরােধী অবস্থানের এক দলিল-বিশ্লেষণ করাে।</li>

                                       </ul>
                                  </td>
                                  
                                </tr>
                              </table><br>
                              <h3 class="text-center">চাষার দুক্ষু -- রােকেয়া সাখাওয়াত হােসেন</h3>

                              <table class="table table-bordered ">
                                <tr>
                                  <th class="text-center">বিষয়বস্তু</th>
                                  <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                                </tr >
                                <tr>
                                  <td>
                                    বিটিশ ভারতীয় সমাজ ব্যবস্থায় কষক পরিবারের অর্থনৈতিক দুর্দশার চিত্র
                                   </td>
                                  <td>
                                    <ul> 
                                      <li>চাষার দুক্ষু প্রবন্ধে বণিত চাষাবাদের দুর্দশাগ্রস্ত জীবনের স্বরূপ ব্যাখ্যা করাে।</li>
                                      <li> চাষার দুক্ষু প্রবন্ধ লেখিকা চাষাদের দুর্দশা লাঘবের যেসব উপায় বলেছেন তা আলােচনা করাে। </li>

                                       </ul>
                                  </td>
                                  
                                </tr>
                              </table><br>
                              <h3 class="text-center">*** আহ্বান -- বিভূতিভূষণ বন্দ্যোপাধ্যায়</h3>

                              <table class="table table-bordered ">
                                <tr>
                                  <th class="text-center">বিষয়বস্তু</th>
                                  <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                                </tr >
                                <tr>
                                  <td>
                                    সকল প্রতিবন্ধকতার উধ্বে বাৎসল্য ও মমতার নিবিড় সম্পর্কের স্বরূপ
                                   </td>
                                  <td>
                                    <ul> 
                                      <li>আহ্বান' গল্পে লেখককে ঘিরে বৃদ্ধার মাঝে যে অপত্যস্নেহের প্রকাশ ঘটেছে তা ব্যাখ্যা করাে। </li>
                                      <li>“আহ্বান' গল্পে শাশ্বত মাতৃত্ব ও মানসিক বােধের যে স্ফুরণ ঘটেছে তা বিশ্লেষণ করাে। </li>

                                       </ul>
                                  </td>
                                  
                                </tr>
                              </table><br>
                              <h3 class="text-center">*** আমার পথ – কাজী নজরুল ইসলাম</h3>

                              <table class="table table-bordered ">
                                <tr>
                                  <th class="text-center">বিষয়বস্তু</th>
                                  <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                                </tr >
                                <tr>
                                  <td>
                                    'নিজেকে জানাে’ এটি সক্রেটিস বলেছেন। কারণ নিজেকে জানলে সবই কিছুই জানা যায়।

                                   </td>
                                  <td>
                                    <ul> 
                                      <li>‘আমার পথ' প্রবন্ধে লেখক কোন দিকটি ব্যাখ্যা বা আলােচনা তুলে ধরেন তা লেখ।  </li>
                                      <li> ‘নিজেকে জানাে’ এই কথাটি আমার পথ' প্রবন্ধের মূল বিষয়বস্তুকে নির্দেশ করে কিনা তা নিজের ভাষায় তুলে ধর।  </li>

                                       </ul>
                                  </td>
                                  
                                </tr>
                              </table><br>
                              <h3 class="text-center">*** জীবন ও বৃক্ষ - মােতাহের হােসেন চৌধুরী</h3>

                              <table class="table table-bordered ">
                                <tr>
                                  <th class="text-center">বিষয়বস্তু</th>
                                  <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                                </tr >
                                <tr>
                                  <td>
                                    মানবজীবনের আদর্শ হিসাবে বৃক্ষকে উপস্থাপনের তাৎপর্য 

                                   </td>
                                  <td>
                                    <ul> 
                                      <li>'জীবন ও বৃক্ষ' প্রবন্ধে বৃক্ষকে মানবজীবনের আদর্শ হিসেবে গ্রহণ করার যে আহ্বান তা বর্ণনা করাে। </li>
                                      <li> 'জীবন ও বৃক্ষ' প্রবন্ধে জীবনে পরিপূর্ণতা লাভে আত্মবিশ্বাস ও আত্মত্যাগের যে মহিমা বর্ণিত হয়েছে তা বিশ্লেষণ করাে।</li>
                                    </ul>
                                  </td>
                                  
                                </tr>
                              </table><br>
                              <h3 class="text-center">মহাজাগতিক কিউরেটর - মুহম্মদ জাফর ইকবাল</h3>

                              <table class="table table-bordered ">
                                <tr>
                                  <th class="text-center">বিষয়বস্তু</th>
                                  <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                                </tr >
                                <tr>
                                  <td>মানুষ ও বিভিন্ন প্রাণীর বৈশিষ্ট্য বিশ্লেষণ </td>
                                  <td>
                                    <ul> 
                                      <li>‘মহাজাগতিক কিউরেটর’ গল্পে বর্ণিত মানুষের আত্মকেন্দ্রিক ও স্বার্থপর মানসিকতার দিকটি বর্ণনা </li>
                                      <li>'‘মহাজাগতিক কিউরেটর’ গল্পে বর্ণিত বিপদ মােকাবেলার ক্ষেত্রে পিপড়াদের একতাবদ্ধ হওয়ার দিকটি। বিশ্লেষণ করাে।</li>
                                    </ul>
                                  </td>     
                                </tr>
                              </table><br>
                             
                              <h3 class="text-center"> ** নেকলেস – গী দা মােপাসা</h3>

                              <table class="table table-bordered ">
                                <tr>
                                  <th class="text-center">বিষয়বস্তু</th>
                                  <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                                </tr >
                                <tr>
                                  <td> উচ্চাভিলাষী মানসিকতার স্বরূপ ও পরিণতি</td>
                                  <td>
                                    <ul> 
                                      <li> মাদাম তােহসেলের বিলাসী মনােভাবের পরিণাম ব্যাখ্যা করাে। </li>
                                      <li>মাদাম লাইসেলের বিলাসী মনােভাবের পরিণাম ব্যাখ্যা করাে</li>
                                      <li>‘নেকলেস' গল্পের মূলচেতনা বিশ্লেষণ করাে</li>
                                    </ul>
                                  </td>     
                                </tr>
                              </table><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <ins class="adsbygoogle"
                                  style="display:block; text-align:center;"
                                  data-ad-layout="in-article"
                                  data-ad-format="fluid"
                                  data-ad-client="ca-pub-9136564254270725"
                                  data-ad-slot="2687298352"></ins>
                              <script>
                                  (adsbygoogle = window.adsbygoogle || []).push({});
                              </script><br><br>

                              <h2 class="text-center text-white" style="background-color: green;">কবিতাংশ</h2>

                              <h3 class="text-center">*** বিভীষণের প্রতি মেঘনাদ — মাইকেল মধুসূদন দত্ত</h3>
                               <table class="table table-bordered ">
                                <tr>
                                  <th class="text-center">বিষয়বস্তু</th>
                                  <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                                </tr>
                                <tr>
                                  <td> বিভীষণ চরিত্রে প্রকাশিত বিশ্বাসঘাতকতা ও দেশদ্রোহিতার স্বরূপ</td>
                                  <td>
                                    <ul> 
                                      <li> “বিভীষণের প্রতি মেঘনাদ' কবিতায় বিভীষণের স্বজাতির বিশ্বাসঘাতকতা করার কারণটি বিশ্লেষণ করাে </li>
                                      <li>‘বিভীষণের প্রতি মেঘনাদ' কবিতায় বিভীষণের শত্রুপক্ষ সমর্থনের দিকটি তুলে ধরাে</li>
                                      <li>“বিভীষণের প্রতি মেঘনাদ' কবিতায় বিভীষণের বিশ্বাসঘাতকতা ও দেশদ্রোহিতার দিকটি তুলে ধরাে</li>
                                    </ul>
                                  </td>     
                                </tr>
                              </table><br><br>
                              <h3 class="text-center">*** ঐকতান –রবীন্দ্রনাথ ঠাকুর</h3>
                               <table class="table table-bordered ">
                                <tr>
                                  <th class="text-center">বিষয়বস্তু</th>
                                  <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                                </tr>
                                <tr>
                                  <td>  কবির মনের কৌতুহল আক্ষেপ অপূর্ণতা ও প্রত্যাশার স্বরূপ </td>
                                  <td>
                                    <ul> 
                                      <li> ‘ঐকতান' কবিতায় অদেখাকে না দেখার, অজানাকে না জানা নিয়ে কবির যে অনুভূতি তা ব্যাখ্যা করাে </li>
                                      <li>‘ঐকতান' কবিতায় অনাগত কবির প্রতি কবির যে প্রত্যাশা তার স্বরূপ বিশ্লেষণ করাে</li>
                                      
                                    </ul>
                                  </td>     
                                </tr>
                              </table><br>

                              <h3 class="text-center">*** এই পৃথিবীতে এক স্থান আছে – জীবনানন্দ দাশ </h3>
                              <table class="table table-bordered ">
                               <tr>
                                 <th class="text-center">বিষয়বস্তু</th>
                                 <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                               </tr>
                               <tr>
                                 <td>প্রকৃতি প্রেম দেশপ্রেমের সম্পর্ক ব্যাখ্যা করাে </td>
                                 <td>
                                   <ul> 
                                     <li> এই পৃথিবীতে এক স্থান আছে কবিতার প্রকৃতিপ্রেমের অন্তরালে থাকা দেশপ্রেমের স্বরূপ বিশ্লেষণ করাে </li> 
                                   </ul>
                                 </td>     
                               </tr>
                             </table><br>
                             <h3 class="text-center">** সাম্যবাদী – কাজী নজরম্নল ইসলাম</h3>
                             <table class="table table-bordered ">
                              <tr>
                                <th class="text-center">বিষয়বস্তু</th>
                                <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                              </tr>
                              <tr>
                                <td>সব লােকে কয় লালন কী জাত সংসারে? লালন কয়, জাতের কী  রূপ, দেখলাম না এ নজরে</td>
                                <td>
                                  <ul> 
                                    <li>  ‘মালা’ ও ‘তসবি’ ‘সাম্যবাদী’ কবিতার কোন বিষয়গুলাের কথা স্মরণ করিয়ে দেয়? আলােচনা কর। </li> 
                                    <li>“অসাম্প্রদায়িক চেতনার প্রেক্ষাপটে উদ্দীপক ও সাম্যবাদী’ কবিতা অভিন্ন” - মন্তব্যটির সার্থকতা বিচার। কর </li>
                                  </ul>
                                </td>     
                              </tr>
                            </table><br>
                            <h3 class="text-center">*** আঠারাে বছর বয়স-সুকান্ত ভট্টাচার্য</h3>
                             <table class="table table-bordered ">
                              <tr>
                                <th class="text-center">বিষয়বস্তু</th>
                                <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                              </tr>
                              <tr>
                                <td>তরুণদের শক্তি, সাহস ও উদ্দীপনা সম্পর্কে ধারণা</td>
                                <td>
                                  <ul> 
                                    <li>আঠারাে বছর বয়স' কবিতায় বর্ণিত তরুণদের বিভিন্ন ইতিবাচক বৈশিষ্ট্য তুলে ধরাে</li> 
                                    <li>‘আঠারাে বছর বয়স’ কবিতায় তরুণদের যে তারুণ্য শক্তির পরিচয় মেলে তা বিশ্লেষণ করাে </li>
                                  </ul>
                                </td>     
                              </tr>
                            </table> <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                 style="display:block; text-align:center;"
                                 data-ad-layout="in-article"
                                 data-ad-format="fluid"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="2458044125"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script><br>

                            <h3 class="text-center">আমি কিংবদন্তির কথা বলছি— আবু জাফর ওবায়দুল্লাহ</h3>
                             <table class="table table-bordered ">
                              <tr>
                                <th class="text-center">বিষয়বস্তু</th>
                                <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                              </tr>
                              <tr>
                                <td>ঐতিহাসচেতন শিকড়সন্ধানী কবির চোখে জাতিসত্তার অতীত ইতিহাস ও ঐতিহ্য</td>
                                <td>
                                  <ul> 
                                    <li> ‘আমি কিংবদন্তির কথা বলছি' কবিতার ঐতিহ্যসচেতন ও শেকড়সন্ধানী কবির যে চেতনা লক্ষণীয় তার স্বরূপ বিশ্লেষণ করাে। </li> 
                                    <li> ‘আমি কিংবদন্তির কথা বলছি' কবিতায় বাঙালির যে হাজার বছরের ইতিহাস বিধৃত হয়েছে তা আলােচনা করাে।</li>
                                  </ul>
                                </td>     
                              </tr>
                            </table><br>
                            <h3 class="text-center">*** নুরলদীনের কথা মনে পড়ে যায় – সৈয়দ শামসুল হক</h3>
                            <table class="table table-bordered ">
                             <tr>
                               <th class="text-center">বিষয়বস্তু</th>
                               <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                             </tr>
                             <tr>
                               <td>কষকদের তেভাগা আন্দোলনের নেতৃত্ব দেন নাচোলের রানি ইলা মিত্র</td>
                               <td>
                                 <ul> 
                                   <li>  নূরলদীনের কথা মনে পড়ে যায় কবিতার মূল ভাব তুলে ধর। </li> 
                                   <li> নূরলদীনের কথা মনে পড়ে যায় কবিতায় লেখক নুরলদীনের পুনরাবির্ভাব কামনা করেন, কেন ?</li>
                                 </ul>
                               </td>     
                             </tr>
                           </table><br><br>


                           <h2 class="text-center text-white" style="background-color: green;">সহপাঠ</h2>

                           <h3 class="text-center">***-লালসালু —সৈয়দ ওয়ালীউল্লাহ</h3>
                           <table class="table table-bordered ">
                            <tr>
                              <th class="text-center">বিষয়বস্তু</th>
                              <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                            </tr>
                            <tr>
                              <td>গ্রামীণ সমাজে অশিক্ষা, অজ্ঞতা ও অন্ধবিশ্বাসের স্বরূপ </td>
                              <td>
                                <ul> 
                                  <li>  লালসালু উপন্যাসে বর্ণিত মহব্বতনগর গ্রামের পশ্চাৎপদ গ্রামবাসীর পরিচয় তুলে ধরাে </li> 
                                  <li>  লালসালু' উপন্যাসে খালেক বেপারীর আমেনা বিবির অনুরােধে যা করেছিল বর্ণনা করাে।</li>
                                  <li>‘লালসালু' উপন্যাসে মজিদের আগমন গ্রামবাসীর জীবনাচরণে যে প্রভাব ফেলেছে তা বর্ণনা করাে।</li>
                                </ul>
                              </td>     
                            </tr>
                            <tr>
                              <td>মানুষের অজ্ঞতার সুযােগ নিয়ে ধর্মকে হাতিয়ার হিসেবে ব্যবহারের মানসিকতা </td>
                              <td>
                                <ul> 
                                  <li>  লালসালু উপন্যাসের মজিদের ধর্মব্যবসায়ী মানসিকতাটি ব্যাখ্যা করাে।</li> 
                                  <li>  লালসালু উপন্যাসের মজিদের আধিপত্যবাদী ও ভণ্ড মানসিকতার স্বরূপ বিশ্লেষণ করাে</li>
                                
                                </ul>
                              </td>     
                            </tr>
                            <tr>
                              <td>পুরুষতান্ত্রিক সমাজে নারীর প্রতি দৃষ্টিভঙ্গি ও অবমাননার স্বরূপ </td>
                              <td>
                                <ul> 
                                  <li>  লালসালু উপন্যাসে স্ত্রীদের প্রতি মজিদের যে আচরণ প্রকাশ পেয়েছে তা বর্ণনা করাে।</li> 
                                  <li> লালসালু' উপন্যাসে জমিলার জীবন বাস্তবতা বিশ্লেষণ করাে। </li>
                                
                                </ul>
                              </td>     
                            </tr>
                            <td>সমাজে শিক্ষিত ও প্রগতিশীল মানুষের ভূমিকা </td>
                            <td>
                              <ul> 
                                <li> ‘লালসালু’ উপন্যাসে বর্ণিত আক্কাসের প্রগতিশীল মানসিকতার দিকটি বর্ণনা করাে।</li> 
                              </ul>
                            </td>     
                          </tr>
                          </table><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                          <!-- suggestion-1 -->
                          <ins class="adsbygoogle"
                               style="display:block"
                               data-ad-client="ca-pub-9136564254270725"
                               data-ad-slot="3879509765"
                               data-ad-format="auto"
                               data-full-width-responsive="true"></ins>
                          <script>
                               (adsbygoogle = window.adsbygoogle || []).push({});
                          </script><br>
                          <h3 class="text-center">*** সিরাজউদ্দৌলা - সিকান্দার আবু জাফর</h3>
                          <table class="table table-bordered ">
                           <tr>
                             <th class="text-center">বিষয়বস্তু</th>
                             <th class="text-center">সকল বাের্ড পরীক্ষার গ ও ঘ নম্বর প্রশ্নসমূহ</th>
                           </tr>
                           <tr>
                             <td>বাংলার শেষ নবাবের পরাজয় ও করুণ পরিণতি সম্পর্কে ধারণা  </td>
                             <td>
                               <ul> 
                                 <li>  সিরাজউদ্দৌলা নাটকে পলাশীর যুদ্ধে বিশ্বাসঘাতকতার কারণে নবীবের পরাজয়ের দিকটি বিশ্লেষণ।  </li> 
                                 <li> সিরাজউদ্দৌলা' নাটকে নবাবের দেশকে রক্ষার সর্বোচ্চ প্রয়াসের দিকটি ব্যাখ্যা করাে।</li>
                                 <li>সিরাজউদ্দৌলা' নাটকের নবাব সিরাজের বিশ্বাসঘাতকতার শিকার হওয়ার দিকটি বর্ণনা করাে।</li>
                               </ul>
                             </td>     
                           </tr>
                           <tr>
                             <td>ইংরেজদের কূটকৌশল ও স্বার্থান্বেষী মনােভাবের পরিচয় </td>
                             <td>
                               <ul> 
                                 <li>  সিরাজউদ্দৌলা' নাটকে বর্ণিত ইস্ট ইন্ডিয়া কোম্পানির স্বার্থান্বেষী ও অর্থলােভী বৈশিষ্ট্য তুলে ধর</li> 
                                 <li> “সিরাজউদ্দৌলা' নাটকে বর্ণিত ইংরেজদের আধিপত্যবাদী ও দখলদারি মানসিকতা বিশ্লেষণ করাে</li>
                               
                               </ul>
                             </td>     
                           </tr>
                           <tr>
                             <td>বাংলার কতিপয় মানুষের ধূর্ততা ও মিথ্যাবাদীদের স্বরূপ </td>
                             <td>
                               <ul> 
                                 <li> সিরাজউদ্দৌলা' নাটকে বর্ণিত বিশ্বাসঘাতক সেনাপতি ও অমাত্যদের বর্ণনা দাও। </li> 
                                 <li> ‘সিরাজউদ্দৌলা' নাটকে বর্ণিত মিরজাফরের বিশ্বাসঘাতকতার স্বরূপ বিশ্লেষণ করাে। </li>
                                 <li>‘সিরাজউদ্দৌলা' নাটকে বর্ণিত বিশ্বাসঘাতকদের স্বার্থান্বেষী মানসিকতাটি বিশ্লেষণ করাে। </li>
                               
                               </ul>
                             </td>     
                           </tr>
                           <td>সিরাজদ্দৌলার দেশপ্রেম ও শাসনকার্য</td>
                           <td>
                             <ul> 
                               <li> ‘সিরাজউদ্দৌলা নাটকের নবাব সিরাজের শাসনকার্য পরিচালনার ক্ষেত্রে আসা প্রতিকূলতা ও তা প্রতিরােধের দিকটি বর্ণনা করাে।</li>
                               <li>সিরাজউদ্দৌলা নাটকের নবাব সিরাজউদ্দৌলার দেশপ্রেমের পরিচয় দাও।</li>
                             </ul>
                           </td>     
                         </tr>
                         </table>




                            
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">  

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>