<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC Math First Paper Suggestion For Final 2020 ( ১০০% কমন ) </title>

        
        <meta name="Description" content="HSC Math First Paper Suggestion for HSC student . This is the best HSC Math First Paper Suggestion in recent years
        . student got 100% common by following our hsc Math First Paper Suggestion  " />
       
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-math-suggestion-first-paper"/>

        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/hsc-final-suggestion-bar.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                            <marquee behavior="alternate"  bgcolor = "green" scrolldelay="100"><h1 class="text-white">HSC Math First Paper Suggestion</h1></marquee>
                            <h2 class="mt-4 text-center">Warning About HSC Math First Paper Suggestion 2020</h2>
                            <p class="text-justify text-secondary"><b>
                              This hsc Math First Paper Suggestion 2020 is Designed by top class Math teschers around our country who are making hsc Math First paper questiones for 
                              you . So do not go to the star rating read all the questiones properly . We have given the Math First Paper Suggestion Chapter by Chapter . 
                              So that student can easily find the questions . 
                            </b></p><hr>
                            <h4 class="text-center">Follow the SU Ahmed book 2018-2019</h4>
                            <img src="images/math_1st.JPG" style="width: 100%;" alt="Math first Paper Suggestion"><br><br>
                           
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১</h2><br>
                           

                            <h3 class="text-center">ম্যাট্রিক্স ও নির্ণায়ক</h3><hr>

                            <b>
                                <p>
                                    <ul>
                                   <li>	প্রশ্নমালা ১.১: * ১৪,** ১৫, ** ১৯, ***২২, **২৬</li>
                                   <li>প্রশ্নমালা ১.২: * ১৪, **১৫,**১৮, ২১,*** ২২, ২৫,* ২৮</li>
                                   <li>নির্ণায়কের মান নির্ণয় করাে।*****[Must]</li>
                                   <li> ম্যাট্রিক্স ও ম্যাট্রিক্সের প্রকারভেদ*****[Must]</li>

                                </ul>
                                </p>
                            </b>


                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- ict-ads-4 -->
                              <ins class="adsbygoogle"
                                  style="display:block"
                                  data-ad-client="ca-pub-9136564254270725"
                                  data-ad-slot="9659561509"
                                  data-ad-format="auto"
                                  data-full-width-responsive="true"></ins>
                              <script>
                                  (adsbygoogle = window.adsbygoogle || []).push({});
                              </script><br>
                             <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-2</h2><br>
                              <h3 class="text-center">ভেক্টর</h3><hr>
                             <b><p><ul>

                               <li>প্রশ্নমালা ২.১: *** ৪, ৫,** ৯, ***১১</li>
                               <li>প্রশ্নমালা ২.২: *** ৬, * ৭,** ৯ </li>
                               <li>** অবস্থান ভেক্টর </li>
                               <li>*** ফেলার বা ডট গুণজের ধর্মাবলি </li>
                               <li>*** স্কেলার বা ডট গুণজের ধর্মাবলি</li>
                               <li>	*** ভেক্টরের স্কেলার গুণন বা ডট গুণন </li>

                            </ul></p></b> <br>
                    
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৩ </h2><br>
                            <h3 class="text-center">সরলরেখা</h3><hr>
                            <b><p><ul>
                            <li> প্রশ্নমালা ৩.১: ** ১১, *** ১২</li>
                            <li>প্রশ্নমালা ৩.২: ** ৫, ** ৯</li>
                            <li>প্রশ্নমালা ৩.৩: ** ৭, ১০, *** ১৩</li>
                            <li>প্রশ্নমালা ৩.৪: **৭, ৮, *** ৯</li>
                            <li>প্রশ্নমালা ৩.৫: ** ১৫, *** ১৯</li>
                            <li>প্রশ্নমালা ৩.৬; ** ৫, **৮, *** ১০</li>
                            <li>প্রশ্নমালা ৩.৭: * ৭, *** ১০, *** ১৪, ** ১৬</li>
                            <li>*** ত্রিভুজের ক্ষেত্রফল </li>
                            <li>***সরলরেখার সমীকরণ</li>
                           
                            </ul></p></b><br>


                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৪ </h2><br>
                            <h3 class="text-center"> বৃত্ত</h3><hr>
                 
                            
                             <b><p><ul>

                               <li>প্রশ্নমালা ৪.১: **২, ৮, ***১২, ১৮,** ১৯ </li>
                               <li> প্রশ্নমালা ৪.২: **৫, ৯, ***১৩, ১৭,*** ২৪</li>
                               <li> ***নির্দিষ্ট কেন্দ্র ও ব্যাসার্ধবিশিষ্ট বৃত্তের সমীকরণ কে</li>
                               <li> *** স্পর্শকের সমীকরণ </li>
                               <li> ***দুইটি বৃত্তের সাধারণ জ্যা এর সমীকরণ নির্ণয় করাে।</li>
                              
                                
                            </ul></p></b>


                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- suggestion-1 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="3879509765"
                                 data-ad-format="auto"
                                 data-full-width-responsive="true"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                              
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৫  </h2><br>
                            <h3 class="text-center">বিন্যাস ও সমাবেশ</h3><hr>
  

                            <b><p><ul>

                               <li> প্রশ্নমালা ৫.১: *** ১১, **১৮, *** ২৩ </li>
                               <li>প্রশ্নমালা ৫.২: **১২, ***১৫, **২১ </li>
                               <li>***বিন্যাস সংক্রান্ত কয়েকটি উপপাদ্য </li>
                               <li>*** শতাধীন সমাবেশ</li>
                               
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৬ </h2><br>
                            <h3 class="text-center">ত্রিকোণমিতিক অনুপাত</h3><hr>
                     

                            <b><p><ul>

                               <li> প্রশ্নমালা ৬.১: ** ১২, **১৪,** ১৫  </li>
                               <li>প্রশ্নমালা ৬.২: **৩, ৯, *** ১৪  </li>
                               <li> ***বৃত্তচাপের দৈর্ঘ্য ও বৃত্তকলার ক্ষেত্রফল </li>
                               <li>***ত্রিকোণমিতিক কোণের অনুপাতসমূহের মধ্যে সম্পর্ক</li>
                               <li>***ত্রিকোণমিতিক ফাংশনের লেখচিত্র</li>
                               
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৭ </h2><br>
                            <h3 class="text-center"> সংযুক্ত কোণের ত্রিকোণমিতিক অনুপাত</h3><hr>
                         
                           
                            <b><p><ul>

                               <li>প্রশ্নমালা ৭.১ : ** ৬, ** *৮, **১২</li>
                               <li>প্রশ্নমালা ৭.২: **১৫, ***২২, ***২৭,** ৩০</li>
                               <li>প্রশ্নমালা ৭.৩ : **১৪, ** ১৫, *** ১৮, **১৯</li>
                               <li>	প্রশ্নমালা ৭.৪ : *** ৩, ***১০, ১৩, **১৮ </li>
                               <li>প্রশ্নমালা ৭.৫ : * *৮, ***১০, **১২</li>
                               <li>প্রশ্নমালা ৭.৬ : %*৭, **১০, ***১৬, ***১৭</li>
                               <li>প্রশ্নমালা ৭.৭ : **১০, ***২২, *** ২৩</li>
                               <li>*** যৌগিক কোণের ত্রিকোণমিতিক অনুপাত</li>
                               <li>*** ত্রিভুজের কোসাইন সূত্র কি </li>
                               
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৮  </h2><br>
                            <h3 class="text-center">ফাংশন ও ফাংশনের লেখচিত্র</h3><hr>
                           

                            <b><p><ul>

                               <li>প্রশ্নমালা ৮.১ : *** ৩, **১১. ***১৩, ** ১৭, *** ২৬,২৮, *** ৩০, ** ৩৮, *** ৪০</li>
                               <li>*** অন্বয় ও ফাংশন</li>
                               <li> ***বৃত্তচাপের দৈর্ঘ্য ও বৃত্তকলার ক্ষেত্রফল </li>
                               <li>*** ফাংশনের ডােমেন ও রেঞ্জ </li>
                               <li>** ফাংশনের প্রকারভেদ</li>
                               
                            </ul></p></b>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Suggestion 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="1333237471"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৯   </h2><br>
                            <h3 class="text-center">  অন্তরীকরণ</h3><hr>
                           
                           
                            

                            <b><p><ul>

                               <li>প্রশমালা ৯.১: ** ১৭,*** ১৮, *** ২২, ৩২, ***৩৬</li>
                               <li>প্রশ্নমালা ৯.২: *** ৩, **৫</li>
                               <li>	প্রশ্নমালা ৯.৩; ***১৪,** ১৮,** ২৭, *** ২৮ ***৩৩</li>
                               <li>প্রশ্নমালা ৯,৪ : ***৬,**৯, ***২৪, **২৮, *১২ ,**৪২, ৪৮, **৫৩  </li>
                               <li>প্রশ্নমালা ৯.৫ : ***১২, ***১৪</li>
                               <li>প্রশ্নমালা ৯.৬ : **১৩, ***২২, **৩৩</li>
                               <li>প্রশ্নমালা ৯.৭ : **১৩, ***১৪ </li>
                               <li>প্রশ্নমালা ৯.৮ : ***৮, ***১৮ </li>
                               <li>প্রশ্নমালা ৯.৯ : **৫,*** ৬, **১৪ </li>
                               <li>*** লিমিট</li>
                               <li>** ত্রিকোণমিতিক ফাংশন, সূচক ফাংশন এবং লগারিদমিক ফাংশনের অন্তরীকরণ </li>
                               <li>*** ফাংশনের সর্বোচ্চ ও সর্বনিম্ন মান</li>
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১০  </h2><br>
                            <h3 class="text-center">যােগজীকরণ</h3><hr>
                            <b><p><ul>

                               <li> প্রশ্নমালা ১০.১: *** ৩, **৫ </li>
                               <li>প্রশ্নমালা ১০.২: **৩, **৪, ***৮ </li>
                               <li>প্রশ্নমালা ১০.৩: ***৩, **৪</li>
                               <li>প্রশ্নমালা ১০.৪ : **২, **৭</li>
                               <li>প্রশ্নমালা ১০.৫ : ***২, **৩</li>
                               <li>প্রশ্নমালা ১০.৬ : ***৪. **৭ **১৮ </li>
                               <li>প্রশ্নমালা ১০.৭ : **৫, **৬, **১৫ **১৬</li>
                               <li>*** নির্দিষ্ট যােগজ </li>
                               <li>	*** অনির্দিষ্ট যােগজ </li>
                               <li>*** নির্দিষ্ট মােগজ ব্যবহার করে ক্ষেত্রফল </li>

                               
                            </ul></p></b>
 
                         
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">  

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>