<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC Math Second Paper Suggestion For Final 2020 ( ১০০% কমন ) </title>

        
        <meta name="Description" content="HSC Math Second Paper Suggestion for HSC student . This is the best HSC Math Second Paper Suggestion in recent years
        . student got 100% common by following our hsc Math Second Paper Suggestion  " />
       
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-math-suggestion-second-paper"/>

        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
          <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/hsc-final-suggestion-bar.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                            <marquee behavior="alternate"  bgcolor = "green" scrolldelay="100"><h1 class="text-white">HSC Math Second Paper Suggestion</h1></marquee>
                            <h2 class="mt-4 text-center">Warning About HSC Math Second Paper Suggestion 2020</h2>
                            <p class="text-justify text-secondary"><b>
                              This hsc Math Second Paper Suggestion 2020 is Designed by top class Math teschers around our country who are making hsc Math Second paper questiones for 
                              you . So do not go to the star rating read all the questiones properly . We have given the Math Second Paper Suggestion Chapter by Chapter . 
                              So that student can easily find the questions . 
                            </b></p><hr>
                            <h4 class="text-center">Follow the SU Ahmed book 2018-2019</h4>
                            <img src="images/math_2nd.JPG" style="width: 100%;" alt="Math Second Paper Suggestion"><br><br>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১</h2><br>

                            <h3 class="text-center">বাস্তব সংখ্যা ও অসমতা</h3><hr>
                          
                            <b>
                                <p>
                                    <ul>
                                   <li>	প্রশ্নমালা ১.১ : *** ২, **১৬, ***২০, **২৪, ** ৩২</li>
                                   <li>প্রশ্নমালা ১.২: **২, **৬, ***১০</li>
                                   <li> ***বাস্তব সংখ্যা ও বাস্তব সংখ্যার উপসেট </li>
                                   <li>  *** পরমমান</li>
                                   <li>  ** পরমমান সম্বলিত অসমতা</li>

                                </ul>
                                </p>
                            </b>


                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- ict-ads-4 -->
                              <ins class="adsbygoogle"
                                  style="display:block"
                                  data-ad-client="ca-pub-9136564254270725"
                                  data-ad-slot="9659561509"
                                  data-ad-format="auto"
                                  data-full-width-responsive="true"></ins>
                              <script>
                                  (adsbygoogle = window.adsbygoogle || []).push({});
                              </script><br>
                             <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-2</h2><br>
                              <h3 class="text-center">যােগাশ্রয়ী প্রােগ্রাম</h3><hr>
        
                             <b><p><ul>

                               <li>প্রশ্নমালা ২.১: ***৬, **৭, **১৯, **২০, ***২২ </li>
                               <li>*** যােগাশ্রয়ী প্রােগ্রাম গঠন  </li>
                               <li>*** লৈখিক পদ্ধতিতে যােগাশ্রয়ী প্রােগ্রাম বিষয়ক সমস্যার সমাধান</li>
                               

                            </ul></p></b> <br>
                    
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৩ </h2><br>
                            <h3 class="text-center">জটিল সংখ্যা </h3><hr>
      
                            <b><p><ul>
                            <li> প্রশ্নমালা ৩.১: ***৩, ***১৪, **১৭, ***২৩</li>
                            <li>*** জটিল সংখ্যা ও এর জ্যামিতিক প্রতিরূপ</li>
                            <li>***জটিল সংখ্যার যােগ, বিয়ােগ, ভাগ ও গুণের জ্যামিতিক প্রতিরূপ</li>
                            <li>** জটিল সংখ্যার বর্গমূল এবং এককের ঘনমূল </li>
                            
                           
                            </ul></p></b><br>


                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৪ </h2><br>
                            <h3 class="text-center"> বহুপদী ও বহুপদী সমীকরণ </h3><hr>
                         
                             <b><p><ul>

                               <li>পপ্রশ্নমালা ৪.১ : *** ১১, **১৫, ***৩৮, * *৪৮, * ৫২</li>
                               <li> ***দ্বিঘাত সমীকরণের মূল-সহগ সম্পর্ক </li>
                               <li> ** দ্বিঘাত সমীকরণের মূলের প্রকৃতি নির্ণয় </li>
                               <li>*** দ্বিঘাত সমীকরণ গঠন </li>
                             
                            </ul></p></b>


                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- suggestion-1 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="3879509765"
                                 data-ad-format="auto"
                                 data-full-width-responsive="true"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                              
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৫  </h2><br>
                            <h3 class="text-center">দ্বিপদী বিস্ততি</h3><hr>
                            <b><p><ul>

                               <li> প্রশ্নমালা ৫.১ : ***৫, **৭, ***১২, *#১৪, ***২৭, ** 29</li>
                               <li>প্রশ্নমালা ৫.২ : ***৫, **৮, *১৩, ***২৭</li>
                               <li>***দ্বিপদী উপপাদ্য</li>
                               <li>**দ্বিপদী বিস্তৃতির সাধারণ পদ, মধ্যপদ ও সমদূরবর্তী পদ</li>
                               <li>*** আংশিক ভগ্নাংশে প্রকাশের মাধ্যমে দ্বিপদী বিস্ততি</li>
                               
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৬ </h2><br>
                            <h3 class="text-center">কণিক </h3><hr>
                       

                            <b><p><ul>

                               <li> প্রশ্নমালা ৬.১: *** ১, **৬, **৭, **১১ </li>
                               <li>প্রশ্নমালা ৬.২ :  ২ : **২, ***৪, **#৯, ***১৩, *১৪  </li>
                               <li> প্রশ্নমালা ৬.৩ : **৪</li>
                               <li>	*** মুলবিন্দুগামী পরাবৃত্তের সমীকরণ </li>
                               <li>*** উপবৃত্তেরপ্রমিত সমীকরণ</li>
                               <li>	***উৎকেন্দ্রিকতা নির্ণয় </li>
                               
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৭ </h2><br>
                            <h3 class="text-center">  বিপরীত ত্রিকোণমিতিক ফাংশন ও ত্রিকোণমিতিক সমীকরণ </h3><hr>
                         
                           
                            <b><p><ul>

                               <li>	প্রশ্নমালা ৭.১ : ***৬, **১০, ***১৬, **২০।</li>
                               <li>	প্রশ্নমালা ৭.২ : ** ৫, **৭, **৮, **১০, **১৪, ১৫, . ** ১৮, **২৮, ***৩৬, **৩৮</li>
                               <li>*** বিপরীত ত্রিকোণমিতিক ফাংশন ও মুখ্যমান </li>
                               <li>** ত্রিকোণমিতিক সমীকরণের সাধারণ সমাধান</li>
                               <li>*** নির্দিষ্ট ব্যবধিতে ত্রিকোণমিতিক সমীকরণের সমাধান </li>
                               
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৮  </h2><br>
                            <h3 class="text-center"> স্থিতিবিদ্যা </h3><hr>
                           
                            <b><p><ul>

                               <li>পপ্রশ্নমালা ৮.১; **৪, ** *৬, ** *৮, ** ১৩ </li>
                               <li>প্রশ্নমালা ৮.২ : * * * ৭,** ৮, * * ১৪</li>
                               <li> প্রশ্নমালা ৮.৩; * * ২, **৪, * *৭, ** *১১, ** ১৩</li>
                               <li>** সাম্যাবস্থার লামির উপপাদ্য </li>
                               <li> *** লেখের সাহায্যে একাধিক বলে লাজ</li>
                               
                            </ul></p></b>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Suggestion 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="1333237471"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৯   </h2><br>
                            <h3 class="text-center"> সমতলে বস্তুকণার গতি </h3><hr>
                           
                           


                            <b><p><ul>

                               <li>প্রশ্নমালা ৯.১: *** ২, ৫, *** ৮, **১১ </li>
                               <li>	প্রশ্নমালা ৯.২: ৪৫, ৪৮ </li>
                               <li>	প্রশ্নমালা ১.৩ : ***৫, ৭, ১৪, ১৬, ১৯,২১</li>
                               <li>	প্রশ্নমালা ৯.৪: ৪, ৭, ৯, ১২, *১৪ </li>                              
                               <li>	প্রশ্নমালা ৯.৫: ** ৯, ১৩, *২*১৮</li>
                               <li>*** গতি সংক্রান্ত রাশির সণ, বেণ ও তুরণ </li>
                               <li>** সরলরেখায় সমতুরণে চলমান বস্তুকণার গতিসূত্ৰসমূহ</li>
                               <li>*** প্রক্ষেপক</li>
                               
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১০  </h2><br>
                            <h3 class="text-center">বিস্তার পরিমাপ ও সম্ভাবনা </h3><hr>

                            <b><p><ul>

                               <li> প্রশ্নমালা ১০.১: *৫, ২৬, ** </li>
                               <li>প্রশ্নমালা ১০.২ : *৭, ৮, ৯*১১, ২৩, ৯*৩১ </li>
                               <li>** সম্ভাবনার ধারণা</li>
                               <li>***বাস্তব জীবনভিত্তিক সমস্যার সমাধান </li>
                               <li>****বিভিন্ন ঘটনার সম্ভাবনা নির্ণয় কর </li>

                               
                            </ul></p></b>
 
                         
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">  

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>