<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC Chemistry First Paper Suggestion For Final 2020 ( ১০০% কমন ) </title>

        
        <meta name="Description" content="HSC Chemistry First Paper Suggestion for HSC student . This is the best HSC Chemistry First Paper Suggestion in recent years
        . student got 100% common by following our hsc Chemistry First Paper Suggestion  " />
       
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US"/>
        <meta property="og:type" content="website"/>
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-chemistry-suggestion-first-paper"/>

        <%- include('../../includes/boostrap-head.ejs') %>
        
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/hsc-final-suggestion-bar.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                            <marquee behavior="alternate"  bgcolor = "green" scrolldelay="100"><h1 class="text-white">HSC Chemistry First Paper Suggestion</h1></marquee>
                            <h2 class="mt-4 text-center">Warning About HSC Chemistry First Paper Suggestion 2020</h2>
                            <p class="text-justify text-secondary"><b>
                              This hsc Chemistry First Paper Suggestion 2020 is Designed by top class Chemistry teschers around our country who are making hsc Chemistry first paper questiones for 
                              you . So do not go to the star rating read all the questiones properly . We have given the Chemistry First Paper Suggestion Chapter by Chapter . 
                              So that student can easily find the questions . 
                            </b></p><hr>
                            <img src="images/che_1st.JPG" style="width: 100%;" alt="Chemistry First Paper Suggestion"><br><br>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১</h2><br>

                            <b>
                                <p>
                                    <ul>
                                    <li>বিভিন্ন কাচযন্ত্রের মধ্যে কোনগুলাে মাত্রিক বিশ্লেষণ অপরিহার্য-বিশ্লেষণ করাে।****</li>
                                    <li>আয়তনিক বিশ্লেষণে ব্যবহৃত হয় এমন যন্ত্রপাতির ব্যবহারের কৌশল বর্ণনা করাে।*****</li>
                                    <li>নিদিষ্ট ঘনমাত্রা ও আয়তনের এসিড/ক্ষার দ্রবণের পরিমাণ গণনা করাে।**** </li>
                                    <li>রাসায়নিক দ্রব্য Na এর নিরাপদ সংরক্ষণ ব্যাখ্যা কর।*** </li>
                                    <li>বিভিন্ন ক্ষয়কারী পদার্থ (H<sub>2</sub>SO<sub>4</sub>, HNO<sub>3</sub>, NaOH) এর নিরাপদ সংরক্ষণ কৌশল বর্ণনা করাে।***** </li>
                                    <li>বিভিন্ন রাসায়নিক পদার্থের পরিত্যাগ কৌশল বর্ণনা করাে।***** </li>
                                    <li>বিভিন্ন হ্যাজার্ড প্রতীক যুক্ত রাসায়নিক দ্রব্যের মধ্যে ঝুকির তুলনামূলক মাত্রা বিশ্লেষণ করাে। *****</li>
                                    <li>স্বাস্থ্য ও পরিবেশের উপর বিভিন্ন ক্ষয়কারী পদার্থ (H<sub>2</sub>SO<sub>4</sub>, HNO<sub>3</sub>, NaOH) ইত্যাদি এর ক্ষাত বিশ্লেষণ করাে। *****</li>
                                    <li>বিভিন রাসায়নিক পদার্থের অপরিমিত ব্যবহার মানব স্বাস্থ্য এবং পরিবেশের জন্য হুমকি *****</li>
                                </ul>
                                </p>
                            </b>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- ict-ads-4 -->
                              <ins class="adsbygoogle"
                                  style="display:block"
                                  data-ad-client="ca-pub-9136564254270725"
                                  data-ad-slot="9659561509"
                                  data-ad-format="auto"
                                  data-full-width-responsive="true"></ins>
                              <script>
                                  (adsbygoogle = window.adsbygoogle || []).push({});
                              </script><br>
                             <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-2</h2><br>

                             <b><p><ul>

                                <li>বাের ও রাদারফোর্ড পরমাণু মডেলদ্বয়ের তুলনা করাে।*****</li>
                                <li>কোনাে পরমাণুর একটি ইলেকট্রন স্থানান্তরে শােষিত শক্তির পরিমাণ নির্ণয় করাে।****</li>
                                <li>কোনাে পরমাণুর একটি ইলেকট্রন স্থানান্তরের সময় নির্গত শক্তি নির্ণয় করে এর তরঙ্গ দৈর্ঘ্য/কম্পাক্ক নির্ণয় করাে।****</li>
                                <li>কোনাে পরমাণুর উচ্চ শক্তিস্তর থেকে নিম্ন শক্তিস্তরে একটি ইলেকট্রন স্থানান্তরিত হলে নির্গত রশ্মির বর্ন কিরুপ হবে গাণিতিকভাবে বিশ্লেষণ করাে।****</li>
                                <li>পরমাণুর এক শক্তিস্তর থেকে অন্য শক্তিস্তরে ইলেকট্রন স্থানান্তরের ফলে সৃষ্ট তরঙ্গ তড়িৎ চুম্বকিয় বিকিরনের কোন অঞ্চলে পাওয়া যায় তা গাণিতিকভাবে মূল্যায়ন করাে ****</li>
                                <li>একটি নির্দিষ্ট কক্ষপথের <i>l</i> ও m এর মান হিসাব করে অরবিটাল/ইলেকট্রন সংখ্যা নির্ণয় করাে। *****</li>
                                <li>কোনাে একটি পরমাণুর সর্ববহিঃস্থ শক্তিস্তরে সর্বোচ্চ কয়টি ইলেকট্রন থাকতে পারে তা কোয়ান্টাম সংখ্যার সাহায্যে হিসাব করো । ****</li>
                                <li>কোনাে মৌলের সর্বশেষ ইলেকট্রনটির চারটি কোয়ান্টাম সংখ্যার মান নির্ণয় করাে।*** </li>
                                <li>Al<sup>3+</sup> আয়নের সনাক্তকরণ পরীক্ষা সমীকরণসহ লেখাে।*****</li>
                                <li>নির্দিষ্ট ঘনমাত্রার কোনাে দ্রবণের দ্রাব্যতা গুণফল নির্ণয় করাে।****</li>
                                <li>নির্দিষ্ট ঘনমাত্রার দুটি দ্রবণকে মিশ্রিত করলে অধঃক্ষেপ পড়বে কিনা-কারণসহ বিশ্লেষ ।****</li>
                                <li>দ্রাব্যতা গুণফল দেওয়া থাকলে কোন একটি দ্রবণে দ্রবের দ্রাব্যতা নির্ণয় করাে।****</li>
                                <li>বিভিন্ন তাপমাত্রায় প্রদত্ত দ্রাব্যতার একটি দ্রবণকে নিম্ন তাপমাত্রায় নিয়ে গেলে কী পরিমাণ দ্রব্য কেলসিত হবে ?*****</li>
                            </ul></p></b> <br>

                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৩ </h2><br>
           
                             <b><p><ul>

                                <li>অক্সিজেনের হাইসাইড তরল হলেও সালফারের হাইড্রাইড গ্যাসীয় কেন? ব্যাখ্যা কর ।****</li>
                                <li>Fe<sub>2</sub> ও Cu শিখা পরীক্ষায় সাড়া দেয় ও রঙিন যৌগ গঠন করে’ - বিশ্লেষণ করাে****</li>
                                <li> অবস্থান্তর মৌলসমূহ রঙিন যৌগ গঠন করে-কারণসহ ব্যাখ্যা করাে****</li>
                                <li>NaCl, NaBr যৌগদ্বয়ের মধ্যে কোনটি অধিক আয়নিক? বিশ্লেষণ করাে।**** </li>
                                <li>Cl এর সাথে পৃথকভাবে Na Mg ও Si এর যৌগগুলাের প্রকৃতি বিশ্লেষণ করাে।***</li>
                                <li>একই পর্যায়ে মৌলসমূহের আয়নিকরণ শক্তির মানের ধারাবাহিকতার ক্ষেত্রে ব্যতিক্রমসমূহ বিশ্লেষণ করো ।*** </li>
                                <li>এই গ্রুপে মৌলসমূহের ইলেক্ট্রন আসক্তির ক্রম ব্যাখ্যা করাে।***** </li>
                                <li>বিভিন্ন মৌলের গ্রুপভিত্তিক ও পর্যায়ভিত্তিক আয়নীকরণ শক্তি পরিবর্তন ব্যাখ্যা করাে।**** </li>
                                <li>কার্বন, অক্সিজেন ও নাইট্রোজেন একই সংকরণ প্রদর্শন করলেও তাদের হাইড্রাইডের আকৃতি ভিন্ন ব্যাখ্যা করো ।***** </li>
                                <li>CH<sub>4</sub>, এর কেন্দ্রীয় পরমাণুর সংকরণ ব্যাখ্যা করাে।  NH<sub>3</sub> অণুর বন্ধন গঠন প্রক্রিয়া বর্ণনা করাে।***** </li>
                                <li> [Cu( NH<sub>3</sub>)<sub>3</sub>]<sup>2+</sup> ও [Zn( NH<sub>3</sub>)<sub>3</sub>]<sup>2+</sup> জটিল আয়ন তৈরির প্রক্রিয়া ব্যাখ্যা করাে।*****</li>
                                <li>কার্বন, নাইট্রোজেন ও অক্সিজেনের সাথে হাইড্রোজেনের/হ্যালােজেনের গঠিত যৌগের বন্ধন কোনে ভিন্নতা রয়েছে কি না বিশ্লেষণ করো ।***** </li>
                            
                            </ul></p></b><br>

                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৪ </h2><br>
           
                             <b><p><ul>

                                <li>লা-শাতলিয়ার নীতি প্রয়ােগ করে শিল্পক্ষেত্রে অ্যামােনিয়ার সর্বোচ্চ উৎপাদনের শর্তসূমহ বিশ্লেষণ কর ।***** </li>
                                <li>তাপহারী / তাপ উৎপাদী বিক্রিয়ায় তাপ/চাপ/প্রভাবক/ঘনমাত্রা ইত্যাদির পরিবর্তনের প্রভাব আলােচনা কর ।***** </li>
                                <li>প্রদত্ত রাসায়নিক বিক্রিয়া থেকে K<sub>p</sub> ও K<sub>c</sub> এর মান বা রাশিমালা নির্ণয় করাে।*****</li>
                                <li>নির্দিষ্ট ঘনমাত্রার কোনাে একটি দ্রবণের pH গণনা করাে। ****</li>
                                <li>কোনাে একটি অজৈব এসিডের নির্দিষ্ট ঘনমাত্রার দ্রবণের pOH নির্ণয় করাে।****</li>
                                <li>বাফার দ্রবণে সামান্য পরিমাণ তীব্র এসিড বা ক্ষার যােগ করলে দ্রবণের pH এর মানের পরিবর্তন হবে কি না বিশ্লেষণ করাে।****</li>
                                <li>হেন্ডারসহ-হ্যাসেলবাখ সমীকরণের সাহায্যে কোনাে মিশ্রণের pH গণনা করাে।****</li>
                                <li>সবল ক্ষারের সাথে সবল এসিড ও দুর্বল এসিড এর প্রশমন তাপের ভিন্নতার কারণ ব্যাখ্যা করো।****</li>
                                <li>দুর্বল এসিডের বিয়ােজন এনথালপি নির্ণয় করাে।****</li>
                                <li>দুর্বল এসিড ও সবল ক্ষারের মিশ্রণে প্রশমন তাপ স্থির থাকবে কি? - ব্যাখ্যা করাে। ***</li>
                                <li>প্রদত্ত ডাটা থেকে কোন একটি যৌগের ডেলটা(H)/গঠন তাপ এর মান হিসাব করাে। ****</li>
                                <li>একাধিক জালানির মধ্যে কোনটি উৎকৃষ্ট দতন তাপ নির্ণয়ের মাধ্যমে ব্যাখ্যা করো।****</li>
                                
                            </ul></p></b>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- suggestion-1 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="3879509765"
                                 data-ad-format="auto"
                                 data-full-width-responsive="true"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                              
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৫  </h2><br>
           
                            <b><p><ul>

                                <li>আমের সংরক্ষণ পদ্ধতি ব্যাখ্যা কর ।****</li> 
                                <li>ক্যানিং ও ব্লাঞ্চিংয়ের গুরুত্ব আলােচনা করাে।***</li> 
                                <li>ভিনেগার প্রস্তুতি ব্যাখ্যা করাে।***</li> 
                                <li>ভিনেগারের খাদ্য সংরক্ষণের কৌশল ব্যাখ্যা করাে। ***</li>  
                                <li>প্রাকৃতিক প্রিজারভেটিভ ও কৃত্রিম প্রিজারভেটিভ দ্বারা সংরক্ষিত খাদ্যের মধ্যে কোনটি স্বাস্থ্যের জন্য অধিক নিরাপদ ব্যাখ্যা কর *****</li> 
                                <li>খাদ্য কৌটাজাত করণে NaCl এর ভূমিকা ব্যাখ্যা করাে। *****</li> 
                                <li>ফলমুল ও শাকসবজির কোটাজাতকরণ প্রক্রিয়া বর্ণনা করাে *****</li> 
                                <li>দুধ থেকে মাখন ও ঘি প্রস্তুতপ্রণালী বর্ণনা করাে। *****</li>  
                                <li>গ্লাস ক্লিনার তৈরিতে NH<sub>3</sub>  ও NaOH দ্রবণের মধ্যে কোনটি অধিকতর উপযােগী-ব্যাখ্যা কর *****</li> 
                                <li>কস্টিক সােডা বা টয়লেট ক্লিনারের পরিষ্কারকরণের কৌশল ব্যাখ্যা করাে। *****</li> 
                                <li>ক্ষার ধাতুর ক্ষারককে গ্লাস ক্লিনার হিসেবে ব্যবহার করা যায় না কিন্তু টয়লেট ক্লিনার হিসেবে ব্যবহার করা যায় ব্যাখ্যা করাে। ******</li> 
                                <li>গ্লাস ক্লিনারের পরিষ্কারকরণ কৌশল ব্যাখ্যা করাে। *****</li>
                                <li>সুক্রোজ থেকে জৈব এসিড প্রস্তুতি সমীকরণসহ বর্ণনা করাে। *****</li>
                                <li>খাদ্য সংরক্ষণের ভিনেগার ও এন্টি অক্সিডেন্টের (BHT ও BHA) ভূমিকা তুলনা করাে। *****</li>
                           
                            </ul></p></b>
                         
                             
                              

                          

                         
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">  

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>