<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC Biology Second Paper Suggestion For Final 2020 ( ১০০% কমন ) </title>

        
        <meta name="Description" content="HSC Biology Second Paper Suggestion for HSC student . This is the best HSC Biology Second Paper Suggestion in recent years
        . student got 100% common by following our hsc Biology Second Paper Suggestion  " />
       
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-biology-suggestion-second-paper"/>

        
        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/hsc-final-suggestion-bar.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                            <marquee behavior="alternate"  bgcolor = "green" scrolldelay="100"><h1 class="text-white">HSC Biology Second Paper Suggestion</h1></marquee>
                            <h2 class="mt-4 text-center">Warning About HSC Biology Second Paper Suggestion 2020</h2>
                            <p class="text-justify text-secondary"><b>
                              This hsc Biology Second Paper Suggestion 2020 is Designed by top class Biology teschers around our country who are making hsc Biology Second paper questiones for 
                              you . So do not go to the star rating read all the questiones properly . We have given the Biology Second Paper Suggestion Chapter by Chapter . 
                              So that student can easily find the questions . 
                            </b></p><hr>
                            <img src="images/bio_2nd.JPG" style="width: 100%;" alt="Biology Second Paper Suggestion"><br><br>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১</h2><br>
                          
                            
                            <b>
                                <p>
                                    <ul>
                                   <li>সিলােমের বিভিন্নতার ভিত্তিতে রুই মাছ, গােলকৃমি ও ফিতাকৃমি প্রাণিদের কারণসহ গােষ্ঠীভক্ত করে।****</li>
                                   <li>মলাস্কা পর্বের বৈশিষ্ট্য উল্লেখ করাে****RB[no]</li>
                                   <li>নটোকর্ডের ভূমিকা ব্যাখ্যা করাে।****SB[No]</li>
                                   <li> Urochordata ও Vertebrata পর্বদ্বয়ের তুলনামূলক আলােচনা করাে।****RB[no]</li>
                                   <li>Urochordata উপপর্বের বৈশিষ্ট্য লিখ।*****</li>
                                  
                                 
                                </ul>
                                </p>
                            </b>


                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- ict-ads-4 -->
                              <ins class="adsbygoogle"
                                  style="display:block"
                                  data-ad-client="ca-pub-9136564254270725"
                                  data-ad-slot="9659561509"
                                  data-ad-format="auto"
                                  data-full-width-responsive="true"></ins>
                              <script>
                                  (adsbygoogle = window.adsbygoogle || []).push({});
                              </script><br>
                             <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-2</h2><br>
                        
                             <b><p><ul>

                               <li>Hydra কিভাবে আত্নরক্ষা করে বর্ণনা করাে।****CB[No]</li>
                               <li>Hydra এর শিকার ধরার কাছে জড়িত কোষের গঠন বর্ণনা করাে।****</li>
                               <li>Hydra এর শিকার ধরার কাজে জড়িত কোষসমূহের মধ্যে শ্রমবণ্টন পরিলক্ষিত হয়- বিশ্লেষণ করাে।****</li>
                               <li>Hydra -র লুপিং চলন সচিত্র- ব্যাখ্যা করাে।****RB,SB[No] </li>
                               <li>Hydra এর ডিগবাজী প্রক্রিয়ায় চলন বর্ণনা করাে।****</li>
                               <li>Hydra ও শৈবালের পারস্পরিক সম্পর্ক বিশ্লেষণ করাে।****SB,DB[No]</li>
                               <li> Hydra কীভাবে লম্বা দুরত্ব অতিক্রম করে-ব্যাখ্যা করাে।*****</li>
                               <li>	ঘাসফড়িং এর প্রধান শ্বসন অঙ্গের গঠন বর্ণনা করাে।***</li>
                               <li>ঘাসফড়িং এর সুষ্ঠু রূপান্তরে হরমােনের ভূমিকা বিশ্লেষণ করাে।*****</li>
                               <li>মাছের শ্বাস নেওয়ার যে বিশেষ অঙ্গ আছে তার বর্ণনা দাও।****</li>
                               <li>রুই মাছের প্রাকৃতিক সংরক্ষণে কী কী ব্যবস্থা গ্রহণ করা যায়? যুক্তিসহ মতামত দাও।*****</li>

                            </ul></p></b> <br>
                    
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৩ </h2><br>
                           <b><p><ul>
                            <li>মানবদেহে শর্করা পিরপাক প্ৰাক্রয়া বর্ণনা করাে।*****SB,Rb[NO]</li>
                            <li>	প্রাণিজ প্রােটিনের পরিপাক পদ্ধতি বর্ণনা করাে।****</li>
                            <li> মানুষের খাদ্য পরিপাকে এনজাইমের পাশাপাশি হরমােনও বিশেষ ভূমিকা পালন করে বিশ্লেষণ করাে*****</li>
                            <li>পরিপাক ক্রিয়ায় ক্ষুদ্রান্ত্রের ভূমিকা ব্যাখ্যা করাে।****</li>
                            </ul></p></b><br>


                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৪ </h2><br>
                       
                             <b><p><ul>

                               <li>হৃদস্পন্দন নিয়ন্ত্রণে পেশি ও নােডের ভূমিকা বিশ্লেষণ করাে।*****SB,JB[NO]</li>
                               <li>মানবদেহে SAN অকেজো হয়ে পড়লে মৃত্যু ঘটতে পারে বিশ্লেষণ করাে। ****SB,RB[NO]</li>
                               <li>হৃৎপিন্ডের লম্বচ্ছেদের চিহ্নিত চিত্র আঁক। *****</li>
                              
                            </ul></p></b>


                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- suggestion-1 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="3879509765"
                                 data-ad-format="auto"
                                 data-full-width-responsive="true"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                              
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৫  </h2><br>
                          <b><p><ul>

                               <li> মানবদেহের রক্ত সংবহন প্রক্রিয়া বিশ্লেষণ করাে। ****SB,RB[NO]</li>
                               <li> মানুষের প্রশ্বাস ও নিঃশ্বাস কার্যক্রমটি বিশ্লেষণ করাে। ****V.i.p</li>
                               <li> হিমােগ্লোবিন O<sub>2</sub>, এবং CO<sub>2</sub>, পরিবহনের মাধ্যমে দেহে গুরুত্বপূর্ণ ভূমিকা পালন করে - ব্যাখ্যা করাে।*****V.i.p</li>
                              
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৬ </h2><br>
               
                            <b><p><ul>

                               <li>বৃক্কের কার্যকারিতা ব্যাখ্যা করাে।*****SB,RB[NO]</li>
                               <li>মূত্রের পরিমাণ নিয়ন্ত্রণে ADH হরমােনের ভূমিকা বিশ্লেষণ করাে।****V.i.p</li>
                               <li>দেহের বর্জ্য নিষ্কাশনে বৃক্কের ভূমিকা বিশ্লেষণ করাে****CtB[No]</li>
                               <li>বৃক্কের গাঠনিক এককের চিহ্নিত চিত্র অংকন করাে।****All[Must]</li>
                         
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৭ </h2><br>
                        
                            <b><p><ul>

                               <li>হৃৎপিণ্ড গঠনকারী পেশির বৈশিষ্ট্য লেখ।*****</li>
                               <li>অস্থির অভ্যন্তরীণ গঠন বর্ণনা দাও।****CB[no]</li>
                               <li>পা ফুলে ব্যথা সৃষ্টি হওয়ার চিকিৎসা সম্বন্ধে তােমার মতামত দাও।****</li>
                               
                               
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৮  </h2><br>
                           
                            <b><p><ul>

                               <li>মানুষের চোখের লম্বচ্ছেদের চিত্র অংকন করে বিভিন্ন অংশ চিহ্নিত করাে।*****DB[no] </li>
                               <li>অনিয়ন্ত্রিত হরমােন ক্ষরণ হলে যে সকল সমস্যা দেখা দিতে পারে তা বিশ্লেষণ করাে।**** </li>
                         
                            </ul></p></b>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Suggestion 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="1333237471"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-৯   </h2><br>

                            <b><p><ul>

                               <li>শুক্রাণু গঠন ব্যাখ্যা করাে।****DB,DiB[No]</li>
                               <li>গর্ভবতী নারীর ক্ষেত্রে বিশেষ পালনীয় বিষয়গুলাে লিখ।*****</li>
                               <li>শুক্রাণু এবং ডিম্বাণু মিলিত হতে না পারলে জীবনের ধারাবাহিকতা রক্ষায় কী ব্যবস্থা গ্রহণ করা যায়?****</li>
                               
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১০  </h2><br>
                         
                            <b><p><ul>

                               <li> দেহের সুরক্ষায় ত্বকের ভূমিকা ব্যাখ্যা করাে।****Ct,CB[no]</li>
                               <li>দেহের বাইরের বিশেষ কিছু অঙ্গের দেহ রক্ষায় ভূমিকা সম্পর্কে তােমার মতামত দাও।*****</li>
                               <li>ভ্যাক্সিন প্রয়ােগের মাধ্যমে অ্যান্টিবডি তৈরি করে বিভিন্ন রােগ থেকে রক্ষা পাওয়া সম্ভব-উক্তিটির যথার্থতা বিশ্লেষণ করাে *****</li>
                               
                            </ul></p></b>
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১১  </h2><br>
                 
                            <b><p><ul>
                              <li>	অগিতভাবে মূক ও বধির পুরুষ এবং মিহলা দম্পাতির F<sub>2</sub>, জনুর ফিনােটাইপিক অনুপাত বিশ্লেষণ করাে।***** </li>
                               <li>কোন দম্পতির দুইজনই স্বাভাবিক হলে তাদের সন্তানদের ফিনােটাইপের সংখ্যা ছকের সাহায্য নির্ণয় করাে।****</li>                     
                               <li>স্বাভাবিক পুরুষ ও স্বাভাবিক (হিমােফিলিয়া বাহক) মহিলা দম্পতির প্রথম বংশধরে ফিনােটাইপ অনুপাত ব্যাখ্যা করাে।****SB[no]</li>
                               <li>বিবর্তনের অঙ্গসংস্থানিক প্রমাণাদি ব্যাখ্যা করাে।****</li>
                               <li>দস্বাভাবিক দৃষ্টিসম্পন্ন এবং বর্ণান্ধ চার ভাই বােনের জিনােটাইপ উল্লেখ করাে।*****</li>
                              
                            </ul></p></b>
 
                            <h2 class="text-center text-white" style="background-color: green;">অধ্যায়-১২  </h2><br>
                           
                            <b><p><ul>

                               <li>মৌমাছি একত্রে বাস করে ঝাঁক বেঁধে সমাজবদ্ধ জীবের ন্যায় আচরণ করে - ব্যাখ্যা করাে।*****Ct[no]</li>
                               <li> কুকুরের লালা নিঃসরণজনিত আচরণ প্রতিবর্ত ক্রিয়ার সাথে বৈসাদৃশ্যপূর্ণ-মূল্যায়ন করাে। ****</li>
                               <li>অন্যান্য প্রাণীর তুলনায় মৌমাছির সামাজিক আচরণ অনেক উন্নত-মন্তব্যটি বিশ্লেষণ করাে।****</li>
                               
                            </ul></p></b>
 
 
                         
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">  

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>