<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        
        <title>HTML Interview Questions and Answer</title>

        
        <meta name="Description" content="In here you will get the most aseked Html Interview Questions and Answer . This Html interview questions
        often asked by the Interviewer in the interview .  We suggest developer to 
        prepare this html Interview questions before face the viva . "/>
         
        
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/html-interview-questions-and-answer"/>
        
       

        <%- include('../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>
        
 
        <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        

          <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        
    </head>


    

  <body >
    <%- include('../includes/navigation.ejs') %>
    
    
    <main id="main">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ict-ads-4 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="9659561509"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
            
                  <div class="d-flex" id="wrapper">

                    <%- include('../sitebars/interview-bar.ejs') %> 
          </div>
       </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                              <h1 style="background-color: green;" class="p-2 text-center text-white">HTML Interview Questions And Answer</h1>
                              <br><p class="text-justify text-secondary"><b>
                                In the Interview candidate often face the HTML Interview Questions when they meet on viva board . Before facing viva board the
                                developer should prepare of html questions that they are often faced in the interview . In here we have given some html questions which is
                                faced by the developers  many times . We are encourage developer to prepare this html questions before facing HTML Interview .
                              </b></p><hr>
                              <h4>1. What is Html ?</h4>

    <p class=" text-justify">
    
           <b>Ans:</b> HTML stands for Hyper Text Markup Language and It is a language of World Wide Web.
            It is a standard text formatting language which is used to create and display pages on the Web and It makes the text more interactive and dynamic.
             Html can turn text into images, tables, links                         
    </p><br>
    <h4>2. What is formatting in HTML ?</h4>
    <p class=" text-justify">
            <b>Ans:</b>
            The HTML formatting is a process of format the text for a better look and feel good and It uses different tags to make text bold,
             italicized, underlined.                    
    </p><br>
    
    <h4>3. How to create a hyperlink in HTML ?</h4>
    <p class=" text-justify">
            <b>Ans:</b>The HTML provides an anchor tag to create a hyperlink that links one page to another page and these tags can appear in any of the following ways:
        <ol>
          <li>Unvisited link: It is displayed, underlined and blue</li>
          <li>Visited link: It is displayed, underlined and purple</li>
          <li>Active link: It is displayed, underlined and red.</li>
          
      </ol>
                                                
    </p><br>
    <h4>4. Which HTML tag is used to display the data in the tabular form ?</h4>
    <p class=" text-justify">
      <b>Ans:</b>The <b>HTML table tag:</b> is used to display data in tabular form (row * column) and It also manages the layout of the page, e.g., header section, navigation bar, body content, footer section. Here is a list of tags used while displaying the data in the tabular form:        
</p>
    <table class="table table-bordered">
      <tr><th>Tag</th><th>Description</th></tr>
      <tr><td>&lt;table&gt;</td><td>It defines a table.</td></tr>
      <tr><td>&lt;tr&gt;</td><td>It defines a row in a table.</td></tr>
      <tr><td>&lt;th&gt;</td><td>It defines a header cell in a table.</td></tr>
      <tr><td>&lt;td&gt;</td><td>It defines a cell in a table.</td></tr>
      <tr><td>&lt;caption&gt;</td><td>It defines the table caption.</td></tr>
      <tr><td>&lt;colgroup&gt;</td><td>It specifies a group of one or  more columns in the table for formatting.</td></tr>
      <tr><td>&lt;col&gt;</td><td>It is used with &lt;colgroup&gt; element to specify columns properties for each
      column.</td></tr>
      <tr><td>&lt;tbody&gt;</td><td>It is used to group a body content in a table.</td></tr>
      <tr><td>&lt;thead&gt;</td><td>It is used to group a header content in a table.</td></tr>
      <tr><td>&lt;tfooter&gt;</td><td>It is used to group a footer content in a table.</td></tr>
      </table><br>
    <h4>5. Write lists that are used when designing a page ?</h4>
    <p class=" text-justify">
            <b>Ans:</b> There are many common lists which are used to design a page and you can choose any or a combination of the following list types:
        <ol>
          <li>Ordered list:- The ordered list displays elements in numbered format. It is represented by &lt;ol&gt; tag.</li>
<li>Unordered list:-  The unordered list displays elements in bulleted format. It is represented by &lt;ul&gt; tag.</li>
<li>Definition list:- The definition list display the elements in definition form like in dictionary. The &lt;dl&gt;, &lt;dt&gt; and &lt;dd&gt; tags are used for defining description list.</li>
        </ol>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Suggestion 2 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="1333237471"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
          </p><br>                    
    <h4>6. What are the difference between HTML elements and tags ?</h4>
    <p class=" text-justify">
            <b>Ans:</b>HTML elements communicate to the browser to render text and when the elements are enclosed by brackets &lt;&gt;, they form HTML tags. The most of the time, tags come in a pair and surround content.                    
    </p><br>
    <h4>7. What are empty elements ?</h4>
    <p class=" text-justify">
        <b>Ans:</b> HTML elements which have no content are called empty elements. For example: &lt;br&gt;, &lt;hr&gt; etc.                  
</p><br>
                          
    <h4>8. What is the use of a span tag? Give one example ?</h4>
    <p class=" text-justify">
            <b>Ans:</b>The span tag isused for following things:-
            <ol>
              <li>For adding color on the text</li>
<li>For adding background for text</li>
<li>Highlighting text with any color. </li>
            </ol>
    
    </p><br>
             <h4>9. Does a hyperlink only apply to text ?</h4>
             <p class=" text-justify">
                    <b>Ans:</b> No, we can use hyperlinks on text and images both. The HTML anchor tag define the hyperlink that links one page to another page. The "href" attribute is the most important attribute of a HTML anchor tag.
                                                         
    </p><br>
    <h4>10. What is a style sheet?</h4>
    <p class=" text-justify">
            <b>Ans:</b> The style sheet is used to build a consistent, transportable, and well-designed style template. We can add these templates on several different web pages and It is also describes the look and formatting of a document written in markup language.
            
                                                
    </p><br>


          
    
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ict-ads-3 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="3477296539"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                            

  
<h4>11. What is a marquee tag ?</h4 >
    
  <p class=" text-justify">
  
         <b>Ans:</b> Marquee is used to put a scrolling text on a web page and scrolls the image or text up, down, left or right automatically. We should put the text which you want to scroll within the &lt;marquee&gt;......&lt;/marquee&gt; tag.

  </p><br>
  <h4>12. What is semantic HTML ?</h4>
  <p class=" text-justify">
          <b>Ans:</b> Semantic HTML is a coding style. It is the use of HTML markup to reinforce the semantics or meaning of a content. For an example: In semantic HTML &lt;b&gt; &lt;/b&gt; tag is not used for bold statement as well as &lt;i&gt; &lt;/i&gt; tag is used for italic. Instead of these we use &lt;strong&gt;&lt;/strong&gt; and &lt;em&gt;&lt;/em&gt; tags.           
  </p><br>
  
  <h4>13. What is an image map ?</h4>
  <p class=" text-justify">
          <b>Ans:</b> Image map facilitates you to link many different web pages using a single image and it is represented by &lt;map&gt; tag. We can define shapes in images that you want to make part of an image mapping.
                       
  </p><br>
   
  <h4>14. What is the use of alternative text in image mapping ?</h4>
  <p class=" text-justify">
          <b>Ans:</b> When we use image maps, it can easily become confusing and difficult to determine
           which hotspots correspond to which links and Using alternative text lets, you put a descriptive text on each hotspot link
  </p><br>
  <h4>15. What are the limits of the text field size ?</h4>
  <p class=" text-justify">
          <b>Ans:</b> The default size for the text field is around 13 characters. However, if we include the size
           attribute, we can set the size value to be as low as 1. The maximum size value will be determined by the
            browser width and If the size attribute is set to 0, the size will be set to the default size of 13 characters.
          
                                              
  </p><br>
  <h4>16. What are applets ?</h4>
  <p class=" text-justify">
          <b>Ans:</b> The Applets are small programs that can be embedded within web pages to perform some specific functionality, 
          such as computations, animations, and information processing and Applets are written using the Java language.</p>
                        
  <h4>17. What happens if you open the external CSS file in a browser ?</h4>
  <p class=" text-justify">
          <b>Ans:</b> When you try to open the external CSS file in a browser, 
          the browser cannot open the file, because the file has a different extension and
          The only way to use an external CSS file is to reference it using &lt;link/&gt; tag within another HTML documents.
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
               style="display:block; text-align:center;"
               data-ad-layout="in-article"
               data-ad-format="fluid"
               data-ad-client="ca-pub-9136564254270725"
               data-ad-slot="2687298352"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
  </p><br>
                        
  <h4>18. Tell us about two semantic tags are included in HTML5 version ?</h4>
  <p class=" text-justify">
          <b>Ans:</b> The &lt;article&gt; and &lt;section&gt; tags are two new tags that are included in the HTML5. Articles can be composed of multiple sections that can have multiple articles and
        and  An article tag represents a full block of content which is a section of a bigger whole.

  </p><br>
           <h4>19.What is &lt;figure&gt; in HTML5 ?
            </h4>
           <p class=" text-justify">
                  <b>Ans:</b> This tag represents a piece of self-contained flow content and it is mostly used as a single unit as a reference the main flow of the document.
                                                       
  </p><br>
  <h4>20. Tell us two benefits of HTML5 Web Storage ?</h4>
  <p class=" text-justify">
          <b>Ans:</b> Two main benefits of HTML5 Web Storage are: <br>
          <ol>
          <li>HTML5 Web Storage can store up to 10 MB data which is certainly more than what cookies have.</li>
          <li>Web storage data cannot be transferred with the HTTP request but It helps to increase the performance of the application.</li>
          </ol>     
  </p>
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                              
                        
                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                           
                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                            <div class="well mt-5 sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ict-verticle-1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="1200802774"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                             

                             </div>
                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

<%- include('../includes/end.ejs') %>

   
    
                              


    

