<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
        <title>How to become a very good programmer</title>

        

        <meta name="description" content="What is programming?What is the best programming language and Which one i should choose?
        How to become a good programmer? What is the ideal way of learning Programming language? " />
        <meta name="keyword" content="What is programming ,What is the best programming language" />


         
          
         
          
          <meta name="author" content="tutorialforbeginner.com">
          <meta property="og:site_name" content="www.tutorialforbeginner.com" />
          <meta property="fb:pages" content="340075726591504" />
          <meta property="fb:pages" content="1524841087795043" />
          <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
          <meta property="og:locale" content="en_US" />
          <meta property="og:type" content="website" />
          <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
          
          
         
  
          <link rel="canonical" href="https://tutorialforbeginner.com/how-to-become-a-good-programmer"/>
          <link async rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <style>
              .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
            </style>
  
          
          
  <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  
              <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-148831263-1');
  </script>
  
  
    </head>


    
    
<body>
    <%- include('../includes/navigation.ejs') %>
    
    <main id="main">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- page-1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="1390582452"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
   
            
            <div class="d-flex" id="wrapper">

                <!-- Sidebar -->
                <div class="bg-light border-right" id="sidebar-wrapper">
                  <div class="sidebar-heading">Topics</div>
                  <div class="list-group list-group-flush">
                    <a href="/from-website" class="list-group-item list-group-item-action bg-light">Start Problem Solving</a>
                    <a href="/earn-from-android-app" class="list-group-item list-group-item-action bg-light">Use Of Data Structure</a>
                    <a href="/from-adsense" class="list-group-item list-group-item-action bg-light">Use of Algorithms</a>
                  
                   
                   
                  
                
                  </div>
                </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 



                            <h2>
                              What is programming, Programmers and Developers?
                          </h2>
                            <p class=" text-justify">
                              People often talk about Programming, Programmers, Developers but lots people don't have a clear understanding about those terms . Generally when people talk about programming they think about computer programming but computer programming is one of the best way to practice programming . Programing is all about better ideas, better organizing with new and optimize problem solving technique than previous . A programmer can be a Doctor, an Architect, wedding planner or may be shopkeeper, in short a better organizer . Then what about Developers? A developer is persons who execute or build something according to the programmer plan . For an  example In a wedding the wedding planner is programmer and his practice is programming and those people who organize it in according to the wedding planner is developer .


                            </p>
                              <h2>
                                  What is computer programming?
                              </h2>
                                <p class=" text-justify">
                                  In short computer programming is a magic and programmers are the magician and the 
                                  programming languages,Compilers whatever they using is the tools of magician . Computer programming is not all about doing codes all day long but it is all about how well you organize your codes and how much efficient it is! In short computer programming is all about problem solving . A problem can have multiple solution, an ordinary programmer can pick random one but a good programmer always choose optimal one and this is the main difference between a good and ordinary programmer . Good programming is not over night process . It improve day by day . Problem solving ability enhance our thinking ability which makes you better and better programmer by day by day practice. That is why computer programmer is the best programmers in the world .

                                </p>

                            
                            <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9G7Hgz4EALw" allowfullscreen></iframe>
                            </div>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                 style="display:block; text-align:center;"
                                 data-ad-layout="in-article"
                                 data-ad-format="fluid"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="5078546027"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                            <h2>
                              What is the best programming language and Which one i should choose?
                            </h2>


                            <p class=" text-justify">
                              This a very common question beginners are often asked . But programming language is just a tool it is not 
                              define how good programmer you are . Only problem solving ability will make you different than others . If someone ask me the question 
                              i will suggest him / her to start with <a href="/c-programming">C Programming</a> . Now 
                              lots of people can be disagree with me . I am suggesting because if you want to be a very good software engineer then you must have very good idea about
                              memory management . <b>Why you need to know memory management?</b> for an example you and you friend make same app
                              but your friend's app loading very fast but your app loading slowly this is because of proper memory mangement . Now most of the modern language 
                              like <b>python</b> , <b>JavaScript</b> are skipped the memory management but in C exist, some people will say <b>Then Why not Java?</b> 
                              C is more easier than java to learn and main reason is C has low level access to the memory like <b>pointer</b> but it not available in <b>Java</b>
                              The concept of memory management will help you a lot when you are started to work in software development domain.
                            
                             
                            </p>
                            


                             
                              
                                

                           </p>
                           <h4>What is the ideal way of learning Programming language?</h4>

                           <p class="text-justify">
                           Different people can have their own ideal way to learn programming language but according to me 
                           the best way of learning programming is learn a topic and solve the related problem in different 
                           <b>Online Judge</b> . For an example you learn <b>if_else</b> then solve the <b>if_else</b> related problem
                           from different online judge as much as you can . 
                           Once complete learnt C programming completely that means you are master of using loops, conditional statements , arrays etc
                           However the concept of loop, conditional statements, arrays is same for almost all the language so you know 60% concept of other programming languages but may be little change in syntax
                           
                           . <br><br>Now you should jump into <a href="">Learning Data Structure</a> and <a href="">Learn Algorithm</a> because these will help to pick the optimal
                           solution of a problem . In here Also you should apply the same
                           way that you did when you were learning C programming . For an example you learnt <b>DFS</b> solve the relevance problem from 
                           different online judge and participate different online contest like <b>CodeForce, Hackerrank etc</b> 
                           <br><br><b>[Note: You must store all the solution where ever you want]</b>
                          </p>
                          

                           <h4>I have learnt all these things Now what should I do?</h4>

                           <p class="text-justify">
                           This is a crucial moment for all programmers . Before explain everything i want to mention one thing 
                           the main concept of all programming language is <b>conditional statements</b>, <b>loops</b>, <b>arrays</b> etc is same. However
                           you have learnt those topics while you was learning C programming so that i can say you are covered 60% of any programming language and you have better understanding these topics 
                           than others because C is structural programming language . So It is comparatively easy to learn and analyze the code .
                           

                           </p>
                           <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad-2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="8826219349"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

                           <h4>Now............</h4>

                           <p class="text-justify">
                            Differnt people can have different goal like may be someone want to be a <b>Data Scientist</b>,
                            someone <b>Web Developer</b> or someone want to get a job in big tech company like google,facebook. See the following 
                            table and match your interest and start learning today .
                           </p>
                           <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Interest</th>
                                <th scope="col">You should do</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>If your target is big tech company
                                  like <b>google</b>, <b>facebook</b>
                                </td>
                                
                                <td>
                                  Start to <a href="">Learn Python</a> or  <a href="">Learn C++</a>, <a href="">Learn Data Structure</a> and <a href="">Learn Algorithm</a> stay tune with problem solving .Try 
                                  to participate <b>codeJam</b>, <b>ACM ICPC</b>, <b>HackerCup</b> contest .
                                  Side by side make you own project . Because most recruiters wants better problem solver in big tech companies .
                               </td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>If your target is Data Science , Machine learning , AI
                                </td>
                                
                                <td>
                                  Start to <a href="">Learn Python</a>  and its libraries related to  
                                  Data Science , Machine learning , AI . Because it is easier to implement in python.
                               </td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>If want to be a 
                                  Web Developer. </td>
                                <td>Then you should start to lean following: <br>
                                  For Front-end:
                                  <ol>
                                    <li><a href="">Learn HTML & CSS</a></li>
                                    <li><a href="">JavaScript</a></li>
                                    <li><a href="">Learn React.js</a> or <a href="">Learn Vue.js</a></li>
                                  </ol>
                                  For backend: learn any of one
                                  <ol>
                                      <li><a href="">Learn Node.js(JavaScript framework)</a></li>
                                      <li><a href="">Learn Python</a></li>
                                      <li><a href="">Learn PHP</a> </li>
                                      <li><a href="">Learn C#</a> </li>
                                      <li><a href="">Learn Java</a> </li>

                                    </ol>
                                    I will suggest you to  <a href="">learn JavaScript</a> because it is supper 
                                    easy to learn . If you <a href=""> learn JavaScript</a> Front-end and
                                    backend both will cover.

                                </td>
                                
                              </tr>
                              <tr>
                                <th scope="row">5</th>
                                <td>If want to be an Android app/
                                  Ios app Developer
                                </td>
                                <td>
                                  For Android :
                                  <ol>
                                    <li><a href="">Learn Java</a> or <a href="">Kotlin</a></li>
                                  </ol>
                                  For Ios:
                                  <ol>
                                      <li><a href="">Learn Swift</a></li>
                                    </ol>
                                </td>
                                
                              </tr>
                              <tr>
                                  <th scope="row">6</th>
                                  <td>If want to be a game Developer
                                    
                                  </td>
                                  <td>
                                    Start to learn <a href="">Lean C#</a>
                                  </td>
                                  
                                </tr>
                            </tbody>
                          </table>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad-3 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="1689965350"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                             
      

                    
                          </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">

                             
                            
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- h-ad1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="9841091579"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                                
                               
                            </div>
                            
                            
                            
                          
                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
            
            
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
    
    </main>

    

<%- include('../includes/end.ejs') %>