<!DOCTYPE html>
    <html lang="en">
       <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <title>Data Types In Java | tutorialforbeginner.com</title>

          <meta name="Description" content=" Data Types In Java | What is data Types in Java? | Primitive Data Types In Java |
          What is Primitive Data Types In Java? | What is Boolean Data Type? | What is Byte Data Type? | What is Short Data Type? | What is Int Data Type? | What is Float Data Type? | 
          What is Long Data Type? | What is Float Data? | What is Double Data Type? | What is Char Data Type? | " />
           
          <meta name="author" content="tutorialforbeginner.com">
          <meta property="og:site_name" content="www.tutorialforbeginner.com" />
          <meta property="og:locale" content="en_US" />
          <meta property="og:type" content="website" />
          <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
          <link rel="canonical" href="https://tutorialforbeginner.com/data-types-in-java" />
          <%- include('../../includes/boostrap-head.ejs') %>
          <style>
              .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:100%}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
            </style>

         <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
         <script async src="js/print/run_prettify.js?lang=css&amp;skin=desert"></script>

            <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148831263-1');
          </script>
      
        </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- home-last -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="7126124861"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
            
            
            <div class="d-flex w-100" id="wrapper">

                <!-- Sidebar -->
                <div class="bg-light border-right" id="sidebar-wrapper">
                    <div class="sidebar-heading bg-success text-center text-white rounded-top border-to"><b>Topics</b></div>
                    <div class="list-group list-group-flush">
                        <%- include('../../sitebars/java.ejs') %>
                    </div>
                </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                    <nav class="navbar navbar-expand-lg border-bottom" style="background-color: #375028;">
                        <button class="btn text-white btn-lg" style="background-color: #521212;" id="menu-toggle">&#x2190;TOPICS</button>
                
                      </nav>
            
                  <div class="container-fluid">
                      <div class="row content ">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left w-100"> 
                              <h1 class="bg-dark text-center text-white">Data Types In Java</h1>
                              <p class="text-justify"><b>
                               In this page, We will learn about Data Types In Java | What is data Types in Java? | Primitive Data Types In Java |
                               What is Primitive Data Types In Java? | What is Boolean Data Type? | What is Byte Data Type? | What is Short Data Type? | What is Int Data Type? | What is Float Data Type? | 
                               What is Long Data Type? | What is Float Data? | What is Double Data Type? | What is Char Data Type? |</b></p><hr>

                              <h2 class="my-3">What is data Types in Java?</h2>

                               
                            <p class="text-justify">
                              Data types indicate the specific sizes and values that can be stored in the flexible. There are two variety of data variety in Java programming:
                              </p>
                              <ul type="square">
                                  <li><b>Primitive data types:</b> The primitive data types include boolean, char, byte, short, int, long, float and double.</li> 
                                  <li><b>Non-primitive data types:</b> The non-primitive data types include Classes, Interfaces, and Arrays.</li> 
                              </ul>
                              
                              <div class="text-center my-3">
                                <img src="images/tutorial/data-types-in-java.png" width="100%" alt="Data Types In Java">
                              </div>   
                              <hr>


                               
                             

                              <h2>What is Primitive Data Types In Java?</h2>
                              <p class="text-justify">
                                In Java language, untrained data variety are the building blocks of data consumption . These are the most vital data  variety available in Java language.
                                Java is a statically-typed programming language. It means, all flexible must be announced before its use. That is why we need to reveal flexible variety and name.
                                There are 8 variety of untrained data variety :
                              </p>
                              <ul>
                                <li>boolean data type</li>
                                <li>byte data type</li>
                                <li>char data type</li>
                                <li>short data type</li>
                                <li>int data type</li>
                                <li>long data type</li>
                                <li>float data type</li>
                                <li>double data type</li>

                              </ul>

                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- ad-2 -->
                              <ins class="adsbygoogle"
                              style="display:block"
                              data-ad-client="ca-pub-9136564254270725"
                              data-ad-slot="8826219349"
                              data-ad-format="auto"
                              data-full-width-responsive="true"></ins>
                              <script>
                              (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>

                             
 <div class="table-responsive">
  <table class="table table-bordered text-center">
    <tr style="background-color: aquamarine;">
      <th>Data Types</th>
      <th>Default Value</th>
      <th>Default Size</th>
    </tr>
    <tr>
        <td>boolean</td>   
      <td>false</td> 
      <td>1 bit</td> 
    </tr> 
      
      <tr> 
      <td>char</td> 
      <td>'\u0000'</td> 
      <td>2 byte</td> 
      </tr> 
      
      <tr> 
      <td>byte</td> 
      <td>0</td> 
      <td>1 byte</td> 
      
      </tr> 
       
      <tr> 
      <td>short</td> 
      <td>0</td> 
      <td>2 byte</td> 
      </tr> 
     
      <tr> 
      <td>int</td> 
      <td>0</td> 
      <td>4 byte</td> 
      </tr>
       
      <tr> 
      <td>long</td> 
      <td>0L</td> 
      <td>8 byte</td> 
      </tr> 
       
      <tr> 
      <td>float</td> 
      <td>0.0f</td> 
      <td>4 byte</td> 
      </tr> 
      
  </table>

 </div>    

                      
<h2 class="mt-4">What is Boolean Data Type?</h2>
<p class="text-justify">
  The Boolean data variety is used to store only two probable values: true and false. This data variety is used for elementary flags that track true/false conditions.
  <br><br>
  The Boolean data variety indicate one bit of information, but its "size" can't be prominent precisely.
</p> 
<h5>Example:</h5>
<pre class="prettyprint">
<code>
  import java.io.*;
  class Simple{  
    public static void main(String args[]){
      boolean a = true;
      boolean b = false;  
      System.out.println(a);  
      System.out.println(b);
    }  
  }
</code>
</pre>
<h4>Output:</h4>
<pre class="prettyprint"><code>
  true
  false
</code>
</pre><hr>


<h2 class="mt-4">What is Byte Data Type?</h2>
<p class="text-justify">
  The byte data variety is an example of untrained data type. It is an 8-bit signed two's accompaniment integer. Its amount- variety lies between -128 to 127 (comprehensive). Its minimum amount is -128 and maximum amount  is 127. Its default amount  is 0.
 <br><br>The byte data variety is used to recover memory in big arrays where the memory savings is most required. It recover capacity because a byte is 4 times smaller than an integral. It can also be preloved in place of "int" data variety.
</p> 
<h5>Example:</h5>
<pre class="prettyprint">
<code>
  import java.io.*;
  class Simple{  
    public static void main(String args[]){
      byte a = 2;
      byte b = -4;  
      System.out.println(a);  
      System.out.println(b);
    }  
  }
</code>
</pre>
<h4>Output:</h4>
<pre class="prettyprint"><code>
  2
 -4
</code>
</pre><hr>

<h2 class="mt-4">What is Short Data Type?</h2>
<p class="text-justify">
  The short data variety is a 16-bit signed two's complement integer. Its amount-variety lies between -32,768 to 32,767 (comprehensive). Its minimum amount is -32,768 and maximum amount is 32,767. Its default amount is 0.

 <br><br>The short data variety can also be used to recover memory just like byte data variety . A abrupt data variety is 2 times smaller than an integer.
</p> 

<h5>Example:</h5>
<pre class="prettyprint"><code>
  import java.io.*;
  class Simple{  
    public static void main(String args[]){
      short a = 2000;
      short b = -2000;  
      System.out.println(a);  
      System.out.println(b);
    }  
  }
</code>
</pre>
<h4>Output:</h4>
<pre class="prettyprint"><code>
  2000
 -2000
</code>
</pre>
<hr>

<h2 class="mt-4">What is Int Data Type?</h2>
<p class="text-justify">
  The int data type is a 32-bit signed two's complement integer. Its amount types lies between - 2,147,483,648 (-2<sup>31</sup>) to 2,147,483,647 (2<sup>31-1</sup>) (inclusive). Its minimum amount is - 2,147,483,648 and maximum amount is 2,147,483,647. Its default amount is 0.
 <br><br>The int data types is generally preloved as a default data types for integral amount unless if there is no problem about memory.
</p> 
<h5>Example:</h5>
<pre class="prettyprint"><code>
  import java.io.*;
  class Simple{  
    public static void main(String args[]){
      int a = 200000;
      int b = -300000;  
      System.out.println(a);  
      System.out.println(b);
    }  
  }
</code>
</pre>
<h4>Output:</h4>
<pre class="prettyprint"><code>
  200000
 -300000
</code>
</pre>
<hr>

<h2 class="mt-4">What is Long Data Type?</h2>
<p class="text-justify">
  The long data types is a 64-bit two's complement integer. Its amount type lies between -9,223,372,036,854,775,808(-2<sup>63</sup>) to 9,223,372,036,854,775,807(2^<sup>63-1</sup>)(comprehensive). Its minimum amount is - 9,223,372,036,854,775,808 and maximum amount is 9,223,372,036,854,775,807. Its default amount is 0. The long data variety is used when you need a range of values more than those distribute by int.
</p> 

<h5>Example:</h5>
<pre class="prettyprint"><code>
  import java.io.*;
  class Simple{  
    public static void main(String args[]){
      long a = 200000L;
      long b = -300000L;  
      System.out.println(a);  
      System.out.println(b);
    }  
  }
</code>
  </pre>
<h4>Output:</h4>
<pre class="prettyprint"><code>
  200000L
 -300000L
</code>
</pre>
<hr>

<h2 class="mt-4">What is Float Data?</h2>
<p class="text-justify">
  The float data types is a single-precision 32-bit IEEE 754 floating point. Its amount range is unlimited. It is recommended to use a float (instead of double) if you need to recover memory in large arrays of floating point numbers. The float data types should never be preloved for precise values, such as currency. Its default amount is 0.0F.
</p> 
<h5>Example:</h5>
<pre class="prettyprint"><code>
  import java.io.*;
  class Simple{  
    public static void main(String args[]){
      float a = -2.00;
      float b = 2.00;  
      System.out.println(a);  
      System.out.println(b);
    }  
  }
</code>
  </pre>
<h4>Output:</h4>
<pre class="prettyprint"><code>
  -2.00
   2.00
</code>
</pre>
<hr>
<h2 class="mt-4">What is Double Data Type?</h2>
<p class="text-justify">
  The double data types is a double-precision 64-bit IEEE 754 floating point. Its amount range is endless. The double data variety is generally preloved for decimal amount just like float. The double data type also should never be preloved for precise amount, such as currency. Its default amount is 0.0d.

</p> 
<h5>Example:</h5>
<pre class="prettyprint"><code>
  import java.io.*;
  class Simple{  
    public static void main(String args[]){
      double a = -2.00;
      double b = 2.00;  
      System.out.println(a);  
      System.out.println(b);
    }  
  }
</code>
  </pre>
<h4>Output:</h4>
<pre class="prettyprint"><code>
  -2.00
   2.00
</code>
</pre>
<hr>
<h2 class="mt-4">What is Char Data Type?</h2>
<p class="text-justify">
  The char data type is a single 16-bit Unicode character. Its amount type lies between '\u0000' (or 0) to '\uffff' (or 65,535 inclusive).The char data  is type preloved to store characters.
</p> 

<h5>Example:</h5>
<pre class="prettyprint"><code>
  import java.io.*;
  class Simple{  
    public static void main(String args[]){
      char a = 'D';
      char b = 'C';  
      System.out.println(a);  
      System.out.println(b);
    }  
  }
</code>
  </pre>
<h4>Output:</h4>
<pre class="prettyprint"><code>
  D
  C
</code>
</pre>
<hr>


               
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- h-ad1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="9841091579"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>