<!DOCTYPE html>
    <html lang="en">
       <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <title>Java Programming Tutorial | tutorialforbeginner.com</title>

          <meta name="Description" content="Java Programming Tutorial | What is Java?| Java Application | Types of Java Applications | History of Java Programming Language | Features of Java" />
           
          <meta name="author" content="tutorialforbeginner.com">
          <meta property="og:site_name" content="www.tutorialforbeginner.com" />
          <meta property="og:locale" content="en_US" />
          <meta property="og:type" content="website" />
          <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
          <link rel="canonical" href="https://tutorialforbeginner.com/java-programming-tutorial" />
          <%- include('../../includes/boostrap-head.ejs') %>
          <style>
              .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:100%}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
            </style>

          <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <script async src="js/print/run_prettify.js?lang=css&amp;skin=desert"></script>

            <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148831263-1');
          </script>
      
        </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- home-last -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="7126124861"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
            
            
            <div class="d-flex w-100" id="wrapper">

                <!-- Sidebar -->
                <div class="bg-light border-right" id="sidebar-wrapper">
                    <div class="sidebar-heading bg-success text-center text-white rounded-top border-to"><b>Topics</b></div>
                    <div class="list-group list-group-flush">
                        <%- include('../../sitebars/java.ejs') %>
                    </div>
                </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                    <nav class="navbar navbar-expand-lg border-bottom" style="background-color: #375028;">
                        <button class="btn text-white btn-lg" style="background-color: #521212;" id="menu-toggle">&#x2190;TOPICS</button>
                
                      </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left w-100"> 
                              <h1 class="bg-dark text-center text-white">Java Programming Tutorial</h1>
                              <p class="text-justify"><b>
                                Our core Java programming tutorial is planed for students and working professionals. Java is an object-oriented, class-based, concurrent, acquired and general-purpose computer-programming language. It is a broadly used strong technology.

                              </b></p><hr>

                              <h2 class="my-3">What is Java?</h2>

                               
                            <p class="text-justify">
                              Java is a <b>programming language</b> and a platform. Java is a high level, strong , object-oriented and fixed  programming language.
                              <br><br>Java was developed by Sun Microsystems within the year 1995. James Gosling is called the daddy of Java. Before Java, its was known as Oak. Since Oak was already a inscribed company, therefore James goose and his team modified the Oak name to Java. 
<br><br><b>Platform:</b>  Any hardware or software package atmosphere during which a program runs, is understood as a platform. Since Java contains a runtime atmosphere (JRE) and API, it’s called platform.
                              </p>
<h3>Example</h3>
<pre class="prettyprint">
<code> 
  import java.io.*;
  Class Simple{  
    Public static void main(String args[]){  
      System.out.println(“Hello From Java”);  
    }  
  }  
</code>
</pre> 
      <h6>Output:</h6>
<pre class="prettyprint"><code>
  Hello From Java
</code>
</pre>
                          
                            
                            
                            

                            
                          <h2 class="mt-5 mb-3">Application:</h2>
                            <p class="text-justify">
                              According to Sun, Three billion devices are running by Java. There are many devices where Java is directly used. A number of them are:
                              </p>
                            <ul type="square">
                              <li>Desktop Applications like acrobat reader, media player, antivirus, etc.</li>
                              <li>Web Applications like irctc.co.in, javatpoint.com, etc.</li>
                              <li>Enterprise Applications like banking applications.</li>
                              <li> Mobile, Embedded System, Smart Card, Robotics, Games, etc</li> 
                              
                            </ul>  
 
                                                         
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                 style="display:block; text-align:center;"
                                 data-ad-layout="in-article"
                                 data-ad-format="fluid"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="5078546027"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                            
                            <h2 class="mt-5 mb-3">Types of Java Applications:-</h2>
                            <p class="text-justify">
                              There are mainly four types of applications that can be designed by using Java programming:
                            </p>

                           
                            <ul type="square">
                              <li><b>Standalone Application:-</b> Standalone applications are also called as desktop applications or window-based applications. These are traditional software that we require to install on every machine. Standalone application are Media player, antivirus, etc. AWT and Swing ar employed in Java for making standalone applications.</li>
                              <li><b>Web Application:-</b> An application that runs on the server facet and creates a dynamic page is termed an internet application. Currently Servlet, JSP, Struts, Spring, Hibernate, JSF  etc ; technologies square measure used for making internet applications in Java.</li>
                              <li><b>Enterprise Application:-</b> An application that’s distributed in nature, like banking applications, etc. is named enterprise application. It’s blessings of the high-level security, load equalization, and bunch. In Java, EJB is employed for making enterprise applications.</li>
                              <li><b>Mobile Application:-</b> An application that is formed for mobile devices is termed a mobile application. Currently, automaton and Java Maine square measure used for making mobile applications.</li>
                             
                            </ul> 
                            <h2 class="mt-5 mb-3">Java Platforms / Editions:</h2>
                            <p class="text-justify">
                              Java has 4 platforms or editions:
                            </p>

                           
                            <ul type="square">
                              <li><b>Java SE (Java Standard Edition):-</b> It is a Java platform. It includes Java programming arthropod genus like java.lang, java.io, java.net, java.util, java.sql, java.math etc. It includes central topics like OOPs, String, Regex, Exception, Inner categories, Multithreading, I/O Stream, Networking, AWT, Swing, Reflection, Collection, etc.</li>
                              <li><b>Java EE (Java Enterprise Edition):-</b> It is associate enterprise platform that is especially accustomed develop internet and enterprise applications. It’s engineered on the highest of the Java SE platform. It includes topics like Servlet, JSP, internet Services, EJB, JPA, etc.</li>
                              <li><b>Java ME (Java Micro Edition):-</b> It is a small platform that is especially accustomed develop mobile applications.</li>
                              <li><b>JavaFX:-</b> It is accustomed develop made net applications. It uses a light-weight programme API.</li>
                             
                            </ul> 
                            <h2 class="mt-5 mb-3">Prerequisite:-</h2>
                            <p class="text-justify">
                              To learn Java, you need to have the fundamental information of C/C++ programing language.
                              Our Java programming tutorial is specifically designed to support beginners and professionals, so you don't need to worry.
                            </p>


                            <h2 class="mt-5 mb-3">History of Java Programming Language</h2>
                            <p class="text-justify">
                              The history of Java is quite  interesting. Java was mainly designed for interactive television, but it was so much upgraded  technology for the digital cable television industry at the time. The  past history of Java began with the Green Team. Java team members (those who are also known as Green Team), established  this project to develop a language for digital devices such as set-top boxes, televisions, and else. However, it was fitted for  internet programming. Next, Java technology was integrated  by Netscape. <br><br>
                              The rules for creating Java programming were "Easy, Smooth, Prosperous, Manageable, Platform-independent, Fully Secured, High Performance, Multithreaded, Architecture Neutral, Object-Oriented, Interpreted, and Dynamic". Java was evolved in 1995 by James Gosling, who is mostly known as the father of Java. James Gosling and his team members initiated the project in the early ‘90s.<br><br>
                              At present, Java is used in internet programming, in mobile devices, in games, in e-business solutions, and else. There are given important  points that describe the history of Java.
                            </p>
                            <ol>
                              <li>3 person named <b>James Gosling, Mike Sheridan  and Patrick Naughton</b> started  the Java language project in June 1991. The small team of sis un engineers named Green Team.</li>
                              <li>At the beginning, it was designed for small, embedded system  in electronic devices  like set-top boxes.</li>
                              <li>At first, it was termed <b>“Green Talk”</b> James Gosling, and the file extension was <b>.gt</b>.</li>
                              <li>Then, it was named Oak and was refined as a part of the project.</li>

                            </ol>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- ad-2 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="8826219349"
                                 data-ad-format="auto"
                                 data-full-width-responsive="true"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                            <h2 class="mt-5 mb-3">Why Java named "Oak"?</h2>
                            <p class="text-justify">
                              Oak is a symbol of strength. Also, it is chosen as a national tree of many countries like America, France, Germany, etc. Oak was named "Java" in 1995 cause it was already a trademark by Oak Technologies then.
                            </p>

                            <h2 class="mt-5 mb-3">Why Java Programming named "Java"?</h2>
                            <p class="text-justify">
                              The team decided to set a new name. The preferred words were "dynamic", "revolutionary", "Silk", "jolt", "DNA", and else. They wished for something that presents the essence of technology. These words were easy and cool to spell.
                              
                            </p>
                            <ul type="square">
                              <li>The name “Java” was one of the top choices among them. So they selected this because of its uniqueness.</li>
                              <li>Java is mainly an island of Indonesia where the first coffee was produced (it’s called java coffee). It is one kind of espresso bean. This name was selected by James Gosling. He selected this name when having coffee.</li>
                              <li>It is noticeable that Java is not an acronym, it’s just a name.10)	At first, James Gosling developed Java at a company named Sun Microsystems. (The company is now a subsidiary of Oracle Corporation) and released in 1995.</li>
                              <li>Java achieved the title” one of the 10 best products of 1995”. It was given by the “Time magazine”.</li>
                              <li>12)	The JDK 1.0 was released on January 23, 1997. It was the first release of Java. There have been many extra features added to the language. Now Java is using in Windows applications, Web applications, enterprise applications, mobile applications, cards, and else.  The latest versions add the new features in Java.</li>
                             
                            </ul>

                            <h2 class="mt-5 mb-3">Features of Java</h2>
                            <p class="text-justify">
                              The dominant objective of Java programming language creation was to make it transportable , elementary and secure programming language. Apart from this, there are also some superb features which play an important role in the popularity of this language. The specialty of Java are also known as java policyspeak. <br>
                              A list of most important specialty of Java language is given below.
                              
                            </p>
                            <div class="text-center my-3">
                              <img src="images/tutorial/java-programming-features.png" alt="Features of Java">
                            </div>
                            
                            
                            
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- h-ad1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="9841091579"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>