<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Jdk, Jre, Jvm in Java | tutorialforbeginner.com</title>

        
        <meta name="Description" content=" In this page we discussed about what is JDK in java, Java Development Kit (Details),what is JRE in Java, what JVM in Java?, JVM Architecture" />
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/jdk-jre-jvm-in-java" />
        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:100%}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

       <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
       
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-148831263-1');
        </script>

        

       
        
    </head>


    

<body >
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- home-last -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="7126124861"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
            
            
            <div class="d-flex w-100" id="wrapper">

                <!-- Sidebar -->
                <div class="bg-light border-right" id="sidebar-wrapper">
                    <div class="sidebar-heading bg-success text-center text-white rounded-top border-to"><b>Topics</b></div>
                    <div class="list-group list-group-flush">
                        <%- include('../../sitebars/java.ejs') %>
                    </div>
                </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                    <nav class="navbar navbar-expand-lg border-bottom" style="background-color: #375028;">
                        <button class="btn text-white btn-lg" style="background-color: #521212;" id="menu-toggle">&#x2190;TOPICS</button>
                
                      </nav>
            
                  <div class="container-fluid">
                      <div class="row content ">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left w-100"> 
                              <h1 class="bg-dark text-center text-white">JDK, JRE, JVM in Java </h1>
                              <p class="text-justify"><b>
                                In this page we discussed about What is JDK in java, Java Development Kit (Details),what is JRE in Java, what is JVM in Java?, JVM Architecture

                              </b></p><hr>

                              <h2 class="my-3">What is JDK in Java?</h2>

                               
                            <p class="text-justify">
                                The <b>Java Development Kit (JDK)</b> in java is software which is used to develop Java applications and applets. It physically exists. It contains JRE + development tools.
                              <br><br><b>JDK</b> is an implementation of any of the Java Platforms given below, which is released by Oracle Corporation:
                              </p>
                              <ul>
                                  <li>Standard Edition Java Platform</li>
                                  <li>Enterprise Edition Java Platform</li>
                                  <li>Micro Edition Java Platform</li>
                                  <li>Standard Edition Java Platform</li>
                              </ul>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- ad-2 -->
                            <ins class="adsbygoogle"
                                style="display:block"
                                data-ad-client="ca-pub-9136564254270725"
                                data-ad-slot="8826219349"
                                data-ad-format="auto"
                                data-full-width-responsive="true"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                              <p class="text-justify">
                                The JDK holds a private Java Virtual Machine (JVM) and a little other resource such as an interpreter/loader (java), a compiler (javac), an archiver (jar), a documentation generator (Javadoc) etc. to complete the enlargement of a Java Application.
                              </p>
                              <div class="text-center my-3">
                                <img src="images/tutorial/jdk.png" alt="JDK in Java">
                              </div>
                              <h2>JDK: Java Development Kit (Details)</h2>

                              
                            <p class="text-justify">
                                The Java Development Kit (JDK) is software which is used to develop Java applications and applets. It physically exists. It contains JRE + development tools. <br><br>
                                JDK is an implementation of any of the Java Platforms given below, which is released by Oracle Corporation:
                            </p>
                            <ul>
                                <li>Standard Edition Java Platform</li>
                                <li>Enterprise Edition Java Platform</li>
                                <li>Micro Edition Java Platform</li>

                            </ul>
                           
                            <p class="text-justify">
                                The JDK holds a private Java Virtual Machine (JVM) and a little other resource such as an interpreter/loader (java), a compiler (javac), an archiver (jar), a documentation generator (Javadoc) etc. to complete the enlargement of a Java Application. </p>
                           
                            
                              
                            

                                <h2 class="my-3">What is JRE in Java?</h2>

                               
                                <p class="text-justify">
                                    JRE is an signifier for Java Runtime Environment. It’s additionally written as Java RTE. The Java Runtime Environment is a set of software tools which are used for manifesting Java applications. It is used to supply the runtime environment. It is the execution of JVM. It physically subsists. It holds a set of libraries + other files that JVM conducts at runtime.
                                    <br><br>The depiction of JVM is also actively redemption by other companies alongside Sun Micro Systems.
                                </p>
                                  
    
                                 
                                <div class="text-center my-3">
                                    <img src="images/tutorial/jre.png" alt="JRE in Java">
                                </div>  
 
                                                         
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                 style="display:block; text-align:center;"
                                 data-ad-layout="in-article"
                                 data-ad-format="fluid"
                                 data-ad-client="ca-pub-9136564254270725"
                                 data-ad-slot="5078546027"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                            
                            <h2 class="my-3">What is JVM in Java?</h2>

                               
                            <p class="text-justify">
                                JVM (Java Virtual Machine) is an abstract machine. It doesn’t physically exist that’s why it’s known as a virtual machine. It’s a specification that has a runtime environment, which Java bytecode can be executed. It can even run those programs that are written in different languages and compiled to Java bytecode.
                                <br><br>JVMs are available for several hardware and software platforms. JVM, JRE, and JDK are platform dependent because the configuration of every OS is totally different from one another. However, Java is platform independent. There are three concepts of the JVM: specification, implementation, and instance.
                                <br><br>The JVM performs the following main tasks:
                            </p>
                              
                            <ul>
                                <li>Loads code</li>
                                <li>Verifies code</li>
                                <li>Executes code</li>
                                <li>Provides runtime environment</li>
                            </ul>
                            <p class="text-justify">
                                JVM provides definitions for the:
                            </p>
                            <ul>
                                <li>Memory area</li>
                                <li>Class file format</li>
                                <li>Register set</li>
                                <li>Garbage-collected heap</li>
                                <li>Fatal error reporting etc.</li>
                            </ul>
                            <h2 class="my-3">JVM Architecture</h2>

                               
                            <p class="text-justify">
                                Let's perceive the inner architecture of JVM. It contains classloader, memory space, execution engine etc.
                               </p>
                   
                            <div class="text-center my-3">
                                <img src="images/tutorial/jvm.png" alt="JVM Architecture">
                            </div>  

                           
                            
                            
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- h-ad1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="9841091579"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>