<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>About</title>
        <meta name="Description" content=" This is all about tutorialforbeginner.com ." />
        
        
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <%- include('../includes/boostrap-head.ejs') %>
         <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>
        <link rel="canonical" href="https://tutorialforbeginner.com/about"/>
       
      
</head>

    
<body style="background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
    <%- include('../includes/navigation.ejs') %>
    <main id="main">

        <div class="container">
            
            
         
                
            <h1 class="section-title text-center mt-5"><span>About</span></h1>

            
                        <p class="text-justify mb-4" > 
                                This is a free learning site .It is designed Specially for the student who are looking for 
                                a free but highly valuable content .

                        </p>
                        <p class="text-justify mb-4" > 
                                "HSC" for helping 12 standard students.This menu contain some subjective tutorial like Math,Physics,Ict,
                                etc and also student can give online quzes that particular subjects .
                                                   
                         </p>
                        
                         <p class="text-justify mb-4" > 
                                "Hacking" menu contain some basic understanding of Hacking so that students can have a very basic idea about Hacking.
                                                   
                         </p>
                         <p class="text-justify mb-4" > 
                                "Tutorials" menu contain different types of video tutorials and written as well.Every tutorial
                                have two version  bangla and english.
                                                   
                         </p>
                         <p class="text-justify mb-4" > 
                                "Project" menu contain different types of project so that students can gather knowledge through projects and written as well."".
                                "Be the best programer" menu contain the proper guideline step by step and written in
                                bangla and english.                 
                         </p>
                         <p class="text-justify mb-4" > 
                                "OnlineJudge problem" menu contain different OnlineJudge problem solve that solved by Shakil Moharram .This is only
                                given for the betterment of students.

                         </p>
                         <p class="text-justify mb-4" > 
                                "Project" menu contain different types of project so that students can gather knowledge through projects and written as well."".
                                "Be the best programer" menu contain the proper guideline step by step and written in
                                bangla and english."Tutorials" menu contain different types of video tutorials and written as well.Every tutorial
                                have two version  bangla and english.                 
                         </p>
                    
                

                  

            <h1 class="section-title text-center mt-5"><span>About</span></h1>

            
                           
                        <p class="text-justify mb-4" > 
                            "HSC" মেনুতে ১১-১২ ক্লাস এর ছাত্র ও ছাত্রীদের জন্য Physics,Ict বিষয়ের খুব সহজ ভিডিও ও লিখিত টিউটোরিয়াল আছে ।
                            সেই সাথে রয়েছে অনলাইন কুইজ দেয়ার ব্যবস্তা । এবং প্রত্যেকটি 
                            টিউটোরিয়াল থাকছে অধ্যায় ভিত্তিক । আরো থাকছে অধ্যায় ভিত্তিক কুইজ দেয়ার ব্যবস্তা ।
                            <br><br>
                            "online earnings"মেনুতে থাকছে online earnings সম্পর্কে complete একটা ধারণা । যাতে যারা online থেকে 
                            earn করতে চায় তারা যেন খুব সহজেই বুজতে পারে এবং online থেকে খুব সহজেই earn করতে পারে ।
                            <br><br> 
                            "Tutorials" মেনুতে থাকছে বিভিন্ন  বিষয়ের খুব সহজ ভিডিও ও লিখিত টিউটোরিয়াল । এই টিউটোরিয়াল গুলো বাংলা ও ইংরেজি ভাষায় থাকছে । যাতে
                            বাংলাদেশের পাশাপাশি অন্যান্য দেশের ছাত্র ও ছাত্রীরাও খুব সহজেই শিখতে পারে । 

                            <br><br>"Project" মেনুতে থাকছে বিভিন্ন ধরণের complete projects, game projects html tamplates ,আরো অনেক কিছু ।
                            যাতে ছাত্র ও ছাত্রীরা সেটা দেখে খুব সহজেই কিভাবে complete projects  তৈরি করতে হয় সেটা শিখতে পারে ।

                            <br><br> "Be the best programer" মেনুতে থাকছে  কিভাবে নিজেকে সেরা programer কাতারে নিয়ে যাওয়া যায় সে সম্পর্কে proper guideline.Follow the instruction and be a hero.
                            <br><br>"OnlineJudge problem" মেনুতে থাকছে different OnlineJudge problem solved by Shakil Moharram .এটা থেকে যাতে ছাত্র - ছাত্রীরা online judge আরো বেশি problem solve করতে পারে । 

                        </p>


                        
                  
    
 
    
        </div>	<!-- /container -->
    
    </main>

    

<%- include('../includes/end.ejs') %>