<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>FAQ</title>
        <meta name="Description" content="Frequently Asked Question . People can have many questions about this website 
        we given some questions and answer so that People will understand about this site ." />
        
        
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
      
        <%- include('../includes/boostrap-head.ejs') %> <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>
        <link rel="canonical" href="https://tutorialforbeginner.com/faq"/>
       

        
</head>


    

<body  style="background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
    <%- include('../includes/navigation.ejs') %>
    <main id="main">

        <div class="container">
            
            
         
                
            <h2 class="section-title mt-5 text-center text-white"><span>Frequently Asked Questions</span></h2>

            
            
                    
                            <h3 class="h4  text-justify text-white">Q1. Is it only for Bangladeshi students ?</h3>
                            <p class="text-justify text-white mb-4" >Ans:No ,Only some portion of these website for Bangladeshi students and rest of the portion is for all .
                            </p>
                            <h3 class="h4  text-justify text-white">Q2.Why I go through this site ?</h3>
                            <p class="text-justify text-white mb-4">Ans:When I was learning those topics ,I faced lot more difficulties like maximum website are paid and that is very costly for a student to get rid of this I made some very rich contentful tutorial which is totally free. 
                            </p >
                            <h3 class="h4  text-justify text-white">Q3.Should I logged In to learn ?</h3>
                            <p class="text-justify text-white mb-4">Ans:As it is free for the students So no need to login while you are learning through the website but LongIn needed if you want to give any kind of quize in this website . 
                            </p>
                            <h3 class="h4  text-justify text-white">Q4.Can I earn from your website ?</h3>
                            <p class="text-justify text-white mb-4">Ans:No ,you can not because it is a educational website only but you can learn how to earn in online by applying the knowledge you can earn . 
                            </p>
                            <h3 class="h4  text-justify text-white">Q5.What kind of content you are offering your website ?</h3>
                            <p class="text-justify text-white mb-4">Ans:I am offering here only educational content side by side I am suggesting the students how to become a better prggrammer. 
                            </p>
                            <h3 class="h4  text-justify text-white">Q6.It is safe for user?</h3>
                            <p class="text-justify text-white mb-4">Ans:Yes, this website is safe for all users.No need worry about your cookie and all that stuff.
                            </p>
            
                        
                    
                

                   
            

            <h2 class="section-title text-center mt-5 text-white"><span>সচরাচর জিজ্ঞাস্য</span></h2>

           
            
                    
                            <h3 class="h4  text-justify text-white">Q1. এটি কি শুধুমাত্র বাংলাদেশী ছাত্রদের জন্য ?</h3>
                            <p class="text-justify text-white mb-4" >Ans:না, বাংলাদেশী শিক্ষার্থীদের জন্য কেবলমাত্র ওয়েব সাইট এর কিছু অংশ এবং বাকি অংশ সবার  জন্যই.
                            </p>
                            <h3 class="h4  text-justify text-white">Q2.কেন আমি এই সাইটের মাধ্যমে যাব ?</h3>
                            <p class="text-justify text-white mb-4">Ans:Aখন আমি এই বিষয়গুলি শিখছিলাম, আমার বেশিরভাগ সাইট গুলোই ছিল প্রিমিয়াম এবং এটি  অত্যন্ত ব্যয়বহুল ছাত্রদের জন্য আর এটি থেকে মুক্তি পেতে আমি অনেক ভাল টিউটোরিয়াল তৈরি করেছি যা সম্পূর্ণ বিনামূল্যে পাওয়া যাবে এই সাইটে. 
                            </p >
                            
                            <h3 class="h4  text-justify  text-white">Q4.আমি আপনার ওয়েবসাইট থেকে উপার্জন করতে পারব ?</h3>
                            <p class="text-justify text-white mb-4">Ans:
                                না, আপনি এটি করতে পারবেন না কারণ এটি শুধুমাত্র একটি শিক্ষামূলক ওয়েবসাইট তবে আপনি উপার্জন করতে পারেন এমন জ্ঞান দেয়া হবে যাতে অনলাইন থেকে খুব সহজেই  উপার্জন করতে পারেন . 
                            </p>
                            <h3 class="h4  text-justify text-white">Q5.কোন ধরনের কন্টেন্ট রয়েছে আপনার ওয়েবসাইটে ?</h3>
                            <p class="text-justify text-white mb-4">Ans:আমি এখানে কেবলমাত্র শিক্ষাগত সামগ্রী পাশাপাশি প্রস্তাব করছি, আমি শিক্ষার্থীদেরকে কিভাবে আরও প্রোগ্রামার তার পরামর্শ দিচ্ছি যেটা খুবই কার্জকরী ।
                            </p>
                            
            
                        
                   
           
                
                

      
 
    
        </div>	<!-- /container -->
    
    </main>

    

<%- include('../includes/end.ejs') %>
            
        
                            
            
                        