<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Contest Guideline</title>

        
        <meta name="Description" content=" This is Guideline for online quiz contest at tutorialforbeginner.com . Student should follow this guideline to successfully participate the contest .
        " />
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/online-quiz-contest-guideline" />

        <%- include('../includes/boostrap-head.ejs') %>
         <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>
       
        
       <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

            <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-148831263-1');
      </script>

        

        
    </head>


    

<body class="bg-light" >
    <%- include('../includes/navigation.ejs') %>
    
    
    <main id="main">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- home-last -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="7126124861"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        
            
            
            <div class="d-flex" id="wrapper">

                <!-- Sidebar -->
                <div class="bg-light border-right" id="sidebar-wrapper">
                  <div class="sidebar-heading bg-success text-white text-center"><b>Topic Menu</b> </div>
                  <div class="list-group list-group-flush ">

                    <%- include('../sitebars/online-quiz-contest-sitebar.ejs') %> 
                     
                  </div>
                </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg border-bottom" style="background-color: #375028;">
                    <button class="btn text-white btn-lg" style="background-color: #521212;" id="menu-toggle">&#x2190;QUIZ MENU</button>
            
                  </nav>
            
                  <div class="container-fluid ">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 

                    
                              <h1 class="bg-primary text-center font-weight-bold text-white py-2 my-2">Contest Guideline</h1><hr>

                            <h3 class="mb-3 bg-success text-white p-1 font-weight-bold">Sign Up এর শর্ত ও নিয়মাবলীঃ-</h3> 
                            
                                <ul class="font-weight-bold" style="list-style: square;">
                                  <li class="mb-3">প্রতিযোগীকে অবশ্যই নিবন্ধন বা Sign Up করতে হবে ।</li> 
                                  <li class="mb-3"> Sign Up করার সময় অবশ্যই সঠিক তথ্য নিশ্চিত করতে হবে ।</li>
                                  <li class="mb-3"> Sign Up করার সময় অবশ্যই খেয়াল রাখতে হবে, যেসব একাডেমিক তথ্য আপনি দিচ্ছেন তা আপনার সার্টিফিকেট অনুযায়ী সত্য । কারন পরে পরিবর্তনের কোন সুযোগ নেই । </li>
                                  <li class="mb-3">Sign Up করার সময় ফোন নম্বর দেবার ক্ষেত্রে অবশ্যই সঠিক নম্বর দিতে হবে । কারন মেধা তালিকায় সেরাদের মধ্যে থাকলে আপনার দেয়া ফোন নম্বর এর ভিত্তিতে আপনার সাথে যোগাযোগ করা হবে ।</li>
                                 
                              </ul>
                              <marquee behavior="alternate" direction="left"><p class="text-danger" >*কোন অসংগতি গ্রহনযোগ্য নয় ।</p></marquee>


                              <hr class="bg-danger"><div class="bg-success w-100 text-center text-white">
                              <span >See the video below</span>
                             </div>
                             
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2W9WzWfmZuA" allowfullscreen></iframe>
                              </div>
                              <div class="bg-success w-100 text-center text-white">
                                <span >See the uper video</span>
                               </div>
                              <hr class="bg-danger">
                              <h3 class="mb-3 bg-success text-white p-1 font-weight-bold">Contest এর শর্ত ও নিয়মাবলীঃ-</h3> 
                             

                              <ul class="mt-3 font-weight-bold"> 
                                <li class="mb-3">প্রত্যেক প্রতিযোগিতাতে অংশগ্রহনের জন্য আলাদাভাবে নিবন্ধন করতে হবে ।</li>
                                <li class="mb-3">প্রত্যেকটি Contest এ অংশগ্রহনের জন্য আলাদাভাবে রেজিস্ট্রেশন করতে হবে এবং রেজিস্ট্রেশন অবশ্যই কনটেস্টটি Upcomming Contest পেজে থাকা অবস্থায় করতে হবে। </li>
                                <li class="mb-3">প্রত্যেকটি Contest অনুষ্ঠিত হবার তারিখ আসার সাথে সাথে এটি Running Contest পেজে চলে যাবে । উদাহরন স্বরূপ যদি আগামিকাল Contest এর তারিখ হয় তাহলে আজ রাত ১২ টায় কনটেস্টটি Upcomming Contest পেজে থেকে Running Contest পেজে চলে যাবে ।</li>
                                <li class="mb-3">ফ্রি কনটেস্টের ক্ষেত্রে Transaction= FREE এবং Payment Number = FREE ব্যাবহার করুন । </li>
                                <li class="mb-3">পেইড কনটেস্টের ক্ষেত্রে রকেট, বিকাশ অথবা অন্যান্য মেথড ব্যাবহার করে পেমেন্ট সম্পূর্ন করলে আপনি যে TransactionId পাবেন এবং যে Number ব্যাবহার করে আপনি পেমেন্ট সম্পূর্ণ করেছেন সেই নম্বরটি Payment Number হিসাবে ব্যাবহার করুন ।</li>
                
                              </ul>            
                            
              <h3 class="bg-danger text-white py-2 mt-2"><marquee behavior="alternate" direction="left">সতর্কতা</marquee></h3>

              <ol class="mt-2 font-weight-bold">
                <li class="mb-3">অসদুপায় অবলম্বন থেকে বিরত থাকুন । কারন সম্পূর্ণ সিস্টেমটি আর্টিফিসিয়াল ইন্টেলিজেন্স নিয়ন্ত্রিত, একবার আপনার একাঊন্টটি অসদুপায় অবলম্বনের কারণে বাতিল হলে 
                  আপনি আর কখনই নতুন একাঊন্ট খুলতে পারবেন না ।   
                </li>
                <li class="mb-3">আপনার কাজে সন্দেহ হলে, আর্টিফিসিয়াল ইন্টেলিজেন্স আপনার ক্যামেরা অথবা মাইক্রফোন অথবা উভয় ON করে আপনাকে যাচাই করতে পারে ।</li>
                <li class="mb-3">প্রতিযোগিতা চলাকালীন সময়ে ক্যামেরাতে স্টিকার লাগানো থেকে বিরত থাকুন । </li>
                <li class="mb-3">প্রতিযোগিতা চলাকালীন সময়ে অন্যকোন ব্রাউজার ওপেন করা থেকে বিরত থাকুন । কারণ প্রতিযোগিতা চলাকালীন সময়ে আপনার স্মার্টফোন / ল্যাপটপ / ডেস্কটপের স্ক্রিন সবসময় মনিটর করা হচ্ছে ।</li>
                <li class="mb-3">একটি একাঊন্ট দিয়ে একই সাথে দুই বা ততোধিক ফোন, ট্যাবলেট, ল্যাপটপ, ডেস্কটপ থেকে Login করা যাবে না । 
                  করলে আপনার একাঊন্টটি রেডলিস্টে চলে যাবে ।  
                </li>
              </ol>
 
    

 
 
 


    
   


                              
</div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                          
                            <div class="well my-5">
                                
                                <details >
                                    <summary>আসুন ......</summary>
                                    <p class="text-tustify">
                                      দূর্নীতিকে না বলি ,<br> সোনার বাংলাদেশ গড়ি ।
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                  <summary>আসুন ......</summary>
                                  <p class="text-tustify">
                                    নিজেকে বদলাই তাহলে ,<br> সমাজ আপনা আপনি বদলে যাবে ।
                                  </p>
                                  </details> 
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- C-verticle -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1132697628"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                              
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../includes/end.ejs') %>