<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Freelancing And Online Earnings</title>

        

        <meta name="Description" content=" Freelancing and outsourcing are most commonly words that often use . Let clarify these words . Freelancr is a person who is self-employed but he is not committed to works for a specific person / agency or a parcticular job for a long period of time." />
       
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/freelancing-and-online-earning"/>


        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>
       
       <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

             <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
         
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    <main id="main">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ict-ads-4 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="9659561509"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
         

        
            
            
        <div class="d-flex" id="wrapper">

          <%- include('../../sitebars/ict.ejs') %> 
        </div>
     </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                            <h2>What is Freelancer and Freelancing?</h2>
                            <p class="text-justify"> <b>Freelancing and outsourcing </b>  are most commonly words that 
                              often use . Let clarify these words . Freelancr is a person who is self-employed but he is not
                              committed to works for a specific person / agency or a parcticular job for a long period of time.
                              Freelancer are often introduced by a company or an agency that resells freelance to the client so that they can get 
                              service from a freelancer for a short term of period by paying money . So we can say that freelancer are indipendent to 
                              choose his/her work . This king of is often call Freelancing . 
                               

                            </p><hr>
                            
                            <h4>ফ্রিল্যানসিং ও ফ্রিল্যানসার কি ? </h4>
                            <p class="text-justify">
                                আমরা সচারাচার ফ্রিল্যানসিং ও ফ্রিল্যানসার কথাটি ব্যাবহার করে থাকি । চলো এই শব্দগুলো সম্পর্কে 
                                জেনে নেয়া যাক । ফ্রিল্যানসার ঐ ব্যাক্তিকে বলা হয় যারা নিজে উপার্জন করে কিন্তু তারা কারোর কাছে
                                বা কোন কোম্পানির কাছে দীর্ঘ সময়ের জন্য চুক্তিবদ্ধ থাকে না । ফ্রিল্যানসার সাধারনত কোন কোম্পানি বা এজেন্সি 
                                পরিচয় করিয়ে দিয়ে থাকে তাদের কাছে যারা অল্প সময়ের জন্য কাজের বিনিময়ে অর্থ প্রদান করে থাকে ।
                                আর এই ধরনের কাজকেই ফ্রিল্যানসিং বলা হয় । 
                              
                            </p>
                            <hr>
                            <h4>What is an Online Earnings ?</h4>
                            <p class="text-justify">
                              If we are giving service through online to the client and client giving money 
                              for that parcticular service that is call online earning . May you have heard the name fiverr.com or odesk.com or
                              freelancers.com these sites making connection between client and freelancer through their websites . Freelancers giving 
                              service through online and geting paid .
                              
                            </p>
                            <hr>
                            <h3> অনলাইন উপার্জন কি ? </h3>
                            <p class="text-justify">
                              যদি কেউ অনলাইন এর মাধ্যমে কাউকে কোন কাজ অথবা কোন সেবা প্রদান করে থাকে এবং তার বিনিময়ে
                              সে অর্থ পেয়ে থাকে তাকেই অনলাইন উপার্জন বলা হয় । তোমরা নিশ্চয় fiverr.com or odesk.com or
                              freelancers.com ওয়েব সাইট গুলোর নাম শুনেছ । ওয়েব সাইট গুলো client and freelancer 
                              এর মধ্য সংযোগ করে দেয় । 
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <ins class="adsbygoogle"
                                   style="display:block; text-align:center;"
                                   data-ad-layout="in-article"
                                   data-ad-format="fluid"
                                   data-ad-client="ca-pub-9136564254270725"
                                   data-ad-slot="9525057491"></ins>
                              <script>
                                   (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>    
                           </p><hr>
                           <h3> Is it possible to earn money from online ? </h3>
                            <p class="text-justify">
                              Yes,  it is so so easy to earn money from online but that you should start in proper way . People are making billions of
                              money through online . I am here to show you the proper way so that you can earn money from online very easily .
                             
                           </p><hr>
                           <h3> আসলেই কি অনলাইন থেকে টাকা উপার্জন করা সম্ভব ? </h3>
                           <p class="text-justify">
                             অবশই সম্ভব । এটা খুবই সহজ কিন্ত সেটা সঠিক পথ অবলম্বন করে । মানুষ কোটি কোটি টাকা উপার্জন করছে অনলাইন থেকে । আমি 
                             তোমাদের সঠিক দেখাব যাতে তোমরা খুব সহজেই অনলাইন থেকে উপার্জন করতে পার । 

                          
                            
                          </p><hr>
                          <h4> How I can earn money through online and how much ? </h4>
                            <p class="text-justify">
                              There are several ways to make money from online . I am making some list bellow so that you can choose your 
                              own way how you want to make money .I am giving this so that you can make an idea exception may have been . <br><br>
                               1.Android / ios app developments . You can make ( $1 upto $5,000 per month).
                              <br>2.Web developments . You can make ( $1 upto $5,000 per month ). <br>
                              3.Web design . You can make ( $1 upto $1,000 per month ) . <br>4.Logo design . You can make ( $1 upto $2500 per month ) . <br>
                              5.Video editing .You can make ( $1 upto $2500 per month ) . <br> 6.Youtube video Making .  You can make ( $1 upto $2,000 per month ) . <br>
                              7. Social marketing .You can make ( $1 upto $1500 per month ). <br> 8. Unique content Writting .You can make ( $1 upto $500 per month ) . <br> 9.So on .
                              
                              
                              <hr> <h3>Are you confused ? Watch the video to know more clearly :</h3>
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5GZ-0OJdDkg" allowfullscreen></iframe>
                                </div>
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ict-ads-3 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="3477296539"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                                
                                

                           </p><hr>
                           <h3> কিভাবে ও কত টাকা অনলাইন থেকে টাকা উপার্জন করা সম্ভব ? </h3>
                           <p class="text-justify">
                             অনলাইন থেকে উপার্জন করার অনেক পথ আছে । কিছু তুলে ধরছি তোমরা যাতে একটা ধারনা নিতে পারো । যারা অনেক 
                             বেশি পারদর্শী তাদের হ্মেত্রে কম বেশি হতে পারে ।<br><br> ১। মোবাইল অ্যাপ তৈরি করা । মাসে ১ টাকা থেকে ৩ লাখ টাকা উপার্জন সম্ভব । <br>
                             ২। ওয়েব সাইট তৈরি করা । মাসে ১ টাকা থেকে ৩ লাখ টাকা উপার্জন সম্ভব । <br>৩। ওয়েব ডিজাইন । মাসে ১ টাকা থেকে ৩ লাখ টাকা উপার্জন সম্ভব । <br>
                             ৪। লোগো ডিজাইন । মাসে ১ টাকা থেকে ২ লাখ টাকা উপার্জন সম্ভব । <br> ৫। ভিডিও এডিটিং । মাসে ১ টাকা থেকে ২ লাখ টাকা উপার্জন সম্ভব । <br>
                             ৬। Youtube ভিডিও তৈরি । মাসে ১ টাকা থেকে ২ লাখ টাকা উপার্জন সম্ভব । <br> ৭। সামাজিক মাধ্যমে প্রচার । মাসে ১ টাকা থেকে ২ লাখ টাকা উপার্জন সম্ভব । <br>
                             ৮। লেখালেখি । মাসে ১ টাকা থেকে ৪০,০০০ হাজার টাকা উপার্জন সম্ভব । <br>৯। আর ও অনেক পথ রয়েছে জানতে সাথেই থাক ।


                            
                            
                          </p>
                         
                    
                          </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">

                              
                                <div class="well my-5">
                                    
                                    <details >
                                        <summary>Why you need to learn coding?</summary>
                                        <p class="text-tustify">
                                            Coding will play a vital role in one's life . It will help to open 
                                            a new window of thinking . You can think better way than past . It 
                                            helps to organise all the thing in better way .
                                        </p>
                                      </details>
                                </div>
                                <div class="well mt-5 sticky-top">
                                    
                                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                  <!-- ict-verticle-1 -->
                                  <ins class="adsbygoogle"
                                       style="display:block"
                                       data-ad-client="ca-pub-9136564254270725"
                                       data-ad-slot="1200802774"
                                       data-ad-format="auto"
                                       data-full-width-responsive="true"></ins>
                                  <script>
                                       (adsbygoogle = window.adsbygoogle || []).push({});
                                  </script>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
         
    
    </main>

    

<%- include('../../includes/end.ejs') %>