<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC ICT Chapter 4 Part-1 : Introduction to Web Design And Html</title>

        
        <meta name="Description" content="In this ICT Chapter 4 Part-1 : Introduction 
        to Web Design And Html we will learn about What is Internet, Web, Web Design, Web Server, Web Page, Website, Home page, , Static website, Dynamic Website, WWW ? Difference between Static website and Dynamic Website . " />
        <meta name="Keywords" content="" />
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-ict-web-design-and-html-part-1"/>
        
        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/ict.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                              <h1 class="bg-dark text-center text-white">Chaper 4 Part-1</h1>
                   
                              <h2 class="mt-4 text-center">Introduction to Web Design and HTML</h2>
                              <p class="text-justify text-secondary"><b>
                                In this  ICT Chapter 4 Part-1 : Introduction to Web Design And Html we will
                                learn about What is Internet, Web, Web Design, Web Server, Web Page, Website, Home page, 
                                , Static website, Dynamic Website, WWW ? Difference between Static website and Dynamic Website ?
                              </b></p><hr>


                              <h4>১. ইন্টারনেট (What is Internet) কী ?
                              </h4>
                            <p class="text-justify text-dark">

                              উঃ একটি কম্পিউটারের সাথে আরেকটি কম্পিউটারের যােগাযােগ কে নেটওয়ার্ক বলে। আর একটি নেটওয়ার্কের সাথে এক বা একাধিক নেটওয়ার্কের যােগাযােগকে ইন্টারনেট
                             or Internet বলে। 
                              
                              
                            </p><hr>
                            <h2>২. ওয়েব কী (What is Web) ?
                            </h2>
                            <p class="text-justify text-dark">
                              
                              উঃ ওয়েব (Web) হলাে ইন্টারনেট ব্যবহার করার একটি পথ বা ইন্টারনেটের একটি অ্যাপ্লিকেশন। 
                             
                            </p><hr>
                            <h4>৩. ওয়েব ডিজাইন কী (What is Web Design)?
                            </h4>
                            <p class="text-justify text-dark">
                              উঃ একটি ওয়েবসাটের বাহ্যিক সৌন্দর্য নির্মান কৌশলই
                              হচ্ছে ওয়েব ডিজাইন ( Web Design) ।
                              

                            </p><hr>
          
                        
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sbZpn0i8L0A" allowfullscreen></iframe>
                              </div>
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-ads-4 -->
                                <ins class="adsbygoogle"
                                    style="display:block"
                                    data-ad-client="ca-pub-9136564254270725"
                                    data-ad-slot="9659561509"
                                    data-ad-format="auto"
                                    data-full-width-responsive="true"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            
                            
                         


                          
                            
                            <h4>৪. ওয়েব (Web) কোন কোন প্রযুক্তির মাধ্যমে গঠিত?</h4>
                            <p class="text-justify text-dark">
                              উঃ তিনটি নতুন প্রযুক্তির সমন্বয়ে ওয়েব (Web) গড়ে উঠেছে <br> প্রথমঃ HTML (Hyper Text Markup Language) যা
                              দ্বারা ওয়েবপেজ লেখা হয়।<br> দ্বিতীয়ঃ HTTP (Hyper Text Transfer Protocol) যার দ্বারা Web Server
                               Computer Web Transfer বা প্রেরনের কাজ সম্পন্ন করে।<br> তৃতীয়ঃ Web Browser যে প্রােগ্রাম ডেটা রিসিভ ও অনুবাদ
                            করে ক্লায়েন্টকে তার ফলাফল প্রদর্শন করে।
                            
                            </p><hr>
                              

                            
                            
                          
                            <h4>৫. ওয়েবপেজ (What is Web page) কী?
                            </h4>
                            <p class="text-justify text-dark">
                              উঃ ইন্টারনেট তথা ওয়েবে যে কেউ তথ্য রাখতে পারে এসব তথ্য হতে পারে লেখা, অডিও, ভিডিও, স্থির চিত্র, এ্যানিমেশান ইত্যাদি। ওয়েবে এসব তথ্য রাখার পেইজকে ওয়েবপেজ বলে। অথবা, ইন্টারনেট ব্যবহারকারীদের দেখার উপযােগী ইন্টারনেটের সাথে সংযুক্ত বিভিন্ন দেশের সার্ভারে রাখা
                              ফাইলকে ওয়েব পেইজ বলে।
                              
                              
                          </p><hr>
                            
                            <h4> ৬. ওয়েব সার্ভার কী (What is Web Server) ?

                            </h4>
                            <p class="text-justify text-dark">
                              উঃ ওয়েব পেইজ ওয়েবসাইট যে সার্ভারে সংরক্ষিত থাকে।
                              তাকে ওয়েব সার্ভার or Web Server বলে। 
                              
                            </p><hr>
                            <h4>৭. ওয়েব সাইট কী (What is website) ?

                            </h4>
                            <p class="text-justify text-dark">
                              উঃ_এক বা একাধিক ওয়েব পেইজের সমন্বয়ে ওয়েব প্রেজেন্টেশন বা ওয়েবসাইট তৈরি করা হয়।
                               সুতরাং, একই ডােমেইনে অধীনে পরস্পর সংযােগযােগ্য একাধিক ওয়েবপেজের সমষ্টিকে ওয়েবসাইট বলে। <br>
                               
                               অথবা, একই ডােমেইনের অধীনে ওয়েব পেজের সমষ্টিকে ওয়েবসাইট or website বলে। যেমন :-
                            </p><hr>

                            <h4>৮. এক কথায় ওয়েবপেজ কী ও ওয়েবসাইট কী?

                            </h4>
                            <p class="text-justify text-dark">
                              উঃ ইন্টারনেটে পরিভ্রমন বা প্রবেশ অবস্থায় মনিটরে আমরা যা দেখতে পারি তা হচ্ছে ওয়েব পেজ এবং সংশ্লিষ্ট ওয়েব পেজগুলােকে যখন একটি নির্দিষ্ট ঠিকানার অধীনে ব্যবহার
করা হয় তখন ঐ ঠিকানাকে বলা হয় ওয়েবসাইট। 
</p><hr>
                            
                           
                            <h4>৯. হােমপেজ কাকে বলে?

                            </h4>
                            <p class="text-justify text-dark">
                              উঃ ওয়েবে প্রথম ঢুকলে যে পেইজটি প্রদর্শিত হয় তাকে হােমপেজ বলে।

                            </p><hr>
                            <h4>১০.ওয়েব সাইটের কাঠামাে কত ধরনের?
                            </h4>
                            <p class="text-justify text-dark">
                              উঃ ওয়েব সাইট হলাে কতকগুলাে ওয়েব পেজের সমষ্টি। ওয়েব পেজগুলাে কীভাবে সাজানাে হবে এবং
                               একটি পেজের সাথে অন্য পেজের কীভাবে লিংক করা হবে তার লেআউটকে বলা হয় ওয়েবসাইটের কাঠামাে।
                                ওয়েবসাইটের কাঠামাে মূলত তিন ধরনের। যথা: <br> ক) হােমপেজ (Home page)। <br>
                              খ) মূল-ধারার পেজ (Main Section)।<br>
                              গ) উপ-ধারার পেজ (Sub Section)। 
                              
                            </p><hr>
                            <h4>১১. ওয়েবসাইটের বৈশিষ্ট্য অনুযায়ী কাঠামাে কত ভাগে ভাগ করা
                              যায়?
                              
                            </h4>
                            <p class="text-justify text-dark">
                              উঃ ওয়েবসাইটের বৈশিষ্ট্য অনুযায়ী কাঠামাে ৪ ভাগে ভাগ করা যায়।  যথাঃ <br> ক. হায়ারারকিক্যাল বা ট্রি কাঠামাে। <br>
                               (Hierarchical or Tree Structure)br খ.ওয়েব লিংক বা নেটওয়ার্ক কাঠামাে (Web link or Network Structure) <br>
                                গ. লিনিয়ার কাঠামাে (Linear Structure) ঘ, কম্বিনেশন বা হাইব্রিড কাঠামাে
                              (Combination or Hybrid Structure) 
                              
                              </p>

                              <hr>
                            <h4>১২. ওয়েব সাইট কত প্রকার ও কী কী?
                            </h4>
                            <p class="text-justify text-dark">
                              উঃ ওয়েব সাইট সাধারনত দুই প্রকার যথাঃ <br> (১) স্ট্যাটিক ওয়েবসাইট
                         (Static Website-স্থির ওয়েবসাইট) <br>(২) ডাইনামিক ওয়েবসাইট
                        (Dynamic Website-প্রগতিশীল ওয়েবসাইট) <br>

                            <h4>১৩. স্ট্যাটিক ওয়েবসাইট ও ডাইনামিক ওয়েবসাইট কাকে বলে (What is Dynamic website and Static website) ?</h4>
                            <p class="text-justify text-dark">
                              উঃ <b>স্ট্যাটিক ওয়েবসাইট </b>  যে সকল ওয়েবসাইটের ডেটার মান ওয়েবপেইজ লােডিং বা চালু করার পর পরিবর্তন
                               করা যায় না, তাকে স্ট্যাটিক ওয়েবসাইট বলে। স্ট্যাটিক ওয়েবসাইট শুধু HTML & CSS ভাষা দিয়েই ওয়েবপেজ তৈরি করা যায়। <br><br> <b>ডাইনামিক ওয়েবসাইটঃ</b>  যে সকল ওয়েবসাইটের ডেটার মান ওয়েবপেইজ লােডিং বা চালু করার পর পরিবর্তন করা হয় তাকে ডাইনামিক ওয়েবসাইট বলে।
                              ডাইনামিক ওয়েবসাইট তৈরির জন্যে HTML & CSS এর সাথে Script Language যেমন- PHP, ASP.net, mysql, ms-sql, js, Bootstrap onth Language te তৈরী করা হয়।
                              
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <ins class="adsbygoogle"
                                    style="display:block; text-align:center;"
                                    data-ad-layout="in-article"
                                    data-ad-format="fluid"
                                    data-ad-client="ca-pub-9136564254270725"
                                    data-ad-slot="2687298352"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>

                            </p><hr>
                            <h4>১৪. WWW কী?
                            </h4>
                            <p class="text-justify text-dark">
                              উঃ WWW এর পূর্নরূপ World Wide Web । ইন্টারনেট ব্যবহারকারীদের মাধ্যমে পৃথিবীর বিভিন্ন স্থানে যে কম্পিউটার গুলােতে তথ্যভান্ডার রয়েছে তার যে কোনটিতে পৌছে যেতে পারে। 

                            </p>
                             <hr>
                            <h4>১৫, ওয়েবসাইট (Website) থাকার সুবিধা লিখ?</h4>

                            <p class="text-justify text-dark">
                             
                          উঃ ওয়েবসাইট থাকার সুবিধা সমূহ নিচে দেওয়া হলাে :- <br> ১. স্বল্প ব্যয়ে কোনাে ব্যবসায়িক প্রতিষ্ঠান তাদের ব্যবসায় প্রচারের জন্য ওয়েবসাইট প্রকাশ করতে পারে। প্রিন্ট মিডিয়ার চেয়ে অনেক কম খরচে আকর্ষনীয় সাইট তৈরী করা যায়। <br>
                           ২. ওয়েবসাইটে প্রকাশিত তথ্য যে কেউ যেকোনাে স্থান থেকে যেকোনাে সময় দেখতে পারে । <br>
                            ৩. ওয়েবসাইটে লেখার পাশাপাশি ছবি, গ্রাফিক্স, অডিও, ভিডিও এবং এ্যানিমেশন যুক্ত করা যায়। <br>
                             ৪. ওয়েবসাইট তাৎক্ষনিক তথ্য প্রকাশ করা যায়। <br>
                              ৫. ওয়েবসাইট থেকে প্রয়ােজনীয় তথ্য ডাউনলােড করা যায়। <br> ৬. ঘরে বসে থেকে কোনাে বিষয় প্রশিক্ষণ নেওয়া যায়। <br>
                               ৭.যেকোনাে প্রােডাক্ট বা কোনাে বিষয় সম্পর্কে ব্যবহারকারীদের কাছ থেকে মতামত জানা যায়। <br>
                                ৮. ঘরে বসে বাস, ট্রেন, প্লেনের টিকিট কাটা যায়। <br> ৯. হসপিটাল বা হােটেলের সাইটে ঢুকে রম বুকিং দেওয়া যায়। <br> ১০. সামাজিক বিভিন্ন সাইটের মাধ্যমে সারা বিশ্বের মানুষের সাথে মতবিনিময় করা যায় এবং বন্ধুত্ব করা যায়।

                            </p><hr>


                            
                            <h4> ১৬. স্ট্যাটিক ওয়েবসাইট ও ডাইনামিক ওয়েবসাইট (Difference between Dynamic website and Static website) এর পার্থক্য লিখ?
                            </h4>
                            
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">স্ট্যাটিক ওয়েবসাইট</th>
                                  <th scope="col">ডাইনামিক ওয়েবসাইট</th>
                                  
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td> ওয়েবসাইটের থিম এবং  ওয়েবপেইজের কন্টেন্ট
                                    নির্দিষ্ট।
                                    </td>
                                  <td>ওয়েবসাইটের ডিজাইন এবং কন্টেন্ট রান টাইমে পরিবর্তন হয়।
                                  </td>
                                 
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td> কয়েকটি মাত্র মার্কআপ  থাকায় দ্রুত লােড হয়।</td>
                                  <td>ডাইনামিক কন্টেন্ট তৈরি হওয়ার
                                    জন্য লােড হতে দেরী হয়।</td>
                                  
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                 
                                  <td>কখনাে ডেটাবেজ  কানেক্টিভিটি ব্যবহার
                                    করে না। 
                                    </td>
                                  <td> ডেটাবেজ  কানেক্টিভিটি ব্যবহার
                                    করে। 
                                    </td>
                                </tr>
                                <tr>
                                  <th scope="row">4</th>
                                 
                                  <td>অন্য সার্ভার ল্যাংগুয়েজের প্রয়ােজন হয় না । 
                                    </td>
                                  <td>এতে সার্ভার ল্যাংগুয়েজের প্রয়ােজন হয়। 
                                    </td>
                                </tr>
                                <tr>
                                  <th scope="row">5</th>
                                 
                                  <td>সাধারনত HTML &
                                    CSS দিয়ে তৈরি করা যায়।
                                    
                                    </td>
                                  <td>  HTML & CSS এর সাথে Script Language যেমন- PHP, js, my sql, ASP.net, ms sql, ইত্যাদি Language দ্বারা তৈরী করা হয়।
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                           

                        

                            
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <ins class="adsbygoogle"
                                   style="display:block; text-align:center;"
                                   data-ad-layout="in-article"
                                   data-ad-format="fluid"
                                   data-ad-client="ca-pub-9136564254270725"
                                   data-ad-slot="2458044125"></ins>
                              <script>
                                   (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>
                            
                            
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                             
                           

                            
                             

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>