<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC ICT Chapter 4 Part-2 : Introduction to Web Design And Html</title>

        
        <meta name="Description" content="In this HSC ICT Chapter 4 Part-2 : Introduction to Web Design And Html we will learn about What is Domain and types of Domain ? What is IP Address and types of IP Address
        What is Hosting? Difference between Domain and Hosting? What is URL,web Portal ,web Browser?" />
        
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/web-design-and-html-part-2"/>

        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>   
        
    </head>

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/ict.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                              <h1 class="bg-dark text-center text-white">Chaper-4 Part-2</h1>
                   
                              <h3 class="mt-4 text-center">Introduction to Web Design and HTML</h3>
                              <p class="text-justify text-secondary"><b>
                                In this  ICT Chapter 4 Part-2 : Introduction to Web Design And Html we will
                                learn about What is Domain, Types of Domain , Ip address, type of ip address
                              what is Search Engine, What is Hosting, Difference between Domain and Hosting,
                              Web Portal , web URL, What is web Protocol etc .
                            </b> </p><hr>
                              <hr>

                              <h4>১৭. ডােমেইন কী ?
                              </h4>
                            <p class="text-justify text-dark">

                              উঃ একটি কম্পিউটারের সাথে আরেকটি কম্পিউটারের যােগাযােগ কে নেটওয়ার্ক বলে। আর একটি নেটওয়ার্কের সাথে এক বা একাধিক নেটওয়ার্কের যােগাযােগকে ইন্টারনেট
                              বলে। উঃ ডােমেইন হচ্ছে ইন্টারনেটের সাথে সংযুক্তির (Network Server) জন্য একটি নির্দিষ্ট (Unique) নাম। ইন্টারনেটের সাথে সংযুক্তির জন্য কম্পিউটারের নির্দিষ্ট বা Unique IP Address এর প্রয়ােজন । এই আইপি অ্যাড্রেসের একটি আলফানিউমেরিক (ক্যারেক্টার এবং নাম্বার সম্বলিত) নামই
                              হচ্ছে ডােমেইন। 
                              
                              
                              
                            </p><hr>
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sbZpn0i8L0A" allowfullscreen></iframe>
                              </div>
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-ads-4 -->
                                <ins class="adsbygoogle"
                                    style="display:block"
                                    data-ad-client="ca-pub-9136564254270725"
                                    data-ad-slot="9659561509"
                                    data-ad-format="auto"
                                    data-full-width-responsive="true"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            
                            
                         


                          
                            
                            <h4>১৮. ডােমেইন কত প্রকার ও কী কী ?
                            </h4>
                            <p class="text-justify text-dark">
                                উঃ ডডামেইন ডট(.) চিহ্ন দিয়ে দুই ভাগে ভাগ করা যায় । যথা: <br><br>  ক) নিজস্ব নাম।<br> 
                                খ) টপ লেভেল ডােমেইন। <br>  আবার টপ লেভেল ডােমেইন দুই প্রকার যথাঃ <br><br>   ক. জেনেরিক ডােমেইন (Generic Domain)।
                               <br> খ, কান্ট্রি কোড ডােমেইন (Country Domain)। <br> <br>
                               ক. জেনেরিক ডােমেইনের প্রচলিত ৭টি ডােমেইন হলাে :- 

                               <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Domain</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>.com = Commercial Organization</td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>.gov = Government Institution</td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    
                                    <td>.mil = Armed Forces</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">4</th>
                                    
                                    <td>.net - Network and internet Organization</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5</th>
                                    
                                    <td>.edu = Education Institution </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">6</th>
                                    
                                    <td>.int = International Organization </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">7</th>
                                    
                                    <td>.org = Non Profit Organization</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">8</th>
                                    
                                    <td> .tv = Television & Media.
                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                              <br>খ. কান্ট্রি কোড ডােমেইনে প্রচলিত সংক্ষিপ্ত নাম সমূহ:


                              <table class="table table-bordered">
                              
                                <tbody>
                                  <tr>
                                   
                                    <td>bd = বাংলাদেশ </td>
                                    <td> in = ইন্ডিয়া </td>
                                    <td>pk = পাকিস্তান</td>
                                    
                                  </tr>
                                  <tr>
                                   
                                    <td>eg = মালেশিয়া </td>
                                    <td> cn = চীন  </td>
                                    <td>us = যুক্তরাষ্ট্র
                                    </td>
                                    
                                  </tr>
                                  
                                  <tr>
                                   
                                    <td> tr = তুর্কি  </td>
                                    <td> jp = জাপান  </td>
                                    <td> bt = ভুটান</td>
                                    
                                  </tr>
                                  
                                  
                                </tbody>
                              </table>

                            
                            </p>
                              

                            
                            
                          
                            <h4>১৯, ডােমইন নেম কিনতে হয় কেন?

                            </h4>
                            <p class="text-justify text-dark">
                                উঃ প্রত্যেকটি ডােমেইন নেমকে DNS (Domain Name System) যদি একটি ডােমেইন নেম রেজিস্ট্রি করা হয় অথ্যাৎ কেনা হয় তবে এটি সারা বিশ্ব হতে একটি ইউনিক আইডেন্টিটি (Unique Identity) পাবে। অর্থাৎ, একই নাম আর কেউ নিতে পারবে না। 
                              
                          </p><hr>
                            
                            <h4>  ২০. IP Address (আইপি অ্যাড্রেস) কী?


                            </h4>
                            <p class="text-justify text-dark">
                                উঃ IP পূর্নরূপ হচ্ছে Internet Protocol Address । একটি কম্পিউটারের সাথে অন্য একটি কম্পিউটারের সংযােগ।
                                বা নেটওয়ার্ক করার জন্য যে ঠিকানা ব্যবহার করা হয় তাকে IP Address বলে। IP Address দুই প্রকার যথাঃ <br>ক) IP4<br> খ) IP6  <br>ক) IP4 ৩২ বিট  দিয়ে প্রকাশ করে।



                             
                              
                            </p><hr>
                            <h4>২১. IP Address কত প্রকার ও কী কী? 

                            </h4>
                            <p class="text-justify text-dark">
                                IP Address দুই প্রকার যথাঃ <br>ক) IP4<br> খ) IP6  <br>ক) IP4 ৩২ বিট  দিয়ে প্রকাশ করে।
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                          <th scope="col">Network</th>
                                          <th scope="col">ID</th>
                                          <th scope="col">HOST</th>
                                          <th scope="col">ID</th>
                                          
                                        </tr>
                                      </thead>
                                    <tbody>
                                      <tr>
                                       
                                        <td>৮ বিট</td>
                                        <td>৮ বিট</td>
                                        <td>৮ বিট</td>
                                        <td>৮ বিট</td>
                                        
                                      </tr>
                                 
                                    </tbody>
                                  </table>


                                খ) IP6 ১২৮ বিটের এটিকে ৫ ভাগে ভাগ করা হয়েছে   যথাঃ Class-A, Class-B, Class-C, Class-D, Class-E 

                            </p><hr>

                            <h4>২২. সার্চ ইঞ্জিন(Search Engine) কী? কয়েকটি সার্চ ইঞ্জিন
                                এর নাম লেখ?</h4>
                            <p class="text-justify text-dark">
                                উঃ সার্চ ইঞ্জিন এক ধরনের সফটওয়্যার বা ওয়েবসাইট। এটি এমন একটি টুল বা সমস্ত ইন্টারনেট 
                                বিস্তৃত ওয়েব সাইটগুলােকে আয়ত্তের মধ্যে রাখে ।
                                 ক্লায়েন্টের চাহিদা মত তা খুজে বের করতে সাহায্যে করে। বহুলভাবে ব্যবহৃত হচ্ছে এমন জনপ্রিয় কয়েকটি 
                                 সার্চ ইঞ্জিন এর নাম সমূহ <br> www.google.com<br> www.yahoo.com<br> www.amazon.com<br>
                                  www.bing.com<br> www.ask.com<br> www.pipilika.com<br> www.altavista.com, Etc

                                
                                
</p>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <ins class="adsbygoogle"
                                    style="display:block; text-align:center;"
                                    data-ad-layout="in-article"
                                    data-ad-format="fluid"
                                    data-ad-client="ca-pub-9136564254270725"
                                    data-ad-slot="2687298352"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            
                           
                            <h4>২৩. হােস্টিং কী?</h4>
                            <p class="text-justify text-dark">
                             উঃ ইন্টারনেটে ওয়েবের ফাইলগুলাে কোনাে সার্ভারে রাখাকে হােস্টিং বলে। হােস্টিং হচ্ছে মূলত অনলাইনে ওয়েবসাইট | আপলােড করার সার্ভার বা কম্পিউটারের হার্ডডিস্কের জায়গা।

                            </p><hr>
                            <h4>২৪. হােস্টিং ও ডােমেইনের পার্থক্য লিখ।
                            </h4>
                            <p class="text-justify text-dark">
                                উঃ হােস্টিং ও ডােমেইনের পার্থক্য নিচে দেওয়া হল :-
                                <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">হােস্টিং </th>
                                        <th scope="col">ডােমেইন</th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td> ওয়েবসাইট বা ওয়েবপেজকে নির্দিষ্ট একটি ওয়েব সার্ভরে Upload করাকে হােস্টিং বলে।
                                          </td>
                                        <td>আইপি অ্যাড্রেসের Alpharbatic ফারমেটকে ডােমেইন বলে।</td>
                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td> হােস্টিং এর ক্ষেত্রে মেমােরি স্পেস, ব্যান্ডউইডথ, নিরাপত্তা, আপটাইম ইত্যাদি বিষয়ে লক্ষ্য রাখতে হয়।</td>
                                        <td>ডােমেইন এর ক্ষেত্রে  নির্ধারিত নাম, এবং কান্ট্রি ডােমেইন ইত্যাদি বিষয় লক্ষ্য রাখতে হবে। </td>
                                        
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                       
                                        <td>একটি ওয়েব সার্ভারে একাধিক হােস্টিং করা যায়।</td>
                                        <td> একই নাম একাধিক ডােমেইন থাকতে পারে না। </td>
                                      </tr>
                                      
                                    </tbody>
                                  </table>
                                 
                              
                            </p><hr>
                            <h4>২৫, Web Portal কী? </h4>
                            <p class="text-justify text-dark">
                                উঃ ওয়েব পাের্টল হচ্ছে একটি ওয়েবসাইটের মধ্যে বিভিন্ন লিংক, কন্টেন্ট ও সার্ভিস বা সেবার সংগ্রহ যা  ব্যবহারকারীদেরকে তথ্য জানানাের জন্য সহজবােধ্য ভাবে উপস্থাপন করা হয়।
                              
                              </p>

                              <hr>
                            <h4>২৬. URL কী ?
                            </h4>
                            <p class="text-justify text-dark">
                                    উঃ URL এর পূর্নরুপ Universal/Uniform Resource Locator কোনাে ওয়েব পেজকে প্রদর্শন করতে ওয়েব ব্রাউজারে ঠিকানা নির্দিষ্ট করে দিতে হয়। URL হলাে
                                    ওয়েবসাইটের একক (Unique) ঠিকানা।
                                    
                            </p>

                            <h4>২৭. URL কী কী থাকে?</h4>
                            <p class="text-justify text-dark">
                                    উঃ <br> ক) ওয়েব প্রটোকল (Web Protocol)।<br>
                                    খ) ওয়েব সার্ভারের নাম (Web Server Name/Domain Name )<br> গ)সার্ভারের ডিরেক্টরি/ফোল্ডার নাম (Server Directory/Folder Name)<br> ঘ) html ফাইল নাম (Html File Name)
                                    
                                <br><img src="images/ch4p1.JPG" alt="URL">

                            </p><hr>
                            <h4>২৮. ওয়েব প্রটোকল কাকে বলে?
                            </h4>
                            <p class="text-justify text-dark">
                                    উঃ http (Hyper Text Transfer Protocol) প্রটোকল হলাে তথ্য বিনিময়ের যােগাযােগ নিয়ম যা ওয়েব ব্রাউজারকে ওয়েব সার্ভারের সাথে যােগাযােগ করার অনুমতি দেয়। সাধারনত প্রায় সব ওয়েব অ্যাড্রেসই শুরু হয় http:}} দিয়ে। তাই ওয়েব অ্যাড্রেসে এ অংশ লেখা হয় না। WWW দিয়ে
                                    শুরু হয়। </p><hr>
                            <h4>২৯, ওয়েব সার্ভার (Web Server) কী?
                                </h4>

                            <p class="text-justify text-dark">
                             
                                    উঃ কোনাে ওয়েব সাইটকে যেখানে হােস্ট করা হয় তাকে
                                    ওয়েব সার্ভার বলে।
                                    
                            </p><hr>


                            
                            <h4> ৩০, ওয়েব ব্রাউজার (Web Browser) কী অথবা ব্রাউজারের
                                    কাজ কী?
                                    
                            </h4>
                            <p class="text-justify text-dark">
                             
                                  
                            উঃ ব্যবহারকারী তার কম্পিউটারে ওয়েবসাইট দেখার জন্য যে প্রােগ্রামটি ব্যবহার করে সেটি হচ্ছে ব্রাউজার। ব্রাউজার মূলত সার্ভার হতে তথ্য নিয়ে ব্যবহারকারীর সামনে উপস্থাপন করে। * সর্বপ্রথম মার্ক অ্যাড্রেসেন ও এরিক বিনা ১৯৯৩ সালে
                            মােজাইক ব্রাউজার তৈরি করেন।

                                    
                            </p><hr>
                             
                            <h4>  ৩১. কয়েকটি ওয়েব ব্রাউজারের নাম লেখ? </h4>
                            <p class="text-justify text-dark">
                             
                                    উঃ জনপ্রিয় কিছু ওয়েব ব্রাউজার হলাে - Mozilla Firefox, Google Chrome, Opera, Safari, Netscape Navigator, Internet Explorer, Uc Browser.


                                    
                            </p><hr>
                            
                            

                        

                            
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <ins class="adsbygoogle"
                                   style="display:block; text-align:center;"
                                   data-ad-layout="in-article"
                                   data-ad-format="fluid"
                                   data-ad-client="ca-pub-9136564254270725"
                                   data-ad-slot="2458044125"></ins>
                              <script>
                                   (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>
                            
                            
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                             
                           

                            
                             

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>