<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC ICT Chapter 2 Part-3: Communication System And Networking</title>

        
        <meta name="Description" content="HSC ICT Chapter-2 Part-1 : Communication System And Networking we will
        learn about What is redio wave,Microwave,Infrared,Bluetooth,wifi,Wi-Max? Difference between teritorial
         Microwave and Satellite Microwave . Difference between Bluetooth and wifi ?Difference between Wi-Max and wifi?  "/>
         
        
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website"/>
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-ict-communication-system-and-networking-part-3"/>
        
       

        
        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>
        
        

        
        
        <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        

          <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- ict-ads-4 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9136564254270725"
                 data-ad-slot="9659561509"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        
            
                  <div class="d-flex" id="wrapper">

                    <%- include('../../sitebars/ict.ejs') %> 
          </div>
       </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                              <h2 class="bg-dark text-center text-white">HSC ICT Chaper 2 Part-3</h2>
                   
                              <h3 class="mt-4 text-center">Communication System And Networking</h3><p class="text-justify text-secondary"><b>
                                In this HSC ICT Chapter 2 Part-3 : Communication System And Networking we will
                                learn about What is redio wave, Microwave, Infrared? Difference between teritorial Microwave and Satellite Microwave . 
                                Types of Wireless communication System, What is Bluetooth , wifi, Wi-Max ? Difference between Bluetooth and wifi ? 
                                Difference between Wi-Max and wifi ? 

                              </b></p><hr>
          
                              <h4>৪২. রেডিও ওয়েভ কী ও এর আবিস্কারক কে?
                                </h4>
                                <p class="text-justify text-dark">
                                  উঃ 10 KHz থেকে 1 GHz মধ্যে সীমিত তড়িৎ চুম্বকীয় তরঙ্গ কে রেডিও ওয়েভ বলে ।এটি হলাে এক ধরনের ওয়্যারলেস ট্রান্সমিশন মিডিয়া, যা রেডিও ফ্রিকুয়েন্সি। সিগন্যালের মাধ্যমে ডেটা ট্রান্সমিট করে। এর ব্যান্ড উইথ 24 Kbps । এটি 1867 সালে স্কটিস গনিতবিদ James Clerk Maxwell প্রথম এটি আবিস্কার
                                  করেন।
                                  
                                    
                                </p><hr>
                                <h4>৪৩. মাইক্রোওয়েভ কী?
                                </h4>
                                <p class="text-justify text-dark">
                                  উঃ মাইক্রোওয়েভ হলাে হাই-ফ্রিকুয়েন্সি রেডিও ওয়েভ। 1 GHz বা তার বেশি ফ্রিকুয়েন্সিতে পাঠানাে বিদ্যুৎ চুম্বকীয় তরঙ্গকে বলা হয় মাইক্রোওয়েভ। মাইক্রোওয়েভ সিস্টেম মুলত ২ প্রকার যথা <br> ক) সিগন্যাল ট্রান্সমিট।<br>
                                  খ) রিসিভ ট্রান্সমিট।
                                  
                                </p><hr>
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bEQ1zW9d7wk" allowfullscreen></iframe>
                              </div>
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ictads-1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="9985180353"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                            
                            
                           
                           
                           
                           
                            <h4> ৪৪.ইনফ্রারেড (Infrared) কী?
                            </h4>
                            <p class="text-justify text-dark">
                                
                            উঃ ইনফ্রারেড হলাে এক ধরনের ইলেকট্রোম্যাগনেটিক ওয়েভ যার ফ্রিকোয়েন্সি সীমা টেরাহার্জ(THz) হয়ে থাকে। খুবই কাছাকাছি ডিভাইসের মধ্যে ডেটা কমিউনিকেশন ইনফ্রারেড ব্যবহার করা হয়। ৩০০ গিগাহার্জ হতে ৪০০ টেরাহার্জ পর্যন্ত ফ্রিকোয়েন্সিকে বলা হয় ইনফ্রারেড। আবিস্কার : ১৮০০ শতাব্দীতে Infrared ত্বরঙ্গ আবিস্কার করেন উইলিয়াম হার্শেল (William Hershel)।
                            
                                
                            </p>
                            
                            
                            
                            <hr>
                            <h4>45. স্যাটেলাইট মাইক্রোওয়েভ ও টেরিস্টেরিয়াল মাইক্রোওয়েভ মধ্যে পার্থক্য লিখ ?</h4>
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">স্যাটেলাইট মাইক্রোওয়েভ</th>
                                  <th scope="col">টেরিস্টেরিয়াল মাইক্রোওয়েভ </th>
                                  
                                  
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                               
                                  <td> ১। এ পদ্ধতিতে উপগ্রমের সাহায্যে পৃথিবী থেকে প্রায় ২২,২৩০ মাইল উপরে জিওসিনক্রোনাস অরবিটে ট্রান্সমিটার এবং রিসিভার স্থাপিত।

                                   </td>
                                  <td> ১। এ পদ্ধতিতে ভূ-পৃষ্ঠেই  ট্রান্সমিটার এবং রিসিভার স্থাপিত।
                                  </td>
                                </tr>    
                                    
                                <tr>
                                      <td>  ২। এক সঙ্গে একাধিক দেশে কাভারেজ প্রদান করা। যায়। 
                                      </td>
                                      <td>২। এই পদ্ধতিতে শুধুমাত্র একটি দেশেই কাভারেজ প্রদান করা সম্ভব। </td>
                                      
                                </tr>
                                <tr>
                                    <td>৩। এই পদ্ধতিতে ট্রান্সমিটার এবং রিসিভার এর মধ্যে বাধা তৈরি হওয়া সম্ভব নয় বলে সিগন্যাল বাধাপ্রাপ্ত হয় না।/td>
                                    <td>৩। এই ট্রান্সমিটার এবং রিসিভার এর মধ্যে কোন বাধার তৈরি হলে সিগন্যাল বাধাপ্রাপ্ত হয়।

                                    </td>
                                    </tr>
                                
                         
                              </tbody>
                            </table> 
                            <h4>৪৬. ওয়্যারলেস কমিউনিকেশন সিস্টেমের কত প্রকার ও কী কী?
                            </h4>
                            <p class="text-justify text-dark">

                              উঃ ওয়্যারলেস কমিউনিকেশন সিস্টেমের ৪ প্রকার যথাঃ<br> 7) WPAN-Wireless Personal Area Network<br> খ) WLAN-Wireless Local Area Network<br>
                              গ)WMAN-Wireless Metropolitan Area Network<br> ঘ) WWAN-Wireless Wide Area Network
                            </p><hr>
                            <h4>৪৭.ব্লুটুথ (Bluetooth) কী?
                              </h4>
                            <p class="text-justify text-dark">
                              উঃ স্বল্প দূরত্বে ডেটা আদান-প্রদানের জন্য ব্যবহৃত একটি  ওপেন ওয়্যারলেস প্রটোকল হচ্ছে ব্লুটুথ। এটি ১-১০ মিটার দূরত্বের মধ্যে ওয়্যারলেস যােগাযােগের একটি পদ্ধতি। আবিস্কার ও টেলিকম ভেন্ডর কোম্পানি এরিকসন ১৯৯৪। সালে এটি উদ্ভাবন করে। ডেনমার্কের রাজা হ্যারােল্ড ব্লুটুথ 
                              (Harold Bluetooth) এর নামানুসারে করা হয়েছে।
                              
                                
                            </p><hr>

                            <h4>৪৮.হটস্পট কী?

                              </h4>
                            <p class="text-justify text-dark">
                              উঃ হটস্পট হচ্ছে একটি নির্দিষ্ট ওয়ারলেস কভারেজ এরিয়া । অর্থাৎ, যেখান থেকে সংশ্লিষ্ট ডিভাইসের সাহায্যে খুব সহজেই ইন্টারনেট এক্সেস করা যায়। এ ধরনের নেটওয়ার্কই
                              হচ্ছে হটস্পট।
                             
                                
                            </p>
                            

                            <hr>
                            <h4> ৪৯. ওয়াই-ফাই (Wi-Fi) কী? </h4>
                            <p class="text-justify text-dark">
                              উঃ Wi-Fi শব্দের পূর্ন অর্থ হলাে Wireless Fidelity । কম্পিউটার বা ডিজিটাল বৈদ্যুতিক যন্ত্রপাতিগুলােকে
                              তারবিহীন উপায়ে ইন্টারনেটে সংযুক্ত করার একটি প্রযুক্তি হলাে ওয়াই-ফাই।
                              আবিস্কারকঃ ডাচ কম্পিউটার বিজ্ঞানী ভিক্টর ভিক হেয়েস। 

                             
                                                            

                            </p><hr>
                            <h4> ৫০. ব্লটুথ(Bluetooth) ও ওয়াইফাই(Wi-Fi) এর মধ্যে পার্থক্য লিখ?</h4>
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">ব্লটুথ(Bluetooth)</th>
                                  <th scope="col">ওয়াইফাই(Wi-Fi)</th>
                                  
                                  
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                               
                                  <td> ১। স্বল্প দূরত্বে বিভিন্ন ডিভাইসের মধ্যে তারবিহীন সংযােগের প্রযুক্তি। 

                                   </td>
                                  <td> ১। মূলতঃ ইন্টারনেট ভিত্তিক তারবিহীন নেটওয়ার্কের প্রযুক্তি। </td>
                                </tr>    
                                    
                                <tr>
                                      <td> ২।এর ফ্রিকুয়েন্সি 2.4 GHz</td>
                                      <td>২।এর ফ্রিকুয়েন্সি 2.4,3.6,5 GHz </td>
                                      
                                </tr>
                                <tr>
                                    <td>৩।3Mbps-25Mbps রেটে ডেটা ট্রান্সফার করে।</td>
                                    <td>৩।1Mbps-250Mbps রেটে ডেটা ট্রান্সফার করে। 
                                    </td>
                                    </tr>
                                <tr>
                                    <td> ৪। এর নিরাপত্তা কম।</td>
                                    <td>৪। এর নিরাপত্তা বেশি। 
                                    </td>
                                      
                                </tr>
                                <tr>
                                  <td> ৫।এটি মােবাইল, মাউস, কীবাের্ড ইত্যাদি সংযােগ করা যায়।
                                  </td>
                                  <td>৫।এটি কম্পিউটার, সার্ভার, টিভি, স্মার্ট মােবাইল ইত্যাদি সংযােগ করা যায়।
                                  </td>
                                    
                              </tr>
                                
                              
                         
                              </tbody>
                            </table> 
                        
                            

                              
                           
                            <h4>৫১. ওয়াইম্যাক্স(Wi-Max) কী?</h4>
                            <p class="text-justify text-dark">
                              উঃ Wi-Max এর পূর্নরুপ Worldwide Interoperability for Microwave Access WiMax হলাে এমন একটি প্রযুক্তি যার মাধ্যমে উচ্চগতির ব্রডব্যান্ড সেবা, তারবিহীন বিস্তৃত এলাকাজুড়ে ইন্টারনেট অ্যাকসেস করা যায়। প্রযুক্তিগতভাবে IEEE 802.11 নামে
                              পরিচিত। 
                              
                             
                            </p><hr>
                            <h4>৫২. Wi-Fi ও Wi-Max এর মধ্যে বৈশিষ্ট্য লিখ ?

                              </h4>
                            <p class="text-justify text-dark">
                                
                              উঃ Wi-Fi এর বৈশিষ্ট্যঃ<br> ক) 2.4GHz-5GHz ফ্রিকুয়েন্সিতে Wi-Fi কাজ করে।<br> খ) Wi-Fi এর কভারেজ এরিয়া 50-200 মিটার পর্যন্ত হয়ে থাকে।<br> গ) Wi-Fi এর একাধিক Standard রয়েছে ।<br>যেমনঃ 802.a, 802.b, 802.11g এবং 802.11n ইত্যাদি। ঘ) Wi-Fi এর ব্যান্ডউইথ 10-50Mbps ।<br> ঙ) যে কোন মানের বিশ্বের যে কোন জায়গায় কাজ করবে।<br> চ) এটি আইফোন, অ্যানড্রয়েড, ট্যাব, বাদা এবং সিম্বিয়ান অপারেটিং সিস্টেম চালিত ফোনগুলাে ওয়্যারলেস সংযােগ তৈরি করতে পারে।<br> ছ) ক্লায়েন্ট-টু-ক্লায়েন্ট সংযােগগুলাের জন্য রাউটার ছাড়াও এড হক মােডে Wi-Fi ডিভাইসগুলােকে সংযুক্ত করা যায়।<br> জ) Wireless LAN (WLAN) Corsico af 1990 হয়।<br>
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <ins class="adsbygoogle"
                                   style="display:block; text-align:center;"
                                   data-ad-layout="in-article"
                                   data-ad-format="fluid"
                                   data-ad-client="ca-pub-9136564254270725"
                                   data-ad-slot="2687298352"></ins>
                              <script>
                                   (adsbygoogle = window.adsbygoogle || []).push({});
                              </script> 
                              
                              
                              <br><br>Wi-Max এর বৈশিষ্ট্যঃ<br> ক) Wi-Max 2-66GHz ফ্রিকুয়েন্সিতে কাজ করে। <br>খ) এর কভারেজ এরিয়া 30-50 কিলােমিটার পর্যন্ত হয়ে থাকে।<br> গ) Wi-Max এর ১টি Standard রয়েছে। যেমনঃ 802.16।<br> ঘ) Wi-Max এর ব্যান্ডউইথ 30 Mbps থেকে 75Mbps পর্যন্ত।<br> ঙ) বিভিন্ন ধরনের ডিভাইসের মাধ্যমে শহর এবং গ্রামে  পাের্টেবল মােবাইল ব্রডব্যান্ড সংযােগ প্রদান করে।<br>  চ) দ্রুতগতির ইন্টারনেট সুবিধা সহ ডেটা ট্রান্সফারিং,  টেলিফোন সার্ভিস, ভিডিও স্ট্রিমিং ইত্যাদি মাল্টিফাংশন সুবিধা প্রদান করে। <br>ছ) Wireless MAN (WMAN) COFETCO eft 4990 হয়।


                            </p><hr>
                            <h4>৫৩।Wi-Fi ও Wi-Max মধ্যে পার্থক্য লিখ ?

                              </h4>
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col">Wi-Fi</th>
                                    <th scope="col">Wi-Max</th>
                                    
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                 
                                    <td> ১। নেটওয়ার্কের জন্য  কোনাে লাইসেন্স বা কর্তৃপক্ষের অনুমােদনের প্রয়ােজন হয় না। </td>
                                    <td>১। নেটওয়ার্কের জন্য কোনাে লাইসেন্স বা কর্তৃপক্ষের অনুমােদনের প্রয়ােজন হয়। </td>
                                  </tr>    
                                      
                                  <tr>
                                        <td>২।2.4GHz-5GHz ফ্রিকুয়েন্সিতে Wi-Fi কাজ করে।
                                        </td>
                                        <td>২।Wi-Max 2-66GHz ফ্রিকুয়েন্সিতে কাজ করে।
                                        </td>
                                        
                                  </tr>
                                  <tr>
                                      <td>৩। Wi-Fi এর একাধিক Standard রয়েছে।যেমনঃ 802.a, 802.b, 802.11g এবং 802.1ln ইত্যাদি। </td>
                                      <td>৩। Wi-Max এর ১টি  Standard রয়েছে। যেমনঃ  802.16।

                                      </td>
                                      </tr>
                                  <tr>
                                      <td>৪। তুলনামূলক ব্যয় কম।</td>
                                      <td>৪। তুলনামূলক ব্যয় বেশি।
                                      </td>
                                        
                                  </tr>
                                  <tr>
                                    <td> ৫।এর ব্যান্ডউইথ 1050Mbps

                                    </td>
                                    <td>৫। এর ব্যান্ডউইথ 30Mbps থেকে 75Mbps পর্যন্ত।

                                    </td>
                                      
                                </tr>
                        
                                </tbody>
                              </table> 
                             
                            


                           
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                              
                        
                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                           
                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                            <div class="well mt-5 sticky-top">
                                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- ict-verticle-1 -->
                                    <ins class="adsbygoogle"
                                         style="display:block"
                                         data-ad-client="ca-pub-9136564254270725"
                                         data-ad-slot="1200802774"
                                         data-ad-format="auto"
                                         data-full-width-responsive="true"></ins>
                                    <script>
                                         (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                            </div>

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>