<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC ICT Chapter 4 Part-3 : Introduction to Web Design And Html</title>

        
        <meta name="Description" content="In this HSC ICT Chapter 4 Part-3 : Introduction to Web Design And Html we will learn about What is html, Tag, HTML main Structure? We given the html tag list .Introduction to Web Design and HTML
        What is Attributes ,empty tag , container tag , Attributes value ?" />
       
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-ict-web-design-and-html-part-3"/>

        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>
          <script async type="text/javascript" src="js/print/run_prettify.js??autoload=true&amp;skin=sunburst&amp;"></script>
        

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/ict.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                              <h1 class="bg-dark text-center text-white">HSC ICT Chaper 4 Part-3</h1>
                   
                              <h3 class="mt-4 text-center">Introduction to Web Design and HTML</h3>
                              <p class="text-justify text-secondary"><b>
                                In this HSC ICT Chapter 4 Part-3 : Introduction to Web Design And Html we will
                                learn about What is HTML, HTML tag, What is Attributes, List of  HTML tag .
                              </b></p><hr>

                              <h4>৩২. HTML এর ধারনা সৰ্বপ্ৰথম কে দেন?
                              </h4>
                            <p class="text-justify text-dark">

                                উঃ ১৯৮৯ সালে জেনেভার সার্ন CNER এ কাজ করার সময় প্রথম ওয়েব পেজ তৈরি করেন টিম বার্নাস-লি (Tim Berners-Lee) এবং 6 আগষ্ট 1991 সাল থেকে অনলাইন ওয়েব পেজ রাখা শুরু হয়। 1996 সালের ডিসেম্বর মাসে W3C কর্তৃক CSS চালু হয়। এ যাবৎ এর কয়েকটি ভার্সন। বের হয়েছে। বর্তমানে সর্বশেষ ভার্সন হলাে HTML5 । 
                              </p><hr>
                            <h4>৩৩. HTML কী?
                            </h4>
                          <p class="text-justify text-dark">

                            উঃ HTML এর পূর্নরূপ Hyper Text Markup Language, এটি কোনাে প্রােগ্রামিং ল্যাংঙ্গুয়েজ নয়। এটি Mark Up Language এক সেট Mark Up ট্যাগের সমন্বয়ে গঠিত হয় ওয়েবপেজ । 
                            একটা ওয়েব পেজের বিভিন্ন অংশ ব্রাউজারের মাধ্যমে কিভাবে প্রদর্শিত হবে, তা HTML
                            এ Mark Up ট্যাগ সমূহ ব্যবহার করে প্রকাশ করা হয়।
                             </p><hr>
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sbZpn0i8L0A" allowfullscreen></iframe>
                              </div>
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-ads-4 -->
                                <ins class="adsbygoogle"
                                    style="display:block"
                                    data-ad-client="ca-pub-9136564254270725"
                                    data-ad-slot="9659561509"
                                    data-ad-format="auto"
                                    data-full-width-responsive="true"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            
                            
                         


                          
                            
                            <h4>৩৪. Tag কী?</h4>
                            <p class="text-justify text-dark">
                               

                                উঃ Tag শব্দের আভিধানিক অর্থ হল জুড়ে দেয়া। ট্যাগগুলাে হলাে কীওয়ার্ড, যেগুলাে উভয় পাশে অ্যাঙ্গেল <> বা </> চিহৃ এবং এর মাঝে লেখা একটি Keyword কে একত্রে ট্যাগ বলা হয়। যেমনঃ &lt;html&gt; এবং &lt;/html&gt; <body> হল Body শুরু ট্যাগ এবং &lt;/body&gt; হল Body শেষ ট্যাগ। 

                            
                            </p><hr>
                         <h4>৩৫. Tag কত প্রকার ও কী কী?</h4>
                            <p class="text-justify text-dark">
                               
                                উঃ HTML-এ মূলত দূধরনের ট্যাগ ব্যবহৃত হয়। যথাঃ- <br> ক) এম্পটি ট্যাগ (Empty Tag)।
                                <br>খ) কনটেইনার ট্যাগ (Container Tag)।  <br> <br> <b>ক) এম্পটি ট্যাগ: </b>যে সমস্ত ট্যাগের ওপেনিং বা শুরু ট্যাগ আছে কিন্তু ক্লোজিং বা শেষ ট্যাগ নেই তাকে ফাঁকা বা এম্পটি ট্যাগ বলে।
                                Yang &lt;br&gt;, &lt;hr&gt;, &lt;img&gt; &lt;link&gt;, &lt;meta&gt; Etc<br> <b>খ) কনটেইনার: </b> যে সমস্ত ট্যাগের ওপেনিং বা শুরু ট্যাগের বিষয়বস্তু ও ক্লোজিং বা শেষ ট্যাগ থাকে তাকে কনটেইনার বা ধারক ট্যাগ বলে। যেমনঃ &lthtml&gt;......&lt;/html&gt;  , &lt;p&gt;......&lt;/p&gt; Etc

                          </p><hr>
                            
                            <h4>36.HTML main Structure?</h4>
                            
<pre class="prettyprint"><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        .......
        .......
    &lt;/head&gt;
    &lt;body&gt;
        ......
        ......
    &lt;/body&gt;

&lt;/html&gt;</code></pre>
                            <h4></h4>
                            <p class="text-justify text-dark">
                                
                            </p><hr>

                            <h4>৩৭। অ্যাট্রিবিঊট কি ? কতটি অংশ থাকে ?</h4>
                            <p class="text-justify text-dark">
                                উঃ যেকোন ট্যাগের ভেতরে নতুন কিছু যোগ করাকে অ্যাট্রিবিঊট বলে । সাধারনত ২টি অংশ থাকে -
                                <br>ক) অ্যাট্রিবিঊট নাম<br>খ) অ্যাট্রিবিঊট ভ্যেলু । যেমনঃ <br>

                                <img src="images/html_att.JPG" alt="Html Attributes"></p>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <ins class="adsbygoogle"
                                    style="display:block; text-align:center;"
                                    data-ad-layout="in-article"
                                    data-ad-format="fluid"
                                    data-ad-client="ca-pub-9136564254270725"
                                    data-ad-slot="2687298352"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            
                           
                            
                            <h4>৩৮. HTML ট্যাগের তালিকা ?
                            </h4>
                            <p class="text-justify text-dark">
                                উঃ HTML ট্যাগের তালিকা নিচে দেওয়া হল :-
                                <table class="table table-bordered"> 
                                    <thead>
                                      <tr>
                                        <th scope="col">Statring Tag</th>
                                        <th scope="col">Ending Tag </th>
                                        <th scope="col">Description</th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>&lt;html&gt;</td>
                                        <td>&lt;/html&gt;</td>
                                        <td>প্রধান ডকুমেন্ট । সকল ইলিমেন্ট এই ট্যাগের ভেতরে থাকে ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;head&gt;</td>
                                        <td>&lt;/head&gt;</td>
                                        <td> সকল ধরনের লাইব্রেরি সংযুক্ত করোন । </td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;title&gt;</td>
                                        <td>&lt;/title&gt;</td>
                                        <td>ডকুমেন্ট নাম দেয়ার জন্য ব্যবহার করা হয়ে থাকে । </td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;body&gt;</td>
                                        <td>&lt;/body&gt;</td>
                                        <td>প্রধান ডকুমেন্টের ২য় অংশ । </td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;p&gt;</td>
                                        <td>&lt;/p&gt;</td>
                                        <td>প্যারাগ্রাফ ট্যাগ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;h1&gt; to &lt;h6&gt;</td>
                                        <td>&lt;/h1&gt; to &lt;/h6&gt;</td>
                                        <td>হেডিং ট্যাগ মোট ৬টি ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;i&gt;</td>
                                        <td>&lt;/i&gt;</td>
                                        <td>লেখা গূলোকে ইতালিক ফ্রম বা বাকা করে লেখার জন্য ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;b&gt;</td>
                                        <td>&lt;/b&gt;</td>
                                        <td>লেখা মোটা করার জন্য এই ট্যাগ ব্যবহার হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;u&gt;</td>
                                        <td>&lt;/u&gt;</td>
                                        <td>লেখা গূলোর নিচে আন্ডার লাইন করার জন্য । </td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;big&gt;</td>
                                        <td>&lt;/big&gt;</td>
                                        <td>লেখা মোটা করার জন্য এই ট্যাগ ব্যবহার হয় । </td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;small&gt;</td>
                                        <td>&lt;/small&gt;</td>
                                        <td>লেখা ছোট করার জন্য এই ট্যাগ ব্যবহার হয়  ।</td>
                                       
                                      </tr>

                                      
                                      <tr>
                                        <td>&lt;strong&gt;</td>
                                        <td>&lt;/strong&gt;</td>
                                        <td>লেখা মোটা করার জন্য এই ট্যাগ ব্যবহার হয়  ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;ol&gt;</td>
                                        <td>&lt;/ol&gt;</td>
                                        <td>অর্ডাড লিষ্ট করার জন্য ব্যবহার করা হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;ul&gt;</td>
                                        <td>&lt;/ul&gt;</td>
                                        <td>আন অর্ডাড লিষ্ট করার জন্য ব্যবহার করা হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;li&gt;</td>
                                        <td>&lt;/li&gt;</td>
                                        <td>লিষ্ট করার জন্য ব্যবহার করা হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;em&gt;</td>
                                        <td>&lt;/em&gt;</td>
                                        <td>লেখা গুলোকে ইটালিক করা ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;table&gt;</td>
                                        <td>&lt;/table&gt;</td>
                                        <td> টেবিল করার জ্ন্য এটি ব্যাবহার করা হয় ।</t>র
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;tbody&gt;</td>
                                        <td>&lt;/tbody&gt;</td>
                                        <td>টেবিলের সকল ডেটা রাখার জন্য এটি ব্যাবহার করা হয় ।</td>
                                       
                                      </tr>
                                      
                                      <tr>
                                        <td>&lt;th&gt;</td>
                                        <td>&lt;/th&gt;</td>
                                        <td>টেবিলের কলামের না্ম লিখতে এটি ব্যবহার করা হয় । </td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;td&gt;</td>
                                        <td>&lt;/td&gt;</td>
                                        <td>ডেটা রাখার জন্য এটি ব্যাবহার করা হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;tr&gt;</td>
                                        <td>&lt;/tr&gt;</td>
                                        <td>টেবিলের রো লিখার জ্ন্য এটি ব্যবহার । </td>
                                       
                                      </tr>
                                     
                                      <tr>
                                        <td>&lt;center&gt;</td>
                                        <td>&lt;/center&gt;</td>
                                        <td>লেখা গুলোকে মাঝ খানে নিতে ব্যবহার করা হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;pre&gt;</td>
                                        <td>&lt;/pre&gt;</td>
                                        <td>প্রিফরমেট লেখা গুলোকে লিখতে এই ট্যাগ ব্যবহার করা হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;sub&gt;</td>
                                        <td>&lt;/sub&gt;</td>
                                        <td>কোনাে লেখাকে নিচে লিখতে এই ট্যাগ ব্যবহার করা হয় । যেমনঃ H<sub>2</sub>O </td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;sup&gt;</td>
                                        <td>&lt;/sup&gt;</td>
                                        <td>কোনাে লেখাকে উপরে লিখতে এই ট্যাগ ব্যবহার করা হয় । যেমনঃ a<sup>2</sup> + b<sup>2</sup>  ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;form&gt;</td>
                                        <td>&lt;/form&gt;</td>
                                        <td>ফরম তৈরির জন্য এটি ব্যবহার করা হয় । </td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;address&gt;</td>
                                        <td>&lt;/address&gt;</td>
                                        <td> address লেখার জ্ন্য ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;del&gt;</td>
                                        <td>&lt;/del&gt;</td>
                                        <td>লেখার মাঝ খানে কাটা দাগ করার জন্যে যেমনঃ <del>this an example</del></td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;br&gt;</td>
                                        <td></td>
                                        <td>লাইন ব্রেক করার জন্য ব্যবহার করা হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;hr&gt;</td>
                                        <td></td>
                                        <td>হরিজন্টাল দাগ দেওয়ার জন্য ব্যবহার করা হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td colspan="2">&lt; a href=”URL"&gt;Url Name &lt;/a&gt;</td>
                                        
                                        <td>লিংক যুক্ত করার জন্য ব্যবহার করা হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td colspan="2">&lt;img src=”Pic name”&gt;</td>
                                       
                                        <td>ছবি যুক্ত করার জন্য ব্যবহার করা হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;input&gt;</td>
                                        <td></td>
                                        <td> উজার থেকে ডেটা নেওয়ার জন্য ব্যবহার করা হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;style&gt;</td>
                                        <td></td>
                                        <td>বিভিন্ন রুপ দেওয়ার জন্য ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;caption&gt;</td>
                                        <td>&lt;/caption&gt;</td>
                                        <td>লেখার গঠন ঠীক করার জন্য ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;marquee&gt;</td>
                                        <td>&lt;/marquee&gt;</td>
                                        <td>লেখাকে স্লাইড করানোর জন্য ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>&lt;div&gt;</td>
                                        <td>&lt;/div&gt;</td>
                                        <td>একটি ডকুমেন্টকে বিভিন্ন ভাবে ভাগ করার জন্য ব্যাবহার করা হয় ।</td>
                                       
                                      </tr>
                                      <tr>
                                        <td colspan="3">এছাড়াও আরোও অনেক ট্যাগ রয়েছে । কাজ করতে করতে শিখে যাবা আশা করি । </td></tr>

                              
                                    </tbody>
                                  </table>
                                 
                              
                            </p>
                            
                            
                            

                        

                            
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <ins class="adsbygoogle"
                                   style="display:block; text-align:center;"
                                   data-ad-layout="in-article"
                                   data-ad-format="fluid"
                                   data-ad-client="ca-pub-9136564254270725"
                                   data-ad-slot="2458044125"></ins>
                              <script>
                                   (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>
                            
                            
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                             
                           

                            
                             

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>