<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC ICT Chapter 2 Part-1: Communication System And Networking</title>

        
        <meta name="Description" content="HSC ICT Chapter 2 Communication System And Networking we 
        will learn about What is Data,Computer Network,Internet,Communication,Communication System ?
         What is Data Transmission,Signal,Web,Difference between Asynchronous Transmission and Synchronous Transmission ."/>
         
        
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-ict-communication-system-and-networking-part-1"/>

        <%- include('../../includes/boostrap-head.ejs') %>
          <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>
        
        

        
        
        <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        

          <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ict-ads-4 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="9659561509"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
            
                  <div class="d-flex" id="wrapper">

                    <%- include('../../sitebars/ict.ejs') %> 
          </div>
       </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                              <h2 class="bg-dark text-center text-white">HSC ICT Chaper 2 Part-1</h2>
                   
                              <h3 class="mt-4 text-center">Communication System And Networking</h3><p class="text-justify text-secondary"><b>
                                In this HSC ICT Chapter 2 Part-1 : Communication System And Networking we will
                                learn about What is Data , Computer Network, Internet, Communication,Communication System ? What is BPS, 
                                Bit, Character, word, Data Transmission, Signal, Web Form, Squre web, sign web, Amplitude, Frequency, Band Width,
                                Asynchronous Transmission, Synchronous Transmission, Isochronous Transmission ? Difference between Asynchronous Transmission and Synchronous Transmission .
                                What is Simplex , Half-Duplex, Full-Duplex ? Difference between Half Duplex, Full Duplex .
                              </b></p><hr>
                              <h2>১. কম্পিউটার নেটওয়ার্ক (Computer Network) কাকে বলে?
                                </h2>
                                <p class="text-justify text-dark">
    
                                   
                                  উঃ বিভিন্ন কম্পিউটার কোন যােগাযােগ ব্যবস্থার দ্বারা একসঙ্গে যুক্ত থাকলে তাকে কম্পিউটার নেটওয়ার্ক বলে।
                                </p><hr>
                                <h4>২. ইন্টারনেট (Internet) কাকে বলে?
                                </h4>
                                <p class="text-justify text-dark">
                                  
                                  উঃ ক্ষুদ্র ক্ষুদ্র নেটওয়ার্কের সমন্বয়ে গঠিত একটি বৃহৎ
                                    নেটওয়ার্ককে ইন্টারনেট (Internet) বলে। 
    
    
                                </p><hr>
                                <h2>৩. ডেটা (Data) কী??
                                </h2>
                                <p class="text-justify text-dark">
                                  
                                    উঃ Data শব্দটি ল্যাটিন শব্দ Datum -এর বহুবচন। Datum অর্থ হচ্ছে তথ্যের উপাদান। তথ্যের অন্তর্ভূক্ত ক্ষুদ্রতম অংশসমূহ। হচ্ছে ডেটা বা উপাত্ত  অর্থাৎ, যে কোনাে তথ্য বা উপাত্তকেই ডেটা বলে।
    
                                </p><hr>


          
                              
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bEQ1zW9d7wk" allowfullscreen></iframe>
                              </div>
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ict-ads-3 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="3477296539"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                            
                            


                           
                            <h4>৪. কমিউনিকেশন (Communication )কী?
                            </h4>

                            
                            <p class="text-justify text-dark">
                              উঃ কমিউনিকেশন শব্দটি ল্যাটিন শব্দ “Communicare” থেকে এসেছে যার অর্থ “to Share”(আদান-প্রদান) করা। কমিউনিকেশন শব্দটির অর্থ হল যােগাযােগ।
                            </p><hr>
                              
                                 
                          
                            <h2>৫. ডেটা কমিউনিকেশন (Data Communication) কাকে বলে?
                            </h2>
                            <p class="text-justify text-dark">
                              উঃ কোন ডেটাকে এক স্থান থেকে অন্য স্থানে অথবা এক ডিভাইস থেকে অন্য ডিভাইসে অথবা একজনের ডেটা
                              অন্যজনের নিকট বাইনারি পদ্ধতিতে স্থানান্তর করার পদ্ধতি। হলাে ডেটা কমিউনিকেশন। যেমনঃ কম্পিউটার থেকে পেনড্রাইভ, মােবাইল,মডেম ইত্যাদি।
                              </p><hr>
                            
                            <h4>৬. ডেটা কমিউনিকেশনের (Data Communication) মৌলিক উপাদান কয়টি ও কী কী?
                            </h4>
                            <p class="text-justify text-dark">
                             উঃ ডেটা কমিউনিকেশনের (Data Communication) মৌলিক উপাদান ৩টি যথাঃ<br> ক) প্রেরক।<br>
                              খ) মাধ্যম।<br>
                              গ) গ্রাহক। 

                            </p><hr>
                            <h4>৭. কমিউনিকেশন সিস্টেম কত প্রকার ও কী কী বর্নণা কর?

                            </h4>
                            <p class="text-justify text-dark">
                              উঃ কমিউনিকেশন সিস্টেম ৪ প্রকার যথাঃ<br> ক) বায়ােলজিক্যাল কমিউনিকেশন।<br>
                                খ) গ্রাফিক্যাল কমিউনিকেশন।<br> গ) ওয়েভ কমিউনিকেশন।<br>
                                ঘ) টেলিকমিউনিকেশন।<br><br> ক) বায়ােলজিক্যাল কমিউনিকেশন: সকল ধরনের কমিউনিকেশন যেখানে শরীরের বিভিন্ন অংশ দ্বারা করা হয়। তাকে বায়ােলজিক্যাল কমিউনিকেশন বলে। যেমন  মস্তিস্ক, স্বরযন্ত্র, কান, বাহু, এবং হাত ইত্যাদি।<br><br> খ) গ্রাফিক্যাল কমিউনিকেশন ও সকল ধরনের কমিউনিকেশন যেখানে ছবি ও চিহ্নের মাধ্যমে প্রকাশ করা হয় তাকে গ্রাফিক্যাল কমিউনিকেশন বলে। যেমনঃ ছবি, এ্যানিমেশন, ভিডিও ইত্যাদি।
                                <br> <br>গ) ওয়েভ কমিউনিকেশন: সকল ধরনের কমিউনিকেশন যা মেসেজকে একটি শক্তির উৎস দ্বারা বহন করে প্রকাশ করাকে ওয়েভ কমিউনিকেশন বলে। যেমনঃ বায়ু, পানি, মহাশূন্য ইত্যাদি। <br> <br> ঘ) টেলিকমিউনিকেশন :দূরবর্তী স্থানে যােগাযােগের পদ্ধতিকে টেলিকমিউনিকেশন বলে। যেমনঃ টেলিফোন, মােবাইল ফোন, টেলিভিশন, রেডিও
                                ইত্যাদি।

                            </p><hr>

                            <h4> ৮, ডেটা কমিউনিকেশনের (Data Communication) উপাদান সমূহের বর্ণনা কর?
                            </h4>
                            <p class="text-justify text-dark">
                              উঃ ডেটা কমিউনিকেশন সিস্টেম ৫টি উপাদান নিয়ে গঠিত। যথাঃ <br> ক) উৎস <br>
                                খ) প্রেরক<br> গ) মাধ্যম।<br> ঘ) গ্রাহক<br>
                                ঙ) গন্তব্য।<br><br> ক) উৎস : যে ডিভাইস হতে ডেটা পাঠানাে হয় তাকে উৎস বলে। যেমনঃ কম্পিউটার, টেলিফোন ইত্যাদি।<br><br> খ) প্রেরকঃ উত্স থেকে প্রাপকের নিকট ডেটা পাঠানাের জন্য যে যন্ত্র ব্যবহৃত হয় তাকে প্রেরক বলে। যেমন  মডেম।<br><br> গ) মাধ্যমঃ যার মাধ্যমে ডেটাসমূহ এক স্থান থেকে অন্য স্থানে বা এক কম্পিউটার থেকে অন্য কম্পিউটারে স্থানান্তর করা হয় তাকে মাধ্যম বলে। যেমন রেডিও ওয়েব, ক্যাবল, মাইক্রোওয়েভ, স্যাটেলাইট ইত্যাদি।<br><br> ঘ) গ্রাহকঃ যে যন্ত্র ডেটা গ্রহন করে তাকে গ্রাহক বলে। যেমনঃ মডেম, মােবাইলের সিম ইত্যাদি। <br><br>ঙ) গন্তব্যঃ সর্বশেষ গন্তব্য হিসেবে সার্ভার বা কম্পিউটার ব্যবহৃত হয়।
                                যেমনঃ কম্পিউটার।

                            </p><hr>
                            <h4>৯. Bps, বিট ও ক্যারেক্টার বা Word কী?
                            </h4>
                            <p class="text-justify text-dark">
                              
                                    উঃ bps : প্রতি সেকেন্ডে বিট ডেটা স্থানান্তরিত হওয়ার হারকে bps বা Bit Per Second বলে।<br> বিটঃ তথ্যের ক্ষুদ্রতম একক হলাে বিট (Bit)। Bit এর পুরাে নাম Binary Digit এক বিট সমান বাইনারি তথ্য 0 বা 1<br> ক্যারেক্টারঃ 8 বিটে 1(এক) বাইট (Byte)। ১ বাইট সমান এক ক্যারেক্টার বা Word ।

                            </p><hr>
                            <h4>১০. ডেটা ট্রান্সমিশন (Data Transmission) স্পীড কী?</h4>
                            <p class="text-justify text-dark">
                              উঃ মােবাইল হতে অথবা এক কম্পিউটার থেকে অন্য কম্পিউটারে ডেটা স্থানান্তরের হারকে ডেটা ট্রান্সমিশন স্পীড
                              (Data Transmission)  বলে। 

                            </p><hr>
                            <h4>১১. সিগন্যাল (Signal) কী?
                            </h4>
                            <p class="text-justify text-dark">
                              
                                  উঃ সময়ের সাথে ভােল্টেজের পরিবর্তনকে অর্থাৎ উঠানামাকে সিগন্যাল বলে। সিগন্যাল দুই প্রকার যথাঃ <br> ক) এনালগ সিগন্যাল ।
                                   <br> খ) ডিজিটাল সিগন্যাল ।

                              </p><hr>
                             
                            <h4>১২. ওয়েভফর্ম (Web Form) কী?
                            </h4>
                            <p class="text-justify text-dark">
                              উঃ ডেটা কমিউনিকেশনে বা ডেটা ট্রান্সমিশনে (Data Transmission) সিগন্যাল ট্রান্সমিট হয় ভােল্টেজের উঠানামার মাধ্যমে, এই উঠানামা প্রকাশের ধরনকে বলা হয় ওয়েভফর্ম। 
                            </p><hr>
                            <h4>১৩. স্কয়ার ওয়েভ(Squre web) ও সাইন(sign web) ওয়েভ কাকে বলে?

                            </h4>
                            <p class="text-justify text-dark">
                             
                                  উঃ স্কয়ার ওয়েভঃ ডিজিটাল সিগনালের ওয়েবফর্মকে স্কয়ার ওয়েভ বলে। সাইন ওয়েভঃ
                                  এনালগ সিগনালের ওয়েবফর্মকে সাইন ওয়েভ বলে।         

                            </p><hr>
                            <h4>১৪. এমপ্লিচ্যুড (Amplitude) কী?
                            </h4>
                            <p class="text-justify text-dark">
                              উঃ একটি ওয়েভের সর্বোচ্চ ও সর্বনিম্ন পয়েন্টের দুরত্বকে এমপ্লিচ্যুড বলে। এই এমপ্লিচ্যুড যত বেশি হবে সেই সিগন্যাল তত শক্তিশালী হবে। এই শক্তিকে মাপা হয় এম্পিয়ার(Ampere) হিসেবে।
                            </p><hr>
                            
                            <h4>১৫. ফ্রিকোয়েন্সি (Frequency) কী?</h4>

                            <p class="text-justify text-dark">
                              উঃ প্রতি সেকেন্ডে কোনাে সিগন্যাল যতগুলি ওয়েব তৈরি করে তাকে ফ্রিকোয়েন্সি বলে। এই ফ্রিকোয়েন্সি মাপা হয় হার্জ(Hz) হিসেবে।
                              <hr> 
                            
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <ins class="adsbygoogle"
                                   style="display:block; text-align:center;"
                                   data-ad-layout="in-article"
                                   data-ad-format="fluid"
                                   data-ad-client="ca-pub-9136564254270725"
                                   data-ad-slot="2458044125"></ins>
                              <script>
                                   (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>
                            
                          

                            <h4> ১৬. ব্যান্ড উইঙ্খ (Band Width) কী?</h4>
                            <p class="text-justify text-dark">
                              
                                  উঃ একটি মাধ্যম হতে অন্য মাধ্যমে প্রতি সেকেন্ডে যে পরিমাণ বিট ট্রান্সমিট করা হয় তাকে ব্যান্ড উইথ বলে। যেমনঃ Bps, Kbps, Mbps, Gbps, Tbps ইত্যাদি।

                            </p><hr>


                            
                            <h4> ১৭. 325Kbps বলতে কী বুঝায়?

                            </h4>
                            <p class="text-justify text-dark">
                              উঃ একক সময়ে এক কম্পিউটার থেকে অন্য কম্পিউটার বা এক ডিভাইস থেকে অন্য ডিভাইসে ডেটা স্থানান্তরের হারকে ডেটা ট্রান্সমিশন স্পিড বলে। 325Kbps বলতে বােঝায় প্রতি সেকেন্ডে 325 কিলােবাইট ডেটা এক ডিভাইস থেকে অন্য ডিভাইসে স্থানান্তরিত হয়।

                            </p><hr>

                            
                            <h4>১৮. Bps, Kbps, Mbps, Gbps, Tbps এর পূর্নরুপ লিখ?

                            </h4>
                            <p class="text-justify text-dark">
                            
                             
                            <br>• Bps = Bit per Second (1 bit=0 or 1) <br>•
                             Kbps = Kilobits per Second (1024 bit= 1Kb)<br>
                              • Mbps = Megabits per Second (1024 kb= 1Mb)<br>
                               • Gbps = Gigabits per second (1024mb= 1Gb)<br> 
                               • Tbps = Terabits per second (1024gb= 1Tb) 
                               <br>এছাড়া আরও আছে- Peta,Exa,Zetta,Yotta.
                            </p><hr>
                            <h4>১৯. ডেটা ট্রান্সমিশন স্পীড কত প্রকার ও কী কী বর্ণা দাও?</h4>
                            <p class="text-justify text-dark">
                              উঃ  ডেটা কমিউনিকেশনের গতিতে ৩ ভাগে বিভক্ত। যথাঃ<br> ক) ন্যারাে ব্যান্ড (Narrow Band)<br>
                              খ) ভয়েস ব্যান্ড (Voice Band)<br>
                              গ) ব্রড ব্যান্ড (Broad Band) <br><br>ক) ন্যারাে ব্যান্ডঃ সাধারনত 45bps থেকে 300bps পর্যন্ত হয়ে থাকে। এই ব্যান্ড ধীরগতি সম্পন্ন ডেটা ট্রান্সমিশন- এর ক্ষেত্রে ব্যবহার করা হয় । যেমনঃ টেলিগ্রাফ।<br><br> খ) ভয়েস ব্যান্ডঃ ভয়েস ব্যান্ডের গতি সাধারনত 1200 bps থেকে 9600 bps বা 9.6 Kbps পর্যন্ত হয়ে থাকে। এটি সাধারনত টেলিফোনে বেশি ব্যবহৃত হয়। যেমনঃ টেলিফোন, প্রিন্টার, কার্ড-রিডার ইত্যাদি।<br><br> গ) ব্রডব্যান্ডঃ উচ্চ গতিসম্পন্ন ডেটা স্থানান্তর প্রক্রিয়ায় ব্রড ব্যান্ড ব্যবহার করা হয়। এ ব্যান্ডের গতি 1Mbps এর চেয়ে | বেশি হয়ে থাকে। এটি স্যাটেলাইট, মাইক্রোওয়েভ | কমিউনিকেশনে ব্যবহৃত হয়। যেমনঃ Wi-MAX, স্যাটেলাইট, মাইক্রোওয়েভ, কো
                              এক্ৰিয়াল ক্যাবল, অপটিক্যাল ফাইবার ইত্যাদি। 
                              

                            </p>
                             <hr>
                            <h4>২০.ট্রান্সমিশন মেথড কাকে বলে?
                            </h4>
                            <p class="text-justify text-dark">
                              উঃ একটি কম্পিউটার হতে অন্য কম্পিউটারে ডেটা ট্রান্সমিশন
                                  হওয়ার প্রক্রিয়ার পদ্ধতি বা সিস্টেমকে ট্রান্সমিশন মেথড বলে।

                            </p><hr>
                            <h4>২১. বিট সিনক্রোনাইজেশন কাকে বলে?</h4>
                            <p class="text-justify text-dark">
                              উঃ যে কোনাে ডেটা পাঠানাের সময় সিগন্যাল বিট ও ডেটা | বিটগুলাের মধ্যে সমন্বয়ের জন্য ব্যবহৃত পদ্ধতিকে বিট
                              সিনক্রোনাইজেশন বলে।
                              
                            </p><hr>
                            <h4> ২২. ডেটা ট্রান্সমিশন মেথড কত প্রকার ও কী কী বর্নণা দাও? </h4>
                            <p class="text-justify text-dark">
                             
                          উঃ সিনক্রোনাইজেশনের ভিত্তিতে ডেটা ট্রান্সমিশন মেথড ৩ প্রকার, যথাঃ <br> ক) অ্যাসিনক্রোনাস ট্রান্সমিশন
                          (Asynchronous Transmission)<br> খ) সিনক্রোনাস ট্রান্সমিশন
                          (Synchronous Transmission)<br> গ) আইসােক্রোনাস ট্রান্সমিশন
                          (Isochronous Transmission) <br><br>ক) অ্যাসিনক্রোনাস ট্রান্সমিশনঃ 
                          যে ট্রান্সমিশন সিস্টেমে ডেটা প্রেরকের কাছ থেকে ডেটা প্রাপকের কাছে ক্যারেক্টার 
                          বাই ক্যারেক্টার ট্রান্সমিট হয় তাকে অ্যাসিনক্রোনাস ট্রান্সমিশন বলে।
                           যেমনঃ প্রতি ক্যারেক্টারে ১০ বা ১১ বিটের ডেটায় রুপান্তরিত হয়ে ডেটা ট্রান্সমিট
                            হয়।<br><br> খ) সিনক্রোনাস ট্রান্সমিশনঃ যে ট্রান্সমিশন সিস্টেমে ডেটা সমূহকে ব্লক আকারে
                             ভাগ করে প্রতি বার ১টি করে ব্লক ট্রান্সমিট করা হয় তাকে সিনক্রোনাস ট্রান্সমিশন বলে। যেমনঃ 
                             প্রতি ব্লক ৮০ থেকে ১৩২টি ক্যারেক্টার নিয়ে গঠিত হয়।<br><br> গ) আইসােক্রোনাস ট্রান্সমিশনঃ
                              যে ট্রান্সমিশনে প্রেরক ও প্রাপক স্টেশনের মধ্যে ডেটা ট্রান্সমিশন ডিলে সর্বনিম্ন রাখা হয় অর্থাৎ,
                               পর পর দুটি ব্লকের ডেটা ট্রান্সফারের সময় প্রায় ০(শুন্য) একক সময় ব্যবহার করা হয় তাকে 
                               আইসােক্রোনাস বলে। যেমনঃ প্রিন্টারের জন্য এক ধরনের মেথড, গানের জন্য এক ধরনের মেথড।
                                    </p><hr>
                            <h4>২৩. অ্যাসিনক্রোনাস ও সিনক্রোনাসের বৈশিষ্ট্য লিখ?</h4>
                            <p class="text-justify text-dark">
                              উঃ অ্যাসিনক্রোনাস এর বৈশিষ্ট্যঃ<br> ক) প্রেরক যেকোনাে সময় ডেটা ট্রান্সমিট করতে পারে এবং গ্রাহক তা গ্রহন করতে পারে।<br> খ) প্রতি ক্যারেক্টারের শুরুতে একটি স্টার্ট বিট ও শেষে একটি বা দুটি স্টপ বিট ট্রান্সমিট করা হয়।<br> গ) একটি ক্যারেক্টার পর আরেকটি ক্যারেক্টার ট্রান্সমিট হবার সময় মাঝখানে বিরতি সমান হয় না।<br> ঘ) ইন্সটলেশন খরচ অত্যন্ত কম এবং জটিল সার্কিট ছাড়াই। বাস্তবায়ন করা যায়।<br><br> সিনক্রোনাস এর বৈশিষ্ট্যঃ <br>ক) ডেটাকে ব্লক আকারে ট্রান্সমিট করা হয়।<br> খ) প্রতিটি ক্যারেক্টারের শুরু ও শেষে স্টার্ট এবং স্টপ বিটের প্রয়ােজন হয় না।<br>
                                
                                গ) পর পর দুটি ব্লক ট্রান্সমিট হওয়ার মধ্যবর্তী সময় সমান হয়।<br>  ঘ) প্রতি ব্লকের শুরুতে একটি হেডার এবং শেষে একটি ট্রেইলার ইনফরমেশন সিগন্যাল পঠানাে হয়।</p><hr>
                            <h4>২৪. অ্যাসিনক্রোনাস ও সিনক্রোনাসের সুবিধা ও অসুবিধা লিখ?

                            </h4>
                            <p class="text-justify text-dark">
                              উঃ অ্যাসিনক্রোনাস এর সুবিধাঃ<br> ক) অল্প করে ডেটা পরিবহনের 
                              পরিবেশে যেমন ইন্টারনেটে এই পদ্ধতি বেশি উপযােগী।<br> 
                               খ) প্রেরক যেকোনাে সময় ডেটা পাঠাতে পারে এবং গ্রাহক তা গ্রহন করতে পারে।<br> 
                                গ) প্রেরকের কোনাে প্রাইমারি স্টোরেজ ডিভাইসের প্রয়ােজন হয় না।<br> 
                                 ঘ) ইনস্টলেশন খরচ অত্যন্ত কম।<br> <br>  অ্যাসিনক্রোনাস এর অসুবিধাঃ<br> 
                                  ক) সিনক্রোনাস ট্রান্সমিশনের তুলনায় এর দক্ষতা কম।<br>
                                    খ) ডেটা ট্রান্সমিশনে গতি অপেক্ষাকৃত কম।<br>
                                     গ) মাইক্রোওয়েভ বা স্যাটেলাইট মাধ্যমের ক্ষেত্র অত্যন্ত ব্যয়বহুল।<br>
                                       ঘ) প্রতি বর্ণের সাথে স্টার্ট বিট ও স্টপ বিট পাঠানাে হয়। <br><br>
                                         সিনক্রোনাস এর সুবিধাঃ<br> ক) স্টার্ট বা স্টাপ বিট না থাকায় এবং
                                          অনরবত চলতে থাকায় এর গতি অনেক দ্রুত হয়।<br>
                                           খ) প্রতিটি ক্যারেক্টারের শুরু ও শেষ স্টার্ট এবং স্টপ বিটের প্রয়ােজন হয় না।<br>
                                             গ) ক্যারেক্টারের পর টাইম ইন্টারভেলেরও প্রয়ােজন হয়না।<br>  ঘ)
                                              এর দক্ষতা অ্যাসিনক্রোনাস ট্রান্সমিশনের চেয়ে বেশি সময় তুলনামূলক কম লাগে।<br> <br>  সিনক্রোনাস এর অসুবিধাঃ<br> 
                              ক) এটি তুলনামূলক ব্যয়বহুল। <br>  খ) এর সার্কিট জটিল।<br> 
                                                                    
                            </p><hr>
                            <h4>২৪। অ্যাসিনক্রোনাস ও সিনক্রোনাস এর মধ্যে পার্থক্য লিখ?
                            </h4>
                            <p class="text-justify text-dark">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col"> অ্যাসিনক্রোনাস</th>
                                    <th scope="col">সিনক্রোনাস</th>
                                    
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                 
                                    <td> ১। যে ট্রান্সমিশন সিস্টেমে  ডেটা প্রেরকের কাছ থেকে ডেটা প্রাপকের কাছে ক্যারেক্টার বাই ক্যারেক্টার ট্রান্সমিট হয় তাকে অ্যাসিনক্রোনাস ট্রান্সমিশন বলে।</td>
                                    <td>  ১।যে ট্রান্সমিশন সিস্টেমে ডেটা সমূহকে ব্লক আকারে ভাগ করে প্রতি বার ১টি করে ব্লক ট্রান্সমিট করা হয়। তাকে সিনক্রোনাস ট্রান্সমিশন বলে।

                                      </td>
                                  </tr>    
                                      
                                  <tr>
                                        <td>২। এতে ডেটা ট্রান্সমিশনের গতি কম।</td>
                                        <td>২। ডেটা ট্রান্সমিশনের গতি  অনেক দ্রুত হয়।
                                        </td>
                                        
                                  </tr>
                                  <tr>
                                      <td>৩। প্রেরকের কোন প্রাইমারি স্টোরেজ ডিভাইসের প্রয়ােজন হয় না।</td>
                                      <td>৩। প্রেরক স্টেশনে প্রেরকের  সাথে একটি প্রাইমারি স্টোরেজ ডিভাইসের প্রয়ােজন হয়।</td>
                                      </tr>
                                  <tr>
                                      <td>৪। ইন্সটলেশন খরচ অত্যন্ত কম।
                                      </td>
                                      <td>৪। এটি তুলনামূলক ব্যয়বহুল।

  
                                      </td>
                                        
                                  </tr>
                                  <tr>
                                    <td> ৫। এ পদ্ধতিতে ট্রান্সমিট সময় বেশি লাগে।
                                    </td>
                                    <td> ৫। এ পদ্ধতিতে ট্রান্সমিট  সময় কম লাগে।</td>
                                    </tr>
                                    <tr>
                                      <td> ৬। এতে অতিরিক্ত বিট ব্যবহার করা হয় বলে এই  ট্রান্সমিশনে দক্ষতা কম।

                                      </td>
                                      <td> ৬। এর দক্ষতা অ্যাসিনক্রোস ট্রান্সমিটের চেয়ে বেশি।
                                      </td>
                                      </tr>
                                
                           
                                </tbody>
                              </table> <hr>

                            </p><hr>

                            <h4>২৬. ডেটা ট্রান্সমিশন কত প্রকার ও কী কী বর্ণা দাও?
                            </h4>
                            <p class="text-justify text-dark">
                              
                              উঃ ডেটা পাঠানাে উপর ভিত্তি করে ডেটা ট্রান্সমিশন ২ প্রকার যথাঃ<br> ক) সিরিয়াল
                               ট্রান্সমিশন।<br> খ) প্যারালাল ট্রান্সমিশন।<br><br> ক) সিরিয়াল ট্রান্সমিশনঃ
                                এ ধরনের ট্রান্সমিশনে প্রতিবারে সাত। বিটের তথ্য পাঠানাে হয়।
                                 উৎস থেকে গন্তব্যের দূরত্ব বেশি। হলে এ পদ্ধতি বেশি ব্যবহার করা হয়।<br><br>
                                  খ) প্যারালাল ট্রান্সমিশনঃ এ পদ্ধতিতে অনেকগুলাে তার দিয়ে। একসাথে অনেকগুলাে বিট
                                   ডেটা পাঠানাে হয়। দূরত্ব বেশি হলে| খরচ বেশি।


                            </p><hr>
                            <h4> ২৭. ডেটা ট্রান্সমিশন মােড কাকে বলে।
                            </h4>
                            <p class="text-justify text-dark">
                              উঃ কম্পিউটার থেকে কম্পিউটারে ডেটা কমিউনিকেশন এর ডেটা ট্রান্সফারের প্রবাহকে ডেটা ট্রান্সমিশন মােড় বলা হয়।


                            </p><hr>
                            <h4>২৮.ডেটা ট্রান্সফারের প্রবাহ কত প্রকার ও কী কী?</h4>
                            <p class="text-justify text-dark">
                              উঃ ডেটা ট্রান্সফারের প্রবাহের ভিত্তিতে ডেটা ট্রান্সমিশন মােড ৩ | প্রকার। যথাঃ<br> ক) ইউনিকাস্ট (Unicast) মােড।<br>
                                খ) ব্রডকাস্ট(Broadcast) মােড।<br>
                                গ) মাল্টিকাস্ট(Multicast) মােড।

                              
                            </p><hr>
                            <h4>২৯. ডেটা ট্রান্সমিশন মােড কত প্রকার ও কী কী এর বর্নণা কর ?

                            </h4>
                            <p class="text-justify text-dark">
                              
                                  উঃ ডেটা ট্রান্সমিশন মােড ৩ প্রকার। যথাঃ<br> ক) সিমপ্লেক্স (Simplex)।<br>
                                  খ) হাফ-ডুপ্লেক্স (Half-Duplex)।<br>
                                  গ) ফুল-ডুপ্লেক্স (Full-Duplex)।<br><br> সিমপ্লেক্সঃ ডেটা স্থানান্তরের ক্ষেত্রে ডেটার একদিকে প্রবাহকে সিমপ্লেক্স মােড বলা হয়। যেমনঃ PABX সিস্টেম, রেডিও,টিভি ইত্যাদি।<br><br> হাফ-ডুপ্লেক্সঃ কোন প্রান্ত একই সময়ে কেবল ডেটা গ্রহন কিংবা প্রেরণ করতে পারে, কিন্তু গ্রহন এবং প্রেরণ একই সময়ে একসাথে করতে পারে না তাকে হাফ-ডুপ্লেক্স বলে। যেমনঃ ওয়াকিটকি। <br><br>ফুল-ডুপ্লেক্সঃ এ পদ্ধতিতে ডেটা স্থানান্তরের ক্ষেত্রে উভয় দিক থেকে একই সময়ে ডেটা প্রেরণ ও গ্রহন করা যায় তাকে ফুলডুপ্লেক্স। যেমনঃ মােবাইল, টেলিফোন ইত্যাদি।
                                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                  <ins class="adsbygoogle"
                                       style="display:block; text-align:center;"
                                       data-ad-layout="in-article"
                                       data-ad-format="fluid"
                                       data-ad-client="ca-pub-9136564254270725"
                                       data-ad-slot="2687298352"></ins>
                                  <script>
                                       (adsbygoogle = window.adsbygoogle || []).push({});
                                  </script>
                            </p><hr>
                            <h4>৩০. হাফ-ডুপ্লেক্স ও ফুল-ডুপ্লেক্স এর মধ্যে পার্থক্য লিখ?
                            </h4>

                            

                              <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th scope="col">হাফ-ডুপ্লেক্স(Half-Duplex)</th>
                                      <th scope="col">ফুল-ডুপ্লেক্স(Full-Duplex)</th>
                                      
                                      
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                   
                                      <td> ১। কোন প্রান্ত একই সময়ে কেবল ডেটা গ্রহন কিংবা প্রেরণ করতে পারে, কিন্তু গ্রহন এবং প্রেরণ একই সময়ে একসাথে করতে পারে না।</td>
                                      <td> ১। এ পদ্ধতিতে ডেটা স্থানান্তরের ক্ষেত্রে উভয় দিক থেকে একই সময়ে ডেটা প্রেরণ ও গ্রহন করা যায়।

                                        </td>
                                    </tr>    
                                        
                                    <tr>
                                          <td>২। ব্যবহার তুলনামূলক জটিল।  </td>
                                          <td>২। ব্যবহার তুলনামূলক সহজ। 
                                          </td>
                                          
                                    </tr>
                                    <tr>
                                        <td>৩। কারিগরিভাবে অসমৃদ্ধ পদ্ধতি।</td>
                                        <td>৩। কারিগরিভাবে সমৃদ্ধ পদ্ধতি। </td>
                                        </tr>
                                    <tr>
                                        <td> ৪। উদাহরণ- ওয়াকিটকি।

                                        </td>
                                        <td>৪। উদাহরন- টেলিফোন, মােবাইল। </td>
                                          
                                    </tr>
                                    
                                  </tbody>
                                </table> <hr>
                            
                            
                          
                            


                           
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                              
                        
                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                           
                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                            <div class="well mt-5 sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ict-verticle-1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="1200802774"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                             

                             </div>
                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>