<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC ICT Chapter-3 Part-2: Number System And Digital Device </title>

        
        <meta name="Description" content=" In this HSC ICT Chapter 1 Part-1 : Number System And Digital Device we will
        learn about What is Number, Number System and Digit ? What is Bit, Byte, Character, Nibble, Word, Base, Radix Point ?" />
        
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-ict-number-system-and-digital-device-part-2"/>
        
        
        <%- include('../../includes/boostrap-head.ejs') %>
          <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">
  <%- include('../../sitebars/ict.ejs') %>    
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                              <h1 class="bg-dark text-center text-white">HSC ICT Chaper 3 Part-2</h1>
                             
                   
                              <h3 class="mt-4 text-center text-secondary">Number System And Digital Device </h3><p class="text-justify text-secondary"><b>
                                  In this HSC ICT Chapter 3 Part-2 : Number System And Digital Device we will
                                  learn about What is Number, Number System and Digit ? What is Bit, Byte, Character, Nibble, Word, Base, Radix Point ? 
                                 </b></p><hr>
                   
                            

                              <h4>১২. বিভিন্ন সংখ্যা পদ্ধতির পরিচিতি বর্ণনা কর ?</h4>
                            <p class="text-justify text-dark">

                               
                              উঃ <b>বাইনারিঃ</b>  যে সংখ্যা পদ্ধতিতে ২টি অঙ্ক (Digit) ব্যবহার করা হয় তাকে বাইনারি পদ্ধতি বলে।<br>
                              <b> দশমিকঃ</b> যে সংখ্যা পদ্ধতিতে ১০টি অঙ্ক (Digit) ব্যবহার করা হয় তাকে দশমিক পদ্ধতি বলে।<br>
                              <b>অক্টাল ঃ</b> যে সংখ্যা পদ্ধতিতে ৮টি অঙ্ক (Digit) ব্যবহার করা হয় তাকে অক্টাল পদ্ধতি বলে। <br>
                             <b>হেক্সাডেসিমাল ঃ</b>  যে সংখ্যা পদ্ধতিতে ১৬টি অঙ্ক (Digit) ব্যবহার করা হয় তাকে হেক্সাডেসিমাল পদ্ধতি বলে। 
                             <br> নিচে বিভিন্ন সংখ্যা পদ্ধতির চার্ট দেওয়া হলঃ 
                             <table class="table table-bordered table-dark">
                              <thead>
                                <tr>
                                  <th scope="col">সংখ্যা পদ্ধতি</th>
                                  <th scope="col">বেজ/ভিত্তি</th>
                                  <th scope="col">প্রতীক বা চিহৃ</th>
                                  <th scope="col">উদাহরন</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>বাইনারি</td>
                                  <td>2</td>
                                  <td>0,1 </td>
                                  <td>(1010)<sub>2</sub></td>
                                </tr>
                                <tr>
                                  <td>দশমিক</td>
                                  <td>10</td>
                                  <td>0,1,2,3,4,5,6,7,8,9</td>
                                  <td>(25789)<sub>10</td>
                                </tr>
                                <tr>
                                  <td>অক্টাল </td>
                                  <td>8 </td>
                                  <td>0,1,2,3,4,5,6,7</td>
                                  <td>(257)<sub>8</td>
                                </tr>
                                <tr>
                                  <td>হেক্সাডেসিমাল</td>
                                  <td>16</td>
                                  <td>0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,E</td>
                                  <td>(2A7)<sub>16</td>
                                </tr>
                                
                              </tbody>
                            </table>
                            </p><hr>
                            <h4>২. সংখ্যা পদ্ধতি (Number System) কাকে বলে?
                              </h4>
                            <p class="text-justify text-dark">
                              
                              <table class="table table-bordered table-dark text-center">
                                <thead>
                                  <tr>
                                    <th scope="col">সংখ্যা পদ্ধতি</th>
                                    <th scope="col">থেকে</th>
                                    <th scope="col">সংখ্যা পদ্ধতি</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class=" pt-5" rowspan="3">বাইনারি (Binary)</td>
                                    <td rowspan="3" class=" pt-5">থেকে</td>
                                    <td  >দশমিক (Decimal)<sub>10</sub></td>
                                  </tr>
                                  
                                  <tr>
                                    
                                    <td >অক্টাল (Octal)<sub>8</sub> </td>
                                  </tr>
                                  <tr>
                                   
                                   
                                    <td class="text-center">হেক্সাডেসিমাল (Hexadecimal)<sub>16</sub> </tdclass="text-center pt-5">

                                  </tr>
                              
                                  
                                </tbody>
                              </table>
                                
                            </p><hr>
                            <h4>৩. অঙ্ক বা ডিজিট (Digit) কী?
                              </h4>
                            <p class="text-justify text-dark">
                                উঃ সংখ্যাকে লিখে প্রকাশ করার প্রতীক বা চিহৃকে অঙ্ক বা Digit বলে। যেমন ঃ ২০১৭ সংখ্যাটি ২, ০, ১ ও ৭ পৃথক ৪টি অঙ্কের দ্বারা গঠিত হয়েছে। 
                            </p><hr>
          
                        
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WWzsoB69sMk" allowfullscreen></iframe>
                              </div>
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-ads-4 -->
                                <ins class="adsbygoogle"
                                    style="display:block"
                                    data-ad-client="ca-pub-9136564254270725"
                                    data-ad-slot="9659561509"
                                    data-ad-format="auto"
                                    data-full-width-responsive="true"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            
                            
                         


                          
                            
                            <h4>৪. বিট (Bit) কি?</h4>
                            <p class="text-justify text-dark">
                                                              
                                  উঃ কম্পিউটারে ব্যবহার্য ডেটার সবচেয়ে ক্ষুদ্রতম অংশ হলাে বিট । Binary Digit এর সংক্ষিপ্ত রুপ Bit। বাইনারি
                                  পদ্ধতিতে ০ অথবা ১ কে বিট বলে। </p><hr>
                              

                            
                            
                          
                            <h4> ৫. নীল (Nibble) কী?
                              </h4>
                            <p class="text-justify text-dark">
                                উঃ ১ বাইটের অর্ধেক তথা ৪ বিট মিলে নিবল হয়। যা সাধারনত একটি হেক্সাডেসিমাল সংখ্যা দ্বারা প্রকাশ করা যায়। মাইক্রোকম্পিউটারে এটি ব্যবহৃত হয় যা বিটের চেয়ে
                                বড় কিন্তু বাইটের চেয়ে ছােট সংখ্যাকে নীবল বলে। 
                                
                          </p><hr>
                            
                            <h4>৬. বাইট (Byte) কী?</h4>
                            <p class="text-justify text-dark">
                             
                                  উঃ এক সেট বিট হলাে বাইট যা কম্পিউটারে কোডিং এর ক্ষেত্রে ব্যবহৃত হয়। সাধারনত ৮ বিটের সমন্বয়ে ১ বাইট হয়।
                                  যেমনঃ A=01001100 . 

                            </p><hr>
                            <h4>৭. ক্যারেক্টার (Character) বা বর্ন কী ?

                            </h4>
                            <p class="text-justify text-dark">
                                উঃ ১ বাইট সমান ১ ক্যারেক্টার (Character) বা বর্ন।
                                যেমনঃ A=01001100 .
                                </p><hr>

                            <h4>৮. শব্দ (Word) কী?</h4>
                            <p class="text-justify text-dark">
                                উঃ এক বা একাধিক বাইট মিলে একটি শব্দ গঠিত হয়। কম্পিউটারের ক্ষেত্রে ৮,১৬,৩২,৬৪ ইত্যাদি বিটে শব্দ গঠিত হয়ে থাকে ।</p><hr>
                            
                           
                            <h4>৯. বেস(Base) বা ভিত্তি কী?
                            </h4>
                            <p class="text-justify text-dark">
                              
                                উঃ সংখ্যা পদ্ধতিতে ব্যবহৃত মৌলিক সংখ্যা নির্দেশকারী কোনাে চিহ্ন, অঙ্কের মােট সংখ্যাকে ঐ সংখ্যা পদ্ধতির বেস বা ভিত্তি বলা হয়।। যেমনঃ দশমিক: ০,১,২,৩,৪,৫,৬,৭,৮,৯ মােট মৌলিক
                                সংখ্যা ১০টি তাই এই ১০ হচ্ছে দশমিক সংখ্যার বেস।

                            </p><hr>
                            <h4> ১০. সংখ্যা পদ্ধতি কত প্রকার ও কি কি ? </h4>
                            <p class="text-justify text-dark">
                                উঃ সংখ্যা পদ্ধতি প্রধানত দুই প্রকার। যথা: <br> <b>ক) নন-পজিশনাল সংখ্যা পদ্ধতি।</b>  <br>
                                <b> খ) পজিশনাল সংখ্যা পদ্ধতি। </b><br> <b>ক) নন-পজিশনাল:</b>  যে পদ্ধতিতে সংখ্যার মান ব্যবহৃত চিহৃ বা অঙ্কসমূহের কোনাে স্থানিক
                                 মান নেই অর্থাৎ পজিশন থাকে না তাকে নন-পজিশনাল সংখ্যা পদ্ধতি বলে । যেমন: হায়ারােগ্লিফিক্স, রােমান, মেয়্যান ও ট্যালি সংখ্যা ইত্যাদি। <br><b>ক) পজিশনাল সংখ্যা:</b>  যে সংখ্যা পদ্ধতিতে মৌলিক চিহ্ন, বেস বা ভিত্তি এবং উহার স্থানীয় মান থাকে তাকে পজিশনাল সংখ্যা পদ্ধতি বলা হয়। <br><br> পজিশনাল সংখ্যা পদ্ধতি আবার ৪ প্রকার যথাঃ
                                <br> ক) বাইনারি(Binary) বা দ্বিমিক। (0,1) <sub>2</sub> এর বেস 2।
                                (আবিস্কারক ও গটফ্রিড উইলহেল্প লাইবনিৎস)<br> খ) অক্টাল(Octal) বা অষ্টমিক। (আবিস্কারক ও সপ্তম চার্লস)
                                (0,1,2,3,4,5,6,7)<sub>8</sub> এর বেস 8।<br> গ) ডেসিমাল (Decimal) বা দশমিক।
                                (আবিস্কারক ও আরিয়াভট্ট) (0,1,2,3,4,5,6,7,8,9) <sub>10</sub> এর বেস 10। <br> ঘ) হেক্সাডেসিমাল (Hexadecimal) বা ষােড়দশ।
                                (আবিস্কারক ও কুইন্স অফ চাউস)  (0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F)<sub>16</sub> এর বেস 16।
                                
                            </p><hr>
                            <h4>১১. র্যাডিক্স (Radix) পয়েন্টার কাকে বলে ?</h4>
                            <p class="text-justify text-dark">
                                উঃ পজিশনাল সংখ্যা পদ্ধতিতে পূর্ণসংখ্যা ও ভগ্নাংশ সংখ্যার মধ্যেবর্তী দশমিক বিন্দুকে র্যাডিক্স বলে। 
                                <img src="images/radixPoint.JPG" alt=" Radix radixPoint">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- home-ads-1 -->
                              <ins class="adsbygoogle"
                                   style="display:block"
                                   data-ad-client="ca-pub-9136564254270725"
                                   data-ad-slot="2619903643"
                                   data-ad-format="auto"
                                   data-full-width-responsive="true"></ins>
                              <script>
                                   (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>

                              </p>
     
                              
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                             
                           

                            
                             

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>