<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC ICT Chapter 2 Part-4: Communication System And Networking</title>

        
        <meta name="Description" content="HSC ICT Chapter 2 Part-4 : Communication System And Networking we will
        learn about What is Mobile , Difference between GSM and CDMA ?, What is smart phone , GPRS, EDGA
        midia, Roaming ?"/>
         
        
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-ict-communication-system-and-networking-part-4"/>
        
   
        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
        <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        

          <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ict-ads-3 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9136564254270725"
             data-ad-slot="3477296539"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
            
                  <div class="d-flex" id="wrapper">
                    <%- include('../../sitebars/ict.ejs') %> 
          </div>
       </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                              <h2 class="bg-dark text-center text-white">HSC ICT Chaper 2 Part-4</h2>
                   
                              <h3 class="mt-4 text-center">Communication System And Networking</h3><p class="text-justify text-secondary"><b>
                                In this HSC ICT Chapter 2 Part-4 : Communication System And Networking we will
                                learn about What is Mobile , Difference between GSM and CDMA ?, What is smart phone , GPRS, EDGA
                                midia, Roaming ?

                              </b></p><hr>
          

                              <h4>৫৪. মােবাইল ফোন কী?</h4>
                              <p class="text-justify text-dark">
                                  
                                উঃ মােবাইল শব্দটি উৎপত্তি মােভ (Move) থেকে। তাই মুভিং বা ভ্রমণ অবস্থায় তারবিহীনভাবে যে ফোন ব্যবহার করা হয় তাকে মােবাইল ফোন বলা হয়।
                                মােবাইল ফোনে এক ধরনের মাইক্রোচিপ বা কার্ড(SIM /R-UIM) থাকে যেখানে টেলিফোন সার্ভিস সংযােগ প্রদান ও অন্যান্য মােবাইলের সাথে কল আদান-প্রদানের অনুমােদন,
                                    ব্যবহারকারী শনাক্তকরণ, ব্যবহৃত ফোন নম্বর প্রভৃতি থাকে।
  
                              </p><hr>
                              <h4> ৫৫.মােবাইলের আবিস্কার কে করেন এবং কত সালে? </h4>
                            <p class="text-justify text-dark">
                                
                              উঃ আবিস্কার : ১৯৭৩ সালে ডঃ মার্টিন কুপার মােবাইল
                              ফোন আবিস্কার করেন। 
                              
                            </p><hr>
                             
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bEQ1zW9d7wk" allowfullscreen></iframe>
                              </div>
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ict-ads-4 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="9659561509"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                            
                           
                           
                           
                           
                            
                              
                          <h4>৫৬. মােবাইল ফোন কত প্রকার ও কী কী?</h4>
                        <p class="text-justify text-dark">
                            
                          উঃ মােবাইল বা সেলুলার ফোন দুই প্রকার যথাঃ<br> ক) GSM<br>
                          খ) CDMA

                        </p><hr>
                        <h4>৫৭.Hand off কী? </h4>
                      <p class="text-justify text-dark">
                          
                        উঃ মােবাইল ফোনে কথা বলার সময় হঠাৎ কল কেটে গেলে
                        বা ডিসকানেক্ট হয়ে যাওয়াই হচ্ছে Hand off ।


                      </p><hr>
                      <h4>৫৮.GSM ও CDMA এর মধ্যে পার্থক্য লিখ? </h4>
                    
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">GSM</th>
                          <th scope="col">CDMA</th>
                          
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                       
                          <td>১।  শব্দটির পূর্নরুপ হচ্ছে Global System for Mobile Communication.</td>
                          <td>১। CDMA শব্দটির পূর্নরুপ হচ্ছে Code Division Multiple Access. </td>
                        </tr>    
                            
                        <tr>
                              <td>২। ডেটা ট্রান্সফার রেট 56 Kbps।</td>
                              <td>২। ডেটা ট্রান্সফার রেট 154-614 Kbps।
                              </td>
                              
                        </tr>
                        <tr>
                            <td>৩। বিদ্যুৎ খরচ বেশী যা প্রায়  ২ ওয়াট। </td>
                            <td>৩। বিদ্যুৎ খরচ কম যা প্রায়  ২০০ মাইক্রোওয়াট।</td>
                            </tr>
                        <tr>
                            <td>৪। সেল কভারেজ এরিয়া ৩৫ কি.মি. পর্যন্ত বিস্তৃত।</td>
                            <td>৪। সেল কভারেজ এরিয়া ১১০ কি.মি. পর্যন্ত বিস্তৃত।
                            </td>
                              
                        </tr>
                        <tr>
                          <td> ৫। যে কোন হ্যান্ডসেট ব্যবহার করা যায়। 

                          </td>
                          <td>৫। এ ধরনের কোনাে সুবিধা নেই।

                          </td>
                            
                      </tr>
                      <tr>
                        <td> ৬। আন্তর্জাতিক রােমিং সুবিধা আছে।

                        </td>
                        <td>৬। আন্তর্জাতিক রােমিং সুবিধা নেই।


                        </td>
                          
                    </tr>
              
                      </tbody>
                    </table><hr>
                  <h4>৫৯. স্মার্ট ফোন কাকে বলে? </h4>
                <p class="text-justify text-dark">
                    
                  উঃ স্মার্ট ফোন হলাে উন্নত কম্পিউটিং ও কারেকটিভিটির সুবিধাসম্পন্ন মােবাইল ফোন। স্মার্ট ফোনগুলােতে উন্নত নানা অ্যাপ্লিকেশন ইন্সটল ও রান করা যায়। মােবাইল অপারেটিং সিস্টেম থাকে, যা প্লাটফর্ম নামে পরিচিত। 2G, 3G, 4G সহ বিভিন্ন নেটওয়ার্কের উপযােগী হয়ে থাকে।</p><hr>
                
                
                  <h4>৬০. সিম কার্ড (SIM Card) কী ? </h4>
              <p class="text-justify text-dark">
                  
                উঃ SIM শব্দটির পূর্নরুপ হচ্ছে Subscriber Identity Module। GSM মােবাইলগুলাের জন্য একটি ক্ষুদ্র মাইক্রোচিপের প্রয়ােজন হয়। এই চিপকে SIM Card 
                   বলে। 

              </p><hr>
              <h4>৬১. প্রজন্ম কাকে বলে?
              </h4>
              <p class="text-justify text-dark">
                  
                উঃ মােবাইল ফোনের ক্রমবর্ধমান ব্যবহার ও প্রযুক্তিগত উন্নয়নের এক একটি পর্যায় বা ধাপকে মােবাইল ফোনের 
                প্রজন্ম বলে।
                

              </p><hr>
              <h4>৬২. মােবাইলের ফোনের প্রজন্মের কত ভাগে করা যায়?
              </h4>
              <p class="text-justify text-dark">
                উঃ মােবাইলের ফোনের প্রজন্মকে ৫টি শ্রেনিতে ভাগ করা হয়েছে। যথাঃ<br> a. 1 Generation-1G (1979-1990)<br>
                        b. 2nd Generation-2G (1991-2000)<br> c. 3rd Generation-3G (2001-2008)<br> d. 4" Generation-4G (2009-বর্তমান)<br>
                        e. 5th Generation-5G (2015- ভবিষ্যৎ) 
                        

              </p><hr>
              <h4>৬৩. মােবাইলের ফোনের প্রজন্মের বৈশিষ্ট্য লিখ? </h4>
              <p class="text-justify text-dark">
                  
                উঃ ১ম প্রজন্মঃ<br> ক) এ প্রজন্মের মােবাইলে কোনাে মেসেজ পাঠানাে যেত না।<br> খ) আকৃতি বড় ছিল। <br>গ) ওজন ভারী ছিল।<br> ঘ) রেডিও সিগন্যাল হিসেবে পদ্ধতির ব্যবহার হতাে। <br>ঙ) ডেটা ট্রান্সফার রেট ছিল ৩০০ বিপিএস।<br> চ) এই প্রজন্মের ফোন দিয়ে শুধু কথা বলা যেত।<br><br> ২য় প্রজন্ম :<br> ক) প্রথম প্রি-পেইড সিস্টেম চালু হয়।<br> খ) এই প্রজন্মের ট্রান্সমিশন সিস্টেম ডিজিটাল পদ্ধতির।<br> গ) মােবাইল ফোনের পেমেন্ট সিস্টেম প্রবর্তন ঘটে।<br> ঘ) উচ্চ গতিসম্পন্ন ডেটা আদান-প্রদানের ব্যবস্থা চালু হয়।<br> ঙ) এসএমএস ও এমএমএস চালু হয়।<br> চ) আন্তর্জাতিক রােমিং সুবিধা প্রদান করা হয়।<br><br> ৩য় প্রজন্ম : ক) ডেটা আদান-প্রদানের ব্যবস্থা উচ্চ রেটে চালু হয়েছে।<br> খ) এ প্রজন্মে ডেটা ট্রান্সমিশনের জন্য সার্কিট সুইচিংয়ের পরিবর্তে প্যাকেট সুইচিংয়ের প্রবর্তন ঘটেছে।<br> গ) নেটওয়ার্কে EDGE, GPRS এর অধিক ব্যবহার হয়।<br> ঘ) এ প্রজন্যে ব্যবহৃত নেটওয়ার্কগুলাের মধ্যে রয়েছে  HSDPA 900, HSDPA 1700 HSDPA 2100।<br>
                <br>ঙ) ডেটা রেট 2 Mbps এর অধিক।<br> চ) ভিডিও কলের ব্যবহার শুরু হল।<br> ছ) ব্যাপক আন্তর্জাতিক রােমিং সুবিধা।<br><br> ৪র্থ প্রজন্মঃ<br> ক) সার্কিট সুইচের পরিবর্তে এর ব্যবহার হচ্ছে।<br> খ) প্রকৃত ডেটা ট্রান্সফার রেট সর্বোচ্চ 20 Mbps এর অধিক।<br> গ) 4G গতি 3G তুলনায় ৫০ গুন বেশি।<br> ঘ) ত্রিমাত্রিক (3D) ছবি প্রদর্শনের ব্যবস্থা থাকবে। <br>ঙ) উচ্চ গতিসম্পন্ন ফ্রিকুয়েন্সি।<br> চ) দ্রুত চলনশীল ডিভাইসে 100 Mbps এবং স্থির ডিভাইসে 1 Gbps ডেটা গতি রেট।<br><br> ৫ম প্রজন্ম(What is 5G) :<br> ক) কম খরচে ডেটা ক্রয় করে ইচ্ছে অনুযায়ী ইন্টারনেট ব্যবহার করা যায়।<br> খ) ইন্টারনেটের সার্থে সার্বক্ষনিক যুক্ত থাকা যায়। <br>গ) ব্লু-টুথ বা ডেটা ক্যাবলের সাহায্যে মােবাইল ফোনকে। কম্পিউটারের সাথে যুক্ত হওয়া যায়। <br>ঘ) মােবাইল ফোনে গ্লোবাল পজিশনিং সিস্টেম (GPS) ব্যবহার করা যায়। <br>ঙ) ইন্টারনেটের মাধ্যমে বিভিন্ন অ্যাপস ব্যবহার করে টেলিভিশন দেখা যায়।<br> চ) সামাজিক নেটওয়ার্কিং ও ভিডিও শেয়ারিং সাইট যেমন-ফেসবুক, টুইটার, ইউটিউব ইত্যাদি ব্যবহার করা যায়।<br>
                  ছ) Wi-Fi হটস্পটগুলােতে ইন্টারনেট অ্যাকসেস করা যায়।


              </p><hr>
              <h4>৬৪. জিপিআরএস (GPRS) কী?
              </h4>
              <p class="text-justify text-dark">
                  
                উঃ GPRS এর পূর্ন রুপ হলাে General Packet Radio Service। একটি জেনারেল প্যাকেট ওরিয়েন্টেড মােবাইল ডেটা সার্ভিস। এটি 2G সেলুলার মােবাইল কমিউনিকেশন সিস্টেম। GPRS এর মাধ্যমে মােবাইল নেটওয়ার্কে অনেক বেশি ব্যান্ড
                উইডথ (Band Width) পাওয়া যায়। 
                
              </p><hr>
              <h4>৬৫. ইডিজিই(EDGA) কী?
              </h4>
              <p class="text-justify text-dark">
                  
                উঃ GPRS -এর চাইতে ৪ গুন বেশি ট্রাফিক বহন করতে পারে। EDGA এর পূর্নরুপ হলাে Enhanced Data Rates for GSM Evolution। এটি 3G সেলুলার মােবাইল কমিউনিকেশন সিস্টেম। এটি 2003 সালের শুরুতে GSM নেটওয়ার্কে EDGA-কে চালু করা হয়।
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ict-verticle-1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9136564254270725"
     data-ad-slot="1200802774"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
              </p><hr>
              <h4>৬৬. রােমিং কাকে বলে?
              </h4>
              <p class="text-justify text-dark">
                উঃ যখন কোনাে মােবাইল ব্যবহার করা হয় তখন একটি নেটওয়ার্ক কভারেজের মধ্যে থেকেই মােবাইলটিকে ডেটা আদান-প্রদানের সুযােগ দেওয়া হয়। নেটওয়ার্ক কভারেজের বাইরে গিয়েও অনরবত ডেটা সার্ভিস পাওয়াকে রােমিং বলা
                              হয়।


              </p>
              <h4>৬৭. মিডিয়া কাকে বলে?
              </h4>
              <p class="text-justify text-dark">
                  
                
                  উঃ কম্পিউটারের সাথে কম্পিউটারের সংযােগ স্থাপন করতে হলে কোনাে কিছুর সাহায্যের প্রয়ােজন হয়, যাদেরকে মিডিয়া বলে।
                  যেমনঃ LAN, PAN ইত্যাদি।</p><hr>
             
              

                            


                           
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                              
                        
                            <div class="well my-5">
                                
                                <details >
                                    <summary>Best way of learing</summary>
                                    <p class="text-tustify">
                                        Self learing is the best learing in the world.
                                        Discover yourself first then will get what you are And
                                        what you want to do .It will push you for self learing.
                                    </p>
                                  </details>
                            </div>

                           
                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                            <div class="well mt-5 sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script> 
                            </div>

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>