<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC ICT Chapter 1 Part 3 | Information And Communication Technology</title>

        
        <meta name="Description" content="HSC ICT Chapter 1 Part 2 : ই-মেইল (E-Mail), টেলিকনফারেন্সিং (Teleconferencing),ভিডিও কনফারেন্সিং (Video Conference), এক্সপার্ট সিস্টেম (Expert System), আইসিটি নির্ভর উৎপাদন ব্যবস্থা (ICT Dependent Production),
        আইসিটি নির্ভর উৎপাদন ব্যবস্থার সুবিধাসমূহ, বায়ােইনফরমেট্রিকস (Bioinformatics), জেনেটিক ইঞ্জিনিয়ারিং (Genetic Engineering), ন্যানাে টেকনােলজি (Nano Technology), টেলিমেডিসিন (Telemedicine) ">
        
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-ict-chapter-1?part=3"/>
       

        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
        </style>

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/ict.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg border-bottom" style="background-color: #375028;">
                    <button class="btn text-white btn-lg" style="background-color: #521212;" id="menu-toggle">&#x2190;TOPICS</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                              <h1 class="bg-dark text-center text-white mb-5">HSC ICT Chaper 1 Part 3</h1>
                              <p class="text-secondary font-weight-bold text-justify">
                               HSC ICT Chapter 1 Part 2 : ই-মেইল (E-Mail), টেলিকনফারেন্সিং (Teleconferencing),ভিডিও কনফারেন্সিং (Video Conference), এক্সপার্ট সিস্টেম (Expert System), আইসিটি নির্ভর উৎপাদন ব্যবস্থা (ICT Dependent Production),
        আইসিটি নির্ভর উৎপাদন ব্যবস্থার সুবিধাসমূহ, বায়ােইনফরমেট্রিকস (Bioinformatics), জেনেটিক ইঞ্জিনিয়ারিং (Genetic Engineering), ন্যানাে টেকনােলজি (Nano Technology), টেলিমেডিসিন (Telemedicine)  </p><hr>
                   
                            <h3>&#10026; ই-মেইল (E-Mail)</h3>
                             <p class="text-justify">
                              ইলেকট্রনিক মেইলের সংক্ষিপ্ত রূপই ই-মেইল। ডেটা কমিউনিকেশন এবং ওয়ার্ড প্রসেসিং এই দুই এর সমন্বয়ে ই-মেইল গঠিত। যা দূরবর্তী কোন ব্যক্তির মধ্যে তথ্য আদান প্রদানের একটি আধুনিকতম পদ্ধতি। ই-মেইল প্রেরণের জন্য সাধারণত একটি কম্পিউটার, মডেম বা টেলিফোন লাইন বা ইন্টারনেট সংযােগ এবং কিছু সফটওয়্যার প্রয়োজন। <br><br> প্রতিটি ই-মেইল ব্যবহারকারীর একটি ই-মেইল ঠিকানা রয়েছে যেমনটি ডাকের চিঠি পাওয়ার জন্য থাকে। একটি ই-মেইল অ্যাড্রেসে দুইটি অংশ থাকে। প্রথম অংশটি
                                হল user identity আর দ্বিতীয় অংশ হলাে domain name। যেমন: acse01@gmail.com। এখানে acse01 হলাে user identity আর gmail.com domain name। <br> <br>
                                 
                             </p><hr>
                           
                             

                              <h3>&#10026; টেলিকনফারেন্সিং (Teleconferencing)</h3>
                              <p class="text-justify">
                                একই প্রতিষ্ঠানের ভিন্ন ভিন্ন শাখার পরিচালকদের অথবা অফিসের কাজের জন্য বিভিন্ন দায়িত্বশীলদের অনেক সভার প্রয়োজন হয়। সভায় কোন নির্দিষ্ট সময়ের, নির্দিষ্ট স্থানে সবাইকে একত্রিত হতে হয়। এতে অনেক সময় অর্থের অপচয়
                               টেলিযােগাযােগের মাধ্যমে বিভিন্ন স্থান হতে সভা অনুষ্ঠান করে কার্যবিবরণি জানা, রিপাের্ট পেশ করা, সিদ্ধান্ত নেয়া, ইত্যাদি করা যেতে পারে। এ ধরনের পদ্ধতিকে টেলিকনফারেন্সিং বলা হয়। ১৯৩০ সালে মরি টারফ এ পদ্ধতি ভাবন করেন। এই পদ্ধতির জন্য সাধারণত নিম্নলিখিত উপকরণগুলাে প্রয়ােজন। যথা
                                </p>
                               
                            
                               <ul>
                                 <li> কম্পিউটার, মাইক্রোফোন, ফ্যাক্স, মডেম।</li> 
                                 <li>ইন্টারনেট সংযােগ, স্পিকার।</li> 
                                 <li>ওয়েব ক্যামেরা, অডিও ক্যাপচার কার্ড সফটওয়্যার ইত্যাদি।</li> 
                                </ul>
                                <p class="text-justify">
                                  বিশ্বের যে কোন জায়গা যেখানে টেলিযোন সংযোগ আছে। থেকে যে কােট্ট টেলিকনফারেন্সিং করতে পারেন । পদ্ধতিটি কিছুটা ইলেকট্রনিক বুলেটিং বাের্ডের মত যেখানে অংশণকারীরা অন্যান্য অংশহণকারীদের কেন্দ্রীয় কম্পিউটারে বার্তা পাঠায়।</p>

                                  <h5>বিভিন্ন ধরনের টেলিকনহারেন্সিং ব্যবস্থা আছে। যেমন - </h5>
                                  <ul>
                                    <li><b>পাবলিক কনফারেন্স :</b> এটি সবার জন্য উন্যাক্ত। যে কেউ এতে অংশগ্রহণ করতে পারেন ।</li>
                                    <li><b>ক্লোজড কনফারেন্স :</b> এটি শুধুমাত্র পড়া যায়। শুধুমাত্র নির্দিষ্ট সংখ্যক ব্যক্তি পাসওয়ার্ড দিয়ে এখানে অংশগ্রহণ করতে পারেন।</li>
                                    <li><b>রিড অনলি করফারেন্স :</b>এটি শুধুমাত্র পড়া যায়। তবে এর কার্যবিবরণি পড়ে ব্যবহারকারী তার মন্তব্য দিতে পারেন। সাধারণত এই পদ্ধতির মাধ্যমে চিকিৎসক, ছাত্র, শিক্ষক, আইনজীবী, গবেষক, ব্যবসায়ীগণ। পরস্পরের সাথে মত বিনিময় করতে পারেন।</li> 
                                    
                                   </ul><hr>
 
                               <h3>&#10026; ভিডিও কনফারেন্সিং (Video Conferencing)</h3> 
                              <p class="text-justify">
                                ভিডিও কনফারেন্সিং হচ্ছে এক ধরনের টেলিকনফারেন্সিং যেখানে অংশগ্রহণকারীদের ছবি ডিসপ্লে ইউনিটে দেখা যায়। যার ফলে অংশগ্রহণকারীরা পরস্পরের সম্মুখীন হয়ে কথােপকথন করতে পারেন। এটি একটি ক্রমবর্ধমান আন্তর্জাতিক ব্যবস্থা যেখানে একস্থান থেকে অন্য হানে কিংবা একদেশ থেকে অন্য দেশে বিভিন্ন ব্যক্তি অংশগ্রহণ করতে। পরেন।

                             </p>
                             
                             <h5>উপাদানগুলােঃ </h5>
                             <ul>
                              <li>কম্পিউটার, মাইক্রোফোন, ফ্যাক্স, মডেম।</li> 
                              <li>ইন্টারনেট সংযােগ, স্পিকার।</li> 
                              <li>ওয়েব ক্যামেরা, অডিও ক্যাপচার কার্ড সফটওয়্যার ইত্যাদি।</li> 
                             </ul>
                             <p class="text-justify">
                              উল্লেখ্য, ভিডিও কনফারেন্সিং এর জন্য জনপ্রিয় সফ্টওয়্যার হল- iMeet, GoToMeeting, OpenMeetings, ইত্যাদি।</p>  </p>
                              <h5>ভিডিও কনফারেন্সিং এর সুবিধাসমূহঃ</h5>
                              <ul>
                               <li>স্বল্প সময়ে ও খরচে দূরবর্তী স্থানে অবস্থানরত ব্যক্তিদের মধ্যে সভা বা অনুষ্ঠান পরিচালনা করা যায়।</li> 
                               <li>এ পদ্ধতিতে দূরে অবস্থানরত কোন অভিজ্ঞ চিকিৎসকের সাথে কথা বলে চিকিৎসা নেওয়া যায়। শিক্ষা ক্ষেত্রে ভিডিও কনফারেন্সিং ব্যবহার হয়ে থাকে, ইত্যাদি।
                              </li> 
                             
                              </ul>
                             <hr>
                          

                                <h3>&#10026; বুলেটিং বাের্ড (Bulletin Board)</h3>
                              <p class="text-justify">
                               কম্পিউটার বুলেটিং বোর্ড এমন একটি প্রযুক্তি যাতে প্রয়োজন কম্পিউটার নেটওয়ার্ক ব্যবস্থা । এই বুলেটিং বাের্ডে বিভিন্ন ধরনের বার্তা বা খবরা খবর থাকে । যেকোন কম্পিউটার বুলেটিং বাের্ডের সাথে বিশেষ সফটওয়্যারের মাধ্যমে সংযােগ স্থাপন করতে পারে। এই সফটওয়্যার অন্যান্য কম্পিউটার হতে 
                              আগত কলের উত্তর প্রদান সংবাদ গ্রহন, সংরক্ষণ এবং ব্যবহারকারীর জন্য বুলেটিং বোর্ডের ফাইলপত্র ব্যবহারের সুযোগ প্রদানসহ নানান কাজ করে । ব্যবহারকারীর সংখ্যা নিয়ন্ত্রন করার জন্য পাসওয়ার্ড ব্যবহার করা হয় । এসব বোর্ডের ক্রয় বিক্রয় এর বিজ্ঞাপন, ব্যাক্তিগত সংবাদ, কার্টুন ইত্যাদি হয়ে থাকে ।
                            বর্তমানে বিভিন্ন ওয়েবপেজের জন্য ব্যবহৃত world wide web (www) হচ্ছে বুলেটিং বোর্ডের উদাহরণ যা পৃথিবীর বিভিন্ন দেশের ওয়েবপেজ গুলোকে সংরক্ষণ ও প্রদর্শন করে ।  </p><hr>
                              
                      

 
                              <h3>&#10026; এক্সপার্ট সিস্টেম (Expert System)</h3>
                              <p class="text-justify">
                                এক্সপার্ট সিস্টেম (Expert System) হলাে এক সেট কম্পিউটার প্রোগ্রাম যা human expert level এর সাথে কাজ করতে সক্ষম। আমরা জানি, কম্পিউটার বিশাল তথ্য ধারণ করতে পারে এবং দ্রুততার সাথে বিশাল তথ্য থেকে যে কোন তথ্য খুঁজে বের করতে পারে ।
                                কোন বিষয়ের উপর তথ্য সংরক্ষণ করে ঐ বিষয়ের উপর যে কোন প্রশ্ন করে কম্পিউটার থেকে জেনে নেওয়ার ব্যবস্থা করা যায়। অর্থাৎ কম্পিউটারকে কোন বিষয়ের উপর বিশেষজ্ঞ বা expert করা যায় ।কম্পিউটারের এ ধরনের ব্যবস্থাকে বলা হয় এক্সপার্ট সিস্টেম। 
<br><br> যেমন - ডাক্তাররা চিকিৎসা সংক্রান্ত জটিল সমস্যা ক্যাডুলাস এবং মাইসিন নামক এক্সপার্ট সিস্টেম থেকে প্রশ্ন করে জেনে নিতে পারে । 
                                </p><hr>
                               

                              <h3>&#10026; আইসিটি নির্ভর উৎপাদন ব্যবস্থা (ICT Dependent Production)</h3>
                              <p class="text-justify">
                                আধুনিক সময়ে বিভিন্ন শিল্প-কারখানাগুলাে বহুলাংশে তথ্য ও যােগাযােগ প্রযুক্তির উপর নির্ভরশীল। মূলত তথ্য ও যোগাযােগ প্রযুক্তির ব্যবহারের ফলে শিল্প কারখানার যন্ত্রপাতি ব্যবস্থাপনায় এনেছে পরিবর্তন এবং উৎপাদন ব্যবস্থা হয়েছে আধুনিক ও সুশৃঙ্খল । 
                              </p>
                            <h5>উৎপাদন ব্যবস্থায় কিছু প্রয়ােজনীয় টুলসঃ </h5>
                              <ul>
                                <li><b>PLC বা Programnnable Logic Controller</b> এর মাধ্যমে বর্তমানের শিল্প কারখানার আধুনিক
                                  যন্ত্রপাতিগুলাে নিয়ন্ত্রণ করা হচ্ছে। এই যন্ত্রটি সফটওয়্যারের ইন্সট্রাকশনের নির্দেশ মােতাবেক বিভিন্ন কাজ করে থাকে।
                                  </li>
                                <li><b>ERP Enterprise and Resource Planning</b> মাধ্যমে বর্তমানের বাজারের চাহিদার সাথে উৎপাদন হ্রাস-বৃদ্ধি, বাজারের পূর্বাভাস, সিডিউল, প্রভৃতি বিষয় পর্যবেক্ষণ করে সঠিক সিদ্ধান্ত নিতে পারে। </li>
                                 <li><b>CAD 2 Computer Aided Design</b> টুলস প্রোডাক্ট ডিজাইন, সিমুলেশন এবং উৎপাদিত পণ্যের বাতাসের চাপ, তাপমাত্রা, বস্তুর মেকানিক্যাল সহ ক্ষমতা নির্ণয় করার জন্য ব্যবহৃত হচ্ছে।</li>
                               <li><b>MRP 27 Manufacturing Requirements Planning</b> টুলস কোন প্রতিষ্ঠানের বা ফার্মের যথার্থ সময়ে উৎপাদন, উৎপাদনের সময়সূচি এবং বাজারে উৎপাদিত
                                পণ্যের গুণগত মান পর্যবেক্ষণ ইত্যাদির জন্য ব্যবহৃত হয়।
                                </li>
                                <li><b>CMM বা Capability Matuity Model</b> টুলস বিভিন্ন কর্পোরেট প্রতিষ্ঠানে, কোম্পানিতে এক
                                  সরকারি পর্যায়ে তথ্য ও যােগাযােগ প্রযুক্তির উন্নয়নের দক্ষতা পরিমাপের জন্য এই কেপ্যাবিলিটি ম্যাচউরিটি
                                  মডেল (CMM) ব্যবহার করা হচ্ছে।
                                  </li>
                                </ul>
                              
                              <h5>আইসিটি নির্ভর উৎপাদন ব্যবস্থার সুবিধাসমূহঃ-</h5> 
                              <ul>
                                <li>প্রত্যেক ব্যবহারকারীর মধ্যে সচেতনতা বােধ জাগিয়ে তােলে।</li> 
                                <li>ব্যবহারকারী তার সময়ের অপচয়ের হাত থেকে রক্ষা পায়।</li>
                                <li>প্রতিযােগিতামূলক সুবিধা তৈরি করে।</li>
                                <li>দ্রুত যে কোন ধরনের সিস্টেমের বিকাশ ঘটায়।</li>
                                <li>যে কোন ধরনের সিস্টেমের বৈচিত্রতার জন্য অনুমােদন দেয়।</li>
                                <li>ব্যবহার বান্ধব ও সাড়া প্রদানকারী সিস্টেমের বাস্তবায়ন করে।</li>
                                <li>পেশাজীবী ও ব্যবস্থাপনা কর্মীদের উৎপাদন ক্ষমতা বৃদ্ধি করে।</li>
                                <li>ব্যবসায় প্রসেস রি-ইঞ্জিনিয়ারিং করতে সাহায্য করে।</li>
                                <li>প্রতিষ্ঠানে ব্যবস্থাপনায় নমনীয়তা এবং বিকেন্দ্রীকরণ করতে সাহায্য করে।</li>
                                <li>ব্যবসায় ক্ষেত্রে সঠিকভাবে পরিকল্পনায় করতে সাহায্য করে।</li>
                                <li>ই-কমার্স সঠিকভাবে পরিচালনায় সহায়তা করে, ইত্যাদিতে।</li>
                              
                              </ul><hr>
                              
                             
                              <h3>&#10026; প্রতিরক্ষা (Defense)</h3>
                              <p class="text-justify">
                                প্রতিরক্ষা ব্যবস্থাই হচ্ছে যে কোন দেশের জনগণের নিরাপত্তা ও সার্বভৌমত্ব। তাই আধুনিক সময়ে বিশ্বের বিভিন্ন রাষ্ট্রগুলাে তথ্য ও যােগাযােগ প্রযুক্তির মাধ্যমে গড়ে তুলেছে অত্যাধুনিক প্রতিরক্ষা ব্যবস্থা। এই প্রতিরক্ষা ব্যবস্থার সাহায্যেই বিভিন্ন প্রকার ক্ষেপণাস্ত্র, রাডার ব্যবস্থা, বিমানবাহী জাহাজ, সাবমেরিন, ইত্যাদি নিয়ন্ত্রণ করা হয়। এমনকি মানুষ্যবিহীন ড্রোন, যুদ্ধবিমানও নিয়ন্ত্রণ করা হয় তথ্য ও যােগাযােগ প্রযুক্তি নির্ভর প্রতিরক্ষা ব্যবস্থার দ্বারা। তাছাড়াও স্থলবাহিনী, নৌবাহিনী ও বিমানবাহিনীর সাথে সার্বক্ষণিক যােগাযােগ রাখতে ও সঠিকভাবে পরিচালনার জন্যও ব্যবহৃত হচ্ছে তথ্য ও যােগাযোগ প্রযুক্তি।
                                সুতিহাস হতে জানা যায়, ১৯৪৬ সালে নিক্ষেপের পূর্বে ঐ এরিয়ার আ কম্পিউটারটি ব্যবহৃত হয়েছিল। রক্ষার ক্ষেত্রে ব্যবহৃত হয়েছিল তা আধিপত্য বিস্তারের লক্ষে
                                ১৯৪৬ সালে আমেরিকার সেনাবাহিনীর প্রয়োজনে বিঙ্গি অস্ত্র এবং গোলা নির্দিষ্ট সরাতে এরিয়ার আবহাওয়ার পূর্বাভাস নির্ণয়ের জন্য তথ্য ও যোগাযোগ প্রযুক্তির উপাদান ENCA তে হয়েছিল। উদাহরণস্বরূপ আরও বলা যায়, ১৯৫০ সালে সােভিয়েত ইউনিয়নের অত্যাসন পাকে
                                ত হয়েছিল তথ্য ও যােগাযোগ প্রযুক্তির অন্যতম মাধ্যম ইন্টারনেট। নিউক্লিয়ার যুদ্ধের এক বিস্তারের লক্ষ্যে ন্যাটো ও মার্কিন যুক্তরাষ্ট্য যৌথভাবে এই প্রযুক্তি তৈরি করেছিল।
                                </p>
                                <h5>প্রতিরক্ষা ক্ষেত্রে তথ্য ও যোগাযােগ প্রযুক্তির অবদান :-</h5> 
                                <ul>
                                  <li>সুপরিকল্পিত ও সুনিয়ন্ত্রিতভাবে সামরিক প্রশিক্ষণ ব্যবস্থা সিস্টেম করা।</li>
                                  <li>দক্ষতার সহিত মিসাইল, অস্ত্র মােতায়েন, ড্রোন, ইত্যাদি পরিচালনা ও নিয়ন্ত্রণ করা ।</li>
                                  <li>স্যালােইটের মাধ্যমে যোগাযােগ ও গোয়েন্দা তৎপরতা বৃদ্ধি করা।</li>
                                  <li> গ্লোবাল পজিশন সিস্টেম নিয়ন্ত্রণ। সামরিক গবেষণা ও সামরিক ব্যবস্থাপনার সঠিক ব্যবস্থা করা।</li>
                                  <li>নিরাপত্তা পলিসি, পদ্ধতি ও পরিকল্পনা প্রণয়নে সহযােগিতা করা।</li>
                                  <li>কার্যকর নিরাপত্তা সংক্রান্ত ঝুঁকি ব্যবস্থাপনা সিস্টেম প্রণয়নে সহযােগিতা করা।</li>
                                  <li>চলমান জাতীয় নিরাপত্তা উন্নয়ন ও আধুনিকীকরণ ব্যবস্থার সহযােগিতা করা, ইত্যাদিতে।</li>
                                
                                </ul> <hr>
                                
                                

                             


                              <h3>&#10026; বায়ােইনফরমেট্রিকস (Bioinformatics) </h3>
                              <p class="text-justify">
                                কম্পিউটারের সাহায্যে বায়ােলজিক্যাল ইনফরমেশন গ্রহণ করে পরিসংখ্যানের সাহায্যে বিশ্লেষণ করে বায়ােলজিক্যাল জনিত সমস্যা সমাধান বের করাই বায়ােইনফরমেট্রিকস।
 
                                </p>
                                <h5>ব্যবহারঃ-</h5> 
                               <ul>
                                 <li>মেডিসিন তৈরিতে, জৈব প্রযুক্তিতে, জিনথেরাপিতে । </li>
                                 <li>উন্নত জাতের খাদ্য উৎপাদনে, জীবাণু অস্ত্র তৈরিতে ।</li>
                                 <li>পশুপাখির চিকিৎসায়, বিকল্প শক্তির উৎস সন্ধানে ।</li>
                                 <li>জলবায়ু পবির্তন গবেষণায়, DNA (Deoxyriboucleic acid) বিশ্লেষণে, ইত্যাদিতে ।</li>
                                
                              </ul> <hr>
                             

                                      <h3>&#10026; জেনেটিক ইঞ্জিনিয়ারিং (Genetic Engineering)  </h3>
                                      <p class="text-justify">
                                        সব প্রযুক্তির বিশেষ রূপ হিসাবে কোষকেন্দ্রের জিনকলার পরিবর্তন ঘটিয়ে জীবদেহের গুণগত রূপান্তর ঘটানােই হলাে জেনেটিক ইঞ্জিনিয়ারিং।
                                        </p> <h5>ব্যবহারঃ-</h5> 
                                        <ul>
                                          <li>জিন গবেষণায়, ক্যান্সার চিকিৎসা । </li>
                                          <li>হাইব্রিড ফসল উৎপাদনে, ইনসুলিন তৈরিতে।</li>
                                          <li>বায়াে-জ্বালানি উৎপাদনে, পশুপাখির চিকিৎসায়।</li>
                                          <li>মৃত্যুর কারণ ও হত্যাকারী শনাক্তে, ইত্যাদিতে।</li>
                                         
                                       </ul> <hr>

                                       
                                        <h3>&#10026; ন্যানাে টেকনােলজি (Nano Technology) </h3>
                                        <p class="text-justify">
                                          কোন কিছুর ১০০ কোটি ভাগের এক বা 1/10<sup>9</sup> বা 10<sup>-9</sup> ভাগকে ১ ন্যানাে বলে। আর এই স্কেলে ব্যবহৃত টেকনােলজিই হচ্ছে ন্যানাে টেকনােলজি।
                                          </p>
                                          <h5>ব্যবহারঃ-</h5> 
                                          <ul>
                                            <li>ডায়াগনােসিস ঔষধ প্রয়ােগে ও টিস্যু ইঞ্জিনিয়ারিং এ ।</li>
                                            <li>কসমেটিকস এ, কোয়ান্টাম প্রযুক্তিতে।</li>
                                            <li>টেনিস ও গলফ বলে।</li>
                                            <li>নতুন সেমিকন্ডাক্টর যন্ত্রপাতিতে, ইত্যাদিতে।</li>
                                           
                                         </ul> <hr>

                                
                                        <h3>&#10026; টেলিমেডিসিন (Telemedicine)  </h3>
                                        <p class="text-justify">
                                          টেলিমেডিসিন হচ্ছে এমন এক প্রযুক্তি যার মাধ্যমে রােগীর চিকিৎসা সেবার তথ্যাদি সংরক্ষণ ও বিশ্লেষণ, বিভিন্ন অঞ্চলে অবস্থানরত ডাক্তারদের মধ্যে মত বিনিময়, চিকিৎসা শিক্ষা আদান প্রদান, গবেষণা সংক্রান্ত তথ্যাদি সংরক্ষণ এবং আদান প্রদান করা যায়।
<br><br>সংক্ষেপে- টেলিমেডিসিন হলাে এমন একটি চিকিৎসা সেবা প্রযুক্তি যার মাধ্যমে বর্তমান স্থানে অবস্থান করে যে কোন স্থানের বিশেষজ্ঞ ডাক্তারের চিকিৎসা সেবা গ্রহণ করা যায় ।
          
                                          </p>
                                          <h5>টেলিমেডিসিনের বৈশিষ্ট্য/সুবিধাসমূহ-</h5> 
                                          <ul>
                                            <li>রােগীরা বিশেষজ্ঞ চিকিৎসকের চিকিৎসা পেতে পারেন।</li>
                                            <li>স্বল্প ব্যয়ে উন্নতমানের চিকিৎসা সেবা পাওয়া যায়।</li>
                                            <li>ডাক্তাররা প্রয়ােজনে অন্য ডাক্তাদের সাথে পরামর্শ করতে পারেন।</li>
                                            <li>দেশে থেকেই বিদেশি ডাক্তারদের পরামর্শ ও চিকিৎসা সেবাগ্রহণ।</li>
                                           
                                          
                                                      
                                         </ul> <h5>কমিনিটি স্বাস্থ্য কেন্দ্রে এই সেবা চালু করতে করণীয় বিষয়গুলাে নিম্নরূপ-</h5> 
                                         <ul>
                                           <li>কম্পিউটার এর ব্যবস্থা করা।</li>
                                           <li>উচ্চগতি ইন্টারনেট কানেকশন নিশ্চিত করা।</li>
                                           <li>ওয়েব ক্যামেরা সংযুক্তি করা।</li>
                                           <li>হেডফোন এবং মাইক্রোফোনের ব্যবস্থা করা।</li>
                                           <li>সর্বোপরি বিশেষজ্ঞ চিকিৎসকের ব্যবস্থা করা।</li>
            
                                        </ul><hr>
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                      
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script> 
                              </div>

                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>