<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC ICT Chapter 1 Part 1 | Information And Communication Technology</title>

        
        <meta name="Description" content="HSC ICT Chapter 1 Part 1 Main Point: উপাত্ত ও তথ্যের ধারণা (Concept of Data and Information), তথ্য (Information), তথ্য প্রযুক্তি (Information Technology),  তথ্য প্রযুক্তির অবদান (Role of Information Technology),
        কম্পিউটার অপরাধ (Computer Crime), কম্পিউটার হ্যাকিং (Computer Hacking), ভাইরাস (VIRUS), এন্টি-ভাইরাস (Anti-virus) ও এন্টি-ভাইরাস প্রােগ্রাম (Anti-virus Program),প্লেজিয়ারিজম (Plagiarism),আউটসাের্সিং (Out sourcing)">

        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-ict-chapter-1?part=1"/>
       

        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
        </style>
     
        <script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
   
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/ict.ejs') %> 
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg border-bottom" style="background-color: #375028;">
                    <button class="btn text-white btn-lg" style="background-color: #521212;" id="menu-toggle">&#x2190;TOPICS</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                              <h1 class="bg-dark text-center text-white mb-2">HSC ICT Chaper 1 Part 1</h1>
                              <p class="text-secondary font-weight-bold text-justify">
                                HSC ICT Chapter 1 Part 1 Main Point: উপাত্ত ও তথ্যের ধারণা (Concept of Data and Information), তথ্য (Information), তথ্য প্রযুক্তি (Information Technology),  তথ্য প্রযুক্তির অবদান (Role of Information Technology),
                                কম্পিউটার অপরাধ (Computer Crime), কম্পিউটার হ্যাকিং (Computer Hacking), ভাইরাস (VIRUS), এন্টি-ভাইরাস (Anti-virus) ও এন্টি-ভাইরাস প্রােগ্রাম (Anti-virus Program),প্লেজিয়ারিজম (Plagiarism),আউটসাের্সিং (Outsourcing)
                              </p><hr>
                   
                            <h3>&#10026;উপাত্ত ও তথ্যের ধারণা (Concept of Data and Information)</h3>
                             <p class="text-justify">
                              <b>Data</b> শব্দটি <b>Datum</b> এর বহুবচন। অর্থ উপাত্ত (Facts)। উপাত্ত হলাে- অগোছালাে ঘটনা, ধারণা, অবস্থা, ইত্যাদি Data তিন প্রকার। যথা

                             </p>
                             <ul>
                               <li><b>Numeric/সংখ্যা Data:</b> যেমন- 1, 3, 2, 127, 12.50 ইত্যাদি।</li>
                               <li><b>Non-Numeric/অক্ষর Data:</b> যেমন- ১-৯, A-Z, a-z, @, %, &, all objects, ইত্যাদি। </li>
                               <li><b>Logical Data:</b>যেমন- (০/১), Yes/No, High/Low, On/Off, যা ডিজিটাল ডিভাইসের ভাষা।</li>
                             </ul><hr>

                             <h3>&#10026; তথ্য (Information)</h3>
                             <p class="text-justify">
                              সুবিন্যস্তভাবে সাজানাে ডেটা যা সহজবদ্ধ ও ব্যবহারযােগ্য তাকে তথ্য বলা হয় । এককথায়, data কে প্রসেসিং করেই তৈরি করা হয় তথ্য । যেমন- একজন ছাত্রের নাম ঠিকানা।

                             </p>
                        
                              <ul><li> ***Data হচ্ছে Information তৈরির কাঁচামাল।</li></ul><hr>

                              <h3>&#10026; তথ্য প্রযুক্তি (Information Technology)</h3>
                              <p class="text-justify">
                                যে প্রযুক্তির মাধ্যমে তথ্য দ্রুত আহরণ, প্রয়ােজন অনুযায়ী সংরক্ষণ, আধুনিকীকরণ, ব্যবস্থাপনা এবং বিতরণ করা হয় তথ্য প্রযুক্তি বলে। একে ITও বলা হয়।
 
                             
                                
                              </p>
                         
                               <ul><li> *** IT হলাে টেলিযােগাযোগ, কম্পিউটার নেটওয়ার্ক ও ইন্টারনেট ব্যবস্থার একটি সমন্বিত রুপ ।</li></ul><hr>

                               <h3>&#10026; তথ্য প্রযুক্তির অবদান (Role of Information Technology)</h3>
                              <p class="text-justify">
                                আধুনিক সভ্যতার ক্রমবিকাশে তথ্য প্রযুক্তির অবদান অপরিসীম। এর মূলে রয়েছে কম্পিউটারের বিশাল মেমরি কত ও নির্ভুল কাজ করার ক্ষমতা। 
                              </p>
                              <h5>তথ্য প্রযুক্তির উল্লেখযােগ্য অবদান/সুবিধাসমূহ নিম্নরূপ:-</h5>

                         
                               <ul>
                                 <li>Online এর মাধ্যমে অর্থ উপার্জন।</li>
                                 <li>তথ্য প্রযুক্তির ব্যবহারের ফলে data স্থানান্তরের গতি বৃদ্ধি পাচ্ছে।</li>
                                 <li>কাজের গতি বৃদ্ধি ও সময়ের অপচয় কম হচ্ছে।</li>
                                 <li>দেশে-বিদেশে online এর মাধ্যমে ক্লাসে অংশগ্রহণ।</li>
                                 <li>Online এ কেনাকাটার সুবিধা। * সহজে তথ্য সংগ্রহ ও বিতরণ, ইত্যাদি।</li>
                                </ul><hr>

                                <h3>&#10026; কম্পিউটার অপরাধ (Computer Crime) </h3>
                              <p class="text-justify">
                                কম্পিউটার হার্ডওয়্যার, সফটওয়্যার নেটওয়ার্ক রিসোর্স, ডেটা বা তথ্য ইত্যাদি বিনা অনুমতিতে প্রত্যক্ষ বা পরােক্ষভাবে ব্যবহার করে ক্ষতিকারক কোন কাজ করাকে computer crime বলে।
                              </p>
                              <h5>computer crime এর বিভিন্ন ভাগগুলো হলো:-</h5>
                            
                               <ol>
                                 <li> সাইবার ক্রাইম (Cyber Crime)।</li>
                                 <li>হ্যাকিং এবং কম্পিউটার যড (Hacking And Computer Fraud)</li>
                                 <li>কপিরাইট পাইরেসি (Software Piracy)।</li>
                                 <li> হার্ডওয়ার চুরি (Hardware Theft)</li>
                                 <li> ডেটা চুরি (Data 'Theft), ইত্যাদি।</li>
                                </ol><hr>

                              <h3>&#10026; কম্পিউটার হ্যাকিং (Computer Hacking) </h3>
                              <p class="text-justify">
                                নেটওয়ার্কের মাধ্যমে বিনা অনুমতিতে অন্য কারাে রিসাের্স ব্যবহার করা, তথ্য নষ্ট করা, চুরি করা, পরিবর্তন করা । অন্যের কম্পিউটার বিশেষ প্রস্থায় নিয়ন্ত্রণ করাকে কম্পিউটার হ্যাকিং বলে । আর যারা এই কাজ করে তাদেরকে হ্যাকার (Hacker) বা ক্রেকার বলে। হ্যাকারদের ব্যবহৃত সফটওয়ারকে স্পাইওয়্যার বলে ।

                              </p>
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- ict-ads-3 -->
                              <ins class="adsbygoogle"
                                   style="display:block"
                                   data-ad-client="ca-pub-9136564254270725"
                                   data-ad-slot="3477296539"
                                   data-ad-format="auto"
                                   data-full-width-responsive="true"></ins>
                              <script>
                                   (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>
                              <hr>

                              <h3>&#10026;ভাইরাস (VIRUS) </h3>
                              <p class="text-justify">
                                VIRUS এর পূর্ণরূপ- Vital Information Resources under Seize। প্রখ্যাত গবেষক ফ্রেডরিক কোহেন কম্পিউটার ভাইরাসের নামকরণ করেন।
                              </p>
                              <h5>কয়েকটি ভাইরাসের নাম হলাে:-</h5>
                            
                              <ul>
                                <li> CIH (also known as Chernobyl)</li>
                                <li>I LOVE YOU</li>
                                <li>Ransomware (May 12, 2017)</li>
                                <li>Creeper virus</li>
                                <li>My Doom</li>
                                <li>Worms</li>
                                <li>Trojan horse, etc</li>
                               </ul>
                               <p class="text-justify">
                                সাধারণত ইন্টারনেটে বিভিন্ন তথ্য, ফাইল, সফ্টওয়্যার, ই-মেইল, ইত্যাদির মাধ্যমে এক কম্পিউটার হতে অন কম্পিউটারের সংযুক্তির ফলে ভাইরাস আক্রমণ হতে পারে।
                              </p><hr>
                        
                              
                              <h3>&#10026;এন্টি-ভাইরাস (Anti-virus) ও এন্টি-ভাইরাস প্রােগ্রাম (Anti-virus Program)</h3>
                              <p class="text-justify">
                                এন্টি-ভাইরাস হলাে কম্পিউটার ভাইরাস প্রতিষেধক। এন্টি-ভাইরাস প্রােগ্রাম হলাে কম্পিউটারকে ভাইরাস মুক্ত ক বা ভাইরাস থেকে কম্পিউটারকে রক্ষা করার জন্য বিশেষ প্রােগ্রাম।   </p>
                                <ul>
                                  <li>FortiClient</li>
                                  <li>Kaspersky</li>
                                  <li>Panda Security</li>
                                  <li>Avast</li>
                                  <li>Avira</li>
                                </ul><hr>



                                <h3>&#10026; প্লেজিয়ারিজম (Plagiarism) </h3>
                                <p class="text-justify">
                                  Plagiarism ল্যাটিন শব্দ plagiarism ও plagiare শব্দদ্বয় থেকে এসেছে। Plagiare শব্দের অর্থ চুরি করা এবং Plagiarism শব্দের অর্থ অপহরণ করা।অন্যের কোন লেখা চুরি করে নিজের নামে উপস্থাপন বা প্রকাশ রাতেই হয় প্লেজিয়ারিজম। অন্যভাবে, অনুমতি ব্যতীত কারাে কর্মকে নিজের নামে ব্যবহার করাই হল প্লেজিয়ারিজম এটি। একটি বেআইনি কাজ। 
                                  ।</p>
                                <h5> প্লেজিয়ারিজমের মধ্যে পড়ে না যদি নিন্মােক্ত বিষয় উল্লেখ করা থাকে:-</h5>
                              
                                 <ol>
                                   <li>লেখার উৎস উল্লেখ করে অন্য কারও লেখা ব্যবহার করলে।</li>
                                   <li> উৎসের পথ অস্পষ্ট থাকলে তা স্পষ্ট করা হলে।</li>
                                   <li> কোন লেখায় কারও সহায়তা পেলে তার প্রতি কৃতজ্ঞতা প্রকাশ বা স্বীকার করা হলে।</li>
                                  </ol><hr>
                                  <h3>&#10026; কপিরাইট (Copyright) </h3>
                                  <p class="text-justify">
                                    কপিরাইট (copyright) একটি ইংরেজি শব্দ। কপিরাইট শব্দের বাংলা প্রতিশব্দ প্রন্থস্বত্ব। একজন লেখকের রচিত। পুস্তক বা প্রস্থের বা বইয়ের ওপর তার মুদ্রণ, পুনঃমুদ্রণ ও প্রকাশের অধিকারকেই বলা হয় কপিরাইট। অন্যভাবে বলা যায়, কপিরাইট হচ্ছে একটি একচাটিয়া, বৈধ ও নিশ্চিত অধিকার, যা একজনের বুদ্ধিবৃত্তিক বা মস্তিষ্কজাত তাছকে নকল বা পাইরেসি (piracy) বা অন্যায় অনুসরণ হতে অন্য কাউকে বিরত রাখে। কপিরাইটের মাধ্যমে সাহিত্য, *কম, ও অন্যান্য শিল্পকলা সষ্টিকারীকে তার সষ্ট মেধা সম্পদ ব্যবহারের একচ্ছত্র অধিকার প্রদান করা হয়।
                                     গল্প, চক, প্রবন্ধ, কবিতা, জাতীয় সাহিত্যকর্ম, চিত্রকর্ম, চলচ্চিত্র, সঙ্গীত, ভাস্কর্য, স্থাপত্যকলা, কপিরাইট দ্বারা সংরক্ষিত হয়। বর্তমানে কম্পিউটার সফটওয়্যারও কপিরাইট দ্বারা সংরক্ষিত হচ্ছে। কপিরাইট আইন ২০০৫ অনুযায়ী লেখক বা শিল্পীর জীবনকালীন ও মৃত্যুর পর ৬০ বছর পর্যন্ত কপিরাইট সংরক্ষিত থাকে।
                                  </p><hr>
                                  <h3>&#10026; অর্থনৈতিক উন্নয়নে তথ্য ও যােগাযােগ প্রযুক্তির ভূমিকা </h3> 
                                  <p class="text-justify">
                                    তথ্য ও যােগাযােগ প্রযুক্তি আমাদের জীবনকে কতই না গতিশীল করে তুলেছে। গ্লোবালাইজেশনের (globalization) এই যুগে তথ্য প্রযুক্তির
                                     অবদান অনস্বীকার্য। বর্তমানে এই প্রযুক্তি উদ্ভাবন আর অর্থনীতির উন্নয়নে কেন্দ্রীয় বিবেচ্য এক বিষয় । এই প্রযুক্তি উল্লেখযােগ্য হারে শুধ উৎপাদনশীলতা বা অর্থনৈতিক প্রবৃদ্ধি বাড়িয়ে তােলেনি, পাশাপাশি তা 
                                     মানব সমাজের সামনে সুযােগ করে দিয়েছে উন্নত জীবনযাপন ও সহজতর উপায়ে কর্ম সম্পাদনের । সব ক্ষেত্রের সর্ব স্তরের নুষ উপভােগ করতে পারছে সে সুযােগ। তথ্য ও যােগাযােগ প্রযুক্তি উন্নত কিংবা উন্নয়নশীল 
                                     অথবা তৃতীয় বিশ্বের যে কোন দেশেই ব্যবসায়ে, শিক্ষায় বিশ্ব পর্যায়ে মিথস্ক্রিয় যোগাযোগ, ইত্যাদিতে এনেছে এক নয়া দিগন্ত ও এক নয়া বিপ্লব। <br> তথ্য ও যােগাযোগ প্রযুক্তির প্রভাব ব্যাপক ভাবে পরিবর্তন করে দিয়েছে বিশ্ব 
                                     অর্থনীতিকে। মানুষের এমন কোন কর্মক্ষেত্র নেই যেখানে প্রযুক্তির ছোঁয়া লাগেনি। বর্তমানে অফিস অটোমেশন ও ইন্টারনেট সংযােগের সহলভ্যতা আর দ্রুততর কারণে প্রতিদিনই হচ্ছে কোটি কোটি বাণিজ্যক লেনদেন, শেয়ার করা 
                                     হয় কোটি কোটি ম্যাসেজ ও ই-মেইল। বর্তমানে ইন্টারনেট অর্থনীতির ক্রমােন্নতির চালক এবং কর্মক্ষেত্র তৈরির নিয়ামক। বর্তমান বিশ্বে তথ্য প্রযুক্তি ব্যবসায়ের ধ্যানবাথ পাশ দিয়েছে। ইন্টারনেট ও নেট ব্যাবহার করে অনেক কোম্পানি তাদের ডিবিউটর, ডিপাে এবং ফলিত সাথে শৰণক যোগাযোগ রক্ষা করতে পারছে। ফলে ব্যবসায়িক অপারেশন ও উৎপাদন খরচ ওয়েখযোগ্য হারে কয় যাচ্ছে। তথ্য প্রযুক্তির সফল ব্যবহারের মাধ্যমে মােবাইল ফোন, ওয়েব সাইট বা অন্যান্য ইলেকট্রনিক অর্ডারের মাধ্যমে মধ্যস্বত্বভােগীদের দৌরাত্ন এড়িয়ে পণ্য উৎপাদন ও সরবারহাকে নিজের নিয়ন্সণ করে ব্যবসায়ে অর্থনৈতিক কর্মকান্ডকে সম্প্রসারণ করতে পারছে। আমাদের দেশের বৃহৎ এ জনগােষ্ঠির আয়কে বহুগুণ বাড়িয়ে দিতে পারে আউটসাের্সিং এর মত কাজ। জনসংখ্যাকে জনশক্তিতে রূপান্তর করে অর্থনৈতিক উন্নয়নে সাহায্যে করতে পারে তথ্য ও যােগাযােগ প্রতি সফল ব্যবহার। সুতরাং বলা যায়, তথ্য ও যােগাযােগ প্রযুক্তি ব্যবহারের মাধ্যমে জাতীয় অর্থনৈতিক উন্নয়নে ব্যাপক গ্রগতি সাধিত হয়েছে।
                                    
                                  </p>
                                  <h4><b>অর্থনৈতিক উন্নয়নে তথ্য ও যােগাযােগ প্রযুক্তির কিছু ক্ষেত্র নিম্নে আলােচনা করা হলাে</b> </h4><hr>
                                  <h3>&#10026; আউটসাের্সিং (Outsourcing) </h3>
                                  <p class="text-justify">
                                    তথ্য ও যােগাযােগ প্রযুক্তির কল্যাণে বিশ্বব্যাপি কর্মসংস্থানের বাজার হয়েছে উন্মুক্ত। ইন্টারনেটের মাধ্যমে ঘরে বসেই যে কোন দেশের লােকজন বিশ্বের যে কোন দেশের কাজকর্ম করতে পারছে। ইন্টারনেটের মাধ্যমে বিশ্বব্যাপি এ ধরনের কাজ করে অর্থ অর্জন করার প্রক্রিয়াই হলাে আউটসাের্সিং।
                                    <br>যারা আউটসাের্সিং এর কাজ করে তাদেরকে ফ্রিল্যান্সার বলে। গ্লোবাল আউটসাের্সিং মার্কেট প্লেসগুলাে বা জায়গাগুলাের মধ্যে রয়েছে আপওয়ার্ক, ফ্রিল্যান্স ডট কম, ভিউওয়াকার, ইল্যান্স, ইত্যাদি উল্লেখ্যযােগ্য।
                                    <br>ডেটা এন্ট্রি, ডেটা প্রসেসিং, প্রােগ্রামিং, ওয়েব সাইট তৈরি, কম্পিউটার গেমস তৈরি, গ্রাফিক্স তৈরি, ত্রিমাত্রিক অ্যানিমেশন তৈরি, ছবি তৈরি, কারিগরি সেবা কিংবা টাইপিং, ইত্যাদি কাজ আউটসাের্সিং এর মাধ্যমে করা হয়ে থাকে। বর্তমানে বাংলাদেশ ছাড়াও ভারত, পাকিস্তান, মালায়েশিয়া, ইন্দোনেশিয়া, ভিয়েতনাম, ফিলিপাইন প্রভৃতি দেশে আউটসাের্সিং এর কাজ করা হচ্ছে। <br>
                                    আউটসাের্সিং এর কাজ দাতা প্রতিষ্ঠানগুলাে কাজের ধরন, পরিমাণ, সময়সীমা, কাজের মূল্য (দরদাম), ইত্যাদি ওয়েব সাইট প্রদর্শন করে থাকে। ফ্রিল্যান্সাররা উক্ত কাজ কত ডলারে সম্পাদন করবেন তা জানিয়ে বিড় বা দরপত্র করেন। সব শর্ত উভয় পক্ষ মেনে নিলে কাজ দ্বারা একটি অর্ডার প্রদান করেন। ফিল্যান্সাররা সঠিক পদ্ধতি ও সঠিক সময়ে কাজ শেষ করে। কাজ দাতাকে জানালে ফিল্যান্সারদের ব্যাংক হিসাবে চুক্তির শর্ত মােতাবেক ডলার পাঠিয়ে দেন। বর্তমানে বাংলাদেশের অগণিত শিক্ষিত বেকার লােক এ পেশার সাথে জড়িত হয়ে জীবিকা নির্বাহ করে চলছে। এভাবে দেশের ব্যাপক বেকার জনগােষ্ঠির কর্মসংস্থানের সুযােগ সৃষ্টি হচ্ছে। <br>
                                    বর্তমান সময়ে আউটসাের্সিং শিল্পকে কাজে লাগিয়ে বাংলাদেশের বিরাট শিক্ষিত জনগোষ্ঠির বহুলাংশ প্রচুর পরিমাণে বৈদেশিক অর্থ উপার্জন করছে।  অনেকে আবার এই শিল্পকে পেশা হিসেবে বেছে নিয়েছে।
                                    ফলে প্রতি বছর বাংলাদেশ আউটসাের্সিং এর মাধ্যমে প্রচুর পরিমাণ বৈদেশিক মুদ্রা অর্জন করছে। এভাবে অনেক শিক্ষিত যুবক সাবলম্বি হচ্ছে। ফলে আউটসাের্সিং শিক্ষিত বেকার যুবকদের জন্য আশির্বাদে পরিণত হয়েছে। তাই বলা যায় যে, আউটসাের্সিং এ বাংলাদেশের সম্ভাবনা প্রচুর।
                                   

                                  </p> 
                                  <h5>আউটসাের্সিং এর সুবিধাসমূহ:-</h5>
                              
                                 <ul>
                                   <li>অল্প সময়ে প্রচুর পরিমাণে বৈদেশিক মুদ্রা উপার্জন করা যায়।</li> 
                                   <li>যে কোন সময়েই আউটসাের্সিং এর কাজ করা যায়।</li>
                                   <li>আউটসাের্সিং মাধ্যমে যে কোন দেশের বেকার যুব সমাজকে কাজে লাগানাে যায়।</li>
                                   <li>আমাদের দেশের প্রােগ্রামাররা কোন ফার্মে বা প্রতিষ্ঠানে চাকরি না করেও ফ্রি-ল্যান্সার হিসেবে বিশ্বের বিভিন্ন কোম্পানিগুলােতে কাজ করতে পারে।</li>
                                   <li>চাকুরিজীবী ব্যক্তিদের জন্য অতিরিক্ত অর্থ খরচ করতে হয় না।</li>
                                  </ul><hr>
                               
                     </div>
                          <div class="col-sm-12 col-lg-3 col-md-4 sidenav">
                             
    
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>