<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC ICT Chapter 4 Part-4 : Introduction to Web Design And Html</title>

        
        <meta name="Description" content=" In this HSC ICT Chapter 4 Part-4 : Introduction to Web Design And Html we will
        learn about What is Hyperlink ? example of page using differnt tag ,What is HTML Font Tag ? Use of style tag .
    " />
       
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />
        <link rel="canonical" href="https://tutorialforbeginner.com/hsc-ict-web-design-and-html-part-4"/>

        <%- include('../../includes/boostrap-head.ejs') %>
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>
          <script async type="text/javascript" src="js/print/run_prettify.js??autoload=true&amp;skin=sunburst&amp;"></script>
        

        
        
<script data-ad-client="ca-pub-9136564254270725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148831263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148831263-1');
</script>


        

        
        
    </head>


    

<body>
    <%- include('../../includes/navigation.ejs') %>
    
    
    <main id="main">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ict-ads-3 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9136564254270725"
           data-ad-slot="3477296539"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        
            
            
<div class="d-flex" id="wrapper">

  <%- include('../../sitebars/ict.ejs') %>     
  </div>
</div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-12 col-lg-9 col-md-8 text-left"> 
                              <h1 class="bg-dark text-center text-white">HSC ICT Chaper 4 Part-4</h1>
                   
                              <h3 class="mt-4 text-center">Introduction to Web Design and HTML</h3>
                              <p class="text-justify text-secondary"><b>
                                In this HSC ICT Chapter 4 Part-4 : Introduction to Web Design And Html we will
                                learn about What is Hyperlink ? example of page using differnt tag ,What is HTML Font Tag ? Use of style tag .
                              </b></p><hr>

                              <h4> ৪১. হাইপারলিংক(What is Hyperlink ) কী?
                              </h4>
                            <p class="text-justify text-dark">

                              উঃ কোনাে ওয়েব পেজ এর ভিতরে লেখা, ছবি, অডিও, ভিডিও, ডকুমেন্ট অন্য ওয়েব পেজ বা ওয়েব সাইটের সাথে সংযােগ স্থাপন করাকে হাইপারলিংক বলে। </p><hr>
                            <h4>৪২. হাইপারলিংক কত প্রকার ও কী কী? 
                            </h4>
                          <p class="text-justify text-dark">
                            উঃ হাইপারলিংক ২ প্রকার যথাঃ <br>
                            ক) ইন্টারনাল। <br> খ) এক্সটারনাল।


                             </p><hr>
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sbZpn0i8L0A" allowfullscreen></iframe>
                              </div>
                              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-ads-4 -->
                                <ins class="adsbygoogle"
                                    style="display:block"
                                    data-ad-client="ca-pub-9136564254270725"
                                    data-ad-slot="9659561509"
                                    data-ad-format="auto"
                                    data-full-width-responsive="true"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            
                            
                         


                          
                            
                            <h4>৪৩. হাইপারলিংকের সুবিধা লেখ?</h4>
                            <p class="text-justify text-dark">

                              উঃ হাইপারলিংকের( Hyperlink ) সুবিধা সমূহ নিচে দেওয়া হলাে• অতিদ্রুত যেকোনাে ওয়েবসাইট বা ওয়েব পেজ দেখা যায়।
                              <ol>
                                <li>
                                  ভিজিটের সময় বাচে ।
                                </li>
                                <li> দ্রুত এক পেজ বা ডকুমেন্ট হতে অন্য পেজ বা ডকুমেন্টে যাওয়া যায় । </li>
                              </ol>
                            </p>
                            Lets see some of example: <br>


                            <hr>

<pre class="prettyprint"><code>&lt;!DOCTYPE html&gt;
  &lt;html&gt; 
      &lt;head&gt;
  
      &lt;/head&gt;
      &lt;body&gt;
      &lt;a href="https://www.tutorialforbeginner.com/" target="_blank"&gt;This is a link&lt;/a&gt;
        
      &lt;/body&gt;
  &lt;/html&gt;</code></pre>
                              <h4 class="text-center bg-dark text-white">Output:</h4>
                              <p class="text-justify text-dark">
                                <a href="https://www.tutorialforbeginner.com/" target="_blank">This is a link</a>
                              </p><hr>                           
                         <h4>৪৪. ওয়েবসাইট পাবলিশ কি এবং এর ধাপ সমূহ লেখ?
                        </h4>
                            <p class="text-justify text-dark">
                               
                              উঃ ওয়েবসাইট তৈরি করা একটি সৃষ্টিশীল কাজ। প্রােগ্রামার  কতুক ওয়েবসাইট তৈরির পর ভিজিটরদের কাছে সুন্দর,
                              আকর্ষনীয়, অর্থবহ ও সহজে দেখার ব্যবস্থা করার জন্য এটাকে সাভারে হােস্ট করতে হয় তাকে ওয়েবসাইট পাবলিশিং বলে। <br>
                            ধাপ সমূহ নিচে দেওয়া হলােঃ <br>
                            ক) ওয়েবসাইট তৈরি করা । <br>
                            খ) ডোমেইন নাম কেনা ।<br>
                            গ) হোস্টিং করা ও ডকুমেন্ট আপলোড  করা । <br>
                            ঘ) SEO করা ।

                          </p><hr>
                            
                            <h4>45. বিভিন্ন ট্যাগ(example of a page) ব্যবহার করে একটি পেজ  তৈরি কর ? </h4>
                            
<pre class="prettyprint"><code>&lt;!DOCTYPE html&gt;
&lt;html&gt; 
    &lt;head&gt;

    &lt;/head&gt;
    &lt;body&gt;
    &lt;p&gt;ICT Coaching Center &lt;/p&gt; 
    &lt;p&gt;This is a Paragraph Tag&lt;/p&gt; 
    &lt;p&gt;&lt;small&gt;This is a Small Tag&lt;/small&gt;&lt;/p&gt; 
    &lt;p&gt;&lt;&lt;big&gt;This is a Big Tag&lt;/big&gt;&lt;/p&gt;    
    &lt;p&gt;&lt;b&gt;This is a Bold Tag&lt;/b&gt;&lt;/p&gt;   
    &lt;p&gt;&lt;strong&gt;This is a Strong Tag&lt;/strong&gt;&lt;/p&gt;   
    &lt;p&gt;&lt;u&gt;This is a Underline Tag&lt;/u&gt;&lt;/p&gt;  
    &lt;p&gt;&lt;i&gt;This is a Italic Tag&lt;/i&gt;&lt;/p&gt;   
    &lt;p&gt;&lt;em&gt;This is a Emphasized Tag&lt;/em&gt;&lt;/p&gt;   
    &lt;p&gt;&lt;del&gt;This is a Deleted Tag&lt;/del&gt;&lt;/p&gt;
    &lt;p&gt;&lt;This is&lt;sub&gt;Subscript&lt;/sub&gt;Tag&lt;/p&gt;   
    &lt;p&gt;&lt;This is &lt;sup&gt;SuperScript &lt;/sup&gt;Tag&lt;/p&gt;  
      
    &lt;/body&gt;
&lt;/html&gt;</code></pre>
                            <h4 class="text-center bg-dark text-white">Output:</h4>
                            <p class="text-justify text-dark">
                              <p>ICT Coaching Center</p>   <p>This is a Paragraph Tag</p>  <p><small>This is a Small Tag</small></p>   <p><big>This is a Big Tag</big></p>   <p><b>This is a Bold Tag</b></p>  <p><strong>This is a Strong Tag</strong></p>  <p><u>This is a Underline Tag</u></p>  <p><i>This is a Italic Tag</i></p>  <p><em>This is a Emphasized Tag</em></p>  <p><del>This is a Deleted Tag</del></p>  <p>This is<sub>Subscript</sub>Tag</p>  <p>This is<sup>SuperScript</sup>Tag</p> 
                                
                            </p><hr>
                            <h4>46. এইচটিএমএল ফন্ট (HTML font) ট্যাগ ?</h4>
                            <p class="text-justify text-dark">
                               
                              ফন্ট হচ্ছে যেকোনাে ডকুমেন্টের প্রাণ। ফন্ট ব্যবহারের কুশলতায় একটি 
                              ওয়েবপেইজ শুধুমাত্র সুন্দরই হয় না এটা একটি শৈল্পিক পরিচয় বহন করে। আগের ক্লাসে 
                              আমরা আলােচনা করেছি কীভাবে টেক্সট বােল্ড, ইটালিক, আন্ডারলাইন ইত্যাদি করা যায়।
                               এবার আমরা দেখব কীভাবে ফন্ট পরিবর্তন করা যায়। ধরা যাক, ফন্টের সাইজ, কালার,
                                অ্যালাইনমেন্ট ইত্যাদি পরিবর্তন করতে হবে। তাহলে ফন্ট ট্যাগ ব্যবহার করতে হবে।
                                 font tag এর তিনটি অ্যাট্রিবিউট রয়েছে। যথা: face, color, size ইত্যাদি। font tag এর সিনটেক্স হলাে : <br>
                                 &lt;font face="fontname" color="fontcolor" size="sizenumber"&gt;&lt;font&gt; <br>
                                 এখানে, <br>
                                 ১. face: ফন্টের নাম নির্ধারণ করে। যেমন- face= “SutonnyMJ”, face= “Times New Roman br। <br>
                                 ২. color: ফন্টের রং নির্ধারণ করে। রং নির্ধারণের জন্য তিনটি পদ্ধতি আছে। 
                                 <ul>
                                   <li>
                                    প্রথমতঃ সাধারণ কিছু কালার যেমন কালাে, সাদা, লাল, সবুজ, নীল ইত্যাদির HTML এ color এর
                               অ্যাট্রিবিউট ভেন্যুতে সরাসরি নাম লিখে প্রকাশ করা যায়। যেমন; color ="red " । 
                                   </li>

                                   <li>
                                    দ্বিতীয়তঃ Red, Green এবং Blue এই তিনটি কালারকে একত্রে rgb লেখ যায়। প্রত্যেকের মান ০ (যখন কোনাে রং থাকে না) হতে ২৫৫ (যখন কোনাে রং পূর্ণমাত্রায় থাকে) পর্যন্ত হতে পারে। rgb পদ্ধতিতে রং নির্ধারণের সিনটেক্সটি হলাে rgb (red, green, blue)।
                                     তবে এই পদ্ধতি ব্যবহার না করাই উত্তম কারণ কোনাে কোনাে ব্রাউজার এই পদ্ধতি সমর্থন করে না। 
                                     এই পদ্ধতিতে কিছু রং নির্ণয়ের পদ্ধতি নিচে দেখানাে হলাে <br>
                                    <table class="text-center table table-bordered">
                                      <tr>
                                        <td>rgb (255,255,255) </td> <td>সাদা</td>
                                      </tr>
                                      <tr>
                                        <td>rgb (0,0,0) </td> <td>কালাে</td>
                                      </tr>
                                      <tr>
                                        <td> rgb (255,0,0)</td> <td>লাল</td>
                                      </tr>
                                      <tr>
                                        <td> rgb (rgb (0.255,0)
                                          )</td> <td>Green</td>
                                      </tr>
                                      <tr>
                                        <td> rgb (rgb (0.0,255)
                                          )</td> <td>Blue</td>
                                      </tr>
                         
                                    </table>
                                    
                                   </li>
                                   <li>
                                    তৃতীয়তঃ হেক্সাডেসিমেল নাম্বার সিস্টেমে এর ৬টি ডিজিট ব্যবহার করে রং নির্ধারণ করা হয়। এই পদ্ধতিতে
                                    সিনটেক্সটি হলাে- color="#RRGGBB" <br> 
                                    এখানে, RR লাল রং নির্দেশ করে যা 00 থেকে FF হতে পারে, GG সবুজ রং নির্দেশ করে যা 00 থেকে FF হতে পারে, BB নীল রং নির্দেশ করে যা 00 থেকে FF হতে পারে । সুতরাং এই পদ্ধতিতে কালার code
                                     হতে পারে “#000000* হতে “#FFFFFF পর্যন্ত। নিচে বিভিন্ন রং এর কোড় দেওয়া হলাে। - <br>
                                     <table class="text-center table table-bordered">
                                      <tr>
                                        <th>রং</th>
                                        <th>R</th>
                                        <th>G</th>
                                        <th>B</th>
                                        <th>Color HEX</th>
                                       
                                          
                                      </tr>
                                     
                                         
                                      <tr>
                                        <td>বেগুনী</td>
                                        <td>EE</td>
                                        <td>82</td>
                                        <td>EE</td>
                                        <td>#EE82EE</td>
                                        
                                      </tr>
                                      <tr>
                                        <td>
                                          ণীল
                                        </td>
                                        <td>00 </td>
                                        <td>00 </td>
                                        <td> FF </td>
                                        <td>#0000FF </td>
                                        
                                      </tr>
                                      <tr>
                                        <td>আসমানি</td>
                                        <td>87</td>
                                        <td> CE </td>
                                        <td>EB</td>
                                        <td> #87CEEB </td>
                                        
                                      </tr>
                                      <tr>
                                        <td>সবুজ</td>
                                        <td>00</td>
                                        <td> FF</td>
                                        <td> 00 </td>
                                        <td>#00FF00 </td>
                                       
                                      </tr>
                                      <tr>
                                        <td>হ্লুদ</td>
                                        <td>FF </td> 
                                        <td>FF</td>
                                        <td> 00 </td>
                                        <td>#FFFF00 </td>
                                        
                                      </tr>
                                      <tr>
                                        <td>সাদা</td>
                                        <td>FF</td>
                                        <td> FF  </td>
                                        <td>FF </td>
                                        <td>#FFFFFF </td>
                                        
                                      </tr>
                                      <tr>
                                        
                                        <td>কালো</td>
                                        <td>00</td>
                                        <td> 00 </td>
                                        <td>00 </td>
                                        <td>#000000</td>
                                        
                                      
                                      </tr>

                                     </table>
                                   </li>
                                 </ul>

                                 
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                style="display:block; text-align:center;"
                                data-ad-layout="in-article"
                                data-ad-format="fluid"
                                data-ad-client="ca-pub-9136564254270725"
                                data-ad-slot="2687298352"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>



                                 ৩.size: ফন্টের সাইজ সরাসরি লিখে নির্ধারণ করে দেয়া যায়। এক্ষেত্রে size এর ডিফল্ট মান হলাে ৩। এই মানের হ্রাস
                                বৃদ্ধি ১ হতে ৭ পর্যন্ত হতে পারে। <br>আবার ফল্টের সাইজ সরাসরি না লিখে size=rn বা size=-n এভাবেও লেখা যায়। যেখানে n যেকোনাে সংখ্যা। এক্ষেত্রে ফন্টের ডিফল্ট মান ১২। এই মানের হ্রাস-বৃদ্ধি ১ থেকে ৭ হতে পারে। প্রতিমাত্রা যেগে দু’পয়েন্ট করে ফন্টের আকৃতি বৃদ্ধি পাবে অথবা বিয়ােগে ২ পয়েন্ট করে কমে যাবে। এভাবে ফন্টের সাইজ ৮ থেকে ৩৬ পয়েন্ট পর্যন্ত ফন্ট প্রদর্শন করা যাবে। এখানে উল্লেখ্য এক পয়েন্ট হচ্ছে ১ ইঞ্চির ৭২ ভাগের ১ ভাগ। যেমন: size=+1 লিখলে বুঝব ফন্টের আকার হবে ১৪ পয়েন্ট আর size=1 লিখলে বুঝব ফন্টের আকার হবে ১০ পয়েন্ট।

                                <br> Let see some of example: 


                            </p><br>

<pre class="prettyprint"><code>&lt;!DOCTYPE html&gt;
  &lt;html&gt; 
      &lt;head&gt;
  
      &lt;/head&gt;
      &lt;body&gt;
      
      &lt;p&gt;&lt;font face = "verdana"&gt;This is a Paragraph Tag&lt;/font&gt;&lt;/p&gt; 
      &lt;p&gt;&lt;font color = "red"&gt;This is a Paragraph Tag&lt;/font&gt;&lt;/p&gt;
      &lt;p&gt;&lt;font color = "FFFF00"&gt;This is a Paragraph Tag&lt;/font&gt;&lt;/p&gt;
      &lt;p&gt;&lt;font font  size = "7" &gt;This is a Paragraph Tag&lt;/font&gt;&lt;/p&gt;
      
  &lt;/body&gt;
  &lt;/html&gt;</code></pre>
                              <h4 class="text-center bg-dark text-white">Output:</h4>
                              <p class="text-justify text-dark">
                                <p><font face = "verdana">This is a Paragraph Tag</font></p> 
      <p><font color = "red">This is a Paragraph Tag</font></p>
      <p><font  color = "FFFF00">This is a Paragraph Tag</font></p>
      <p><font  font  size = "7" >This is a Paragraph Tag</font></p>
                              </p><hr>                            
                            
                            <h4>47.Style Tag -এর সাহায্যে সঠিক উপায়ে ফন্ট নির্ধারণ( Use of style tag ) ?</h4>
                            <p class="text-justify text-dark">
                              একটু আগে আমরা font ট্যাগ ব্যবহার করে ফন্টের সাইজ, টাইপ, রং নির্ধারণ করেছি। এবার আমরা style অ্যাট্রিবিউট ব্যবহার করে বিভিন্নভাবে অক্ষর বা প্যারাগ্রাফ ফরম্যাট করব। | Style অ্যাট্রিবিউটের কিছু ভেন্যু আছে সেগুলাে হলাে—

                              <ul>
                                <li> font-family→ কী ধরনের ফন্ট</li>
                                <li>font-size → ফন্টের আকার কত বড় বা ছােট</li>
                                <li>font-style → Normal, Italic, oblique, Inherit</li>
                                <li> color→রং কী ধরনের
                                </li>
                              </ul>
                              let see an example: 
                

                            </p>

<pre class="prettyprint"><code>&lt;!DOCTYPE html&gt;
  &lt;html&gt; 
      &lt;head&gt;
  
      &lt;/head&gt;
      &lt;body&gt;
      
      &lt;p  style = "font-family:veranda"&gt;This is a Paragraph Tag &lt;/p&gt; 
      &lt;p  style = "font-family:courier"&gt;This is a Paragraph Tag&lt;/p&gt; 
      &lt;p style = " font-size : 80% ;color:red;font-style:Italic"&gt;This is a Paragraph Tag&lt;/p&gt; 
      
  &lt;/body&gt;
  &lt;/html&gt;</code></pre>
                              <h4 class="text-center bg-dark text-white">Output:</h4>
                              <p class="text-justify text-dark">
                                <p  style = "font-family:veranda">This is a Paragraph Tag </p> 
      <p  style = "font-family:courier">This is a Paragraph Tag</p> 
      <p style = " font-size : 80% ;color:red;font-style:Italic">This is a Paragraph Tag</p> 
      
                              </p><hr>              
       
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block; text-align:center;"
       data-ad-layout="in-article"
       data-ad-format="fluid"
       data-ad-client="ca-pub-9136564254270725"
       data-ad-slot="2458044125"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<div class="col-sm-12 col-lg-3 col-md-4 sidenav">
 <div class="well my-5">
                                
         <details >
            <summary>Best way of learing</summary>
                <p class="text-tustify">
                 Self learing is the best learing in the world.
                 Discover yourself first then will get what you are And
                 what you want to do .It will push you for self learing.
                 </p>
                </details>
 </div>

                            <div class="well my-5">
                                
                                <details >
                                    <summary>Why you need to learn coding?</summary>
                                    <p class="text-tustify">
                                        Coding will play a vital role in one's life . It will help to open 
                                        a new window of thinking . You can think better way than past . It 
                                        helps to organise all the thing in better way .
                                    </p>
                                  </details>
                            </div>
                           
                            <div class="well sticky-top">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- ict-verticle-1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1200802774"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                             
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('../../includes/end.ejs') %>