<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bootstrap 4 Navbar with Logo Image</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>


    

<body>
    <%- include('includes/navigation.ejs') %>
    <main id="main">

        <div class="container">
            
            
            <div class="row section recentworks topspace">
                
                <h2 class="section-title"><span>Admission help</span></h2>
                
                <div class="thumbnails recentworks row">
                    
                    <div class="col-xs-5 col-sm-3 col-md-3 col-lg-4">
                        <a class="thumbnail" href="/">
                            <span class="img">
                                <img src="/images/s1.jpg" alt="">
                                <span class="cover"><span class="more">See &rarr;</span></span>
                            </span>
                            <span class="title">C programing tutorial for beginners</span>
                        </a>
                        
                        
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a class="thumbnail" href="/c++">
                            <span class="img">
                                <img src="/images/s1.jpg" alt="">
                                <span class="cover"><span class="more">See &rarr;</span></span>
                            </span>
                            <span class="title">C++ programing tutorial for beginners</span>
                        </a>
                        
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        
                        <p>This section for ad</p>
                    </div>
                    <div class="col-xs-5 col-sm-3 col-md-3 col-lg-4">
                            <a class="thumbnail" href="/python">
                                <span class="img">
                                    <img src="/images/s1.jpg" alt="">
                                    <span class="cover"><span class="more">See &rarr;</span></span>
                                </span>
                                <span class="title">Python programing tutorial for beginners</span>
                            </a>
                            
                            
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <a class="thumbnail" href="/nodejs">
                                <span class="img">
                                    <img src="/images/s1.jpg" alt="">
                                    <span class="cover"><span class="more">See &rarr;</span></span>
                                </span>
                                <span class="title">Node.js(Express.js)tutorial for beginners</span>
                            </a>
                            
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            
                            <p>This section for ad</p>
                        </div>
    
                        <div class="col-xs-5 col-sm-3 col-md-3 col-lg-4">
                                <a class="thumbnail" href="/c">
                                    <span class="img">
                                        <img src="/images/s1.jpg" alt="">
                                        <span class="cover"><span class="more">See &rarr;</span></span>
                                    </span>
                                    <span class="title">Java programing tutorial for beginners</span>
                                </a>
                                
                                
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <a class="thumbnail" href="/OOPJAVA">
                                    <span class="img">
                                        <img src="/images/s1.jpg" alt="">
                                        <span class="cover"><span class="more">See &rarr;</span></span>
                                    </span>
                                    <span class="title">Java OOP programing tutorial for beginners</span>
                                </a>
                                
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                
                                <p>This section for ad</p>
                            </div>
                </div>
    
            </div> <!-- /section -->
    
            <div class="row section topspace">
                <div class="panel panel-cta"><div class="panel-body">
                    <div class="col-lg-8">
                        <p>A simple, nice-looking <b>call to action box</b>. Boxing is about respect. getting it for yourself, 
                        and taking it away from the other guy. no, this is mount everest. </p>
                    </div>
                    <div class="col-lg-4 text-right">
                       
                    </div>
                </div></div>
            </div> <!-- /section -->
    
            <div class="row section clients topspace">
                <h2 class="section-title"><span>Curent Student From</span></h2>
                <div class="col-lg-3">
                    <p>
                        <img src="/images/st.jpg" alt="">
                        
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <img src="/images/st1.jpg" alt="">
                        
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <img src="/images/st2.jpg" alt="">
                        
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <img src="/images/st4.jpg" alt="">
                        
                    </p>
                </div>
            </div> <!-- /section -->
    
        </div>	<!-- /container -->
    
    </main>

    

<%- include('includes/end.ejs') %>