<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HSC ICT Tutorial</title>

        

        <meta name="Description" content="Welcome,Why student failing in ICT ,Good News for you all,Requirements,information communition techonology,Chaper-1,communication system and networking,Chaper-2,number system and digital device,Chaper-3,web design and html,Chaper-4,c programing for ict ,Chaper-5,database management system,Chaper-6,online earning tips,how eran in online easyly" />
        <meta name="Keywords" content="Welcome,Why student failing in ICT ,Good News for you all,Requirements,information communition techonology,Chaper-1,communication system and networking,Chaper-2,number system and digital device,Chaper-3,web design and html,Chaper-4,c programing for ict ,Chaper-5,database management system,Chaper-6,online earning tips,how eran in online easyly" />
        
        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
        <meta property="fb:pages" content="340075726591504" />
        <meta property="fb:pages" content="1524841087795043" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="images/ico.jpg" type="image/x-icon" />


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                      google_ad_client: "ca-pub-9136564254270725",
                      enable_page_level_ads: true
                });
            </script>
        

        <style>
            
            
            /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
            .row.content {
              height: auto;
              width: fit-content;
            
            }
            
            /* Set gray background color and 100% height */
            .sidenav {
              padding-top: 20px;
              background-color: #f1f1f1;
              height: cover;
            }
            
            /* Set black background color, white text and some padding */
            footer {
              background-color: #555;
              color: white;
              padding: 15px;
            }
            
            /* On small screens, set height to 'auto' for sidenav and grid */
            @media screen and (max-width: 767px) {
              .sidenav {
                height: auto;
                padding: 15px;
              }
              .row.content {height:auto;} 
            }
          </style>
        
    </head>


    

<body>
    <%- include('includes/navigation.ejs') %>
    
    <main id="main col-sm-12 col-lg-12 col-md-12">
        
        <div >
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- v-2 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9136564254270725"
                 data-ad-slot="2204047893"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        
            
            
            <div class="d-flex" id="wrapper">

                <!-- Sidebar -->
                <div class="bg-light border-right" id="sidebar-wrapper">
                  <div class="sidebar-heading">Topics</div>
                  <div class="list-group list-group-flush">
                    <a href="/ict_overview" class="list-group-item list-group-item-action bg-light">University of Regina</a>
                    <a href="/information-communition-techonology" class="list-group-item list-group-item-action bg-light">University of Saskatchewan</a>
                    <a href="/communication-system-and-networking" class="list-group-item list-group-item-action bg-light">Chaper-2</a>
                    <a href="/number-system-and-digital-device" class="list-group-item list-group-item-action bg-light">Chaper-3</a>
                    <a href="/web-design-and-html" class="list-group-item list-group-item-action bg-light">Chaper-4</a>
                    <a href="/c-programing-for-ict" class="list-group-item list-group-item-action bg-light">Chaper-5</a>
                    <a href="/database-management-system" class="list-group-item list-group-item-action bg-light">Chaper-6</a>
                    <a href="/online_earning_tips" class="list-group-item list-group-item-action bg-light">Online Earnings</a>
                  </div>
                </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Contents</button>
            
                  </nav>
            
                  <div class="container-fluid">
                      <div class="row content">
                          
                          <div class="col-sm-8 col-lg-9 col-md-8 text-left"> 
                            <h1>World University Rankings</h1>
                            
                           
                            <hr>
                            <h3>Why student failing in ICT</h3>
                            <p class="text-justify">
                                আমাদের একটা ভ্রান্ত ধারনা থাকে যে S.S.C তে অনেক সহজ ছিল খুব A+ পেয়েছি । আর তাই মনেকরি H.S.C তেও
                                খুব সহজেই পেয়ে যাব এই ভেবেই আমরা আর সেটাতে হাত দেই না । ভাবি exam আগের রাতে পড়ব । কিন্তু সেটা 
                                আর আমরা হয়ে ওঠে না । আর তাই H.S.C তে ICT বিষয়ে Fail সংখ্যা বেশি । 
                              আমাদের কলেজ গুলোতে Teacher গুলো ICT বা Computer Science background(সব Teacher নয় ) এর না হওয়র কারনে তারা নিজেও বিষয় গুলো ভাল বুঝে না ।
                              আর তাই তারা কিছু বুঝাইতে পারুক না পারুক মুখস্ত করতে বলে আর সেটাই কারনেই ছাত্র ছাত্রীদের আগ্রহ হারিয়ে যায়
                              ICT পড়া থেকে । আর ফলশুতিতে ছাত্র ছাত্রীরা fail কিংবা রেজাল্ট খারাপ করে বসে ।
                              
                            </p>
                            <hr>
                            <h3>Good News for you all</h3>
                            <p class="text-justify">
                              মুলত H.S.C তে যতগুলো বিষয় আছে তার মধ্য ICT সব থেকে সহজ । মুখস্ত করার কোনই প্রয়োজন নেই ।
                              সুধু প্রত্যকটি বিষয় মনযোগ দিয়ে বুঝতে হবে এবং practice চালিয়ে যেতে হবে । তাহলে খুব সহজেই ভালো করতে
                              পারবে । তোমাদের ICT ভয় দূর করে আগামী দিনের জন্য তৈরি করাই আমাদের লহ্ম্য । 
                              
                            </p>
                            <hr>
                            <h3>যেসব জিনিস লাগবে </h3>
                            <p class="text-justify">
                             তোমাদের সবার SmartPhone আছে বলে আমরা আশা করছি ।  তোমাদের শিখার 
                            সুবিধার জন্য নিম্ন লিখিত  Android / ios app download  করো । এই app গুলো সম্পূর্ন ফ্রি । 
                            
                              
                            </p>
                            <ol>
                              <li><h4>TutorialForBeginner&nbsp;&nbsp;</h4> <a href="#">Download</a></li>
                              <li><h4>C/C++ Compiler Pro&nbsp;&nbsp;</h4><a href="#">Download</a></a></li>
                              <li><h4>HTML Editor Pro&nbsp;&nbsp;</h4> <a href="#">Download</a></li>
                              <li><h4>SQL Checker Pro&nbsp;&nbsp;</h4><a href="#">Download</a></li>

                            </ol>
                            <hr>
                            <a href="/start-freelancing"><img src="images/ad.jpg" alt="ad"></a>

                            
                          

                                              

                            
                          </div>
                          <div class="col-sm-2 col-lg-3 col-md-4 sidenav">
                              <div class="well">

                                  <div class="embed-responsive embed-responsive-16by9">
                                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/J8njmS6EscE?rel=0&amp;autoplay=1&mute=1" allowfullscreen></iframe>
                                    </div>
                                  
                              </div>
                            <div class="well">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- h-2 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="2081564861"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                            <div class="well">

                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sbZpn0i8L0A?rel=0&amp;autoplay=1&mute=1" allowfullscreen></iframe>
                                  </div>
                                
                            </div>
                            <div class="well my-4">
                              <h4 class="my-2">Start Freelancing</h4>
                              <a href="/start-freelancing"><img src="images/ad.jpg" alt="ad"></a>
                          </div>
                            <div class="well">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- h1 -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-9136564254270725"
                                     data-ad-slot="1203597464"
                                     data-ad-format="auto"
                                     data-full-width-responsive="true"></ins>
                                <script>
                                     (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                </div>
               
            
              </div>
              
              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>
            
        
    
    </main>

    

<%- include('includes/end.ejs') %>